/*----------------------------------------
Atom: Call to Action Link
----------------------------------------
----------------------------------------*/
.cta,
.cas-login-link,
a.wp-block-button__link {
  --cta-color: var(--blue);
  --link-color: var(--white);
  --link-color--active: var(--white);

  display: inline-block;
  margin-right: var(--space--md);
  margin-bottom: var(--space--md);
  padding: var(--space--xs);
  text-decoration: none;
  background-color: var(--cta-color);
  box-shadow: var(--shadow--hard);
  font-weight: var(--font-weight--bold);
  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
    box-shadow: var(--shadow--hard--hover);
  }
  &[href$=".pdf"],
  &[href$=".docx"],
  &[href$=".xlsx"],
  &[href$=".pptx"] {
    &:after {
      top: 0.8rem;
      padding: 0;
      transform: translatex(-0.3rem);
      border: none;
      font-size: var(--font-size--xs);
    }
    .material-icons {
      display: none;
    }
    &.small {
      &:after {
        top: 0.4rem;
      }
    }
  }
  &[href$=".pdf"] {
    &::after {
      content: "PDF";
    }
  }
  &[href$=".docx"] {
    &::after {
      content: "DOC";
    }
  }
  &[href$=".xlsx"] {
    &::after {
      content: "XLS";
    }
  }
  &[href$=".pptx"] {
    &::after {
      content: "PPT";
    }
  }
}
