/*----------------------------------------
Atom: Call to Action Link
----------------------------------------
----------------------------------------*/
.cta,
.cas-login-link,
a.wp-block-button__link {
  --cta-arrow-size: 5px;
  --cta-decoration-adjustment: 0.85rem;
  --cta-decoration-bg: transparent;
  --cta-decoration-color: var(--link-color);
  --cta-decoration-size: 2.3rem;
  --cta-min-height: 2.5rem;
  --cta-padding-left: calc(var(--space--lg) + var(--cta-space));
  --cta-padding-right: calc(var(--space--md) + var(--cta-space));
  --cta-space: 1.6rem;

  position: relative;
  display: inline-grid;
  grid-auto-flow: column;
  align-content: center;
  min-height: var(--cta-min-height);
  margin-bottom: var(--space--md);
  padding-right: var(--cta-padding-right);
  padding-left: var(--cta-padding-left);
  animation: cta-animate-back 400ms ease-out forwards;
  text-underline-offset: unset;
  border-radius: var(--border-radius--roundest);
  background-size: 0 100%;
  font-weight: var(--font-weight--semibold);
  line-height: 1.2;
  @media (prefers-reduced-motion: reduce) {
    animation: unset;
  }
  &:before {
    // the circle
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    align-content: center;
    justify-content: center;
    width: var(--cta-decoration-size);
    height: var(--cta-decoration-size);
    content: "";
    animation: cta-animate-circle-back 400ms ease-out forwards;
    border: solid var(--border-width--md) var(--cta-decoration-color);
    border-radius: 50%;
    background-color: var(--cta-decoration-bg);
    box-shadow: var(--shadow--soft);
    @media (prefers-reduced-motion: reduce) {
      animation: unset;
    }
  }
  &:after {
    // the arrow
    position: absolute;
    top: var(--cta-decoration-adjustment);
    left: var(--cta-decoration-adjustment);
    display: inline-block;
    padding: var(--cta-arrow-size);
    content: "";
    transform: rotate(-45deg);
    animation: cta-animate-arrow-back 400ms ease-out forwards;
    border: solid var(--cta-decoration-color);
    border-width: 0 var(--border-width--md) var(--border-width--md) 0;
    @media (prefers-reduced-motion: reduce) {
      animation: unset;
    }
  }
  .material-icons,
  &[target="_blank"] .material-icons,
  &[target="blank"] .material-icons {
    position: absolute;
    top: 0.65rem;
    transform: translatex(-0.175rem);
    animation: cta-animate-arrow-back 400ms ease-out forwards;
    color: var(--cta-decoration-color);
    @media (prefers-reduced-motion: reduce) {
      animation: unset;
    }
  }
  &.with-icon,
  &[target="_blank"],
  &[target="blank"] {
    /* someday we can replace this with :has(.material-icon) */
    &:after {
      border: none;
    }
  }
  &:active,
  &:focus,
  &:hover {
    animation: cta-animate 400ms ease-out forwards;
    text-decoration: none;
    @media (prefers-reduced-motion: reduce) {
      animation: unset;
    }
    &:before {
      animation: cta-animate-circle 400ms ease-out forwards;
      @media (prefers-reduced-motion: reduce) {
        animation: unset;
      }
    }
    &:after,
    .material-icons {
      animation: cta-animate-arrow 400ms ease-out forwards;
      @media (prefers-reduced-motion: reduce) {
        animation: unset;
      }
    }
  }
  &.small {
    --cta-arrow-size: 4px;
    --cta-decoration-adjustment: 0.55rem;
    --cta-decoration-size: 1.5rem;
    --cta-min-height: 1.7rem;
    --cta-padding-left: calc(var(--space--md) + var(--cta-space));
    --cta-padding-right: calc(var(--space--sm) + var(--cta-space));
    --cta-space: 1.22rem;
    .material-icons {
      top: 0.25rem;
    }
  }
  &.blue,
  &.dark-blue,
  &.light-green,
  &.white {
    &:before {
      border-color: var(--cta-decoration-bg);
    }
  }
  &.blue {
    --cta-decoration-bg: var(--blue);
    --cta-decoration-color: var(--white);
  }
  &.dark-blue {
    --cta-decoration-bg: var(--dark-blue);
    --cta-decoration-color: var(--light-green--lighter--20);
  }
  &.light-green {
    --cta-decoration-bg: var(--light-green);
    --cta-decoration-color: var(--dark-blue);
  }
  &.white {
    --cta-decoration-bg: var(--white);
    --cta-decoration-color: var(--dark-blue);
  }
  &[href$=".pdf"],
  &[href$=".docx"],
  &[href$=".xlsx"],
  &[href$=".pptx"] {
    &:after {
      top: 0.8rem;
      padding: 0;
      transform: translatex(-0.3rem);
      color: var(--cta-decoration-color);
      border: none;
      font-size: var(--font-size--xs);
    }
    .material-icons {
      display: none;
    }
    &.small {
      &:after {
        top: 0.4rem;
      }
    }
  }
  &[href$=".pdf"] {
    &::after {
      content: "PDF";
    }
  }
  &[href$=".docx"] {
    &::after {
      content: "DOC";
    }
  }
  &[href$=".xlsx"] {
    &::after {
      content: "XLS";
    }
  }
  &[href$=".pptx"] {
    &::after {
      content: "PPT";
    }
  }
}
@keyframes cta-animate {
  0% {
    padding-right: var(--space--md);
    padding-left: var(--cta-padding-left);
    background-size: 0;
  }
  100% {
    padding-right: var(--cta-padding-right);
    padding-left: var(--space--md);
    background-size: 100%;
  }
}
@keyframes cta-animate-back {
  0% {
    padding-right: var(--cta-padding-right);
    padding-left: var(--space--md);
    background-size: 100%;
  }
  100% {
    padding-right: var(--space--md);
    padding-left: var(--cta-padding-left);
    background-size: 0;
  }
}
@keyframes cta-animate-arrow {
  0% {
    left: var(--cta-decoration-adjustment);
  }
  100% {
    left: calc(100% - var(--cta-space));
    border-color: var(--link-color--focus);
  }
}
@keyframes cta-animate-arrow-back {
  0% {
    left: calc(100% - var(--cta-space));
    border-color: var(--link-color--focus);
  }
  100% {
    left: var(--cta-decoration-adjustment);
  }
}
@keyframes cta-animate-circle {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
    transform: translatex(-100%);
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
}
@keyframes cta-animate-circle-back {
  0% {
    left: 100%;
    transform: translatex(-100%);
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
  100% {
    left: 0;
  }
}
.cta.no-animation {
  animation: unset;
  &:before,
  &:after {
    animation: unset;
  }
  .material-icons {
    transform: translatex(0.65rem);
    animation: unset;
  }
  &:active,
  &:hover,
  &:focus {
    animation: unset;
    &:before,
    &:after,
    .material-icons {
      animation: unset;
    }
  }
}
