/*------------------------------------------------------------------------------
Atom: Call to Action Link
--------------------------------------------------------------------------------
1. Round CTA Variant
2. Inline CTA Variant
------------------------------------------------------------------------------*/
@import "../background-color/background-color-mixins.scss";
.cta,
.cas-login-link,
a.wp-block-button__link {
  --cta-color: var(--blue);
  --link-color: var(--white);
  --link-color--visited: var(--link-color);

  position: relative;
  display: inline-block;
  margin-right: var(--space--md);
  margin-bottom: var(--space--md);
  padding: var(--space--xs);
  padding-right: var(--space--lg);
  text-decoration: none;
  background-color: var(--cta-color);
  box-shadow: var(--shadow--hard);
  font-weight: var(--font-weight--bold);
  &:active,
  &:hover,
  &:focus {
    --link-color--active: var(--link-color);

    text-decoration: none;
    box-shadow: var(--shadow--hard--hover);
  }
  &:after {
    position: absolute;
    top: 50%;
    right: var(--space--xs);
    display: block;
    width: 0;
    height: 0;
    content: "";
    transform: translatey(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--link-color);
  }
  &.light-green {
    --cta-color: var(--light-green);
    --link-color: var(--dark-blue--darker--20);
  }
  &.dark-blue {
    --cta-color: var(--dark-blue);
    --link-color: var(--white);
  }
  &.white {
    --cta-color: var(--white);
    --link-color: var(--dark-blue);
  }
  &.small {
    padding: var(--space--2xs);
    padding-right: var(--space--md);
    font-size: var(--font-size--sm);
    line-height: 1em;
    &:after {
      right: var(--space--2xs);
      border-width: 8px;
    }
  }
  &[href$=".pdf"],
  &[href$=".docx"],
  &[href$=".xlsx"],
  &[href$=".pptx"] {
    padding-right: var(--space--xl);
    &:after {
      width: unset;
      height: unset;
      padding: 2px;
      border: solid var(--border-width--md) var(--link-color);
      border-radius: 50%;
      font-size: 0.45rem;
    }
    .material-icons {
      display: none;
    }
  }
  &[href$=".pdf"] {
    &::after {
      content: "PDF";
    }
  }
  &[href$=".docx"] {
    &::after {
      content: "DOC";
    }
  }
  &[href$=".xlsx"] {
    &::after {
      content: "XLS";
    }
  }
  &[href$=".pptx"] {
    &::after {
      content: "PPT";
    }
  }
  &.with-icon {
    padding-right: var(--space--xs);
    &:after {
      display: none;
    }
    .material-icons {
      position: relative;
      top: 3px;
      font-size: var(--icon-size--xs);
    }
    &.small {
      .material-icons {
        font-size: var(--icon-size--2xs);
      }
    }
  }
}
/*------------------------------------------------------------------------------
1. Round Variant
------------------------------------------------------------------------------*/
.round-cta {
  --cta-size: 10rem;

  @include dark-blue-bg;

  position: relative;
  display: grid;
  place-content: center;
  width: var(--cta-size);
  height: var(--cta-size);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50%;
  background-color: transparent;
  font-size: var(--font-size--2xl);
  font-weight: var(--font-weight--semibold);
  .material-icons {
    margin-top: -1rem;
    color: var(--light-green);
    font-size: var(--icon-size--2xl);
  }
  &:after {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    transition: all 0.8s ease;
    border-radius: 50%;
    background: var(--dark-blue);
  }
  &:hover {
    @include blue-bg;

    text-decoration: none;
    background-color: transparent;
    &:after {
      transform: rotateY(180deg);
      background: var(--blue);
    }
  }
  &.small {
    --cta-size: 6rem;

    font-size: var(--font-size--xs);
    .material-icons {
      font-size: var(--icon-size--md);
    }
  }
}
/*------------------------------------------------------------------------------
2. Inline Variant
------------------------------------------------------------------------------*/
.inline-cta {
  --link-color: var(--dark-blue);
  text-decoration-thickness: 0.4em;

  text-decoration-color: var(--blue--lighter--80);
  text-underline-offset: -0.2em;
  text-transform: uppercase;
  font-weight: var(--font-weight--semibold);
}
