/*------------------------------------------------------------------------------
Atom: Text - Links - Call to Action
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.cta {
  position: relative;
  display: inline-grid;
  place-content: center;
  height: 3rem;
  margin: var(--space--sm);
  margin-bottom: var(--space--sm);
  padding-right: calc(var(--space--md) + 2rem);
  padding-left: calc(var(--space--md) + 3rem);
  text-decoration-color: var(--link-color);
  text-underline-offset: 1rem;
  border-radius: var(--border-radius--roundest);
  background-size: 0 100%;
  font-weight: var(--font-weight--semibold);
  @media (prefers-reduced-motion: no-preference) {
    animation: cta-animate-back 400ms ease-out forwards;
  }
  &:before {
    // the arrow
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    display: inline-block;
    padding: 5px;
    content: "";
    transform: rotate(-45deg);
    border: solid var(--link-color);
    border-width: 0 var(--border-width--md) var(--border-width--md) 0;
    @media (prefers-reduced-motion: no-preference) {
      animation: cta-animate-before-back 400ms ease-out forwards;
    }
  }
  &:after {
    // the circle
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;
    content: "";
    border: solid var(--border-width--md) var(--link-color);
    border-radius: 50%;
    @media (prefers-reduced-motion: no-preference) {
      animation: cta-animate-after-back 400ms ease-out forwards;
    }
  }
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    @media (prefers-reduced-motion: no-preference) {
      animation: cta-animate 400ms ease-out forwards;
      &:after {
        animation: cta-animate-after 400ms ease-out forwards;
      }
      &:before {
        animation: cta-animate-before 400ms ease-out forwards;
      }
    }
  }
}
@keyframes cta-animate {
  0% {
    padding-right: var(--space--sm);
    padding-left: calc(var(--space--md) + 3rem);
    background-size: 0;
  }
  100% {
    padding-right: calc(var(--space--md) + 2rem);
    padding-left: var(--space--sm);
    transform: translatex(0);
    background-size: 100%;
  }
}
@keyframes cta-animate-back {
  0% {
    padding-right: calc(var(--space--md) + 2rem);
    padding-left: var(--space--sm);
    transform: translatex(0);
    background-size: 100%;;
  }
  100% {
    padding-right: var(--space--sm);
    padding-left: calc(var(--space--md) + 3rem);
    background-size: 0;
  }
}
@keyframes cta-animate-before {
  0% {
    left: 1.2rem;
  }
  100% {
    left: calc(100% - 2rem);
    border-color: var(--link-color--active);
  }
}
@keyframes cta-animate-before-back {
  0% {
    left: calc(100% - 2rem);
    border-color: var(--link-color--active);
  }
  100% {
    left: 1.2rem;
  }
}
@keyframes cta-animate-after {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
    transform: translatex(-100%);
    border: none;
  }
}
@keyframes cta-animate-after-back {
  0% {
    left: 100%;
    transform: translatex(-100%);
    border: none;
  }
  100% {
    left: 0;
  }
}
