/*------------------------------------------------------------------------------
Atom: Icon Links
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.icon-link {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: var(--space--2xs);
  align-items: center;
  min-height: var(--touch-target--aaa);
  padding-right: var(--space--xs);
  text-decoration: none;
  line-height: 1.2;
  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--link-decoration-color--active);
  }
  .material-icons {
    top: 0;
  }
}
