/*------------------------------------------------------------------------------
Atom: Text - Links
--------------------------------------------------------------------------------
1. Print Styles
------------------------------------------------------------------------------*/
:root {
  --link-color: var(--blue--darker--20);
  --link-color--active: var(--dark-blue);
  --link-color--focus: var(--dark-blue);
  --link-color--visited: var(--purple);
  --link-decoration-color: var(--blue);
  --link-decoration-color--active: var(--blue--lighter--80);
  --link-decoration-color--visited: var(--purple--lighter--40);
}
a {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
  text-decoration-thickness: var(--border-width--md);

  padding: 0.1563rem 0;
  transition: all var(--transition-speed--fast) cubic-bezier(0.33, 0.66, 0.66, 1),
  background-image var(--transition-speed--fast) cubic-bezier(0.33, 0.66, 0.66, 1);
  text-decoration-color: var(--link-decoration-color);
  text-underline-offset: 0.3125rem;
  color: var(--link-color);
  &:active,
  &:hover,
  &:focus {
    text-decoration-thickness: 1.2em;

    text-decoration-color: var(--link-decoration-color--active);
    text-underline-offset: -1em;
  }
  &:visited {
    text-decoration-color: var(--link-decoration-color--visited);
    color: var(--link-color--visited);
  }
  &:focus-visible {
    outline: var(--outline--focus);
  }
  &[href^="mailto:"] {
    overflow-wrap: anywhere;
  }
  &[aria-current="page"] {
    --link-color: var(--link-color--active);
    --link-color--visited: var(--link-color--active);

    border: solid var(--border-width--sm) transparent;
    font-weight: var(--font-weight--semibold);
  }
  &[target="_blank"],
  &[target="blank"] {
    .material-icons {
      position: relative;
      top: calc(var(--space--md) / 3);
      left: 0.125rem;
      font-size: inherit;
    }
    .material-icons {
      position: relative;
      top: 0.2em;
      margin-right: var(--space--2xs);
      font-size: var(--icon-size--xs);
    }
  }
  &[href$=".mp4"],
  &[href$=".mov"],
  &[href$=".flv"],
  &[href$=".mpg"],
  &[href$=".mpeg"] {
    &:after {
      content: " (video)";
    }
  }
  &[href$=".mp3"] {
    &:after {
      content: " (audio)";
    }
  }
  &[href$=".docx"] {
    &:after {
      content: " (Word)";
    }
  }
  &[href$=".pptx"] {
    &:after {
      content: " (PowerPoint)";
    }
  }
  &[href$=".xlsx"] {
    &:after {
      content: " (Excel)";
    }
  }
  &[href$=".pdf"] {
    &:after {
      content: " (PDF)";
    }
  }
}
/*------------------------------------------------------------------------------
1. Print Styles
------------------------------------------------------------------------------*/
@media print {
  p a,
  ul a {
    word-break: break-all;
    page-break-inside: avoid;
    color: var(--dark-blue) !important;
  }
  p a[href^="http"]:after,
  ul a[href^="http"]:after {
    content: " [" attr(href) "] ";
    font-size: 10pt;
  }
}
