/*------------------------------------------------------------------------------
Financial Aid Custom Styles
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
h1 {
  margin-top: var(--space--sm);
}
header {
  height: initial;
  margin: 0;
  border: none;
  background: none;
}
header .western-logo {
  position: inherit;
  z-index: inherit;
  float: inherit;
  order: inherit;
  width: inherit;
  height: inherit;
  margin: inherit;
  background: inherit;
}
header .site-name {
  position: inherit;
  clear: both;
  order: inherit;
  text-align: inherit;
  color: inherit;
  text-shadow: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
header nav {
  position: inherit;
  top: 0;
  right: 0;
  width: initial;
  height: initial;
  background: initial;
  box-shadow: none;
}
.toggle-menu {
  z-index: 2;
}
.header .home-link {
  content: "Financial Aid";
}
.main-nav {
  display: initial;
}
body {
  border: none;
  background: inherit;
  font-family: inherit;
  font-size: 1rem;
}
.zen-wrapper {
  max-width: none;
  margin: 0;
}
.body-wrapper {
  max-width: var(--content-area-max-width);
  margin: auto;
  background: inherit;
}
.category_name {
  background-color: inherit;
}
.main-nav {
  margin-top: 0;
  font-size: var(--font-size--xs);
}
.main-nav ul {
  margin-bottom: 0;
}
.main-nav .site-nav a {
  display: grid;
  align-content: center;
  min-height: var(--touch-target--min);
}
.twitter-timeline {
  margin-left: 50%;
  transform: translatex(-50%);
}
main a:not(.image-link):focus,
main a:not(.image-link):hover {
  color: var(--white);
}
/*------------------------------------------------------------------------------
Forms
------------------------------------------------------------------------------*/
.formBox.formBox {
  font-size: var(--font-size--xs);
}
.formBox br {
  display: none;
}
.formBox.formBox .text {
  margin: 0;
  font-weight: normal;
}
.formBox.formBox label {
  font-weight: var(--font-weight--regular);
}
.textField {
  text-align: left;
}
.newrow,
.newrow2 {
  gap: var(--space--xs);

  display: flex;
  align-items: start;
  height: initial !important;
  margin-top: var(--space--xs);
}
.lleft {
  display: flex;
  float: none !important;
}
.lleft input,
.inputBox {
  margin-bottom: 0;
}
input[type="checkbox"],
input[type="radio"] {
  position: relative !important;
  top: 2px !important;
  opacity: 1 !important;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  margin-left: 0 !important;
  padding-left: var(--space--2xs) !important;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  display: none !important;
  width: 0 !important;
}
input[type="radio"] + * label {
  padding-left: var(--space--2xs) !important;
}
.job-search {
  font-size: var(--font-size--xs);
}
.job-search label {
  line-height: 1.2;
}
fieldset {
  border: solid var(--white) var(--border-width--sm);
}
.settings-menu input[type="checkbox"],
.settings-menu input[type="radio"] {
  position: absolute;
  top: 0;
  opacity: 0;
}
.settings-menu input[type="checkbox"] + label,
.settings-menu input[type="radio"] + label {
  margin-left: var(--checkbox-size);
  padding-left: var(--space--xs);
}
.settings-menu input[type="checkbox"] + label:before,
.settings-menu input[type="radio"] + label:before {
  display: inherit;
  width: var(--checkbox-size);
}
/*------------------------------------------------------------------------------
Dark Mode
------------------------------------------------------------------------------*/
[data-theme="dark"] .main-nav a:visited {
  color: var(--purple);
}
[data-theme="dark"] .call-out-box-right,
[data-theme="dark"] .call-out-box-left,
[data-theme="dark"] .call-out-box-center [data-theme="dark"] .box2,
[data-theme="dark"] .moreinfo,
[data-theme="dark"] .category_name,
[data-theme="dark"] .design_content,
[data-theme="dark"] .toggle_container {
  background-color: var(--dark-blue);
}
[data-theme="dark"] #mc_embed_signup {
  background-color: var(--gray);
}
[data-theme="dark"] .box1 {
  background-color: var(--dark-blue--darker--20);
}
[data-theme="dark"] ul.faqs li:nth-child(2n+1) {
  border-color: var(--dark-blue);
  background-color: var(--dark-blue--darker--20);
}
[data-theme="dark"] ul.faqs li:nth-child(2n) {
  border-color: var(--dark-blue);
  background-color: var(--dark-blue--darker--40);
}
