/*------------------------------------------------------------------------------
Molecule: Modal (previously lightbox)
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
wwu-modal {
  .wrapper {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    &.closed {
      display: none;
    }
  }
  .modal {
    @media (min-width: $medium) {
      min-width: 50vw;
    }

    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    transform: translate(-50%, -50%);
    background: var(--black);
  }
  .close-modal {
    position: absolute;
    margin: 0;
    border-radius: 0;
    &:focus {
      outline-color: var(--h3-color);
      outline-offset: calc(-1 * var(--border-width--md));
    }
  }
}
