.view_summary {
  &--a-z-glossary {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      list-style: none;
      text-transform: uppercase;
      li {
        margin-bottom: var(--space--sm);
        a {
          display: inline-block;
          min-width: var(--touch-target--min);
          min-height: var(--touch-target--min);
          text-align: center;
        }
      }
    }
  }
}
