/*------------------------------------------------------------------------------
Atom: Forms
------------------------------------------------------------------------------*/
form {
  fieldset,
  .webform-section {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .webform-section-title {
    display: inline-block;
    margin: 0;
    padding: 0 var(space--xl);
    transform: translatey(-1.2em);
    color: var(--dark-blue);
    background-color: var(--white);
    font-size: var(--font-size--4xl);

    + .webform-section-wrapper {
      margin-top: -1.2em;

      fieldset {
        margin-left: var(space--xl);
      }
    }
  }

  > fieldset,
  .webform-section {
    margin-top: var(space--xl);
    padding: var(space--xl);
    border: solid var(--border-width--lg) var(--gray--lighter-80);
  }
}

legend,
label {
  display: block;
  margin-bottom: var(--space--md);
  padding: 0;
  font-weight: var(--font-weight--semibold);

  &.required:after,
  &.form-required:after,
  .form-required:after {
    content: " *";
    color: var(--blue);
    font-weight: var(--font-weight--regular);
  }
}

input,
textarea,
select {
  @include breakpoint($medium) {
    width: auto;
    border-width: var(--border-width--lg);
  }
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: var(--space--md);
  padding: var(--space--xs);
  color: var(--black);
  border: solid var(--border-width--md) var(--gray--lighter-80);
  border-radius: var(--border-radius-round);
  background-color: var(--gray--lighter-90);
  box-shadow: none;
  font-size: var(--font-size--md);

  &:focus {
    outline: none;

    @media (-ms-high-contrast: active) {
      border-style: dotted;
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--gray);
    border-color: var(--gray);
    background-color: var(--gray--lighter-60);
  }
}


input,
textarea {
  &:focus {
    border-color: var(--dark-blue--lighter-60);
    box-shadow: var(--shadow--button--soft);
  }
}

input[type="submit"] {
  width: auto;
}

::placeholder {
  opacity: 1; /* Firefox */
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gray);
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--gray);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--gray);
}
