/**
* @file
* 01-atoms/text/tagline/_tagline.scss
*/

.tagline {
  display: block;
  margin-bottom: $standard-spacing;
  margin-left: $standard-spacing;
  color: $dark-blue;
  font-style: italic;

  font-display: swap;
}

h1 {
  + .tagline,
  ~ div .tagline {
    font-size: $h2-font-size--smaller;
  }
}

h2 {
  + .tagline,
  ~ div .tagline {
    font-size: $h3-font-size--smaller;
  }
}

h3 {
  + .tagline,
  ~ div .tagline {
    font-size: $h4-font-size--smaller;
  }
}

h4 {
  + .tagline,
  ~ div .tagline {
    font-size: $h5-font-size--smaller;
  }
}

h5 {
  + .tagline,
  ~ div .tagline {
    font-size: $h6-font-size--smaller;
  }
}
