<main>
  <span class="tagline">A tagline, or subhead, uses the .tagline to make it look like it goes with whatever heading it follows.</span>
  
  <h1>Heading level 1</h1>
  <span class="tagline">This one follows an H1</span>

  <h2>Heading level 2</h2>
  <span class="tagline">This one follows an H2</span>

  <h3>Heading level 3</h3>
  <span class="tagline">This one follows an H3</span>

  <h4>Heading level 4</h4>
  <span class="tagline">This one follows an H4</span>

  <h5>Heading level 5</h5>
  <span class="tagline">This one follows an H5</span>

  <h6>Heading level 6</h6>
  <span class="tagline">This one follows an H6</span>
</main>
