<main>
  <span class="tagline">A tagline, or subhead, uses the .tagline to make it look like it goes with whatever heading it follows.</span>

  <h1>Heading level 1</h1>
  <span class="tagline">This one follows an H1</span>
  <p>This is regular text, This is regular text, This is regular text, This is regular text</p>

  <h2>Heading level 2</h2>
  <span class="tagline">This one follows an H2</span>
  <p>This is regular text, This is regular text, This is regular text, This is regular text</p>

  <h3>Heading level 3</h3>
  <span class="tagline">This one follows an H3</span>
  <p>This is regular text, This is regular text, This is regular text, This is regular text</p>

  <h4>Heading level 4</h4>
  <span class="tagline">This one follows an H4</span>
  <p>This is regular text, This is regular text, This is regular text, This is regular text</p>

  <h5>Heading level 5</h5>
  <span class="tagline">This one follows an H5</span>
  <p>This is regular text, This is regular text, This is regular text, This is regular text</p>

  <h6>Heading level 6</h6>
  <span class="tagline">This one follows an H6</span>
  <p>This is regular text, This is regular text, This is regular text, This is regular text</p>

  <div class="double-padding standard-margin black-bg">
  <h1>Heading level 1</h1>
  <span class="tagline">This one follows an H1</span>
  <p>This is regular text, This is regular text, This is regular text, This is regular text</p>

  <h2>Heading level 2</h2>
  <span class="tagline">This one follows an H2</span>
  <p>This is regular text, This is regular text, This is regular text, This is regular text</p>

  <h6>Heading level 6</h6>
  <span class="tagline">This one follows an H6</span>

  <p>This is regular text, This is regular text, This is regular text, This is regular text</p>
  </div>

  <div class="double-padding standard-margin blue-bg">
  <h1>Heading level 1</h1>
  <span class="tagline">This one follows an H1</span>

  <h2>Heading level 2</h2>
  <span class="tagline">This one follows an H2</span>

  <h6>Heading level 6</h6>
  <span class="tagline">This one follows an H6</span>

  <p>This is regular text, This is regular text, This is regular text, This is regular text</p>
  </div>

  <div class="double-padding standard-margin dark-blue-bg">
  <h1>Heading level 1</h1>
  <span class="tagline">This one follows an H1</span>

  <h2>Heading level 2</h2>
  <span class="tagline">This one follows an H2</span>

  <h6>Heading level 6</h6>
  <span class="tagline">This one follows an H6</span>

  <p>This is regular text, This is regular text, This is regular text, This is regular text</p>
  </div>

  <div class="double-padding standard-margin gray-bg">
  <h1>Heading level 1</h1>
  <span class="tagline">This one follows an H1</span>

  <h2>Heading level 2</h2>
  <span class="tagline">This one follows an H2</span>

  <h6>Heading level 6</h6>
  <span class="tagline">This one follows an H6</span>

  <p>This is regular text, This is regular text, This is regular text, This is regular text</p>
  </div>

  <div class="double-padding standard-margin light-gray-bg">
  <h1>Heading level 1</h1>
  <span class="tagline">This one follows an H1</span>

  <h2>Heading level 2</h2>
  <span class="tagline">This one follows an H2</span>
  </div>

  <div class="double-padding standard-margin light-blue-bg">
  <h1>Heading level 1</h1>
  <span class="tagline">This one follows an H1</span>

  <h2>Heading level 2</h2>
  <span class="tagline">This one follows an H2</span>
  </div>

  <div class="double-padding standard-margin lightest-gray-bg">
  <h1>Heading level 1</h1>
  <span class="tagline">This one follows an H1</span>

  <h2>Heading level 2</h2>
  <span class="tagline">This one follows an H2</span>
  </div>

  <div class="double-padding standard-margin lightest-blue-bg">
  <h1>Heading level 1</h1>
  <span class="tagline">This one follows an H1</span>

  <h2>Heading level 2</h2>
  <span class="tagline">This one follows an H2</span>
  </div>

</main>
