/*------------------------------------------------------------------------------
Templates: Sites - MABEL - Search results
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

.page-islandora-search {
  .pane-page-title {
    h1 {
      display: inline-block;
      margin-top: 0;
      margin-right: var(--space--sm);
    }
  }

  .page-content {
    margin-bottom: 0;
  }

  .islandora-solr-search-result {
    padding: 0 var(--space--sm) var(--space--md);
    border-bottom: solid var(--border-width--sm) var(--gray);

    &:last-of-type {
      border-bottom: none;
    }

    a {
      margin: initial;
      padding: 0;
    }

    dl.solr-fields {
      border: none;
    }
    .solr-fields dt,
    .solr-fields dd {
      border-color: var(--gray--lighter--60);
    }

    dl {
      &.solr-thumb,
      &.solr-fields {
        @include breakpoint(max-width $medium) {
          float: none;
          width: 100%;
        }

        &.solr-thumb {
          text-align: center;
        }
      }
    }

    .islandora-inline-metadata {
      dt {
        font-weight: var(--font-weight--regular);
      }
    }
  }

  .islandora-solr-grid {
    a {
      margin: 0;
      padding: 0;
      border: none;
      font-size: var(--font-size--sm);
    }
  }

  .layout__region--second {
    position: relative;
    padding-top: var(--space--md);
  }
}

/* The following are for the resul limit/sort/display options, which also affect
object 'result' pages, ie 'browse the collection' ----------------------------*/
.expand-solr-panel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: var(--space--xs) var(--space--sm);
  text-align: left;
  color: var(--black);
  border-radius: 0;
  background-color: var(--gray--lighter--60);

  .material-icons {
    position: absolute;
    top: var(--space--2xs);
    top: 50%;
    right: 0;
    transform: translate(-0.25rem, -50%);
    font-size: 1.125rem;
  }
}

.date-filter-toggle-text {
  display: none;
}

.date-range-filter-wrapper {
  display: block !important;
}

#skip-to-search-results:focus {
  position: relative !important;
  margin-right: var(--space--md);
}

#islandora-solr-result-count {
  display: inline-block;
  margin-right: var(--space--md);
}

#secondary-display-profiles {
  display: none;
}

#edit-range-slider-submit {
  border-radius: 0;
}

#edit-date-filter-date-filter-submit {
  margin-left: 100%;
  transform: translatex(-100%);
  border-radius: 0;
}
#edit-date-filter-date-filter-from,
#edit-date-filter-date-filter-to {
  padding: var(--space--xs);
}
