/**
 * @file
 * 00-atoms/00-global/_structure-vars.scss
 */

/* Spacing */
$standard-spacing: 18px;
$large-spacing: 24px;
$menu-padding: $standard-spacing / 2;

/* Borders and Lines */
$border-width: 3px;
$focus-shadow: 2px 2px 0 1px;

/* Content Area */
$max-content-width: 1200px;

/* Breakpoints */
$small: 581px;
$medium: 971px;
$large: $max-content-width;

/* Grid */
$small-screen-columns: $standard-spacing 1fr $standard-spacing;
$large-screen-columns: 1fr $max-content-width 1fr;
