/**
 * @file
 * organisms/global/site-header/_site-header.scss
 */

.site-header {
  .nav--main {
    @include breakpoint($medium) {
      position: inherit;
      display: inherit !important;
      margin-bottom: -($toggle-size / 2);
      transform: translatey(-50%);
    }
    @include breakpoint($large) {
      margin-bottom: -($toggle-size--larger / 2);
    }
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
  }
}
