/**
 * @file
 * organisms/global/site-header/_site-header.scss
 */

.site-header {
  .nav--main {
    @include breakpoint($medium) {
      position: inherit;
      left: 0 !important;
      margin-bottom: -($toggle-size / 2);
      transform: translatey(-50%);
      opacity: 1 !important;
      overflow-x: visible;
    }
    @include breakpoint($large) {
      margin-bottom: -($toggle-size--larger / 2);
    }
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100%;
    overflow-x: hidden;
    width: 100%;
    opacity: 0;
  }
}
