{#
/**
 * @see templates/layout/region--header.html.twig
 */
#}
<header class="site-header">
  {% include "@organisms/headers/wwu-header/wwu-header.html.twig" %}

  <div class="splash">
    {{ page.header }}
  </div>

  {% block main_navigation %}
    {{ page.main_navigation }}
  {% endblock %}
</header>
