{#
/**
 * @see templates/layout/region--header.html.twig
 */
#}
<header role="banner" class="site-header">
  {% include "@organisms/headers/wwu-header/wwu-header.html.twig" %}

  <div class="splash large-screen-splash">
    {{ page.header }}
  </div>

  {% block main_navigation %}
    {{ page.main_navigation }}
  {% endblock %}

  <div class="splash small-screen-splash">
    {{ page.header }}
  </div>
</header>
