{#
/**
 * @see templates/layout/region--header.html.twig
 */
#}
<header class="site-header">
  {% block wwu_header %}
    {% include "@organisms/headers/wwu-header/wwu-header.html.twig" %}
  {% endblock %}

  {% block splash %}
  <div class="splash">
    {{ page.header }}
  </div>
  {% endblock %}

  {% block main_navigation %}
    {{ page.main_navigation }}
  {% endblock %}
</header>
