/**
 * @file
 * 00-atoms/tables/_tables.scss
 */

table {
  width: 100%;
  margin: $shila-small-spacing 0;
  table-layout: fixed;
  border-collapse: collapse;
}
th {
  padding: $shila-small-spacing 0;
  text-align: left;
  border-bottom: 1px solid shila-shade($shila-base-border-color, 25%);
  font-weight: 600;
}
td {
  padding: $shila-small-spacing 0;
  border-bottom: $shila-base-border;
}
tr,
td,
th {
  vertical-align: middle;
}
