/**
 * @file
 * 00-atoms/tables/_tables.scss
 */

table {
  width: 100%;
  margin: $standard-spacing 0;
  table-layout: fixed;
  border-collapse: collapse;
}
tr {
  @include breakpoint($medium) {
    border-width: $border-width--thicker;
  }
  &:nth-of-type(odd) {
    background-color: mix(white, $light-gray, 80%);
  }
  &:nth-of-type(even) {
    background-color: $light-gray;
  }
}
th {
  @include breakpoint($medium) {
    border-width: $border-width--thicker;
  }
  padding: $half-spacing;
  text-align: left;
  background-color: mix(black, $light-gray, $percent-change);
  font-weight: $font-weight--bold;
}
td {
  @include breakpoint($medium) {
    border-width: $border-width--thicker;
  }
  padding: $half-spacing;
  border-left: $border-width solid mix(white, $light-gray, 80%);

  &:last-of-type {
    border-right: $border-width solid mix(white, $light-gray, 80%);
  }
}
tr,
td,
th {
  vertical-align: middle;
}
