/**
 * @file
 * 00-atoms/tables/_tables.scss
 */

table {
  width: 100%;
  margin: $standard-spacing 0;
  table-layout: fixed;
  border-collapse: collapse;
  word-wrap: break-word;
}
tbody {
  border: none;
}
tr {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  &:nth-of-type(odd) {
    background-color: mix(white, $light-gray, 80%);
  }
  &:nth-of-type(even) {
    background-color: $light-gray;
  }
  &.even,
  &.odd {
    border-bottom: none;
  }
}
th {
  padding: $half-spacing;
  text-align: left;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background-color: mix(black, $light-gray, $percent-change);
  font-size: $font-size--smallest;
}
td {
  @include breakpoint($medium) {
    border-width: $border-width--thicker;
  }
  padding: $half-spacing;
  border-top: none;
  border-bottom: none;
  border-left: $border-width solid mix(white, $light-gray, 80%);
  font-size: $font-size--smallest;

  &:first-of-type {
    border-left: none;
  }

  &:last-of-type {
    border-right: $border-width solid mix(white, $light-gray, 80%);
  }
}
tr,
td,
th {
  vertical-align: middle;
}
