/**
 * @file
 * 00-atoms/tables/_tables.scss
 */

table {
  width: 100%;
  margin: $standard-spacing 0;
  table-layout: fixed;
  border-collapse: collapse;
}
tr {
  &:nth-of-type(even) {
    background-color: mix(white, $light-gray, 80%);
  }
  &:nth-of-type(odd) {
    background-color: $light-gray;
  }
  &:last-of-type {
    border-bottom: $border-width solid $light-gray;
  }
}
th {
  padding: $standard-spacing;
  text-align: left;
  border-left: $border-width solid mix(black, $light-gray, $percent-change);
  background-color: mix(black, $light-gray, $percent-change);
  font-weight: $bold;

  &:last-of-type {
    border-right: $border-width solid mix(black, $light-gray, $percent-change);
  }
}
td {
  padding: $standard-spacing;
  border-left: $border-width solid $light-gray;

  &:last-of-type {
    border-right: $border-width solid $light-gray;
  }
}
tr,
td,
th {
  vertical-align: middle;
}
