<p>An example of a table that has headers both for rows and for columns.</p>

<table>
  <caption>Table caption to explain what this table is about</caption>
  <tr>
    <td></td>
    <th scope="col">Col Header</th>
    <th scope="col">Col Header</th>
    <th scope="col">Col Header</th>
    <th scope="col">Col Header</th>
    <th scope="col">Col Header</th>
  </tr>
  <tr>
    <th scope="row"><a href="#">Row Header</a></th>
    <td><a href="#">Link</a></td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
  <tr>
    <th scope="row"><a href="#">Row Header</a></th>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
  <tr>
    <th scope="row"><a href="#">Row Header</a></th>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
  <tr>
    <th scope="row"><a href="#">Row Header</a></th>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
  <tr>
    <th scope="row"><a href="#">Row Header</a></th>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
</table>
