/**
* @file
* 00-atoms/lists/_menu-items.scss
*/

.menu {
  li {
    a {
      transition: $medium-transition-speed $standard-ease background-color;
      display: inline-block;
      padding: $half-spacing ($half-spacing * 4) $half-spacing ($half-spacing * 2);
      color: $black;

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: mix(black, $light-gray, $percent-change);
      }
    }
  }

  &.gray {
    li {
      border-left: solid 3px mix(black, $light-gray, $percent-change);
    }
  }

  &.dark-blue {
    li {
      border-left: solid 3px mix(white, $dark-blue, $percent-change);

      a {
        color: $white;

        &:hover,
        &:focus {
          color: $light-green;
          background-color: mix(white, $dark-blue, $percent-change);
        }
      }
    }
  }

  &.blue {
    li {
      border-left: solid 3px mix(black, $blue, $percent-change);

      a {
        color: $white;

        &:hover,
        &:focus {
          color: $white;
          background-color: mix(black, $blue, $percent-change);
        }
      }
    }
  }
}
