/**
* @file
* 00-atoms/lists/_menu-items.scss
*/

.menu {
  li {
    a {
      display: inline-block;
      width: 100%;
      margin: inherit;
      padding: $half-spacing ($half-spacing * 4) $half-spacing ($half-spacing * 2);
      transition: $medium-transition-speed $standard-ease background-color;
      color: $black;
      border: none;
    }
  }
}
.ultimenusub {
  @extend %blue-bg;
}
