/*------------------------------------------------------------------------------
Atom: Icons - Social Media Icons
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

.social-icon {
  display: block;
  width: var(--toggle-size--sm);
  height: var(--toggle-size--sm);
  transition: var(--ease-standard) var(--transition-speed--fast) background-color;
  color: var(--white);
  background-color: var(--blue);

  svg {
    width: 100%;
    padding: 0.5em;
    transition: var(--ease-standard) var(--transition-speed--fast) fill;

    fill: var(--white);

    @media print {
      fill: var(--black);
    }
  }

  &:hover,
  &:focus,
  &:active {
    background-color: var(--dark-blue);
  }

  &:focus {
    outline: dotted var(--border-width--md);
  }

  &.medium {
    width: var(--toggle-size--md);
    height: var(--toggle-size--md);
  }

  &.large {
    width: var(--toggle-size--lg);
    height: var(--toggle-size--lg);
  }
}
