<a href="{{ office }}" class="social-icon office">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" aria-hidden="true" role="presentation">
    <path d="M3,6l11.8-4.2l6.4,1.6v18.2l-6.4,1.6L3,18.9l11.8,1.6V5L7.3,6.6v10.6l-4.2,1.6L3,6L3,6z"/>
  </svg>
  <span class="icon-text">Office 365</span>
</a>
