<a href="{{ flickr }}" class="social-icon flickr">
  <span class="visually-hidden">Western on Flickr</span>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" aria-hidden="true" role="presentation">
    <path d="M6.7,16.4c-2.6,0-4.7-2.1-4.7-4.6c0-2.6,2.1-4.7,4.6-4.7c2.6,0,4.7,2.1,4.7,4.6c0,0,0,0,0,0C11.3,14.4,9.2,16.4,6.7,16.4z"
    />
    <path d="M17.3,16.4c-2.6,0-4.7-2.1-4.7-4.6c0-2.6,2.1-4.7,4.6-4.7c2.6,0,4.7,2.1,4.7,4.6c0,0,0,0,0,0C22,14.4,19.9,16.4,17.3,16.4
    C17.3,16.4,17.3,16.4,17.3,16.4z"/>
  </svg>
</a>
