/*------------------------------------------------------------------------------
Atom: Background Colors
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.sg-pattern-example > div {
  padding: var(--space--md);
}

/*------------------------------------------------------------------------------
/ Black based backgrounds
------------------------------------------------------------------------------*/
@mixin black-bg {
  color: var(--white);
  background: var(--black);

  h1 {
    color: var(--light-green);
    &:after {
      border-color: var(--white);
    }
  }

  h2 {
    color: var(--light-green--lighter--20);
  }

  h3 {
    color: var(--light-green--lighter--40);
  }

  h4 {
    color: var(--light-green--lighter--60);
  }

  h5 {
    color: var(--light-green--lighter--80);
  }

  h6 {
    color: var(--light-green);
  }

  .tagline {
    color: var(--light-green--lighter--40);
  }

  a:not([class]),
  a.patternLink {
    color: var(--blue--lighter--40);

    &:visited {
      color: var(--purple--lighter--80);
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--black);
      outline-color: var(--blue--lighter--40);
    }
  }

  .menu {
    li {
      @include breakpoint($medium) {
        border-left-width: var(--border-width--lg);
      }
      border-left: solid var(--border-width--md) var(--blue--lighter--40);
    }
  }

  .social-icon {
    background-color: var(--white);

    svg {
      fill: var(--black);
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--light-green);
      background-color: var(--light-green);
    }
  }

  .play-link {
    color: var(--white);

    svg {
      fill: var(--white);
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--light-green);

      svg {
        fill: var(--light-green);
      }
    }
  }
}

@mixin darkest-blue-bg {
  @include black-bg;
  background: var(--dark-blue--darker--20);

  .social-icon {
    svg {
      fill: var(--dark-blue--darker--20);
    }
  }
}

@mixin dark-blue-bg {
  @include black-bg;
  background: var(--dark-blue);

  .social-icon {
    svg {
      fill: var(--dark-blue);
    }
  }
}

@mixin dark-green-bg {
  @include black-bg;
  background: var(--dark-green);

  a:not([class]) {
    color: var(--green--lighter--80);
    text-decoration-color: var(--light-green--lighter--20);

    &:hover,
    &:focus,
    &:active {
      background-image: linear-gradient(to bottom,var(--light-green--lighter--20) 0,var(--light-green) 100%);
      outline-color: var(--light-green);
    }
  }

  .menu {
    li {
      border-left-color: var(--green--lighter--80);
    }
  }

  .social-icon {
    svg {
      fill: var(--dark-green);
    }
  }
}

/*------------------------------------------------------------------------------
/ Gray based backgrounds
------------------------------------------------------------------------------*/
@mixin gray-bg {
  color: var(--white);
  background: var(--gray);

  h1 {
    color: var(--light-green--lighter--20);
    &:after {
      border-color: var(--blue--lighter--40);
    }
  }

  h2 {
    color: var(--light-green--lighter--40);
  }

  h3 {
    color: var(--light-green--lighter--60);
  }

  h4 {
    color: var(--light-green--lighter--80);
  }

  h5 {
    color: var(--white);
  }

  h6 {
    color: var(--white);
  }

  a:not([class]) {
    color: var(--white);
    background-image: linear-gradient(to bottom,var(--blue--lighter--40) 0,var(--blue--lighter--60) 100%);
    text-decoration-color: var(--blue--lighter--60);

    &:visited {
      text-decoration-color: var(--purple--lighter--60);
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--black);
      outline-color: var(--white);
    }
  }

  .tagline {
    color: var(--light-green--lighter--80);
  }

  .menu {
    li {
      @include breakpoint($medium) {
        border-left-width: var(--border-width--lg);
      }
      border-left: solid var(--border-width--md) var(--white);
    }
  }

  .social-icon {
    color: var(--dark-blue);
    background-color: var(--white);

    svg {
      fill: var(--gray);
    }

    &:hover,
    &:focus,
    &:active {
      background-color: var(--light-green--lighter--60);
    }

    &:focus {
      outline-color: var(--light-green--lighter--60);
    }
  }

  .play-link {
    color: var(--white);

    svg {
      fill: var(--white);
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--light-green--lighter--60);

      svg {
        fill: var(--light-green--lighter--60);
      }
    }
  }
}

@mixin blue-bg {
  @include gray-bg;
  background: var(--blue);

  .social-icon {
    svg {
      fill: var(--blue);
    }
  }
}

@mixin green-bg {
  @include gray-bg;
  background: var(--green);

  h1 {
    &:after {
      border-color: var(--light-green--lighter--80);
    }
  }

  a:not([class]) {
    text-decoration-color: var(--light-green--lighter--20);

    &:hover,
    &:focus,
    &:active {
      background-image: linear-gradient(to bottom,var(--light-green--lighter--20) 0,var(--light-green) 100%);
      outline-color: var(--light-green--lighter--20);
    }
  }

  .social-icon {
    svg {
      fill: var(--green);
    }
  }
}

/*------------------------------------------------------------------------------
/ Light gray based backgrounds
------------------------------------------------------------------------------*/
@mixin light-gray-bg {
  background: var(--gray--lighter--60);

  h1 {
    color: var(--dark-blue--darker--80);
    &:after {
      border-color: var(--dark-blue--darker--80);
    }
  }

  h2 {
    color: var(--dark-blue--darker--60);
  }

  h3 {
    color: var(--dark-blue--darker--40);
  }

  h4 {
    color: var(--dark-blue--darker--20);
  }

  h5 {
    color: var(--dark-blue);
  }

  h6 {
    color: var(--dark-blue);
  }

  a:not([class]) {
    color: var(--blue--darker--40);
    text-decoration-color: var(--dark-blue);

    &:visited {
      color: var(--purple);
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--white);
      background-image: linear-gradient(to bottom,var(--dark-blue--darker--40) 0,var(--dark-blue) 100%);
      outline-color: var(--dark-blue);
    }
  }

  .menu {
    li {
      @include breakpoint($medium) {
        border-left-width: var(--border-width--lg);
      }
      border-left: solid var(--border-width--md) var(--blue--darker--40);
    }
  }

  .play-link {
    color: var(--dark-blue);

    svg {
      fill: var(--dark-blue);
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--dark-blue--darker--80);

      svg {
        fill: var(--dark-blue--darker--80);
      }
    }
  }
}

@mixin lightest-gray-bg {
  @include light-gray-bg;
  background: var(--gray--lighter--80);
}

@mixin light-blue-bg {
  @include light-gray-bg;
  background: var(--blue--lighter--60);
}

@mixin lightest-blue-bg {
  @include lightest-gray-bg;
  background: var(--blue--lighter--80);
}

@mixin light-green-bg {
  @include light-gray-bg;
  background: var(--light-green);
}

.black-bg,
.dark-mode {
  @include black-bg;
}
.dark-mode {
  background-color: var(--gray--darker--80);
}

.dark-blue-bg {
  @include dark-blue-bg;
}
.darkest-blue-bg {
  @include darkest-blue-bg;
}
.dark-green-bg {
  @include dark-green-bg;
}
.green-bg {
  @include green-bg;
}
.gray-bg {
  @include gray-bg;
}
.blue-bg {
  @include blue-bg;
}
.light-gray-bg {
  @include light-gray-bg;
}
.lightest-gray-bg {
  @include lightest-gray-bg;
}
.light-blue-bg {
  @include light-blue-bg;
}
.lightest-blue-bg {
  @include lightest-blue-bg;
}
.light-green-bg {
  @include light-green-bg;
}

.dark-blue-gradient-bg {
  @include blue-bg;
  background-image: linear-gradient(
  to left bottom,
  #1c2023,
  #18242d,
  #122738,
  #0a2a44,
  #022d4f,
  #00335c,
  #013a69,
  #044077,
  #074e8b,
  #085c9f,
  #066bb3,
  #007ac8
  );
}
.blue-gradient-bg {
  @include blue-bg;
  background-image: linear-gradient(
  to right bottom,
  #002f5e,
  #003266,
  #00356d,
  #003875,
  #003b7d,
  #004186,
  #01478e,
  #004d97,
  #0058a3,
  #0063b0,
  #006ebc,
  #007ac8
  );
}

.dark-mode {
  .gray-bg,
  .light-blue-bg,
  .lightest-blue-bg,
  .light-gray-bg,
  .lightest-gray-bg {
    @include gray-bg;
  }

  .light-green-bg {
    @include green-bg;
  }

  .blue-bg {
    @include dark-blue-bg;
  }
}

/* Print styles */
@media print {
  .black-bg,
  .gray-bg,
  .light-gray-bg,
  .lightest-gray-bg,
  .dark-blue-bg,
  .darkest-blue-bg,
  .blue-bg,
  .light-blue-bg,
  .lightest-blue-bg,
  .dark-green-bg,
  .green-bg,
  .light-green-bg,
  .dark-blue-gradient-bg,
  .blue-gradient-bg {
    color: var(--black);
    border: solid var(--border-width--sm) var(--black);
    background-color: var(--white);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--dark-blue);
    }

    .block--beyond-basics-block {
      padding: 0.8rem;
    }
  }
}
