/*------------------------------------------------------------------------------
Atom: Background Colors
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

/**
* @file
* molecules/background-colors/_background-colors.scss
*/

// Base styles for different color backgrounds. Use @include to utilize these styles inside of other components.
// Note the cascade here, as the blue styles inherit from the gray styles of same shades (EG Dark blue inherits from black, blue inherits from gray, etc.)
@mixin black-bg {
  color: var(--white);
  background: var(--black);

  h1 {
    color: var(--white);
    &:after {
      border-color: var(--light-green--lighter-40);
    }
  }

  h2 {
    color: var(--white);
    border-bottom-color: var(--light-green--lighter-40);
  }

  h3 {
    color: var(--light-green--lighter-40);
  }

  h4 {
    color: var(--light-green);
  }

  h5,
  h6 {
    color: var(--white);
  }

  .tagline {
    color: var(--light-green--lighter-40);
  }

  a:not([class]) {
    color: var(--light-blue);

    &:hover,
    &:focus,
    &:active {
      color: var(--light-green--lighter-40);
      background-color: var(--dark-blue--darker-20);
    }
  }

  .menu {
    li {
      @include breakpoint($medium) {
        border-left-width: $border-width--thicker;
      }
      border-left: solid $border-width var(--dark-blue);
    }

    a {
      color: var(--white);

      &:hover,
      &:focus,
      &:active {
        color: var(--light-green--lighter-40);
        background-color: var(--dark-blue);
      }
    }
  }

  .social-icon {
    color: var(--dark-blue);
    background-color: var(--white);

    svg {
      fill: var(--black);
    }

    &:hover,
    &:focus,
    &:active {
      background-color: var(--light-green);
    }

    &:focus {
      outline-color: var(--white);
    }
  }

  .play-link {
    svg path {
      fill: var(--white);
    }

    &:hover,
    &:active,
    &:focus {
      svg path {
        fill: var(--light-blue);
      }
    }

    &:focus {
      border-color: var(--light-blue);
    }
  }
}

@mixin gray-bg {
  color: var(--white);
  background: var(--gray);

  h1,
  h2,
  h3 {
    color: var(--light-green--lighter-40);
    &:after {
      border-color: var(--light-blue);
    }
  }

  h4,
  h5,
  h6 {
    color: var(--white);
  }

  a:not([class]) {
    color: var(--white);

    &:hover,
    &:focus,
    &:active {
      color: var(--light-green);
      background: var(--black);
    }
  }

  .tagline {
    color: var(--white);
  }

  .menu {
    li {
      @include breakpoint($medium) {
        border-left-width: $border-width--thicker;
      }
      border-left: solid $border-width var(--black);
    }

    a {
      color: var(--white);

      &:hover,
      &:focus,
      &:active {
        background: var(--black);
      }
    }
  }

  .social-icon {
    color: var(--dark-blue);
    background-color: var(--white);

    svg {
      fill: var(--gray);
    }

    &:hover,
    &:focus,
    &:active {
      background-color: var(--light-green--lighter-40);
    }

    &:focus {
      outline-color: var(--light-green--lighter-40);
    }
  }

  .play-link {
    svg path {
      fill: var(--white);
    }

    &:hover,
    &:active,
    &:focus {
      svg path {
        fill: var(--light-green--lighter-40);
      }
    }
  }
}

@mixin light-gray-bg {
  color: var(--black);
  background: $light-gray;

  h2 {
    color: var(--dark-blue--darker-20);
  }

  h3,
  h4,
  h5,
  h6 {
    color: var(--dark-blue);
  }

  a:not([class]) {
    color: $link-blue--darker;

    &:hover,
    &:focus,
    &:active {
      color: var(--black);
      background-color: mix(black, $light-gray, 20%);
    }
  }

  .menu {
    li {
      @include breakpoint($medium) {
        border-left-width: $border-width--thicker;
      }
      border-left: solid $border-width mix(black, $light-gray, 20%);
    }

    a {
      color: var(--black);

      &:hover,
      &:focus,
      &:active {
        background: mix(black, $light-gray, 20%);
      }
    }
  }

  .play-link {
    svg path {
      fill: var(--blue);
    }

    &:hover,
    &:active,
    &:focus {
      svg path {
        fill: var(--dark-blue);
      }
    }
  }
}

@mixin lightest-gray-bg {
  @include light-gray-bg;
  background: $lightest-gray;

  a:not([class]) {
    color: $link-blue;
  }
}

@mixin dark-blue-bg {
  @include black-bg;
  background: var(--dark-blue);

  .menu {
    li {
      border-left-color: var(--dark-blue--darker-20);

      a {
        &:hover,
        &:focus,
        &:active {
          background-color: var(--dark-blue--darker-20);
        }
      }
    }
  }

  .social-icon {
    svg {
      fill: var(--dark-blue);
    }
  }
}

@mixin darkest-blue-bg {
  @include black-bg;
  background: var(--dark-blue--darker-20);

  a:not([class]) {
    &:hover,
    &:active,
    &:focus {
      background: var(--dark-blue);
    }
  }

  .menu {
    li {
      border-left-color: var(--dark-blue);

      a {
        &:hover,
        &:focus,
        &:active {
          background-color: var(--dark-blue);
        }
      }
    }
  }

  .social-icon {
    svg {
      fill: var(--dark-blue);
    }
  }
}

@mixin blue-bg {
  @include gray-bg;
  background: var(--blue);

  h2 {
    border-bottom-color: var(--light-green--lighter-40);
  }

  h4 {
    border-bottom-color: var(--light-green);
  }

  a:not([class]) {
    &:hover,
    &:focus,
    &:active {
      color: var(--dark-blue--darker-20);
      outline-color: var(--white);
      background: var(--light-blue);
    }
  }

  .menu {
    li {
      border-left-color: mix(black, $blue, 20%);

      a {
        &:hover,
        &:focus,
        &:active {
          color: var(--light-green--lighter-40);
          background: mix(black, $blue, 20%);
        }
      }
    }
  }

  .social-icon {
    svg {
      fill: var(--blue);
    }
  }

  .play-link {
    &:focus {
      border-color: var(--light-green--lighter-40);
    }
  }
}

@mixin light-blue-bg {
  @include light-gray-bg;
  background: $light-bg-blue;

  a:not([class]) {
    &:hover,
    &:focus,
    &:active {
      color: var(--dark-blue);
      border-bottom-color: transparent;
      background-color: mix(white, $dark-blue, 60%);
    }
  }

  .menu {
    li {
      border-left-color: mix(white, $dark-blue, 60%);

      a {
        color: var(--black);

        &:hover,
        &:focus,
        &:active {
          background: mix(white, $dark-blue, 60%);
        }
      }
    }
  }
}

@mixin lightest-blue-bg {
  @include lightest-gray-bg;
  background: $lightest-bg-blue;

  a:not([class]) {
    &:hover,
    &:focus,
    &:active {
      background: mix(white, $dark-blue, 70%);
    }
  }

  .menu {
    li {
      border-left-color: mix(white, $dark-blue, 70%);

      a {
        color: var(--black);

        &:hover,
        &:focus,
        &:active {
          background: mix(white, $dark-blue, 70%);
        }
      }
    }
  }
}

@mixin gradient-blue-bg {
  @include blue-bg;
  .menu {
    li {
      border-left-color: var(--light-blue);

      a {
        &:hover,
        &:focus,
        &:active {
          color: var(--dark-blue--darker-20);
          background-color: var(--light-blue);
        }
      }
    }
  }
}

@mixin dark-green-bg {
  @include black-bg;
  background: var(--dark-green);

  a:not([class]) {
    color: var(--light-green--lighter-40);

    &:hover,
    &:focus,
    &:active {
      color: var(--white);
      background-color: var(--black);
    }
  }

  .menu {
    li {
      border-left-color: var(--light-green);

      a {
        color: var(--white);

        &:hover,
        &:focus,
        &:active {
          color: var(--white);
          background-color: var(--black);
        }
      }
    }
  }

  .social-icon {
    svg {
      fill: var(--dark-green);
    }
  }
}

@mixin green-bg {
  @include gray-bg;
  background: var(--green);

  h1 {
    &:after {
      border-color: var(--light-green);
    }
  }

  .social-icon {
    svg {
      fill: var(--green);
    }
  }
}

@mixin light-green-bg {
  @include light-gray-bg;
  background: var(--light-green);

  a:not([class]) {
    &:hover,
    &:focus,
    &:active {
      color: var(--white);
      outline-color: var(--blue);
      background-color: var(--blue);
    }
  }

  .menu {
    li {
      border-left-color: var(--light-green--lighter-40);

      a {
        &:hover,
        &:focus,
        &:active {
          color: var(--black);
          background-color: var(--light-green--lighter-40);
        }
      }
    }
  }
}

.black-bg,
.dark-mode {
  @include black-bg;
}

.dark-mode {
  @include dark-mode-links;
  background-color: var(--gray-darker-80);
}

.gray-bg {
  @include gray-bg;
}
.light-gray-bg {
  @include light-gray-bg;
}
.lightest-gray-bg {
  @include lightest-gray-bg;
}
.dark-blue-bg {
  @include dark-blue-bg;
}
.darkest-blue-bg {
  @include darkest-blue-bg;
}
.blue-bg {
  @include blue-bg;
}
.light-blue-bg {
  @include light-blue-bg;
}
.lightest-blue-bg {
  @include lightest-blue-bg;
}
.dark-green-bg {
  @include dark-green-bg;
}
.green-bg {
  @include green-bg;
}
.light-green-bg {
  @include light-green-bg;
}

.dark-blue-gradient-bg {
  @include gradient-blue-bg;
  background-image: linear-gradient(
    to left bottom,
    #1c2023,
    #18242d,
    #122738,
    #0a2a44,
    #022d4f,
    #00335c,
    #013a69,
    #044077,
    #074e8b,
    #085c9f,
    #066bb3,
    #007ac8
  );
}
.blue-gradient-bg {
  @include gradient-blue-bg;
  background-image: linear-gradient(
    to right bottom,
    #002f5e,
    #003266,
    #00356d,
    #003875,
    #003b7d,
    #004186,
    #01478e,
    #004d97,
    #0058a3,
    #0063b0,
    #006ebc,
    #007ac8
  );
}

.dark-mode {
  .gray-bg,
  .light-blue-bg,
  .lightest-blue-bg,
  .light-gray-bg,
  .lightest-gray-bg {
    @include gray-bg;
  }

  .light-green-bg {
    @include green-bg;
  }

  .blue-bg {
    @include dark-blue-bg;
  }
}

/* Print styles */
@media print {
  .black-bg,
  .gray-bg,
  .light-gray-bg,
  .lightest-gray-bg,
  .dark-blue-bg,
  .darkest-blue-bg,
  .blue-bg,
  .light-blue-bg,
  .lightest-blue-bg,
  .dark-green-bg,
  .green-bg,
  .light-green-bg,
  .dark-blue-gradient-bg,
  .blue-gradient-bg {
    color: var(--black);
    border: solid $border-width--thinner var(--black);
    background-color: var(--white);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--dark-blue);
    }

    .block--beyond-basics-block {
      padding: 0.8rem;
    }
  }
}
