/*------------------------------------------------------------------------------
Atom: Background Colors
--------------------------------------------------------------------------------
1. Black based backgrounds
2. Gray based backgrounds
3. Light gray based backgrounds
4. Classes
5. Dark mode
6. Print styles
------------------------------------------------------------------------------*/
.pattern-lab-bg {
  padding: var(--space--md);
}

/*------------------------------------------------------------------------------
1. Black based backgrounds
--------------------------------------------------------------------------------
Black, darkest blue, dark blue, and dark green are black based.
------------------------------------------------------------------------------*/
@mixin black-bg {
  color: var(--white);
  background: var(--black);

  h1 {
    color: var(--light-green);
    &:after {
      border-color: var(--white);
    }
  }

  h2 {
    color: var(--light-green--lighter--20);
  }

  h3 {
    color: var(--light-green--lighter--40);
  }

  h4 {
    color: var(--light-green--lighter--60);
  }

  h5 {
    color: var(--light-green--lighter--80);
  }

  h6 {
    color: var(--light-green);
  }

  .intro,
  .tagline {
    color: var(--light-green--lighter--40);
  }

  a:not([class*="cta"]):not([class*="button"]),
  a.patternLink {
    color: var(--blue--lighter--40);

    &:visited {
      color: var(--purple--lighter--80);
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--black);
      outline-color: var(--blue--lighter--40);
    }
  }

  .menu {
    li {
      @include breakpoint($medium) {
        border-left-width: var(--border-width--lg);
      }

      border-left: solid var(--border-width--md) var(--blue--lighter--40);
    }
  }

  .social-icon,
  .play-button {
    color: var(--dark-blue);
    background: var(--white);

    svg {
      fill: var(--dark-blue);
    }

    &:hover,
    &:focus,
    &:active {
      background: var(--blue--lighter--60);
    }

    &:focus {
      outline-color: var(--white);
    }
  }

  caption,
  .block--countdown {
    color: var(--white);
  }
}

@mixin darkest-blue-bg {
  @include black-bg;

  background: var(--dark-blue--darker--20);
}

@mixin dark-blue-bg {
  @include black-bg;

  background: var(--dark-blue);
}

@mixin dark-green-bg {
  @include black-bg;

  background: var(--dark-green);

  a:not([class*="cta"]):not([class*="button"]) {
    text-decoration-color: var(--light-green--lighter--20);
    color: var(--green--lighter--80);

    &:hover,
    &:focus,
    &:active {
      outline-color: var(--light-green);
      background-image: linear-gradient(
        to bottom,
        var(--light-green--lighter--20) 0,
        var(--light-green) 100%
      );
    }
  }

  .menu {
    li {
      border-left-color: var(--green--lighter--80);
    }
  }

  &.pullquote {
    border-left-color: var(--green--lighter--80);
  }
}

/*------------------------------------------------------------------------------
2. Gray based backgrounds
--------------------------------------------------------------------------------
Gray, blue, and green backgrounds are gray based.
------------------------------------------------------------------------------*/
@mixin gray-bg {
  color: var(--white);
  background: var(--gray);

  h1 {
    color: var(--light-green--lighter--20);
    &:after {
      border-color: var(--blue--lighter--40);
    }
  }

  h2 {
    color: var(--light-green--lighter--40);
  }

  h3 {
    color: var(--light-green--lighter--60);
  }

  h4 {
    color: var(--light-green--lighter--80);
  }

  h5 {
    color: var(--white);
  }

  h6 {
    color: var(--white);
  }

  a:not([class*="cta"]):not([class*="button"]) {
    text-decoration-color: var(--blue--lighter--60);
    color: var(--white);

    &:visited {
      text-decoration-color: var(--purple--lighter--60);
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--black);
      outline-color: var(--white);
      background-image: linear-gradient(
        to bottom,
        var(--blue--lighter--40) 0,
        var(--blue--lighter--60) 100%
      );
    }
  }

  .intro,
  .tagline {
    color: var(--light-green--lighter--80);
  }

  .menu {
    li {
      @include breakpoint($medium) {
        border-left-width: var(--border-width--lg);
      }

      border-left: solid var(--border-width--md) var(--blue--lighter--60);
    }
  }

  .social-icon,
  .play-button {
    color: var(--dark-blue);
    background: var(--white);

    svg {
      fill: var(--dark-blue);
    }

    &:hover,
    &:focus,
    &:active {
      background: var(--blue--lighter--60);
    }

    &:focus {
      outline-color: var(--white);
    }
  }

  caption,
  .block--countdown {
    color: var(--white);
  }
}

@mixin blue-bg {
  @include gray-bg;

  background: var(--blue);
}

@mixin green-bg {
  @include gray-bg;

  background: var(--green);

  h1 {
    &:after {
      border-color: var(--light-green--lighter--80);
    }
  }

  a:not([class*="cta"]):not([class*="button"]) {
    text-decoration-color: var(--light-green--lighter--20);

    &:hover,
    &:focus,
    &:active {
      outline-color: var(--light-green--lighter--20);
      background-image: linear-gradient(
        to bottom,
        var(--light-green--lighter--20) 0,
        var(--light-green) 100%
      );
    }
  }

  &.pullquote {
    border-left-color: var(--light-green--lighter--40);
  }
}

/*------------------------------------------------------------------------------
3. Light gray based backgrounds
--------------------------------------------------------------------------------
Light gray, lightest gray, light blue, lightest blue, and light green
backgrounds are light gray based.
------------------------------------------------------------------------------*/
@mixin light-gray-bg {
  background: var(--gray--lighter--60);

  h1 {
    color: var(--dark-blue--darker--80);
    &:after {
      border-color: var(--dark-blue--darker--80);
    }
  }

  h2 {
    color: var(--dark-blue--darker--60);
  }

  h3 {
    color: var(--dark-blue--darker--40);
  }

  h4 {
    color: var(--dark-blue--darker--20);
  }

  h5 {
    color: var(--dark-blue);
  }

  h6 {
    color: var(--dark-blue);
  }

  a:not([class*="cta"]),
  a:not([class*="button"]) {
    text-decoration-color: var(--dark-blue);
    color: var(--blue--darker--40);

    &:visited {
      color: var(--purple);
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--white);
      outline-color: var(--dark-blue);
      background-image: linear-gradient(
        to bottom,
        var(--dark-blue--darker--40) 0,
        var(--dark-blue) 100%
      );
    }
  }

  .menu {
    li {
      @include breakpoint($medium) {
        border-left-width: var(--border-width--lg);
      }

      border-left: solid var(--border-width--md) var(--blue--darker--40);
    }
  }

  &.pullquote {
    border-left-color: var(--dark-blue);
  }
}

@mixin lightest-gray-bg {
  @include light-gray-bg;

  background: var(--gray--lighter--80);
}

@mixin light-blue-bg {
  @include light-gray-bg;

  background: var(--blue--lighter--60);
}

@mixin lightest-blue-bg {
  @include lightest-gray-bg;

  background: var(--blue--lighter--80);
}

@mixin light-green-bg {
  @include light-gray-bg;

  background: var(--light-green);
}

/*------------------------------------------------------------------------------
4. Classes
------------------------------------------------------------------------------*/
.black-bg,
.dark-mode {
  @include black-bg;
}
.dark-mode {
  background-color: var(--gray--darker--80);
}

.dark-blue-bg {
  @include dark-blue-bg;
}
.darkest-blue-bg {
  @include darkest-blue-bg;
}
.dark-green-bg {
  @include dark-green-bg;
}
.green-bg {
  @include green-bg;
}
.gray-bg {
  @include gray-bg;
}
.blue-bg {
  @include blue-bg;
}
.light-gray-bg {
  @include light-gray-bg;
}
.lightest-gray-bg {
  @include lightest-gray-bg;
}
.light-blue-bg {
  @include light-blue-bg;
}
.lightest-blue-bg {
  @include lightest-blue-bg;
}
.light-green-bg {
  @include light-green-bg;
}
.dark-blue-gradient-bg {
  @include blue-bg;

  background-image: var(--gradient--diagonal--dark-blue-to-black);
}
.blue-gradient-bg {
  @include blue-bg;

  background-image: var(--gradient--diagonal--blue-to-dark-blue);
}

/*------------------------------------------------------------------------------
5. Dark Mode
------------------------------------------------------------------------------*/
.dark-mode {
  .gray-bg,
  .light-blue-bg,
  .lightest-blue-bg,
  .light-gray-bg,
  .lightest-gray-bg {
    @include gray-bg;
  }

  .light-green-bg {
    @include green-bg;
  }

  .green-bg {
    @include green-bg;
  }

  .blue-bg {
    background-color: var(--blue--darker--40);
  }
}

/*------------------------------------------------------------------------------
6. Print Styles
------------------------------------------------------------------------------*/
@media print {
  .black-bg,
  .gray-bg,
  .light-gray-bg,
  .lightest-gray-bg,
  .dark-blue-bg,
  .darkest-blue-bg,
  .blue-bg,
  .light-blue-bg,
  .lightest-blue-bg,
  .dark-green-bg,
  .green-bg,
  .light-green-bg,
  .dark-blue-gradient-bg,
  .blue-gradient-bg {
    color: var(--black);
    border: solid var(--border-width--sm) var(--black);
    background-color: var(--white);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--dark-blue);
    }

    .block--beyond-basics-block {
      padding: 0.8rem;
    }
  }
}
