<div class="{{ background_class }}">
  <h1>H1 Heading <a href="#">and link</a></h1>
  <h2>H2 Heading <a href="#">and link</a></h2>
  <h3>H3 Heading <a href="#">and link</a></h3>
  <h4>H4 Heading <a href="#">and link</a></h4>
  <h5>H5 Heading <a href="#">and link</a></h5>

  <p class="tagline">Tagline Text</p>

  <p>Regular Text with <a href="#">a regular link</a> and a <a href="https://wwu.edu/">visited link</a></p>

  <ul>
    <li><a href="#">Regular</a></li>
    <li><a href="#">list with this</a></li>
    <li>background, and a <a href="#">bunch of links</a></li>
  </ul>

  <div class="aside">
    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>
  </div>

  {% include "@atoms/buttons/play-button/play-button.twig" %}

  {% include "@molecules/social-media-links/social-media-links.html.twig" %}

  {% include "@atoms/tables/tables--customized.twig" %}
</div>
