/*------------------------------------------------------------------------------
Molecule: Link list
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

.link-list {
  @include breakpoint($medium) {
    display: flex;
    padding: var(--space--sm);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &.col {
        margin: calc(-1 * (var(--space--sm))) auto;
      }
    }
  }

  padding: 0 var(--space--sm);
}

.col {
  padding: var(--space--xs);
  &.left {
    @include breakpoint($medium) {
      flex: 0 0 15%;
    }
  }
}
