/**
 * @file
 * molecules/links/link-list/_link-list.scss
 */

.link-list {
  @include breakpoint($medium) {
    padding: $standard-spacing;
    display: flex;
  }
  padding: 0 $standard-spacing;
}

.col {
  &.left {
    @include breakpoint($medium) {
      flex: 1;
    }
  }

  &.right {
    @include breakpoint($medium) {
      flex: 2;
    }
  }
  padding: $half-spacing;
}
