/*------------------------------------------------------------------------------
Helpers: Blazy
--------------------------------------------------------------------------------
Blazy image fixes. If these don't work, add data-unblazy as an attribute.
------------------------------------------------------------------------------*/
.background-image .blazy,
.background-image .media {
  width: 100%;
  height: 100%;
}
