/*------------------------------------------------------------------------------
Helpers: Layout Builder
--------------------------------------------------------------------------------
Affects the layout builder interface
------------------------------------------------------------------------------*/
.layout-builder--content-preview-disabled * {
  width: initial;
  min-height: initial;
}
#drupal-off-canvas .field--name-field-accordion-item tr.draggable,
#drupal-off-canvas .field--name-field-content-switcher-item tr.draggable,
#drupal-off-canvas .field--name-field-statistic tr.draggable,
#drupal-off-canvas .field--name-field-schedule-item tr.draggable {
  display: flex;
}
#drupal-off-canvas .messages--error {
  background-repeat: no-repeat;
  background-position-x: 1%;
  background-position-y: 50%;
}
#drupal-off-canvas .ui-autocomplete li a {
  color: #63c2ff !important;
}
[data-theme="dark"] {
  .layout-builder {
    @include black-bg;
  }
  .layout-builder,
  .layout-builder-block,
  .layout-builder__add-section,
  .layout-builder__add-block {
    background-color: var(--dark-gray--darker--80);
  }
}
