/*------------------------------------------------------------------------------
Helpers: Size
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.full-width {
  width: 100%;
  max-width: none;
}
.full-height {
  height: 100%;
}
.min-height--25vh {
  min-height: 25vh;
}
.min-height--50vh {
  min-height: 50vh;
}
.min-height--75vh {
  min-height: 75vh;
}
.min-height--100vh {
  min-height: 100vh;
}
.max-width--content {
  max-width: var(--content-area-max-width);
  margin-right: auto;
  margin-left: auto;
}
.max-width--content--sm {
  max-width: var(--content-area-max-width--sm);
  margin-right: auto;
  margin-left: auto;
}
.full-vw {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  padding-right: calc(50vw - 50%);
  padding-left: calc(50vw - 50%);
}
