/*------------------------------------------------------------------------------
Helper Classes: Text
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.font--sans-serif {
  font-family: var(--font--sans-serif);
}
.font--serif {
  font-family: var(--font--serif);
}
.font--title-font {
  font-family: var(--font--title-font);
}
.bold {
  font-weight: var(--font-weight--bold);
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.word-break--all {
  word-break: break-all;
}
