/*------------------------------------------------------------------------------
Helpers: Video
--------------------------------------------------------------------------------
1. General styles
2. AblePlayer fixes
--------------------------------------------------------------------------------
1. General styles
------------------------------------------------------------------------------*/
.embed-container iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

/*------------------------------------------------------------------------------
2. AblePlayer fixes
------------------------------------------------------------------------------*/
div[class*="-bg"] {
  .able-transcript-heading,
  .able-transcript-caption {
    color: var(--black);
  }
}
