<div{{ attributes }}>
  {% include "@atoms/label/label.twig" %}

  <div class="image-button">
    {{ content.field_link }}

    <div class="image image--stylized">
      {{ content.field_image }}
    </div>
  </div>
</div>
