@use "../../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Templates: Layouts - Two column
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

.layout--twocol-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  > .layout__region {
    flex: 0 1 100%;
  }
  > .layout__region--first {
    @media (min-width: $small) {
      padding-right: var(--space--xs);
    }
  }
  > .layout__region--second {
    @media (min-width: $small) {
      padding-left: var(--space--xs);
    }
  }
  &.layout--twocol-section--50-50 > .layout__region--first,
  &.layout--twocol-section--50-50 > .layout__region--second {
    @media (min-width: $small) {
      flex: 0 1 50%;
    }
  }
  &.layout--twocol-section--33-67 > .layout__region--first,
  &.layout--twocol-section--67-33 > .layout__region--second {
    font-size: var(--font-size--sm);
    @media (min-width: $medium) {
      flex: 0 1 33%;
    }
  }
  &.layout--twocol-section--33-67 > .layout__region--second,
  &.layout--twocol-section--67-33 > .layout__region--first {
    @media (min-width: $medium) {
      flex: 0 1 67%;
    }
  }
  &.layout--twocol-section--25-75 > .layout__region--first,
  &.layout--twocol-section--75-25 > .layout__region--second {
    font-size: var(--font-size--sm);
    @media (min-width: $medium) {
      flex: 0 1 25%;
    }
  }
  &.layout--twocol-section--25-75 > .layout__region--second,
  &.layout--twocol-section--75-25 > .layout__region--first {
    @media (min-width: $medium) {
      flex: 0 1 75%;
    }
  }
}
.layout--twocol--page-width {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  margin-right: calc(-1 * var(--space--sm));
  margin-left: calc(-1 * var(--space--sm));
  @media (min-width: $large) {
    margin-right: calc((var(--content-area-max-width)/2) - 50vw);
    margin-left: calc((var(--content-area-max-width)/2) - 50vw);
  }
  > .layout__region {
    flex: 1 1 100%;
    max-width: none;
  }
  > .layout__region--first,
  > .layout__region--second {
    @media (min-width: $small) {
      flex: 1 1 50%;
    }
  }
}
