<blockquote>Mr. Crusher, ready a collision course with the Borg ship. Now, how the hell do we defeat an enemy that knows us better than we know ourselves?</blockquote>

<p>With class .dark-bg</p>

<blockquote class="dark-bg">Mr. Crusher, ready a <a href="#">collision</a> course with the Borg ship. Now, how the hell do we defeat an enemy that knows us better than we know ourselves?</blockquote>
