/*------------------------------------------------------------------------------
Molecule: Navigation - Skip content link
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.skip-link.focusable,
.skip-to--custom button {
  &:focus {
    clip-path: initial;
    position: absolute !important;
    z-index: 3;
    top: 0;
    left: var(--space--sm);
    clip: initial; // IE support
    width: inherit;
    height: inherit;
    padding: var(--space--sm);
    outline-color: var(--dark-blue--darker--60);
    outline-offset: calc(-1 * var(--border-width--lg));
  }
}
