<div class = "langSelect">
    <div class = "langButtonContainer">
        <button class="toggle" id="dropMenu">
            <span class="material-icons" alt="Languages">language</span>
            <p>Language</p>
        </button>
    </div>
    <ul id="langMenu" class = "menu select-language" style="display:none;">
        <li>
            <a class = "languageOption" href="#">English</a> 
        </li>
        <li>
            <a class="languageOption" href="#">Español</a>
        </li>
    </ul>
</div>
