@use "../../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Molecule: Charts - Org Chart
--------------------------------------------------------------------------------
1. Dark Mode
------------------------------------------------------------------------------*/
.org-chart {
  --chart-border-width: 3px;
  --chart-line-color: var(--gray--lighter--40);
  --chart-max-size: 18.75rem;
  --chart-spacing: var(--space--md);

  position: relative;
  display: grid;
  justify-content: center;
  max-width: var(--content-area-max-width);
  color: var(--black);
  background: var(--page-background);
  font-size: var(--font-size--sm);
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: var(--font-size--sm);
  }
  ul {
    position: relative;
    display: flex;
    flex-flow: column;
    margin-bottom: 0;
    margin-left: var(--chart-spacing);
    padding: 0;
    list-style: none;
    li {
      position: relative;
      div {
        @include lightest-gray-bg;

        position: relative;
        display: block;
        margin-top: var(--chart-spacing);
        margin-left: var(--chart-spacing);
        padding: calc(var(--chart-spacing) / 2);
        text-align: center;
        line-height: 1.2;
        @media (forced-colors: active) {
          border: var(--border-width--md) solid transparent;
        }
      }
    }
    &.level-1 {
      margin-left: 0;
      @media (min-width: $medium) {
        display: grid;
        grid-template-columns: repeat(10, auto);
        margin-left: 0;
      }
    }
    &.level-2 {
      margin-left: 0;
      @media (min-width: $medium) {
        display: grid;
        grid-template-columns: repeat(10, auto);
        margin-top: var(--chart-spacing);
        margin-left: 0;
      }
    }
    &.level-3 {
      @media (min-width: $medium) {
        display: flex;
        flex-flow: column;
        margin-left: calc(var(--chart-spacing) / 2);
      }
    }
  }
  /* LINES */
  [class^="item-level-"]:not(.item-level-1) {
    /* vertical bar for nested items */
    border-left: solid var(--chart-border-width) var(--chart-line-color);
    /* horizontal bar for nested items */
    > div:before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: calc(var(--chart-spacing) + var(--chart-border-width));
      height: 50%;
      content: "";
      transform: translate(-100%);
      border-top: solid var(--chart-border-width) var(--chart-line-color);
      background: transparent;
    }
    /* mask vertical bar for end items */
    &:last-of-type {
      > div:before {
        background: var(--page-background);
        @media (forced-colors: active) {
          background: transparent;
        }
      }
    }
  }
  /* mask vertical bar for end items */
  [class^="item-level-"]:not(.item-level-1) > ul:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: calc(var(--chart-spacing) + var(--chart-border-width));
    height: 100%;
    content: "";
    transform: translate(-100%);
    background: var(--page-background);
  }
}
@media (min-width: $medium) {
  .org-chart {
    /* vertical bar for top level items */
    .item-level-1 {
      > div:before {
        position: absolute;
        bottom: 0;
        left: calc(50% + ((var(--chart-border-width) / 2)));
        display: block;
        width: var(--chart-border-width);
        height: var(--chart-spacing);
        content: "";
        transform: translate(-50%, var(--chart-spacing));
        background: var(--chart-line-color);
        @media (forced-colors: active) {
          border-left: var(--border-width--md) solid transparent;
        }
      }
      &.no-children {
        > div:before {
          display: none;
        }
      }
    }
    .item-level-2 {
      border-left: none;
      /* remove second level lines */
      > div:before,
      &:last-of-type > div:before,
      &:last-child > .level-3:before {
        display: none;
      }
      /* horizontal bar for second level items */
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: var(--chart-border-width);
        content: "";
        background: var(--chart-line-color);
      }
      &:first-child {
        &:before {
          left: calc(
          (var(--chart-spacing) / 2) + (var(--chart-border-width) / 2) + 50%
          );
          display: block;
          width: 50%;
          height: var(--chart-border-width);
          content: "";
          background: var(--chart-line-color);
        }
      }
      &:last-child {
        &:before {
          display: block;
          width: calc(
          (var(--chart-spacing) / 2) + (var(--chart-border-width) / 2) + 50%
          );
          height: var(--chart-border-width);
          content: "";
          background: var(--chart-line-color);
        }
      }
      &:only-child {
        &:before {
          display: none;
        }
      }
      @media (forced-colors: active) {
        &:before {
          border-top: var(--border-width--md) solid transparent;
        }
        &:first-child,
        &:last-child {
          &::before {
            border-top: var(--border-width--md) solid transparent;
          }
        }
      }
      /* vertical bar for second level items */
      > div:before,
      &:last-of-type > div:before {
        position: absolute;
        top: calc(-1 * var(--chart-spacing));
        left: calc(var(--chart-spacing)/2 + 50%);
        display: block;
        width: var(--chart-border-width);
        height: var(--chart-spacing);
        content: "";
        transform: translate(
        calc((var(--chart-spacing) / -2) + (var(--chart-border-width) / 2))
        );
        border: none;
        background: var(--chart-line-color);
        @media (forced-colors: active) {
          border-top: 0;
          border-left: var(--border-width--md) solid transparent;
        }
      }
    }
  }
}
#drupal-off-canvas-wrapper .org-chart,
#drupal-off-canvas-wrapper .org-chart *,
#drupal-off-canvas-wrapper .org-chart *:before {
  all: unset;
}
