/*------------------------------------------------------------------------------
Molecule: Forms - User Login
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.user-login-form {
  @media (min-width: $medium) {
    justify-content: flex-start;
    width: var(--content-area-max-width--sm);
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding: var(--space--md);
  .manual-login,
  .cas-login-link {
    @media (min-width: $medium) {
      width: 50%;
      margin: var(--space--xs) auto;
    }
  }
  .manual-login {
    margin-bottom: var(--space--md);
  }
  .textfield,
  .password,
  .form-actions {
    display: none;
  }
}
[data-theme="dark"] {
  .user-login-form {
    .cas-login-link {
      color: var(--white);
      &:hover,
      &:focus,
      &:active {
        color: var(--black);
      }
      &:visited {
        &:hover,
        &:focus,
        &:active {
          color: var(--black);
        }
      }
    }
  }
}
