/*------------------------------------------------------------------------------
Atom: Forms - Drupal Webform Specific Styles

--------------------------------------------------------------------------------
1. File Input
2. Grids
3. Wizard Pages
4. Flexbox
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
1. File Input
------------------------------------------------------------------------------*/
.form-managed-file {
  .form-file {
    display: inline-block;
    margin-right: var(--space--md);
    margin-bottom: var(--space--md);
  }
}
/*------------------------------------------------------------------------------
2. Grids
------------------------------------------------------------------------------*/
.webform-grid {
  // Overwrite our radio button styles for default radio buttons
  input[type="radio"] {
    position: relative;
    width: inherit;
    height: inherit;
    margin: auto;
    opacity: 1;
  }
  // Make the whole table cell clickable
  .checkbox {
    label {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      clip: inherit;
      height: 100%;
      opacity: 0;
    }
  }
}
form {
  .description {
    margin-bottom: var(--space--md);
    color: var(--gray);
    font-size: var(--font-size--sm);
  }
  .form-item {
    margin-bottom: var(--space--md);
  }
}
/*------------------------------------------------------------------------------
3. Wizard Pages
------------------------------------------------------------------------------*/
.webform-progress-tracker {
  .progress-step {
    &.is-complete {
      .progress-title {
        &[role="link"] {
          text-decoration: underline;
          color: var(--darker--20);
        }
        &:after {
          --checkmark-size: 3.75rem;

          @include breakpoint($large) {
            left: var(--checkmark-size);
          }
          @include breakpoint($medium) {
            left: var(--space--2xl);
          }

          position: relative;
          top: calc(-1 * var(--space--md));
          left: var(--space--2xl);
          display: block;
          width: calc(var(--checkmark-size) * 2);
          height: var(--checkmark-size);
          content: "";
          transform: scale(0.5);
          background-image: url("../images/forms/green-check.png");
          background-repeat: no-repeat;
        }
      }
    }
    &.is-active {
      &:hover .progress-marker {
        color: var(--light-green--lighter--40);
        background: var(--blue--darker--20);
      }
      .progress-marker {
        background-color: var(--blue);
        &:hover,
        &:active {
          color: var(--light-green--lighter--40);
          background: var(--blue--darker--20);
        }
      }
    }
    .progress-marker {
      &:hover,
      &:focus {
        background-color: var(--blue--darker--20);
      }
    }
  }
}
/*------------------------------------------------------------------------------
1. Flexbox
------------------------------------------------------------------------------*/
.webform-name {
  > .webform-flexbox {
    margin: 0;
  }
  .webform-flex--container {
    margin-left: 0;
  }
  .webform-flex:last-of-type .webform-flex--container {
    margin-right: 0;
  }
}
