{#
/**
 * @see templates/layout/page-template.html.twig
 */
#}

<div class="page">
  {% block header %}
    <header class="site-header" role="banner">
      {% block wwu_pre_header %}
        {% include "@organisms/headers/pre-header/pre-header.html.twig" %}
      {% endblock %}

      {% block wwu_header %}
        {% include "@organisms/headers/wwu-header/wwu-header.html.twig" %}
      {% endblock %}

      {% block splash %}
        <div class="splash">
          {{ page.header }}
        </div>
      {% endblock %}

      {% block main_navigation %}
        {{ page.main_navigation }}
      {% endblock %}
     </header>
  {% endblock %}

  {% block content %}
    {{ page.content }}
  {% endblock %}

  {% block footer %}
    <footer class="page-footer region region--footer" role="contentinfo">
      {% block site_footer %}
        {% include "@organisms/footers/site-footer/site-footer.html.twig" %}
      {% endblock %}
      {% block wwu_footer %}
        {% include "@organisms/footers/wwu-footer/wwu-footer.html.twig" %}
      {% endblock %}
    </footer>
  {% endblock %}

  {% block bottom %}
  {% endblock %}
</div>
