{#
/**
 * @see templates/layout/page-template.html.twig
 */
#}

<div class="page">
  {% block header %}
    <header class="site-header" role="banner">
      {% block wwu_pre_header %}
        {% include "@organisms/headers/pre-header/pre-header.html.twig" %}
      {% endblock %}

      {% block top %}
      {% endblock %}

      {% block wwu_header %}
        {% include "@organisms/headers/wwu-header/wwu-header.html.twig" %}
      {% endblock %}

      {% block main_navigation %}
        {{ page.main_navigation }}
      {% endblock %}

      {% block splash %}
        <div class="splash">
          {{ page.header }}
        </div>
      {% endblock %}
     </header>
  {% endblock %}

  {% block content %}
  {% if logged_in %}
    <div class="status-alert max-width--content">
      <div class="status-alert--message status-alert--major">
          <p class="material-icons status-color" aria-hidden="true">
              error_outline
          </p>

        <div class="body">
          <h2>Coming Soon: Drupal Theme Updates</h2>

         <p>Ashlar is receiving a major update soon. Some styles all users see will be affected.
          WebTech recommends you <a href="https://wwu-stephanie.github.io/ashlar/changelog/version-5">read
          the release notes</a>. You can also
          <a href="https://wwu-stephanie.github.io/ashlar/patterns/overview">browse the new pattern
          library</a>.</p>
          <p>The administration theme which editors see will be switched to Claro. Please <a href="https://westerntoday.wwu.edu/news/webtech-summer-recap-july-august-september-2022#claro">read our
          announcement</a> about the theme if you would like more information.</p>

         <p class="font-size--smaller">You are seeing this message because you are logged into a Drupal site.</p>
        </div>
      </div>
    </div>
    {% endif %}

    {{ page.content }}
  {% endblock %}

  {% block footer %}
    <footer class="page-footer region region--footer" role="contentinfo">
      {% block site_footer %}
        {% include "@organisms/footers/site-footer/site-footer.html.twig" %}
      {% endblock %}
      {% block wwu_footer %}
        {% include "@organisms/footers/wwu-footer/wwu-footer.html.twig" %}
      {% endblock %}
    </footer>
  {% endblock %}

  {% block bottom %}
  {% endblock %}
</div>
