{#
/**
 * @see templates/layout/page-template.html.twig
 */
#}

<div class="page">
  
  <header class="site-header">
    <a href="#main-content" class="skip-link visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    
    {% block top %}
    {% endblock %}

    <div class="covid-attestation"><h2><a href="https://wwu.edu/attest">COVID-19 Symptom Attestation</a></h2></div>

    {% block wwu_header %}
      {% include "@organisms/headers/wwu-header/wwu-header.html.twig" %}
    {% endblock %}

    {% block splash %}
      <div class="splash">
        {{ page.header }}
      </div>
    {% endblock %}
  </header>

  {% block content %}
    {{ page.content }}
  {% endblock %}

  {% block footer %}
    <footer role="contentinfo" class="page-footer region region--footer">
      {% block site_footer %}
        {% include "@organisms/footers/site-footer/site-footer.html.twig" %}
      {% endblock %}
      {% block wwu_footer %}
        {% include "@organisms/footers/wwu-footer/wwu-footer.html.twig" %}
      {% endblock %}
    </footer>
  {% endblock %}

  {% block bottom %}
  {% endblock %}
</div>
