/*------------------------------------------------------------------------------
Molecule: Cards - Alternate styles
--------------------------------------------------------------------------------
1. Color block title
2. Degree
3. Event
4. Event alternate
6. Information
7. Information - Split style
8. Simple
9. Institute
--------------------------------------------------------------------------------
1. Color block title
------------------------------------------------------------------------------*/
.card.color-block-title,
.wwu-card.color-block-title {
  --h1-color: var(--white);
  --h2-color: var(--white);
  --h3-color: var(--white);
  --h4-color: var(--white);
  --h5-color: var(--white);
  --h6-color: var(--white);
  .title {
    --link-color: var(--white);
    --link-color--visited: var(--white);

    order: -2;
    margin-bottom: 0;
    padding: var(--space--md);
    background-color: var(--blue);
  }
  &.dark-blue {
    .title {
      --link-color: var(--blue--lighter--40);
      --link-color--visited: var(--purple--lighter--80);

      background-color: var(--dark-blue);
    }
  }
  &.light-green {
    --h1-color: var(--dark-blue);
    --h2-color: var(--dark-blue);
    --h3-color: var(--dark-blue);
    --h4-color: var(--dark-blue);
    --h5-color: var(--dark-blue);
    --h6-color: var(--dark-blue);
    .title {
      --link-color: var()-dark-blue--darker--60;
      --link-color--visited: var(--purple);

      background-color: var(--light-green);
    }
  }
}
/*------------------------------------------------------------------------------
2. Degree (from wwu.edu/majors individual pages)
------------------------------------------------------------------------------*/
.degree-card {
  display: grid;
  grid-template-areas: "taxonomy"
  "title"
  "body"
  "more";
  grid-template-rows: auto auto 1fr auto;
  .title {
    grid-area: title;
    padding: var(--space--md) var(--space--md) 0 var(--space--md);
    h3 {
      margin-top: 0;
      font-size: var(--font-size--3xl);
    }
  }
  .taxonomy-terms {
    grid-area: taxonomy;
    padding: 0;
  }
  .taxonomy-term {
    margin-right: var(--space--xs);
    padding: var(--space--xs) var(--space--sm);
  }
  .taxonomy-term .material-icons {
    font-size: var(--icon-size--sm);
  }
  .body {
    grid-area: body;
    padding: 0 var(--space--md) var(--space--sm) var(--space--md);
    h4 {
      margin-bottom: 0;
      text-transform: uppercase;
      color: var(--black);
      font-size: var(--font-size--sm);
      font-weight: bold;
    }
  }
  .department-links > div {
    margin: var(--space--md) 0;
  }
  .department-link {
    text-decoration: none;
    font-size: var(--font-size--md);
    font-weight: bold;
    .material-icons {
      font-size: var(--icon-size--sm);
    }
  }
  .more-link {
    grid-area: more;
    margin-left: var(--space--md);
  }
}
/*------------------------------------------------------------------------------
3. Event
------------------------------------------------------------------------------*/
.card.event,
.wwu-card.event {
  align-content: start;
  .image {
    margin-bottom: calc(-1 * var(--space--lg));
  }
  .date {
    flex: 0 1 40%;
    order: 0;
    margin-right: calc(-1 * var(--space--md));
    padding-left: var(--space--md);
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    .year {
      display: block;
      padding: 0 var(--space--lg) var(--space--md) var(--space--lg);
      color: var(--white);
      border: var(--border-width--md) solid transparent;
      border-top: none;
      background-color: var(--blue);
      font-size: var(--font-size--lg);
      font-weight: var(--font-weight--regular);
    }
    .month {
      display: block;
      padding: var(--space--md) var(--space--lg) 0 var(--space--lg);
      color: var(--white);
      border: var(--border-width--md) solid transparent;
      border-bottom: none;
      background-color: var(--blue);
      font-size: var(--font-size--2xl);
      font-weight: var(--font-weight--regular);
    }
    .day {
      display: block;
      white-space: nowrap;
      word-spacing: -0.2em;
      color: var(--white);
      border-right: var(--border-width--md) solid transparent;
      border-left: var(--border-width--md) solid transparent;
      background-color: var(--blue);
      font-size: var(--font-size--5xl);
      font-weight: var(--font-weight--semibold);
    }
  }
  .title {
    order: 1;
    margin-top: var(--space--md);
    padding-right: var(--space--lg);
    padding-left: var(--space--lg);
  }
  .location {
    flex: 1 1 60%;
    order: 2;
    align-self: flex-end;
    margin-bottom: 0;
    padding: 0 var(--space--sm) var(--space--sm) var(--space--lg);
    text-transform: uppercase;
    color: var(--blue);
    font-style: normal;
    line-height: 1;
  }
  .body {
    order: 3;
    padding-right: var(--space--lg);
    padding-left: var(--space--lg);
  }
}
/*------------------------------------------------------------------------------
4. Event Alternate
------------------------------------------------------------------------------*/
.card.event.alt,
.wwu-card.event.alt {
  display: grid;
  grid-template-areas: "image image"
  "date title"
  "date location"
  "body body"
  "terms terms";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  .title {
    @include blue-bg;

    display: flex;
    grid-area: title;
    align-items: end;
    height: 100%;
    margin: 0;
    padding-top: var(--space--md);
    border-top: var(--border-width--sm) solid transparent;
  }
  .image {
    grid-area: image;
    margin-bottom: 0;
  }
  .date {
    display: grid;
    grid-area: date;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    .month {
      display: grid;
      align-content: end;
      padding: var(--space--sm);
      border: var(--border-width--sm) solid transparent;
      background-color: var(--dark-blue);
    }
    .day,
    .year {
      padding: var(--space--sm);
      color: var(--dark-blue);
      border-width: var(--border-width--sm);
      border-bottom: var(--border-width--sm) solid transparent;
      background-color: var(--light-green);
    }
    .day {
      padding-bottom: 0;
    }
    .year {
      padding-top: 0;
    }
  }
  .location {
    @include blue-bg;

    display: flex;
    grid-area: location;
    align-items: start;
    height: 100%;
    border-bottom: var(--border-width--sm) solid transparent;
  }
  .body {
    grid-area: body;
    padding: var(--space--md);
    padding-bottom: 0;
  }
  .taxonomy-terms {
    grid-area: terms;
    padding: var(--space--md);
  }
  &:focus-within {
    .title {
      a:after {
        outline-color: var(--dark-blue--darker--80);
      }
    }
  }
}
/*------------------------------------------------------------------------------
9. Institute
------------------------------------------------------------------------------*/
.card.institute,
.wwu-card.institute {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 0;
  .image {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin-bottom: 0;
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: "";
      opacity: 0.9;
      background-color: var(--white);
    }
  }
  .content {
    z-index: 1;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding: var(--space--xs);
    color: var(--black);
    p {
      font-size: var(--font-size--xs);
      line-height: 1.3;
    }
    img {
      float: left;
      max-width: 40%;
    }
  }
  .intro {
    text-transform: uppercase;
    color: var(--dark-blue--darker--40);
  }
  .title {
    gap: var(--space--xs);

    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: var(--font--title);
    font-size: var(--font-size--md);
    a {
      color: var(--dark-blue);
      &:hover {
        color: var(--blue);
      }
      &:visited {
        color: var(--purple);
      }
    }
  }
  .material-icons {
    color: var(--white);
    background-color: var(--dark-blue--darker--20);
    font-size: var(--icon-size--md);
  }
}
/*------------------------------------------------------------------------------
. Hover Variant
------------------------------------------------------------------------------*/
.hover-card {
  position: relative;
  margin-bottom: var(--space--md);
  p {
    font-size: var(--font-size--xs);
    font-weight: var(--font-weight--light);
    line-height: 1.2;
  }
  .title {
    padding: var(--space--sm);
    background-color: rgba(var(--dark-blue--darker--40--rgb), 0.75);
    .block__title {
      color: var(--white);
    }
    a {
      text-decoration: none;
      color: var(--white);
      font-family: var(--font--title);
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        transition: var(--transition-speed--md) var(--ease--standard) box-shadow;
        box-shadow: var(--shadow--soft);
      }
      &:active,
      &:hover,
      &:focus {
        background-image: none;
      }
      &:focus {
        outline: none;
        &:after {
          outline: dotted var(--border-width--md) var(--blue);
          outline-offset: var(--border-width--md);
        }
      }
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      font-size: var(--font-size--md);
    }
  }
  .body {
    padding: var(--space--sm);
    padding-right: var(--toggle-size--sm);
  }
  .read-more {
    position: absolute;
    right: 0;
    bottom: var(--space--sm);
    display: grid;
    align-content: center;
    justify-content: center;
    width: var(--toggle-size--sm);
    color: var(--blue);
    .material-icons {
      font-size: var(--icon-size--sm);
    }
  }
  .image {
    position: relative;
    z-index: -1;
    img {
      display: block;
    }
  }
  @media (min-width: $small) and (prefers-reduced-motion: no-preference) {
    display: grid;
    overflow-y: hidden;
    .image {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .title {
      display: grid;
      align-content: center;
      min-height: calc((var(--font-size--md) * 3) + (var(--space--sm) * 3));
      margin: 0;
      padding: var(--space--sm);
      padding-right: var(--toggle-size--sm);
      background-color: transparent;
      a {
        &:focus {
          outline: none;
          &:after {
            outline: dotted var(--border-width--md) var(--white);
            outline-offset: calc(-1 * var(--border-width--md));
          }
        }
      }
    }
    .content {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      transition: 0.3s all ease-in;
      transform: translatey(calc(100% - (var(--font-size--md) * 3) - (var(--space--sm) * 3)));
      background-color: rgba(var(--dark-blue--darker--40--rgb), 0.9);
    }
    .body {
      padding-top: 0;
      padding-right: var(--space--md);
      padding-bottom: calc(var(--toggle-size--md) * (2 / 3));
      padding-left: var(--space--md);
      color: var(--white);
    }
    .read-more {
      bottom: 0;
      width: var(--touch-target--min);
      height: var(--touch-target--min);
      transition: 0.3s all ease-in-out;
      color: var(--white);
      .material-icons {
        transition: 0.3s all ease-in-out;
        transform: translatey(-50%);
      }
    }
    &:hover,
    &:focus-within {
      .content {
        transition: 0.3s all ease-out;
        transform: translatey(0%);
      }
      .read-more {
        background-color: var(--blue);
        .material-icons {
          transform: translatey(0);
        }
      }
    }
  }
}
