/*------------------------------------------------------------------------------
Molecule: Card Containers
--------------------------------------------------------------------------------
1. Column layouts
  a. Grid
  b. Flex
  c. Section divider
2. Flex layouts
--------------------------------------------------------------------------------
1. Column layouts
------------------------------------------------------------------------------*/
/* a. Grid -------------------------------------------------------------------*/
.card-2col,
.card-3col,
.card-4col,
.card-5col,
.card-2col--view .view-content,
.card-3col--view .view-content,
.card-4col--view .view-content,
.card-5col--view .view-content {
  display: grid;
  grid-column-gap: var(--space--sm);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.card-2col,
.card-2col--view .view-content {
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .pager {
    grid-column: 1 / span 2;
  }
}
.card-3col,
.card-3col--view .view-content {
  --h2-size: var(--font-size--2xl);
  --h3-size: var(--font-size--xl);
  --h4-size: var(--font-size--lg);
  --h5-size: var(--font-size--md);
  --h6-size: var(--font-size--md);
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .pager {
    grid-column: 1 / span 3;
  }
}
.card-4col,
.card-4col--view .view-content {
  --h2-size: var(--font-size--xl);
  --h3-size: var(--font-size--lg);
  --h4-size: var(--font-size--md);
  --h5-size: var(--font-size--md);
  --h6-size: var(--font-size--md);
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .pager {
    grid-column: 1 / span 4;
  }
}
.card-5col,
.card-5col--view .view-content {
  --h2-size: var(--font-size--lg);
  --h3-size: var(--font-size--md);
  --h4-size: var(--font-size--md);
  --h5-size: var(--font-size--sm);
  --h6-size: var(--font-size--sm);
  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .pager {
    grid-column: 1 / span 5;
  }
}
/* b. Flex -------------------------------------------------------------------*/
.card-2col--flex,
.card-3col--flex,
.card-4col--flex,
.card-5col--flex {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space--xs);
  .card,
  .wwu-card,
  .hover-card {
    flex: 0 1 100%;
  }
  &.flex-fill {
    .card,
    .wwu-card,
    .hover-card {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}
.card-2col--flex {
  .card,
  .wwu-card,
  .hover-card {
    @media (min-width: $small) {
      flex: 0 1 calc(50% - var(--space--xs));
    }
  }
}
.card-3col--flex {
  --h2-size: var(--font-size--2xl);
  --h3-size: var(--font-size--xl);
  --h4-size: var(--font-size--lg);
  --h5-size: var(--font-size--md);
  --h6-size: var(--font-size--md);
  .card,
  .wwu-card,
  .hover-card {
    @media (min-width: $small) {
      flex: 0 1 calc(33.33% - var(--space--xs));
    }
  }
}
.card-4col--flex {
  --h2-size: var(--font-size--xl);
  --h3-size: var(--font-size--lg);
  --h4-size: var(--font-size--md);
  --h5-size: var(--font-size--md);
  --h6-size: var(--font-size--md);
  .card,
  .wwu-card,
  .hover-card {
    @media (min-width: $small) {
      flex: 0 1 calc(25% - var(--space--xs));
    }
  }
}
.card-5col--flex {
  --h2-size: var(--font-size--lg);
  --h3-size: var(--font-size--md);
  --h4-size: var(--font-size--md);
  --h5-size: var(--font-size--sm);
  --h6-size: var(--font-size--sm);
  .card,
  .wwu-card,
  .hover-card {
    @media (min-width: $small) {
      flex: 0 1 calc(20% - var(--space--xs));
    }
  }
}
/* a. Section divider --------------------------------------------------------*/
.card--flex--section-divider {
  flex: 0 0 100%;
}
/*------------------------------------------------------------------------------
2. Flex layouts
------------------------------------------------------------------------------*/
.layout--flex {
  .layout__region {
    .wwu-card {
      flex: 1;
      margin: 0 var(--space--xs);
    }
  }
}
