/**
* @file
* molecules/components/card/_degree-card.scss
*/
.degree-card {
  display: grid;
  grid-template-areas: "taxonomy"
  "title"
  "body"
  "more";
  grid-template-rows: auto auto 1fr auto;
  .title {
    grid-area: title;
    padding: var(--space--md) var(--space--md) 0 var(--space--md);
    h3 {
      margin-top: 0;
      font-size: var(--font-size--3xl);
    }
  }
  .taxonomy-terms {
    grid-area: taxonomy;
    padding: 0;
  }
  .taxonomy-term {
    margin-right: var(--space--xs);
    padding: var(--space--xs) var(--space--sm);
  }
  .taxonomy-term .material-icons {
    font-size: var(--icon-size--sm);
  }
  .body {
    grid-area: body;
    padding: 0 var(--space--md) var(--space--sm) var(--space--md);
    h4 {
      margin-bottom: 0;
      text-transform: uppercase;
      color: var(--black);
      font-size: var(--font-size--sm);
      font-weight: bold;
    }
  }
  .department-links > div {
    margin: var(--space--md) 0;
  }
  .department-link {
    text-decoration: none;
    font-size: var(--font-size--md);
    font-weight: bold;
    .material-icons {
      font-size: var(--icon-size--sm);
    }
  }
  .more-link {
    grid-area: more;
    margin-left: var(--space--md);
  }
}
[data-theme="dark"] .degree-card {
  .department-link {
    color: var(--white);
    &:hover,
    &:active,
    &:focus {
      color: var(--light-green);
      background-color: var(--black);
    }
  }
  .body {
    h4 {
      color: var(--light-green--lighter--40);
    }
  }
}
