/**
* @file
* molecules/messaging/status-alert/_status-alert.scss
*/
$status-icon-size: 4.5rem;

.status-alert {
  @include font-size--smaller;
  border-width: $border-width--thicker;

  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    font-family: $sans-serif;
  }

  .material-icons {
    display: block;
    text-align: center;
    font-size: $status-icon-size;
  }

  .status {
    @include breakpoint($large) {
      font-size: $h5-font-size--max;
    }
    text-align: center;
    font-size: $h5-font-size;
    font-weight: $font-weight--bold;
  }

  .severity {
    text-align: center;
  }

  summary {
    @include breakpoint($large) {
      font-size: $h6-font-size--max;
    }
    margin-bottom: $standard-spacing;
    padding: $half-spacing;
    cursor: pointer;
    text-align: center;
    font-size: $h6-font-size;
  }
}

.status-alert--message {
  @include message($blue, $black);
  padding: $standard-spacing;

  &.status-alert--minor {
    @include message($blue, $black);
  }

  &.status-alert--major {
    @include message($yellow, $black);
  }

  &.status-alert--critical {
    @include message($red, $black);
  }

  &.status-alert--resolved {
    @include message($green, $black);
  }
}

.dark-mode {
  .status-alert--message {
    @include message($blue, $white);
    padding: $standard-spacing;

    &.status-alert--minor {
      @include message($blue, $white);
    }

    &.status-alert--major {
      @include message($yellow, $white);
    }

    &.status-alert--critical {
      @include message($red, $white);
    }

    &.status-alert--resolved {
      @include message($green, $white);
    }
  }
}

.opendyslexic {
  .status-alert {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $opendyslexic;
    }
  }
}

.atkinson {
  .status-alert {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $atkinson;
    }
  }
}
