/**
* @file
* 01-molecules/org-charts/_flowcharts.scss
*/

$chart-background-color: $white;
$line-color: mix($light-gray, $gray, 50%);
$max-box-size: 300px;

.flowchart {
  position: relative;
  display: grid;
  justify-content: center;
  max-width: $max-content-width;
  background: $chart-background-color;
  font-size: $p-font-size--smaller;

  figcaption {
    text-align: center;
  }

  ol {
    position: relative;
    display: flex;
    list-style-type: none;

    li {
      @include breakpoint($medium) {
        margin-right: $double-spacing;
        max-width: $max-box-size;
      }
      position: relative;
      margin-top: $standard-spacing;

      span,
      a {
        @include breakpoint($medium) {
          max-width: none;
          padding: $standard-spacing;
        }
        position: relative;
        display: block;
        max-width: $max-box-size;
        margin: 0;
        margin-top: $standard-spacing;
        margin-left: $standard-spacing;
        padding: $half-spacing;
        text-align: center;
        text-decoration: none;
        background: $light-gray;
      }

      a {
        color: white;
        background: $blue;

        &:hover,
        &:focus,
        &:active {
          color: $dark-blue;
          background-color: $light-green;
        }
      }

    }

    &.level-a {
      flex-flow: column;
    }

    &.level-b {
      margin-left: -($double-spacing + ($standard-spacing + 4px));
      flex-flow: column nowrap;
    }

    &.level-c {
      @include breakpoint($medium) {
        display: grid;
      }
      flex-flow: column wrap;
      margin-left: -($triple-spacing + ($standard-spacing / 3));
    }
  }

&.simple {
  .level-a {
    @include breakpoint($medium) {
    display: grid;
    grid-template-columns: repeat(10, auto);
  }

    li {
      @include breakpoint($medium) {
      /* horizontal bar for nested items */
      > span:before,
      > a:before {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: $standard-spacing + $border-width;
          height: 50%;
          content: "";
          transform: translate(-180%);
          border-top: solid $line-color $border-width;
          background: transparent;
        }

      &:first-of-type > span:before,
      &:first-of-type > a:before,
      &:first-child > .level-c:before {
        display: none;
        }
      }
    }
  }
}

&.multi-step {

  .level-a {
    @include breakpoint($medium) {
      display: grid;
      grid-template-rows: repeat(10, auto);
    }
  }

  .level-b {
    @include breakpoint($medium) {
      display: grid;
      grid-template-columns: repeat(10, auto);
      justify-content: center;
    }

    li {
      @include breakpoint($medium) {
        margin-left: 0 !important; //large screen overrides, resets left margin from mobile
      }
      width: $max-box-size / 2;
      margin-left: $double-spacing;
    }
  }
}
}
