<figure class="flowchart simple">
<figcaption>Simple Flowchart Caption</figcaption>
<ol class="level-a">
  <li><span>Step 1</span></li>
  <li><span>Step 2</span></li>
  <li><span>Step 3</span></li>
  <li><span>Step 4</span></li>
  <li><span>Step 5</span></li>
  <li><a href="#">Step 6</a></li>
</ol>
</figure>

<figure class="flowchart multi-step">
<figcaption>Flowchart with Sub Lists Caption</figcaption>
<ol class="level-a">
  <li><span>Step 1</span></li>
  <li><a href="#">Step 2</a></li>
  <li><span>Step 3</span></li>
  <li><span>Step 4</span></li>
  <li><span>Step 5</span>
  <ol class="level-b">
    <li><span>Step 5a</span>
    <ol class="level-c">
        <li><span>Step 6</span></li><li><span>Step 7</span></li><li><span>Step 8</span></li>
      </ol>
    </li>
    <li><span>Step 5b</span>
    <ol class="level-c">
        <li><span>Step 6</span></li><li><span>Step 7 has a lot of text because we need to check on that</span></li><li><span>Step 8</span></li>
      </ol>
    </li><li><span>Step 5c with a little more description</span>
    <ol class="level-c">
        <li><a href="#">Step 6</a></li><li><span>Step 7</span></li><li><span>Step 8</span></li>
      </ol>
    </li><li><span>Step 5d</span>
    <ol class="level-c">
        <li><span>Step 6</span></li>
        <li><span>Step 7</span></li>
        <li><span>Step 8</span>
          <ol>
          <li><span>Step 8a</span></li>
          <li><span>Step 8b</span></li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>
</li>
</ol>
</figure>
