<figure class="flowchart">
<figcaption>Simple Flowchart Caption</figcaption>
<ol class="level-a">
<li>Step 1</li>
<li>Step 2</li>
<li>Step 3</li>
<li>Step 4</li>
<li>Step 5</li>
<li>Step 6</li>
</ol>
</figure>

<figure class="flowchart">
<figcaption>Flowchart with Sub Lists Caption</figcaption>
<ol class="level-a">
<li>Step 1</li>
<li>Step 2</li>
<li>Step 3</li>
<li>Step 4</li>
<li>Step 5
  <ol class="level-b">
    <li>Step 5a
      <ol class="level-c" start="6">
      <li>Step 6</li>
      </ol>
    </li>
    <li>Step 5b
      <ol class="level-c" start="6">
      <li>Step 6</li>
      </ol>
    </li>
  </ol>
  </ol>
</li>
</ol>
</figure>
