<figure class="flowchart">
<figcaption>Simple Flowchart Caption</figcaption>
<ol class="level-a">
<li><span>Step 1</span></li>
<li><span>Step 2</span></li>
<li><span>Step 3</span></li>
<li><span>Step 4</span></li>
<li><span>Step 5</span></li>
<li><a href="#">Step 6</a></li>
</ol>
</figure>

<figure class="flowchart">
<figcaption>Flowchart with Sub Lists Caption</figcaption>
<ol class="level-a">
<li><span>Step 1</span></li>
<li><span>Step 2</span></li>
<li><span>Step 3</span></li>
<li><span>Step 4</span></li>
<li><span>Step 5</span>
  <ol class="level-b">
    <li><span>Step 5a</span>
      <ol class="level-c">
      <li><span>Step 6</span></li>
      </ol>
    </li>
    <li><span>Step 5b</span>
      <ol class="level-c">
      <li><span>Step 6</span></li>
      </ol>
    </li>
  </ol>
  </ol>
</li>
</ol>
</figure>
