<figure class="flowchart simple">
<figcaption>Simple Flowchart Caption</figcaption>
<ol class="level-a">
  <li><span>Step 1</span></li>
  <li><span>Step 2</span></li>
  <li><span>Step 3, but with a little more text</span></li>
  <li><span>Step 4</span></li>
  <li><span>Step 5</span></li>
  <li><a href="#">Step 6</a></li>
</ol>
</figure>

<figure class="flowchart multi-step">
<figcaption>Flowchart with Sub Lists Caption</figcaption>
<ol class="level-a">
  <li><span>Fill out application</span></li>
  <li><a href="#">Complete financial aid</a></li>
  <li><span>Wait for results</span></li>
  <li><span>Get accepted to universities</span></li>
  <li><span>Choose a university</span>
  <ol class="level-b">
    <li><span>WWU</span>
    <ol class="level-c">
        <li><span>Go to orientation</span></li><li><span>Attend class</span></li><li><span>Choose a major</span></li>
      </ol>
    </li>
    <li><span>WSU</span>
    <ol class="level-c">
        <li><span>Go to orientation</span></li><li><span>Attend class, but with a little more text</span></li><li><span>Choose a major</span></li>
      </ol>
    </li><li><span>University of Washington</span>
    <ol class="level-c">
        <li><a href="#">Go to orientation</a></li><li><span>Attend class</span></li><li><span>Choose a major</span></li>
      </ol>
    </li><li><span>U of Puget Sound</span>
    <ol class="level-c">
        <li><span>Go to orientation</span></li>
        <li><span>Attend class</span></li>
        <li><span>Choose a major</span>
          <ol class="level-d">
          <li><span>Do your major</span></li>
          <li><span>Don't do your major</span></li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>
</li>
</ol>
</figure>
