/**
 * @file
 * organisms/headers/header-region/header-region.scss
 */

.western-header-region {
  .block {
    @include breakpoint($medium) {
      margin: initial;
      padding: 0;
      text-align: left;
      border: none;
    }
    @include breakpoint($large) {
      font-size: $p-font-size--max--smaller;
    }
    @include dark-blue-bg;
    padding: $standard-spacing;
    text-align: center;
    color: $white;
    border-bottom: solid $border-width--thinner $blue;
    font-size: $p-font-size--smaller;

    .block__title {
      margin: 0;
      font-family: $sans-serif;
      font-size: $p-font-size;
      font-weight: $font-weight--regular;
    }

    a:not([class]) {
      text-decoration: none;
      color: $white;
    }
  }

  .menu {
    @include breakpoint ($small) {
      justify-content: end;
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 0;
    padding: $standard-spacing 0;

    li {
      margin-right: $standard-spacing;
      margin-bottom: $half-spacing;
      border: none;

      a {
        @include button-box-shadow($white);
        padding: $half-spacing;
        text-align: center;
        color: white;
        border: solid $border-width--thinner $white;
        border-radius: $border-radius--round;
        font-size: 1rem;
        line-height: 1em;

        &:hover,
        &:active,
        &:focus {
          color: $dark-blue;
          outline-color: $white;
        }
      }
    }
  }
}
