/*------------------------------------------------------------------------------
Organism: Headers - Header region
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.western-header-region {
  .block {
    @include breakpoint($medium) {
      margin: initial;
      padding: 0;
      text-align: left;
      border: none;
    }
    @include dark-blue-bg;
    padding: var(--space--sm);
    text-align: center;
    border-bottom: solid var(--border-width--sm) var(--blue);
  }

  .menu {
    @include breakpoint($small) {
      justify-content: end;
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 0;
    padding: var(--space--sm) 0;

    li {
      margin-right: var(--space--sm);
      margin-bottom: var(--space--xs);
      border: none;
    }
  }
}
