/*------------------------------------------------------------------------------
Templates: Layouts - One column
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.layout--onecol .layout__region {
  @include breakpoint(62.5rem) {
    max-width: var(--content-area-max-width--sm);
  }

  width: 100%;
  margin: auto;
}

.layout--onecol--full .layout__region {
  @include breakpoint($large) {
    max-width: var(--content-area-max-width);
    margin: auto;
  }

  width: 100%;
}

.layout--onecol--page-width {
  @include breakpoint($large) {
    margin-right: calc(50% - 50vw - var(--space--xs));
    margin-left: calc(50% - 50vw - var(--space--xs));
  }

  max-width: 100vw;
  margin-right: calc(-1 * (var--space--sm));
  margin-left: calc(-1 * (var--space--sm));

  .layout__region {
    max-width: none;
    margin: 0;
  }
}
