/*------------------------------------------------------------------------------
Molecule: Text - Section title
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.section-title {
  font-size: var(--font-size--3xl);
  font-weight: var(--font-weight--black);
  font-display: swap;
  &:after {
    display: none;
  }
}
