/*------------------------------------------------------------------------------
Molecule: Messages
--------------------------------------------------------------------------------
Drupal system messages
------------------------------------------------------------------------------*/

.messages {
  ul {
    margin-bottom: 0;
  }
}
.messages--status,
.messages--warning,
.messages--error {
  display: block;
  margin-bottom: $half-spacing;
  padding: $half-spacing;
  text-align: center;
}

.messages--status {
  @include message($blue, $black);
}
.messages--warning {
  @include message($yellow, $black);
}
.messages--error {
  @include message($red, $black);
}

.node--unpublished {
  border-top: solid $border-width $warning-color;

  &:before {
    @include message($warning-color, $black);
    position: absolute;
    right: 0;
    content: "Unpublished";
  }
}

.dark-mode {
  .messages--status {
    @include message($blue, $white);
  }
  .messages--warning {
    @include message($yellow, $white);
  }
  .messages--error {
    @include message($red, $white);
  }

  .node--unpublished {
    &:before {
      @include message($warning-color, $white);
    }
  }
}
