/**
* @file
* molecules/messaging/messages/_messages.scss
*/

.messages {
  ul {
    margin-bottom: 0;
  }
}
.message--status,
.message--warning,
.message--error {
  display: block;
  margin-bottom: $half-spacing;
  padding: $half-spacing;
  text-align: center;
}

.messages--status {
  @include message($status-color);
}
.messages--warning {
  @include message($warning-color);
}
.messages--error {
  @include message($error-color);
}

.node--unpublished {
  border-top: solid $border-width $warning-color;

  &:before {
    @include message($warning-color);
    position: absolute;
    right: 0;
    content: "Unpublished";
  }
}
