/*------------------------------------------------------------------------------
Molecule: Messages
--------------------------------------------------------------------------------
Drupal system messages
------------------------------------------------------------------------------*/
.messages {
  ul {
    margin-bottom: 0;
  }
}
.messages--status,
.messages--warning,
.messages--error {
  display: block;
  margin-bottom: var(--space--sm);
  padding: var(--space--sm);
  text-align: center;
  border: solid var(--border-width--md);
}

.messages--status {
  border-color: rgba(var(--blue--rgb), 0.75);
  background-color: rgba(var(--blue--rgb), 0.15);
}
.messages--warning {
  border-color: rgba(var(--yellow--rgb), 0.75);
  background-color: rgba(var(--yellow--rgb), 0.15);
}
.messages--error {
  border-color: rgba(var(--red--rgb), 0.75);
  background-color: rgba(var(--red--rgb), 0.15);
}

.node--unpublished {
  border-top: solid var(--border-width--md--rgb) var(--yellow);

  &:before {
    position: absolute;
    right: 0;
    content: "Unpublished";
    border-color: rgba(var(--yellow--rgb), 0.75);
    background-color: rgba(var(--yellow--rgb), 0.15);
  }
}
