/*------------------------------------------------------------------------------
Atom: Text - Headings
--------------------------------------------------------------------------------
1. Default
2. Alternate styles
3. Display Preferences
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
1. Default
------------------------------------------------------------------------------*/
:root {
  --h1-color: var(--dark-blue--darker--80);
  --h1-size: var(--font-size--7xl);
  --h2-color: var(--dark-blue--darker--60);
  --h2-size: var(--font-size--4xl);
  --h3-color: var(--dark-blue--darker--40);
  --h3-size: var(--font-size--3xl);
  --h4-color: var(--dark-blue--darker--20);
  --h4-size: var(--font-size--2xl);
  --h5-color: var(--dark-blue);
  --h5-size: var(--font-size--xl);
  --h6-color: var(--dark-blue);
  --h6-size: var(--font-size--lg);
  @media (max-width: $small) {
    --h1-size: var(--font-size--5xl);
  }
  @media (max-width: $xsmall) {
    --h1-size: var(--font-size--4xl);
    --h2-size: var(--font-size--3xl);
    --h3-size: var(--font-size--2xl);
    --h4-size: var(--font-size--xl);
    --h5-size: var(--font-size--lg);
    --h6-size: var(--font-size--md);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--space--xl) 0 var(--space--xs);
  font-family: var(--font--title);
  font-weight: var(--font-weight--bold);
  font-display: fallback;
  line-height: 1.2;
  @media (max-width: $small) {
    overflow-wrap: anywhere;
  }
  @media print {
    margin-bottom: 0;
    page-break-inside: avoid;
  }
}
h1 {
  position: relative;
  display: block;
  color: var(--h1-color);
  font-size: var(--h1-size);
  font-weight: var(--font-weight--black);
}
h2 {
  color: var(--h2-color);
  font-size: var(--h2-size);
}
h3 {
  color: var(--h3-color);
  font-size: var(--h3-size);
}
h4 {
  color: var(--h4-color);
  font-size: var(--h4-size);
}
h5 {
  color: var(--h5-color);
  font-size: var(--h5-size);
}
h6 {
  color: var(--h6-color);
  font-size: var(--h6-size);
}
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}
/*------------------------------------------------------------------------------
2. Alternate Styles
------------------------------------------------------------------------------*/
.headings--big-and-bold,
.big-bold-headings {
  @media (min-width: $medium) {
    --h1-size: var(--font-size--9xl);
    --h2-size: var(--font-size--8xl);
    --h3-size: var(--font-size--7xl);
    --h4-size: var(--font-size--6xl);
    --h5-size: var(--font-size--5xl);
    --h6-size: var(--font-size--4xl);
  }
  h1,
  h2 {
    text-transform: uppercase;
    font-weight: var(--font-weight--black);
  }
}
.headings--uppercase {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    font-weight: var(--font-weight--black);
  }
}
/*------------------------------------------------------------------------------
3. Display Preferences
------------------------------------------------------------------------------*/
.font--dyslexia-friendly {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font--dyslexia-friendly);
  }
}
.font--hyperlegible {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font--hyperlegible);
  }
}
