/*------------------------------------------------------------------------------
Atom: Text - Headings
--------------------------------------------------------------------------------
1. Default
2. Alternate styles
3. Display Preferences
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
1. Default
------------------------------------------------------------------------------*/
:root {
  --h1-color: var(--blue--darker--80);
  --h2-color: var(--blue--darker--60);
  --h3-color: var(--blue--darker--40);
  --h4-color: var(--blue--darker--20);
  --h5-color: var(--blue);
  --h6-color: var(--blue);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--space--xl) 0 var(--space--xs);
  font-family: var(--font--title);
  font-weight: var(--font-weight--semibold);
  font-display: fallback;
  line-height: 1.2em;
  @media print {
    margin-bottom: 0;
    page-break-inside: avoid;
  }
}
h1 {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: var(--h1-color);
  font-family: var(--font--title);
  font-size: var(--font-size--7xl);
  font-weight: var(--font-weight--black);
}
h2 {
  color: var(--h2-color);
  font-size: var(--font-size--4xl);
  font-weight: var(--font-weight--bold);
}
h3 {
  color: var(--h3-color);
  font-size: var(--font-size--3xl);
}
h4 {
  color: var(--h4-color);
  font-size: var(--font-size--2xl);
}
h5 {
  color: var(--h5-color);
  font-size: var(--font-size--xl);
}
h6 {
  color: var(--h6-color);
  font-size: var(--font-size--lg);
}
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}
/*------------------------------------------------------------------------------
2. Alternate Styles
------------------------------------------------------------------------------*/
.headings--big-and-bold {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font--title);
  }
  h1 {
    @include breakpoint($medium) {
      font-size: var(--font-size--9xl);
    }

    padding-bottom: 0;
    text-transform: uppercase;
    font-size: var(--font-size--7xl);
    font-weight: var(--font-weight--black);
    &:after {
      display: none;
    }
  }
  h2 {
    @include breakpoint($medium) {
      font-size: var(--font-size--8xl);
    }

    text-transform: uppercase;
    font-size: var(--font-size--6xl);
    font-weight: var(--font-weight--black);
  }
  h3 {
    @include breakpoint($medium) {
      font-size: var(--font-size--7xl);
    }

    font-size: var(--font-size--5xl);
  }
  h4 {
    @include breakpoint($medium) {
      font-size: var(--font-size--6xl);
    }

    font-size: var(--font-size--4xl);
  }
  h5 {
    @include breakpoint($medium) {
      font-size: var(--font-size--5xl);
    }

    font-size: var(--font-size--3xl);
  }
}
.font-size--smaller {
  h1 {
    font-size: var(--font-size--3xl);
  }
  h2 {
    font-size: var(--font-size--2xl);
  }
  h3 {
    font-size: var(--font-size--xl);
  }
  h4 {
    font-size: var(--font-size--lg);
  }
  h5 {
    font-size: var(--font-size--md);
  }
  h6 {
    font-size: var(--font-size--sm);
  }
}
/*------------------------------------------------------------------------------
3. Display Preferences
------------------------------------------------------------------------------*/
.font--dyslexia-friendly {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font--dyslexia-friendly);
  }
  [class^="headings--"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font--dyslexia-friendly);
    }
  }
}
.font--hyperlegible {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font--hyperlegible);
  }
  [class^="headings"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font--hyperlegible);
    }
  }
}
