@use "../../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Molecule: Charts - Org Chart
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.wwu-org-chart {
  --blue-stripes: repeating-linear-gradient( 45deg, var(--blue--lighter--40), var(--blue--lighter--40) 5px, var(--blue--lighter--60) 5px, var(--blue--lighter--60) 10px);
  --chart-border-width: 2px;
  --chart-item-max-width: 18.75rem;
  --chart-line-color: var(--gray--lighter--40);
  --chart-spacing: 12px;
  --gray-stripes: repeating-linear-gradient( 45deg, var(--gray--lighter--20), var(--gray--lighter--20) 5px, var(--gray) 5px, var(--gray) 10px);
  --light-gray-stripes: repeating-linear-gradient( 45deg, var(--gray--lighter--60), var(--gray--lighter--60) 5px, var(--gray--lighter--80) 5px, var(--gray--lighter--80) 10px);

  position: relative;
  display: grid;
  justify-content: center;
  max-width: var(--content-area-max-width);
  background: var(--page-background);
  font-size: var(--font-size--sm);
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: var(--font--sans-serif);
    font-size: var(--font-size--sm);
    font-weight: var(--font-weight--regular);
  }
  ul {
    position: relative;
    display: flex;
    flex-flow: column;
    margin-bottom: 0;
    margin-left: var(--chart-spacing);
    padding: 0;
    list-style: none;
    &.level-1 {
      margin-left: 0;
      @media (min-width: $medium) {
        display: grid;
        grid-template-columns: repeat(10, auto);
        margin-left: 0;
      }
    }
    &.level-2 {
      margin-left: 0;
      @media (min-width: $medium) {
        display: grid;
        grid-template-columns: repeat(10, auto);
        margin-top: var(--chart-spacing);
        margin-left: 0;
      }
    }
    &.level-3 {
      margin-left: var(--chart-spacing);
      @media (min-width: $medium) {
        display: flex;
        flex-flow: column;
      }
    }
  }
  li {
    position: relative;
  }
  div {
    transition: var(--transition-speed--fast);
  }
  .item {
    position: relative;
    display: block;
    margin-top: var(--chart-spacing);
    margin-left: var(--chart-spacing);
    padding: var(--space--2xs);
    text-align: center;
    line-height: 1.2;
    @media (forced-colors: active) {
      border: var(--border-width--md) solid transparent;
    }
    a {
      display: inline-block;
      text-decoration: none;
      outline: none;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        transition: var(--transition-speed--fast) var(--ease--standard) box-shadow;
        box-shadow: var(--shadow--soft);
      }
    }
    &:hover,
    &:focus-within {
      &:has(a),
      &:has(a) div {
        @include light-blue-bg;
      }
      &:has(a).highlight {
        background: var(--blue-stripes);
      }
      a:after {
        outline: var(--outline--unset);
        outline-offset: var(--oline-offset);
        box-shadow: var(--shadow--soft--hover);
      }
    }
    &:focus-within {
      a:after {
        outline: var(--outline--focus);
      }
    }
  }
  .highlight {
    background: var(--light-gray-stripes);
  }
  .content {
    --h2-color: var(--default-text-color);
    --h3-color: var(--default-text-color);
    --h4-color: var(--default-text-color);
    --h5-color: var(--default-text-color);
    --h6-color: var(--default-text-color);

    transition: var(--transition-speed--fast) var(--ease--standard) background-color;
  }
  .unit {
    display: block;
    margin-bottom: var(--space--xs);
    text-transform: uppercase;
    font-family: var(--font--title);
    font-weight: var(--font-weight--bold);
  }
  .name {
    display: block;
    font-weight: var(--font-weight--bold);
  }
  .title {
    display: block;
    font-style: italic;
  }
  .highlight-legend {
    margin-top: var(--space--md);
    padding: var(--space--2xs);
    .highlight {
      padding: var(--space--2xs);
    }
  }
}
/*-------------------------------------------------------------------------------
Draw Lines
------------------------------------------------------------------------------*/
.wwu-org-chart {
  /* Lines for vertically nested items */
  [class^="item-level-"]:not(.item-level-1):not(.item-level-2) {
    max-width: var(--chart-item-max-width);
    /* vertical bar for nested items */
    border-left: solid var(--chart-border-width) var(--chart-line-color);
    /* horizontal bar for nested items */
    > .item:before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: calc(var(--chart-spacing) + var(--chart-border-width));
      height: 50%;
      content: "";
      transform: translate(-100%);
      border-top: solid var(--chart-border-width) var(--chart-line-color);
      background: transparent;
    }
    /* mask vertical bar for end items */
    &:last-of-type {
      > .item:before {
        background: var(--page-background);
        @media (forced-colors: active) {
          background: transparent;
        }
      }
    }
  }
  /* mask vertical bar for end items */
  [class^="item-level-"]:last-of-type:not(.item-level-1):not(.item-level-2) > ul:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: calc(var(--chart-spacing) + var(--chart-border-width));
    height: 100%;
    content: "";
    transform: translate(-100%);
    background: var(--page-background);
  }
}
@media (min-width: $medium) {
  .wwu-org-chart {
    /* lower vertical bar for top level items */
    .item-level-1 {
      > .item:before {
        position: absolute;
        bottom: 0;
        left: calc(50% + ((var(--chart-border-width) / 2)));
        display: block;
        width: var(--chart-border-width);
        height: var(--chart-spacing);
        content: "";
        transform: translate(-50%, var(--chart-spacing));
        background: var(--chart-line-color);
        @media (forced-colors: active) {
          border-left: var(--border-width--md) solid transparent;
        }
      }
      &.no-children {
        > .item:before {
          display: none;
        }
      }
    }
    .item-level-2 {
      border-left: none;
      /* remove second level lines */
      > .item:before,
      &:last-of-type > .item:before,
      &:last-child > .level-3:before {
        display: none;
      }
      /* horizontal bar for second level items */
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: var(--chart-border-width);
        content: "";
        background: var(--chart-line-color);
      }
      &:first-child {
        &:before {
          left: calc(
          (var(--chart-spacing) / 2) + (var(--chart-border-width) / 2) + 50%
          );
          display: block;
          width: 50%;
          height: var(--chart-border-width);
          content: "";
          background: var(--chart-line-color);
        }
      }
      &:last-child {
        &:before {
          display: block;
          width: calc(
          (var(--chart-spacing) / 2) + (var(--chart-border-width) / 2) + 50%
          );
          height: var(--chart-border-width);
          content: "";
          background: var(--chart-line-color);
        }
      }
      &:only-child {
        &:before {
          display: none;
        }
      }
      @media (forced-colors: active) {
        &:before {
          border-top: var(--border-width--md) solid transparent;
        }
        &:first-child,
        &:last-child {
          &::before {
            border-top: var(--border-width--md) solid transparent;
          }
        }
      }
      /* vertical bar for second level items */
      > .item:before,
      &:last-of-type > .item:before {
        position: absolute;
        top: calc(-1 * var(--chart-spacing));
        left: calc(var(--chart-spacing)/2 + 50%);
        display: block;
        width: var(--chart-border-width);
        height: var(--chart-spacing);
        content: "";
        transform: translate(
        calc((var(--chart-spacing) / -2) + (var(--chart-border-width) / 2))
        );
        border: none;
        background: var(--chart-line-color);
        @media (forced-colors: active) {
          border-top: 0;
          border-left: var(--border-width--md) solid transparent;
        }
      }
    }
  }
}
[data-theme="dark"] {
  .wwu-org-chart {
    .highlight {
      background: var(--gray-stripes);
    }
  }
}
#drupal-off-canvas-wrapper .wwu-org-chart,
#drupal-off-canvas-wrapper .wwu-org-chart *,
#drupal-off-canvas-wrapper .wwu-org-chart *:before {
  all: unset;
}
