/*------------------------------------------------------------------------------
Organism: Pre-header
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../01-atoms/background-color/_background-color-mixins.scss";
.settings-menu {
  @include lightest-blue-bg;

  position: absolute;
  top: calc(-1 * var(--space--xs));
  left: 0;
  display: none;
  width: 100vw;
  padding: var(--space--lg);
  color: var(--dark-blue);
  .menu-container {
    display: flex;
    flex-flow: column;
    margin: auto;
  }
  .reset-button {
    margin: auto;
    padding: var(--space--sm);
    border-radius: 0;
  }
  fieldset {
    display: flex;
    flex-flow: row wrap;
    gap: var(--space--sm);
    border: none;
  }
}
.settings-open .settings-menu {
  display: grid;
}
.toggle-settings {
  --button-background-color: transparent;
  --button-background-color--active: var(--blue);
  --button-color: var(--blue);

  position: relative;
  z-index: 2;
  display: grid;
  grid-auto-flow: row;
  width: var(--toggle-size);
  height: var(--toggle-size);
  margin: var(--space--md);
  margin-right: 0;
  border-radius: 50%;
  box-shadow: none;
  font-size: var(--font-size--2xs);
  svg {
    width: 2rem;
    height: 2rem;
    margin: calc(-1 * var(--space--xs));
    margin-bottom: calc(-1 * var(--space--sm));
  }
  &[aria-expanded="true"] {
    color: var(--white);
    background-color: var(--blue);
  }
}
[data-theme="dark"] {
  .settings-menu {
    @include dark-blue-bg;
  }
  .toggle-settings {
    --button-color: var(--white);
  }
}
