/*------------------------------------------------------------------------------
Molecule: Navigation - myWestern Menu
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/breakpoints.scss";
.my-western-links {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space--xs);
  justify-content: center;
  max-width: var(--content-area-max-width--sm);
  margin: var(--space--md) auto;
  font-size: var(--font-size--sm);
  svg {
    fill: var(--link-color);

    min-width: 3rem;
  }
  p {
    display: grid;
    align-content: center;
    margin: 0;
    line-height: 1.2;
  }
  .card {
    flex: 1 0 30%;
    flex-flow: column;
    align-content: space-between;
    max-width: 50%;
    padding: 0;
    text-align: center;
    @media (min-width: $small) {
      flex: 1 0 15%;
    }
  }
  .image {
    margin-bottom: var(--space--2xs);
    padding: var(--space--md) var(--space--md) 0 var(--space--md);
  }
  .highlight {
    min-width: 7rem;
    .text {
      position: absolute;
      top: 2rem;
      left: 0rem;
      width: 100%;
      transform: rotate(-40deg);
      text-transform: uppercase;
      opacity: 0.9;
      color: var(--blue--darker--40);
      background-color: var(--light-green--lighter--40);
      font-family: var(--font--title);
      font-size: var(--font-size--lg);
      font-weight: var(--font-weight--bold);
      line-height: 1;
    }
  }
}
