/**
* @file
* templates/front-page/_mabel.scss
*/

.page-islandora {
  .front {
    .splash {
      @include breakpoint($medium) {
        max-height: 70vh;
      }
    }
  }


  .splash {
    @include breakpoint($medium) {
      min-height: 500px;
      max-height: 30vh;
    }
  }
}
