/**
* @file
* templates/front-page/_mabel.scss
*/

.page-islandora {
  .western-header {
    .search {
      display: none;
    }
  }
  
  &.front {
    .splash {
      @include breakpoint($medium) {
        min-height: 670px;
        max-height: 70vh;
      }
    }
  }


  .splash {
    @include breakpoint($medium) {
      min-height: 500px;
      max-height: 30vh;
    }
  }
}
