/**
* @file
* templates/front-page/_mabel.scss
*/

/* General Mabel Styles */
.page-islandora {
  .western-header {
    .search {
      display: none;
    }
  }

  &.front {
    .splash {
      @include breakpoint($medium) {
        min-height: 670px;
        max-height: 70vh;
      }
    }
  }


  .splash {
    @include breakpoint($medium) {
      min-height: 450px;
      max-height: 30vh;
    }
  }

  /* Breadcrumb styles */
  .breadcrumb {
    margin-top: $standard-spacing;
    font-size: $font-size--smaller;

    .breadcrumb ol li,
    .breadcrumb ol li:before {
      margin-right: $half-spacing;  
    }
  }

  /* Date picker resets */
  .ui-datepicker {
    a {
      margin: initial;
      border-bottom: none;
    }
    select {
      display: inline;
      padding: initial;
      border: initial;
      font-weight: normal;
    }
  }
}

/* Search Results Styles */
.page-islandora-search {
  .page-content {
    margin-bottom: 0;
  }

  .islandora-solr-search-result {
    padding: 0 $standard-spacing $double-spacing;
    border-bottom: solid 1px $gray;

    &:last-of-type {
      border-bottom: none;
    }

    a {
      margin: initial;
      padding: 0;
      border-bottom: none;
    }

    dl.solr-fields {
      border: none;
    }
    .solr-fields dt,
    .solr-fields dd {
      border-color: $light-gray;
    }

    dl {
      &.solr-thumb,
      &.solr-fields {
        @include breakpoint(max-width $medium) {
          float: none;
          width: 100%;
        }

        &.solr-thumb {
          text-align: center;
        }
      }
    }
  }

  /* Sidebar blocks */

  .layout__region--first {
    .panel-pane {
      margin-bottom: $standard-spacing;
      padding: $standard-spacing;
      background: mix($white, $light-gray, 50%);
      font-size: $font-size--smaller;
    }

    a {
      border-bottom-color: transparent;
    }

    a:hover {
      color: $dark-green;
      border-bottom-color: $dark-green;
    }


    h2 {
      margin: 0;
      border-bottom-color: transparent;
      font-size: $h4-font-size;
    }

    h3 {
      color: $dark-green;
      font-size: $h5-font-size;
    }

    .islandora-solr-facet-wrapper:nth-of-type(1) {
      h3 {
        margin-top: 0;
      }
    }

    input {
      border-width: $border-width;
    }

    input[type="submit"] {
      padding: $half-spacing $standard-spacing;
    }

    label {
      font-weight: normal;
    }

    .islandora-solr-range-slider {
      text-align: right;
    }

    .range-slider-fromto,
    .date-range-slider-gap {
      display: inline;
    }
  }
}

/* Object page styles */
body.page-islandora-object {
  a {
    border-bottom: none;
  }

  #islandora-bookmark {
    margin-bottom: $half-spacing;
    font-size: $font-size--smaller;
    h3 {
      margin: 0;
      margin-right: $standard-spacing;
      font-size: $h4-font-size;
    }
    select {
      margin: 0;
    }
    input {
      margin: 0;
      padding: $half-spacing $standard-spacing;
    }
  }

  .islandora-objects {
    .islandora-objects-display-switch {
      float: none;
    }

    .links {
      display: flex;
      justify-content: center;
      list-style: none;

      li {
        &:first-child:after {
          display: inline-block;
          margin-left: $half-spacing;
          content: "|";
        }
        &:last-child {
          margin-left: $half-spacing;
        }
      }
    }
  }

  /* grid view */
  .islandora-objects-grid-item {
    font-size: $font-size--smaller;
  }

  /* image viewer on single object page */
  .islandora-large-image-content {
    float: none;
    width: 100%;
  }
}

/* Compound objects JAIL */
$jail-height: 600px;

#block-islandora-compound-object-compound-jail-display {
  @include breakpoint($medium) {
    border: solid $light-gray $border-width--thicker;
  }
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: $jail-height;
  margin-top: $standard-spacing;
  padding: $standard-spacing;
  border: solid $light-gray $border-width;
  font-size: inherit;


  .form-item {
    flex: 0 0 100%;
    max-width: none;
  }

  & > div {
    max-width: 50%;
    border: none;

    &:not(.form-item) {
      display: inline-block;
      vertical-align: top;

      a:first-of-type {
        margin-bottom: $half-spacing;
        font-size: $font-size--smallest;
      }
    }
  }
}
