/**
* @file
* organisms/site-header/_site-header.scss
*/

.western-header {
  @include breakpoint($medium) {
    display: grid;

    grid-template-areas: "header";
    grid-template-columns: 1fr;
    grid-template-rows: $logo-size;
  }
  background-color: $dark-blue;

  .header-navigation {
    @include breakpoint($medium) {
      position: relative;
      z-index: 1;
      right: initial !important;
      display: grid !important;
      width: 100%;
      min-height: initial;
      padding-top: 0;
      opacity: 1 !important;

      grid-area: header;
      grid-template-areas: "logo wwu-menu"
      "logo site-name"
      "logo secondary-site-name"
      "menu menu";
      grid-template-columns: ($logo-size + ($triple-spacing * 2)) 1fr;
      grid-template-rows: $toggle-size $toggle-size ($logo-size - $toggle-size * 2) auto;
    }
    @include breakpoint($large) {
      grid-template-areas: "logo ... wwu-menu"
      "logo site-name ..."
      "logo secondary-site-name ..."
      "menu menu menu";
      grid-template-columns: ($logo-size + ($triple-spacing * 2)) 1fr auto;
    }
    position: fixed;
    z-index: 4;
    top: 0;
    display: none;
    width: 100vw;
    min-height: 100vh;
    padding-top: $toggle-size;
    background-color: $dark-blue;
  }

  .western-menu {
    grid-area: wwu-menu;
  }

  .western-logo {
    @include breakpoint($medium) {
      margin: initial;
    }
    position: relative;
    z-index: 2;
    width: $logo-size + $double-spacing;
    margin: auto;
    padding-right: $toggle-size;

    grid-area: header;
  }

  .logo {
    @include breakpoint($medium) {
      margin-left: $triple-spacing;
      background: transparent;
    }
    margin: auto;

    grid-area: logo;

    &.horizontal {
      @include breakpoint($medium) {
        display: none;
      }
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100vw - #{$toggle-size});
      height: $toggle-size;
      background: transparent;
    }
  }

  .toggle-menu {
    @include breakpoint($medium) {
      display: none;
    }
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    color: $white;
    border-radius: 0;
    background: transparent;
    box-shadow: none;

    grid-area: menu;

    &.is-expanded {
      position: fixed;
      top: 0;
      right: 0;
    }

    &:focus {
      background: transparent;
    }

    &:hover {
      color: $darkest-blue;
      background: $lightest-green;
      box-shadow: none;
    }
  }

  .site-name {
    @include breakpoint($medium) {
      padding: 0;
      text-align: left;
      border-top: none;
      border-bottom: none;

      grid-area: site-name;
    }
    @include breakpoint($large) {
      font-size: $p-font-size--max--larger;
    }
    align-self: center;
    margin: $standard-spacing;
    margin: 0 !important;
    padding: $standard-spacing;
    text-align: center;
    color: $white;
    border-top: solid $border-width--thinner $blue;
    border-bottom: solid $border-width--thinner $blue;
    font-size: $p-font-size--larger;

    &.mobile {
      @include breakpoint($medium) {
        display: none;
      }

      .block--secondary-site-name {
        margin: -$standard-spacing;
        margin-top: $standard-spacing;
        border-top: $border-width--thinner $blue solid;
      }
    }
  }
}

.block--secondary-site-name {
  grid-area: secondary-site-name;
}

.main-navigation {
  grid-area: menu;
}
