/**
* @file
* organisms/site-header/_site-header.scss
*/

.western-header {
  @include breakpoint($small) {
    display: grid;
    min-height: $logo-width;
    background-image: linear-gradient(to right, $dark-blue $logo-width, $darkest-blue);

    grid-template-areas: "logo quick-links search"
    "logo site-name site-name"
    "logo main-nav main-nav";
    grid-template-columns: $logo-width auto $toggle-size;
    grid-template-rows: $toggle-size 1fr $toggle-size $toggle-size;
  }

  .logo {
    @include breakpoint($small) {
      margin-left: $double-spacing;

      grid-area: logo;
    }
  }

  .toggle-menu {
    @include breakpoint($small) {
      display: none;
    }
  }

  .quick-links.desktop {
    @include breakpoint($small) {
      display: flex;

      grid-area: quick-links;
      justify-self: end;
    }
  }

  .search {
    @include breakpoint($small) {
      top: 0;
      right: 0;

      grid-area: search;
    }
  }

  .site-name {
    @include breakpoint($large) {
      font-size: $p-font-size--max--larger;
    }
    align-self: center;
    padding-right: calc(#{$logo-width} + #{$double-spacing});
    font-family: $serif;
    font-size: $p-font-size--larger;

    grid-area: site-name;
    justify-self: center;

    &:after {
      display: block;
      width: 30%;
      margin: $standard-spacing auto 0;
      content: "";
      border-bottom: solid $light-blue $border-width--thicker;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  .main-navigation {
    @include breakpoint($small) {
      padding-right: calc(#{$logo-width} + #{$double-spacing});

      grid-area: main-nav;
    }
  }
}
