/**
* @file
* organisms/site-header/_site-header.scss
*/

.western-header {
  @include breakpoint($medium) {
  }
  background-color: $dark-blue;

  .header-navigation {
    @include breakpoint($medium) {
      display: grid !important;
    }
    display: none;
  }

  .logo {
    @include breakpoint($medium) {
      margin-left: $double-spacing;
    }
    margin: auto;

    grid-area: logo;
  }

  .toggle-menu {
    @include breakpoint($medium) {
      display: none;
    }

    grid-area: menu;
  }

  .site-name {
    @include breakpoint($large) {
      padding-right: calc(#{$logo-width} + #{$double-spacing});
      font-size: $p-font-size--max--larger;
    }
    align-self: center;
    margin: $standard-spacing;
    text-align: center;
    color: $white;
    font-family: $serif;
    font-size: $p-font-size--larger;

    &:after {
      display: block;
      width: 30%;
      margin: $standard-spacing auto 0;
      content: "";
      border-bottom: solid $light-blue $border-width--thicker;
    }

    &.mobile {
      @include breakpoint($medium) {
        display: none;
      }
    }
  }
}
