/*------------------------------------------------------------------------------
Organism: Headers - Western header
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../../sass/partials/imports";
@import "../../../00-utilities/breakpoints.scss";
wwu-header {
  @include breakpoint($medium) {
    display: grid;
    grid-template-columns: var(--logo-size) 1fr;
    grid-template-rows: auto 1fr;
  }

  position: relative;
  display: block;
  background-color: var(--dark-blue);
  noscript {
    display: grid;
    grid-column: 1 / span all;
    grid-row: 1 / span all;
    grid-template-columns: var(--logo-size) 1fr;
    grid-template-rows: auto 1fr;
  }
  .toggle-menu {
    @include breakpoint($medium) {
      display: none;
    }

    position: absolute;
    z-index: 2;
    right: 0;
    color: var(--white);
    border: var(--border-width--sm) solid transparent;
    border-radius: 0;
    background: transparent;
    &:active {
      border: none;
    }
  }
  .western-home-link {
    color: var(--blue--lighter--60);
    &:active,
    &:focus,
    &:hover {
      outline-color: transparent;
      outline-offset: calc(-1 * var(--border-width--md));
      background: transparent;
    }
    &:focus {
      outline-color: var(--white);
    }
  }
  .western-logo {
    place-content: center;

    display: flex;
    grid-area: logo;
  }
  .site-name {
    @include breakpoint($small) {
      padding: 0;
      text-align: left;
    }

    grid-area: site-name;
    padding: var(--space--sm);
    text-align: center;
  }
  .home-link {
    @include breakpoint($small) {
      display: inline;
    }

    display: block;
    text-decoration: none;
    color: var(--white);
    &:visited {
      color: var(--white);
    }
    &:active,
    &:focus,
    &:hover {
      color: var(--dark-blue--darker--60);
      outline-color: transparent;
    }
    &:focus {
      outline-color: var(--blue--lighter--60);
    }
  }
}
.site-info {
  @include breakpoint($small) {
    display: grid;
    grid-column: 1 / span all;
    grid-column-gap: var(--space--sm);
    grid-row: 1 / span all;
    grid-row-gap: var(--space--xs);
    grid-template-areas: "logo ........"
    "logo site-name"
    "logo region";
    grid-template-columns: var(--logo-size) auto;
    grid-template-rows: var(--toggle-size--md) auto 1fr;
  }
  @include breakpoint($medium) {
    grid-row-gap: none;
    grid-template-rows: 1fr auto 1fr;
  }
}
.wwu-menu {
  @include breakpoint($medium) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-content: flex-end;
    padding-right: 0;
  }

  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  padding-right: var(--toggle-size--sm);
  .icon-with-text {
    @include breakpoint($medium) {
      place-items: center;

      display: flex;
      flex-flow: row nowrap;
      width: initial !important;
      height: initial !important;
      padding: var(--space--2xs);
      border: none;
    }

    color: var(--white);
    .material-icons {
      @include breakpoint($medium) {
        margin-right: var(--space--2xs);
        font-size: var(--icon-size--xs);
      }

      margin-left: var(--space--2xs);
    }
    &:visited {
      color: var(--white);
    }
    &:active,
    &:focus,
    &:hover {
      color: var(--dark-blue--darker--80);
      outline-color: transparent;
      @media (forced-colors: active) {
        outline-offset: calc(-1 * var(--border-width--md));
      }
    }
    &:focus {
      outline-color: var(--blue--lighter--60);
    }
  }
}
.western-header-region {
  @include breakpoint($small) {
    text-align: initial;
  }

  grid-area: region;
  text-align: center;
  color: var(--white);
  a {
    text-decoration: none;
    color: var(--white);
    font-size: var(--font-size--sm);
    &:active,
    &:focus,
    &:hover {
      color: var(--dark-blue--darker--60);
    }
  }
  p {
    margin-bottom: var(--space--2xs);
  }
}
.wwu-menu-closed {
  @include breakpoint(max-width $medium) {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    transition: opacity var(--ease--standard) var(--transition-speed--fast);
    opacity: 0;
  }
}
.wwu-menu-open {
  @include breakpoint(max-width $medium) {
    visibility: visible;
    transition: opacity var(--ease--standard) var(--transition-speed--fast);
    opacity: 1;
  }
}
