<wwu-header sitename='{{ site_name }}' regioncontent='{{ page.wwu_header }}'>
    <noscript>
        <nav class="wwu-menu" aria-label="Western Quick Links">
            <a class="small icon-with-text apply-quick-link" href="https://admissions.wwu.edu/apply">
                <span class="material-icons" aria-hidden="true">how_to_reg</span>
                <span class="icon-text">Apply</span>
            </a>
            
            <a class="small icon-with-text give-quick-link" href="https://securelb.imodules.com/s/1710/17give/giving.aspx?sid=1710&gid=2&pgid=1816&cid=3291&paymenttype=now">
                <span class="material-icons" aria-hidden="true">favorite_border</span>
                <span class="icon-text">Give</span>
            </a>
            
            <a class="small icon-with-text report-bias-quick-link" href="https://www.wwu.edu/sebrt/report-bias-incident">
                <span class="material-icons" aria-hidden="true">sms</span>
                <span class="icon-text">Report Bias</span>
            </a>
            
            <a class="small icon-with-text my-western-link" href="https://mywestern.wwu.edu">
                <span class="material-icons" aria-hidden="true">person_pin</span>
                <span class="icon-text">myWestern</span>
            </a>

            <a class="small icon-with-text jobs-link" href="https://www.wwu.edu/workatwestern">
                <span class="material-icons" aria-hidden="true">business_center</span>
                <span class="icon-text">Jobs</span>
            </a>
        </nav>
        <div class="site-info">
            <div class="western-logo">
                <a class="western-home-link" href="https://www.wwu.edu">
                    {% include "@atoms/logo/logo--make-waves.twig" %}
                </a>
            </div>
            
            <div class="site-name">
                <a href="/" class="home-link"></a>
            </div>
            
            <div class="western-header-region">
            </div>
        </div>
    </noscript>
</wwu-header>