{#
/**
* Western header - includes logo, campus links, search, and site name
*/
#}
<div id="mobile-menu" class="mobile-menu closed">
</div>

<div class="western-header">
  <div class="western-logo">
    <a class="western-home-link" href="https://wwu.edu">
      {% include "@atoms/logo/logo--make-waves.twig" %}
    </a>
  </div>

  {% include "@molecules/display-settings/display-settings.html.twig" %}

  <button class="small icon-with-text toggle-menu" aria-expanded="false" aria-controls="mobile-menu">
    <span class="material-icons" aria-hidden="true">menu</span>
    <span class="toggle-prefix visually-hidden">Open the </span>
    <span class="toggle-text">Menu</span>
    <span class="toggle-suffix visually-hidden"></span>
  </button>

  {% include "@molecules/navigation/wwu-menu/wwu-menu.html.twig" %}

  <div class="site-name">
    {% block site_name %}
      <a href="/" class="home-link">{{ site_name }}</a>
    {% endblock %}
  </div>

  <div class="western-header-region">
    {% block western_header %}
      {{ page.wwu_header }}
    {% endblock %}
  </div>

  {% block main_navigation %}
    {{ page.main_navigation }}
  {% endblock %}
</div>
