/**
* @file
* 00-atoms/01-text/links/_links.scss
*/
$link-padding: $half-spacing / 2;

%strip-link-defaults {
  margin: inherit;
  padding: 0;
  border: none;
}

a {
  margin-right: -$link-padding;
  margin-left: -$link-padding;
  padding-right: $link-padding;
  padding-left: $link-padding;
  transition: $link-transition-speed $link-transition-ease;
  transition-property: background, color, border;
  text-decoration: none;
  color: $link-color;
  border-bottom: solid $lightest-green $border-width;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: $link-color--hover;
    border-bottom-color: transparent;
    background-color: $light-gray;
  }

  &:focus {
    @include breakpoint($medium) {
      outline: $focus-outline--thicker;
      outline-offset: $border-width--thicker;
    }
    outline: $focus-outline;
    outline-offset: $border-width;
  }
}

<<<<<<< HEAD
.dark-bg {
  a {
    color: $link-color-light;
    border-bottom-color: $lightest-green;

    &:active,
    &:focus,
    &:hover {
      color: $link-color-light--hover;
      border-bottom-color: transparent;
      background-color: transparentize($blue, 0.8);
    }
  }

  ul,
  ol {
    a {
      border-bottom-color: transparent;

      &:active,
      &:focus,
      &:hover {
        border-bottom-color: $link-color-light--hover;
      }
    }
  }
}

=======
>>>>>>> master
ul,
ol {
  a {
    text-decoration: none;
    border-bottom-color: transparent;

    &:focus,
    &:hover {
      border-bottom-color: $link-color--hover;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  a {
    @extend %strip-link-defaults;
  }
}

table {
  a {
    @extend %strip-link-defaults;
    text-decoration: underline;
  }
}

/* Remove specialized link styles from the admin toolbar and site configuration links */
#toolbar-bar,
.contextual {
  a {
    border: none;
    margin: inherit;
  }
}
