/**
* @file
* 00-atoms/01-text/links/_links.scss
*/

a {
  transition: $link-transition-speed $link-transition-ease color;
  text-decoration: none;
  color: $link-color;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: $link-color--hover;
  }

  &:focus {
    @include breakpoint($medium) {
      outline: $focus-outline--thicker;
      outline-offset: $border-width--thicker;
    }
    outline: $focus-outline;
    outline-offset: $border-width;
  }
}

.dark-bg {
  a {
    color: $link-color-light;

    &:active,
    &:focus,
    &:hover {
      color: $link-color-light--hover;
    }
  }
}

p,
blockquote,
ul,
ol {
  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
