<div>This <a href="#">link</a> appears outside of a paragraph.</div>

<p>This is a <a href="#">link has a descenders (yjgpq)</a> and is in a regular paragraph of text.</a></p>

<ul>
  <li><a href="#">This is a list of links</a></li>
  <li><a href="#">It is not styled as a menu</a></li>
  <li><a href="#">It just has a lot of links</a></li>
</ul>

<h1><a href="#">This is an H1 link</a></h1>
<h2><a href="#">This is an H2 link</a></h2>
<h3><a href="#">This is an H3 link</a></h3>
<h4><a href="#">This is an H4 link</a></h4>
<h5><a href="#">This is an H5 link</a></h5>

<p class="dark-blue-bg">This <a href="#">link</a> appears on a dark blue background.</p>

<blockquote>This <a href="#">link</a> appears in a blockquote.</blockquote>

<h2>Back to Top Link</h2>
<div><a href="#" class="button back-to-top"><span class="material-icons" aria-hidden="true">arrow_upward</span>Back to Top</a></div>

<div class="light-gray-bg"><a href="#" class="button alt back-to-top"><span class="material-icons" aria-hidden="true">arrow_upward</span>Back to Top</a></div>

<div class="dark-blue-bg"><a href="#" class="button alt white back-to-top"><span class="material-icons" aria-hidden="true">arrow_upward</span>Back to Top</a></div>
