/**
 * @file
 * molecules/components/card/_card.scss
 */

.card {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: $standard-spacing;

  .image {
    order: 1;
    margin-bottom: $half-spacing;

    img {
      display: block;
    }
  }

  .taxonomy-terms {
    order: 2;
  }

  .title {
    a {
      display: inline-block;
      font-weight: $font-weight--bold;
      border: none;      
    }
    order: 3;
  }

  .body {
    order: 4;

    .date {
      font-style: italic;
    }

    .location {

    }
  }
}
