/**
 * @file
 * molecules/components/card/_card.scss
 */

.card {
  display: flex;
  flex-flow: column nowrap;

  .image {
    order: 1;
  }

  .taxonomy-terms {
    order: 2;
    margin-top: $half-spacing;
    margin-bottom: $standard-spacing;
  }

  .title {
    a {
      display: inline-block;
      margin-bottom: $half-spacing;
      font-size: $h4-font-size;
      font-weight: $bold;
    }
    order: 3;
  }

  .body {
    order: 4;

    .date {
      font-style: italic;
      font-size: $h5-font-size;
    }

    .location {
      margin: $half-spacing 0;
    }
  }
}
