/**
* @file
* molecules/components/card/_card.scss
*/

.card {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: $standard-spacing;

  .image {
    order: 1;
    margin-bottom: $half-spacing;

    a {
      margin: 0;
      padding: 0;
      border: 0;
    }

    img {
      display: block;
    }
  }

  .taxonomy-terms {
    order: 2;
  }

  .title {
    order: 3;

    a {
      border: none;
      font-family: $sans-serif;
      font-size: $p-font-size;
      font-weight: $font-weight--bold;
      line-height: initial;
      display: inline-block;
    }
  }

  .body {
    order: 4;

    .date {
      font-weight: $font-weight--semibold;
    }
  }
}
