/**
* @file
* 01-atoms/01-text/_asides.scss
*/

aside,
.block--beyond-basics-block,
.paragraph--type--majors-aside {

  &.dark-blue-bg,
  &.blue-bg,
  &.light-gray-bg,
  &.lightest-gray-bg,
  &.light-blue-bg,
  &.lightest-blue-bg {
    margin: $standard-spacing 0;
    padding: $double-spacing;

    .block__title {
      margin-top: 0;
      padding-bottom: 0;
    }
  }
}
