/*------------------------------------------------------------------------------
Molecule: Menu
--------------------------------------------------------------------------------
1. Nested menus
2. Block system menus
3. Dark mode
4. Print
------------------------------------------------------------------------------*/
.menu {
  padding: 0;
  list-style: none;
  
  /*----------------------------------------------------------------------------
  1. Nested menus
  ----------------------------------------------------------------------------*/
  .menu {
    margin: 0;
    
    li {
      @include breakpoint($medium) {
        border-left-width: var(--border-width--lg);
      }
      
      margin-bottom: 0;
      border-left: solid var(--border-width--md) var(--blue--lighter--60);
      line-height: 1.3;
      
      a {
        display: inline-block;
        width: 100%;
        margin: inherit;
        margin-bottom: 0;
        padding: var(--space--xs) var(--space--xl) var(--space--xs) var(--space--md);
        transition: var(--transition-speed--fast) var(--ease--standard) all;
        text-decoration: none;
        background-size: 100% 100%;
        font-weight: var(--font-weight--regular);
        
        &[aria-current="page"] {
          font-weight: var(--font-weight--bold);
        }
      }
      
      li > a {
        &[aria-current="page"] {
          background-color: var(--blue--lighter--40);
          color: var(--black);
        }
      }
    }
    
    a {
      padding-left: var(--space--md);
    }
  }
}

/*------------------------------------------------------------------------------
2. Block system menus
------------------------------------------------------------------------------*/
.block--menu {
  .menu {
    li > a {
      &[aria-current="page"] {
        background-color: var(--blue--lighter--40);
        color: var(--dark-blue--darker--40);
        font-weight: var(--font-weight--bold);
        
        &:hover,
        &:focus,
        &:active {
          background: var(--gray--lighter--80);
          color: var(--dark-blue);
        }
      }
    }
  }
}

/*------------------------------------------------------------------------------
3. Dark mode
------------------------------------------------------------------------------*/
.dark-mode {
  .page-content .block--menu {
    .menu {
      li > a {
        &[aria-current="page"] {
          color: var(--black);
          
          &:hover,
          &:focus,
          &:active {
            background: var(--dark-blue);
            color: var(--light-green);
          }
        }
      }
    }
  }
}

/*------------------------------------------------------------------------------
4. Print
------------------------------------------------------------------------------*/
@media print {
  .menu {
    padding: 0 !important;

    ul {
      padding: 0;
    }

    li {
      border-left: none !important;

      a {
        padding: 0;
        font-size: 10pt;
        line-height: 1em;

        &:after {
          content: " [" attr(href) "] ";
        }
      }
    }
  }
}
