/*------------------------------------------------------------------------------
Molecule: Menu
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.menu,
.sub-menu {
  padding: 0;
  list-style: none;
  a {
    display: block;
    min-height: var(--touch-target--aaa);
    padding: var(--space--2xs) var(--space--sm);
    transition: background-color var(--transition-speed--fast) cubic-bezier(0.33, 0.66, 0.66, 1);
    text-decoration: none;
    border-left: var(--border-width--md) var(--link-decoration-color) solid;
    &:active,
    &:hover,
    &:focus {
      background-color: var(--link-decoration-color--active);
    }
  }
  &.horizontal {
    @media (min-width: $small) {
      display: flex;
      justify-content: center;
      li {
        border: var(--border-width--md) var(--link-decoration-color) solid;
        &:not(:last-of-type) {
          border-right: none;
        }
      }
      a {
        display: grid;
        place-content: center;
        border: none;
      }
    }
  }
  /*------------------------------------------------------------------------------
  Nested Menus
  ------------------------------------------------------------------------------*/
  .menu {
    padding-left: var(--space--sm);
  }
}
