/*------------------------------------------------------------------------------
Molecule: Page menu
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.page-menu {
  padding: var(--space--md);
  .title {
    margin-top: 0;
  }
}
