/*------------------------------------------------------------------------------
Molecule: Splash
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.splash,
.featured-major-splash-area {
  position: relative;
  z-index: 0;
  display: grid;
  margin-top: -2px;
  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.splash > div,
.featured-major-splash-area > div {
  z-index: 0;
  grid-column: 1;
  grid-row: 1;
  &:nth-of-type(1) {
    margin-bottom: var(--space--md);
    div {
      width: 100%;
      height: 100%;
      &.contextual {
        height: initial;
      }
      &.box-headline,
      &.left-aligned-bar,
      &.right-aligned-bar {
        height: initial;
      }
    }
  }
}
