/**
* @file
* 01-atoms/01-text/_taxonomy-term.scss
*/

.taxonomy-term,
.job-title,
.pronouns {
  display: inline-block;
  float: left;
  margin: 0 $standard-spacing $standard-spacing 0;
  padding: $standard-spacing;
  color: $dark-blue;
  border: none;
  background-color: $light-green;
  font-size: $p-font-size--smaller;

  font-display: fallback;

  &.darkest-blue-bg {
    background-color: $darkest-blue;
    color: $white;
  }
  &.dark-blue-bg {
    background-color: $dark-blue;
    color: $white;
  }
  &.blue-bg {
    background-color: $blue;
    color: $white;
  }
  &.light-blue-bg {
    background-color: $light-blue;
    color: $black;
  }
  &.dark-green-bg {
    background-color: $dark-green;
    color: $white;
  }
  &.green-bg {
    background-color: $green;
    color: $white;
  }
  &.light-green-bg {
    background-color: $light-green;
    color: $dark-blue;
  }
  &.lightest-green-bg {
    background-color: $lightest-green;
    color: $dark-blue;
  }
}

a.taxonomy-term,
.taxonomy-term a,
.dark-mode .taxonomy-term a {
  color: $dark-blue;
  &:hover,
  &:focus,
  &:active {
    color: $light-green;
    background-color: $dark-blue;
    outline-color: $dark-blue;
  }
}
