/*------------------------------------------------------------------------------
Atom: Text - Taxonomy Terms
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.taxonomy-term,
.dark-mode .taxonomy-term,
[class*="-bg"] .taxonomy-term,
.job-title,
.dark-mode .job-title,
[class*="-bg"] .job-title,
.pronouns,
.dark-mode .pronouns,
[class*="-bg"] .pronouns {
  @include darkest-blue-bg;

  display: inline-block;
  margin: 0 var(--space--2xs) var(--space--2xs) 0;
  padding: var(--space--xs) var(--space--sm);
  transition: background-size var(--transition-speed--fast)
    cubic-bezier(0.33, 0.66, 0.66, 1);
  color: var(--white);
  font-size: var(--font-size--sm);
  font-weight: var(--font-weight--bold);
  font-display: fallback;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }

  .material-icons {
    position: relative;
    top: 0.1em;
    font-size: var(--icon-size--xs);
  }
}

a.taxonomy-term {
  text-decoration: none;
  border-bottom: solid var(--blue--lighter--60) var(--border-width--lg);

  &:visited {
    color: var(--purple--lighter--80);
    border-bottom-color: var(--purple--lighter--80);
  }
}
