<div id="block-ashlar-local-tasks" class="contextual-region">
  <h2 class="visually-hidden">Primary tabs</h2>
  <ul>
    <li><a href="#" class="is-active">View<span class="visually-hidden">(active tab)</span></a></li>
    <li><a href="#">Edit</a></li>
    <li><a href="#">Delete</a></li>
    <li><a href="#">Layout</a></li>
    <li><a href="#">Revisions</a></li>
  </ul>

  <h2 class="visually-hidden">Secondary tabs</h2>
  <ul>
    <li><a href="#">Save</a></li>
    <li><a href="#">Cancel</a></li>
    <li><a href="#">Delete</a></li>
  </ul>
</div>
