/**
 * @file
 * 01-molecules/navigation/local-tasks/_local-tasks.scss
 */
#block-ashlar-local-tasks {
  font-size: $font-size--smaller;
  margin-bottom: $standard-spacing;

  ul:not(.contextual-links) {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-bottom: solid $border-width $gray;

    &:nth-of-type(2) {
      margin-top: $half-spacing;
      margin-left: $standard-spacing;
      border-bottom-color: $light-gray;
    }

    a {
      display: block;
      padding: $half-spacing $standard-spacing;
      color: black;
      border-right: solid $border-width $white;
      background-color: $light-gray;

      &:hover,
      &:focus,
      &.is-active {
        color: $white;
        background-color: $gray;
      }
    }
  }
}
