/*------------------------------------------------------------------------------
Atom: Text - Lists
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
ul,
ol {
  margin: 0 0 var(--space--md);
}

li {
  line-height: 1.8;
}

.spaced {
  li {
    @include breakpoint($medium) {
      margin-bottom: var(--space--md);
    }

    margin-bottom: var(--space--xs);
  }
}

dl {
  margin-bottom: var(--space--xs);
  dt {
    margin-top: var(--space--xs);
    font-weight: var(--font-weight--semibold);
  }
  dd {
    margin: 0;
  }
}
