/**
 * @file
 * 00-atoms/global/_page.scss
 */

html {
  color: $text-color;
  font-family: $sans-serif;
  font-size: $p-font-size;

  * {
    box-sizing: border-box;
  }
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 100vw;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
