/*------------------------------------------------------------------------------
Molecule: Dialog
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
dialog {
  width: 100%;
  max-width: 70vw;
  padding: var(--space--lg);
  border: solid var(--border-width--md) transparent;
  background-color: var(--page-background);
  iframe {
    display: block;
  }
  .close-button {
    --oline-color: var(--white);
    --oline-offset: var(--outline-offset--inset);

    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
  }
}
