/**
* @file
* 01-molecules/content/search/_search.scss
*/

.search {
  @include breakpoint($medium) {
    position: inherit;
  }
  position: absolute;
  z-index: 0;
  top: $toggle-size--larger;
  right: 0;
  display: flex;
  justify-content: end;

  .toggle {
    @include breakpoint($large) {
      min-width: $toggle-size--larger;
    }
    min-width: $toggle-size;
  }

  .toggle-search {
    order: 2;
  }

  .search-area {
    display: flex;
    order: 1;

    .search-box {
      input {
        @include breakpoint($large) {
          padding: $standard-spacing;
        }
        min-width: 280px;
        height: 100%;
        margin: 0;
        padding: $half-spacing;
      }
    }

    .search-label {
      margin: 0;
      font-size: 0;
    }
  }
}
