<div class="search" role="search" aria-label="University and Site Search">
  <button class="toggle toggle-search blue" aria-label="Open the search box"><i class="material-icons">search</i></button>
  <form class="search-area" method="get" action="https://search2.wwu.edu/texis/search" style="display: none;">
    <div class="search-box">
      <input id="search-box" placeholder="Search this site" name="query">
      <label for="search-box" class="search-label">Enter the terms you wish to search for.</label>
    </div>

    <button class="toggle submit-search dark-blue" aria-label="Submit search"><i class="material-icons">chevron_right</i></button>

    <input type="hidden" name="pr" value="Default-WWU">
  </form>
</div>
