@use "../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Atom: Text - Font Styles
--------------------------------------------------------------------------------
Note: The backup declarations (eg var(--font--serif), "PT Serif";) are to
be sure that SASS will import all of the @font-face declarations. It seems to
have trouble recognizing the fonts as being used in the var() declarations alone
------------------------------------------------------------------------------*/
html {
  font-family: var(--font--sans-serif);
  font-size: clamp(1em, 0.5em + 1vw, 1.3em);
  font-display: auto;
  @media (print) {
    font-size: 12pt;
  }
}
.font-size--smaller {
  font-size: var(--font-size--sm);
}
.font-size--regular {
  font-size: var(--font-size--md);
}
.font-size--larger {
  font-size: var(--font-size--2xl);
}
.font--sans-serif {
  font-family: var(--font--sans-serif), "Fira Sans";
}
.font--serif {
  font-family: var(--font--serif), "PT Serif";
}
.font--title {
  font-family: var(--font--title), "Montserrat";
}
.font--dyslexia-friendly {
  font-feature-settings: unset;

  font-family: var(--font--dyslexia-friendly), "Open Dyslexic";
}
.font--hyperlegible {
  font-family: var(--font--hyperlegible), "Atkinson Hyperlegible";
}
