/**
 * @file
 * 00-atoms/text/_all.scss
 */

html {
  color: $text-color;
  font-family: $sans-serif;
  font-size: $p-font-size;
}

/* Helpers to resize text. Only applies at medium breakpoints. */
%font-size--smaller {
  @include breakpoint($medium) {
    font-size: $p-font-size--smaller;
  }
}
%font-size--larger {
  @include breakpoint($medium) {
    font-size: $p-font-size--larger;
  }
}

.font-size--smaller {
  @extend %font-size--smaller;
}
.font-size--larger {
  @extend %font-size--larger;
}
