/*------------------------------------------------------------------------------
Molecule: Search
--------------------------------------------------------------------------------
1. Display preferences
------------------------------------------------------------------------------*/
.search {
  @include breakpoint($medium) {
    right: inherit;
    left: inherit;
  }

  z-index: 0;
  display: flex;
  justify-content: end;

  .toggle-search,
  .submit-search {
    order: 2;
    border: none;
    border-radius: 0;
    background-color: transparent;

    &:active,
    &:hover,
    &:focus {
      border: none;
      background-image: var(--gradient--vertical--light-blue);
      color: var(--dark-blue--darker--60);
    }
  }

  .search-area {
    display: flex;
    order: 1;

    .search-box {
      input {
        height: 100%;
        margin: 0;
        border-radius: 0;
        font-size: var(--font-size--sm);
      }
    }

    .search-label {
      margin: 0;
      font-size: 0;
    }
  }
}

/*------------------------------------------------------------------------------
1. Display preferences
------------------------------------------------------------------------------*/
.font--dyslexia-friendly {
  .search .search-area .search-box {
    input {
      font-size: $dyslexic-icon-smaller;
    }
  }
}
