<div class="search" role="search" aria-label="Western">
  <button class="toggle toggle-search"><span class="material-icons" aria-hidden="true">search</span><span class="button-text visually-hidden">Open the search box</span></button>
  <form class="search-area" method="get" action="https://search2.wwu.edu/texis/search" style="display: none;">
    <div class="search-box">
      <input id="search-box" placeholder="Search this site" name="query">
      <label for="search-box" class="search-label">Enter the terms you wish to search for.</label>
    </div>

    <button class="toggle submit-search"><span class="material-icons" aria-hidden="true">chevron_right</span><span class="visually-hidden">Submit search</span></button>

    <input type="hidden" name="pr" value="Default-WWU-Base">
  </form>
</div>
