/*------------------------------------------------------------------------------
Molecule: Search
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
wwu-search {
  display: block;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  justify-self: end;
  input[type="search"] {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    border-width: var(--border-width--md);
  }
}
.search-label {
  place-items: center;

  display: flex;
  margin: 0;
  padding: var(--space--2xs);
  padding-right: var(--space--xs);
  font-weight: var(--font-weight--regular);
}
.search-area {
  display: flex;
  height: 100%;
  margin-bottom: 0;
  .material-icons {
    font-size: var(--icon-size--xs);
  }
}
.search-box {
  flex: 1 1 0;
}
.submit-search {
  place-items: center;

  display: flex;
  border: var(--border-width--sm) solid transparent;
  border-radius: 0;

  &:hover,
  &:focus,
  &:active {
    outline: var(--border-width--md) solid;
  }

  &:focus {
    outline-style: dotted;
  }
}
