<div class="search" role="search" aria-label="Western">
  <button class="toggle toggle-search">
    <span class="material-icons" aria-hidden="true">search</span>
    <span class="toggle-prefix visually-hidden">Open </span>
    <span class="toggle-text">Search</span>
    <span class="toggle-suffix visually-hidden"></span>

  </button>
  <form class="search-area" method="get" action="https://search2.wwu.edu/texis/search" style="display: none;">
    <div class="search-box">
      <input id="search-box" placeholder="Search this site" name="query">
      <label for="search-box" class="search-label">Enter the terms you wish to search for.</label>
    </div>

    <button class="toggle submit-search">
      <span class="material-icons" aria-hidden="true">chevron_right</span>
      <span class="toggle-text">Go</span>
    </button>

    <input type="hidden" name="pr" value="Default-WWU-Base">
  </form>
</div>
