/**
* @file
* molecules/forms/checkbox/_checkbox.scss
*/
.checkbox,
.radio {
  position: relative;
  margin-bottom: $half-spacing;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  width: $select-input-size;
  height: $select-input-size;
  margin: 0;
  padding: 0;
  opacity: 0;
  border: 0;
  outline: 0;

  + label {
    @include breakpoint($small) {
      margin-left: $select-input-size--smaller;
      line-height: $select-input-size--smaller;
    }
    @include breakpoint($medium) {
      margin-left: $select-input-size;
      line-height: $select-input-size;
    }
    display: inline-block;
    align-self: center;
    margin: 0;
    margin-left: $select-input-size;
    padding-left: $half-spacing;
    font-weight: $font-weight--regular;
    line-height: $select-input-size;
    position: relative;

    &:before {
      @include breakpoint($small) {
        width: $select-input-size--smaller;
        height: $select-input-size--smaller;
      }
      @include breakpoint($medium) {
        width: $select-input-size;
        height: $select-input-size;
        border-width: $border-width--thicker;
      }
      position: absolute;
      left: 0;
      transform: translatex(-100%);
      display: grid;
      align-items: center;
      box-sizing: border-box;
      width: $select-input-size;
      height: $select-input-size;
      content: "";
      border-width: $border-width;
      border-style: solid;
      border-color: $dark-blue;
      background-color: $white;
      background-repeat: no-repeat;
      background-position: 50%;

      justify-items: center;
    }
  }

  &:focus {
    + label {
      &:before {
        box-shadow: $focus-shadow;
      }
    }
  }
}

input[type="checkbox"] {
  &:checked {
    + label {
      &:before {
        @include breakpoint($small) {
          background-image: url("../images/forms/check--smaller.png");
        }
        @include breakpoint($medium) {
          background-image: url("../images/forms/check.png");
        }
        background-image: url("../images/forms/check.png");
      }
    }
  }
}
