@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
body {
  font-family: "Fira Sans", sans-serif !important;
}
.cKxjjq,
.cNmnqw {
  color: #0062a0 !important;
  font-family: "Fira Sans", sans-serif !important;
}
