/**
* @file
* templates/major-page/_major-page.scss
*/
.page-node-type-major {
  .layout--majors {
    .layout__region--bottom-first,
    .layout__region--bottom-second,
    .layout__region--bottom-third {
      img {
        display: block;
        margin: auto;
      }

      h2 {
        text-align: center;
      }
    }
  }
}
