/*------------------------------------------------------------------------------
Molecule: Charts - Donut Chart
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
$chart-blues: (
  #429ad2,
  #003f87,
  #7ab4da,
  #0060ab,
  #afcee1,
  #007ac8,
  #e3e7e9,
  #002f5e
);
$chart-light-blues: (
  #006ebb,
  #57b8f7,
  #1681ca,
  #7ecafa,
  #2c93d9,
  #b3d9f1,
  #42a6e8,
  #e3e7e9
);
$chart-greens: (
  #006b3f,
  #c2dc2c,
  #358a30,
  #d3e570,
  #6aa921,
  #e4edb3,
  #9fc812,
  #f5f6f7
);

.donut-chart {
  --chart-size: 18.75rem;

  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .block__title {
    flex: 0 0 100%;
  }

  svg {
    width: var(--chart-size);
    height: var(--chart-size);
    transform: rotate(-90deg);
    background: transparent;
    border-radius: 50%;
    margin: var(--space--lg);
  }

  circle {
    fill: transparent;
    stroke-width: 15.915;

    @for $i from 1 through length($chart-blues) {
      &:nth-of-type(#{$i}) {
        stroke: nth($chart-blues, $i);
      }
    }
  }

  .data {
    li {
      list-style: none;

      &:before {
        position: relative;
        top: var(--border-width--lg);
        display: inline-block;
        width: var(--space--lg);
        height: var(--space--lg);
        margin-right: var(--space--xs);
        border: var(--border-width--md) solid transparent;
        content: "";
      }

      @for $i from 1 through length($chart-blues) {
        &:nth-of-type(#{$i}) {
          &:before {
            background: nth($chart-blues, $i);

            @media (forced-colors: active) {
              @supports (forced-color-adjust: none) {
                forced-color-adjust: none;
              }
            }
          }
        }
      }
    }
  }

  &.green {
    circle {
      @for $i from 1 through length($chart-greens) {
        &:nth-of-type(#{$i}) {
          stroke: nth($chart-greens, $i);
        }
      }
    }

    .data {
      li {
        @for $i from 1 through length($chart-greens) {
          &:nth-of-type(#{$i}) {
            &:before {
              background: nth($chart-greens, $i);

              @media (forced-colors: active) {
                @supports (forced-color-adjust: none) {
                  forced-color-adjust: none;
                }
              }
            }
          }
        }
      }
    }
  }

  &.light-blue {
    circle {
      @for $i from 1 through length($chart-light-blues) {
        &:nth-of-type(#{$i}) {
          stroke: nth($chart-light-blues, $i);
        }
      }
    }

    .data {
      li {
        @for $i from 1 through length($chart-light-blues) {
          &:nth-of-type(#{$i}) {
            &:before {
              background: nth($chart-light-blues, $i);

              @media (forced-colors: active) {
                @supports (forced-color-adjust: none) {
                  forced-color-adjust: none;
                }
              }
            }
          }
        }
      }
    }
  }

  &.pie {
    circle {
      fill: transparent;
      stroke-width: 31.83;
    }
  }
}
