/**
 * @file
 * 01-molecules/navigation/main-navigation/_main-navigation.scss
 */

.nav--main,
.block-system-main-menu {
  @include breakpoint($medium) {
    height: inherit;
    min-height: 0;
    background: transparent;
  }
  min-height: 100vh;
  background: $dark-blue;
  font-size: $splash-font-size;

  & > .menu,
  .ultimenu--main,
  .ultimenu-main-menu {
    @include breakpoint($medium) {
      flex-flow: row nowrap;
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    > li {
      &.has-ultimenu {
        > a {
          &:after {
            @include breakpoint($medium) {
              content: "";
            }
            position: absolute;
            right: $standard-spacing;
            display: inline-block;
            content: "›";
            font-size: 1.8em;
          }
        }
      }
    }
  }
}
