/*------------------------------------------------------------------------------
Molecule: Pullquote
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.wwu-pullquote {
  margin: var(--space--2xl) 0;
  padding: var(--space--2xl);
  text-align: center;
  color: var(--blue--darker--20);
  font-size: var(--font-size--xl);
}
