/*------------------------------------------------------------------------------
Molecule: Pullquote
--------------------------------------------------------------------------------
1. Dark mode
------------------------------------------------------------------------------*/
.block--pullquote {
  --quote-icon-size: 3.125rem;

  position: relative;
  blockquote {
    margin: 0 var(--space--md);
    border-left: solid var(--border-width--lg) var(--green);
    background-color: transparent;
    .body {
      margin-bottom: var(--space--md);
    }
    .name {
      font-weight: var(--font-weight--bold);
    }
  }
  .decoration {
    display: none;
  }
  &.pullquote--editorial {
    blockquote {
      position: relative;
      max-width: calc(var(--content-area-max-width) / 3);
      margin: var(--quote-icon-size) auto 0;
      padding-top: calc(var(--quote-icon-size) + var(--space--sm));
      border-top: var(--blue) var(--border-width--lg) solid;
      border-right: none;
      border-bottom: var(--blue) var(--border-width--lg) solid;
      border-left: none;
      background-color: initial;
      .block__title {
        border-bottom: none;
      }
      .credit {
        text-align: center;
      }
      .name {
        display: block;
      }
    }
    .decoration {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      display: block;
      display: grid;
      overflow: hidden;
      width: var(--quote-icon-size);
      height: var(--quote-icon-size);
      padding: var(--space--xs);
      transform: translate(-50%, -50%);
      text-align: center;
      color: var(--blue);
      border: solid var(--blue) var(--border-width--lg);
      border-radius: 50%;
      background-color: var(--white);
      font-family: pt serif;
      font-size: var(--quote-icon-size);
    }
  }
}
/*------------------------------------------------------------------------------
1. Dark mode
------------------------------------------------------------------------------*/
[data-theme="dark"] {
  .block--pullquote {
    blockquote {
      background-color: transparent;
    }
    .decoration {
      background-color: var(--gray--darker--80);
    }
  }
}
