{% embed "@organisms/page-template/page-template.html.twig" %}
  {% block wwu_header %}
    {% embed "@organisms/headers/wwu-header/wwu-header.html.twig" %}

      {% block mobile_site_name %}
        <?php if ($site_name): ?>
          <a href="/" class="home-link"><?php print $site_name; ?></a>
        <?php endif; ?>
      {% endblock %}

      {% block site_name %}
        <?php if ($site_name): ?>
          <a href="/" class="home-link"><?php print $site_name; ?></a>
        <?php endif; ?>
      {% endblock %}

      {% block main_navigation %}
        <nav class="main-navigation" aria-label="Main">
          <?php print render($page['navigation']); ?>
        </nav>
      {% endblock %}

    {% endembed %}
  {% endblock %}

  {% block splash %}
    <?php print render($page['header']); ?>
  {% endblock %}

  {% block content %}
    {% embed "@organisms/content/content-region/content-region.html.twig" %}
      {% block page_content %}
        <?php print render($page['highlighted']); ?>
        <?php print render($title_suffix); ?>
        <?php print $messages; ?>
        <?php print render($tabs); ?>
        <?php print render($page['help']); ?>
        <?php if ($action_links): ?>
          <ul class="action-links"><?php print render($action_links); ?></ul>
        <?php endif; ?>
        <?php print render($page['content']); ?>
        <?php print $feed_icons; ?>
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% block site_footer %}
    {% embed "@organisms/footers/site-footer/site-footer.html.twig" %}
      {% block footer_regions %}
        <div class="region region--footer_left">
          <?php print render($page['footer_left']); ?>
        </div>

        <div class="region region--footer_center">
          <?php print render($page['footer_center']); ?>
        </div>

        <div class="region region--footer_right">
          <?php print render($page['footer_right']); ?>
        </div>
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
