/**
* @file
* 01-atoms/buttons/_buttons.scss
*/

@mixin button-box-shadow($color) {
  box-shadow: 2px 2px 0 $color;
}

/* Real buttons - few options */
button,
input[type="submit"] {
  @include button-box-shadow($gray);
  padding: ($standard-spacing * 0.75) $standard-spacing;
  transition: background $button-transition-speed, color $button-transition-speed, box-shadow $fast-transition-speed;
  color: $black;
  border: solid $border-width transparent;
  border-radius: $border-radius--round-square;
  background: $light-gray;

  &:hover,
  &:focus {
    @include button-box-shadow($black);
    color: $white;
    background: $gray;
  }

  &:active {
    box-shadow: none;
  }

  &:focus {
    border-style: dotted;
    border-color: $white;
    outline: none;
  }


  &.alt {
    color: $black;
    border: solid $border-width $gray;
    background: $lightest-gray;

    &:hover,
    &:focus {
      color: $white;
      background: $blue;
    }

    &:focus {
      outline: none;
    }
  }

  &.warning {
    @include button-box-shadow($dark-blue);
    color: $black;
    border-color: transparent;
    background: $yellow;

    &:hover,
    &:focus {
      background: mix($yellow, $white, 50%);
    }

    &:active {
      box-shadow: none;
    }

    &:focus {
      border-color: $red;
    }
  }

  &:disabled {
    color: scale-color($gray, $lightness: -15%);
    border-color: mix($gray, $light-gray, 50%);
    background: $light-gray;
    box-shadow: none;
  }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: default;
}
/* Links styled as buttons - many options */
.button {
  @include button-box-shadow($dark-blue);
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: $standard-spacing;
  padding: $standard-spacing $double-spacing;
  user-select: none;
  transition: background-color $button-transition-speed, color $button-transition-speed, border-color $button-transition-speed, box-shadow $fast-transition-speed;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: $white;
  border-width: $border-width;
  border-style: solid;
  border-color: transparent;
  border-radius: $border-radius--round;
  background: $blue;
  font-size: $p-font-size;
  line-height: 1;

  .material-icons {
    position: relative;
    top: $half-spacing / 2;
    font-size: $p-font-size;
  }

  &:active {
    box-shadow: none;
  }

  &:focus {
    border-style: dotted;
    outline: none;
  }

  &:hover,
  &:focus {
    color: $dark-blue;
    border-color: $dark-blue;
    background: $light-gray;
  }

  &.square {
    border-radius: $border-radius--square;
  }

  &.small {
    padding: $half-spacing $standard-spacing;
    font-size: $p-font-size--smaller;
  }

  &.medium {
    padding: ($standard-spacing * 1.5) ($triple-spacing);
    font-size: $h5-font-size;

    .material-icons {
      font-size: $h5-font-size;;
    }
  }

  &.large {
    padding: $double-spacing ($double-spacing * 2);
    font-size: $h3-font-size;

    .material-icons {
      font-size: $h3-font-size;;
    }
  }

  &.dark-blue {
    @include button-box-shadow($blue);
    background: $dark-blue;

    &:active,
    &:hover,
    &:focus {
      color: $blue;
      border-color: $blue;
      background: $white;
    }
  }

  &.light-green {
    @include button-box-shadow($dark-blue);
    color: $dark-blue;
    background: $light-green;

    &:active,
    &:hover,
    &:focus {
      color: $lightest-green;
      border-color: $darkest-blue;
      background: $darkest-blue;
    }

    &:focus {
      border-color: $lightest-green;
    }
  }

  &.green {
    @include button-box-shadow($dark-green);
    background: $green;

    &:active,
    &:hover,
    &:focus {
      color: $dark-green;
      border-color: $dark-green;
      background: $light-gray;
    }

    &.medium {
      font-size: $h5-font-size;
    }

    &.large {
      font-size: $h3-font-size;
    }
  }

  &.dark-green {
    @include button-box-shadow($light-green);
    background: $dark-green;

    &:active,
    &:hover,
    &:focus {
      color: $green;
      border-color: $light-green;
      background: $white;
    }
  }

  &.white {
    @include button-box-shadow($dark-blue);
    color: $blue;
    background: $white;

    &:active,
    &:hover,
    &:focus {
      color: $white;
      border-color: transparent;
      background: $blue;
    }
  }

  &.outline {
    @include button-box-shadow($blue);
    color: $blue;
    border-color: $blue;
    background: $white;

    &:active,
    &:hover,
    &:focus {
      color: $white;
      border-color: transparent;
      background: $dark-blue;
    }

    &:focus {
      border-color: $white;
    }

    &.dark-blue {
      @include button-box-shadow($dark-blue);
      color: $dark-blue;
      border-color: $dark-blue;

      &:active,
      &:hover,
      &:focus {
        color: $white;
        border-color: transparent;
        background: $blue;
      }
    }

    &.light-green {
      @include button-box-shadow($light-green);
      color: $green;
      border-color: $light-green;

      &:active,
      &:hover,
      &:focus {
        color: $dark-blue;
        border-color: transparent;
        background: $lightest-green;
      }

      &:focus {
        border-color: $green;
      }
    }

    &.green {
      @include button-box-shadow($green);
      color: $green;
      border-color: $green;

      &:active,
      &:hover,
      &:focus {
        color: $white;
        border-color: transparent;
        background: $dark-green;
      }
    }

    &.dark-green {
      @include button-box-shadow($dark-green);
      color: $dark-green;
      border-color: $dark-green;

      &:active,
      &:hover,
      &:focus {
        color: $white;
        border-color: transparent;
        background: $green;
      }
    }

    &.white {
      @include button-box-shadow($white);
      color: $white;
      border-color: $white;
      background: transparent;

      &:active,
      &:hover,
      &:focus {
        color: $dark-blue;
        border-color: transparent;
        background: $light-gray;
      }
    }
  }

  &.dark-blue,
  &.green,
  &.dark-green,
  &.white {
    &:active {
      box-shadow: none;
    }
    &.outline {
      &:active {
        box-shadow: none;
      }
      &:focus {
        border: dotted $border-width $white;
      }
    }
  }
}

/* Admin toolbar button overrides */
.toolbar-bar button,
.si-button {
  box-shadow: none;
}
