/*------------------------------------------------------------------------------
Atom: Buttons
--------------------------------------------------------------------------------
These are true buttons. For links that are styled to look similar to buttons,
see Atom - Links - Button Styled
------------------------------------------------------------------------------*/
button,
input[type="submit"] {
  padding: var(--space--xs);
  transition: background var(--transition-speed--fast), color var(--transition-speed--fast), box-shadow var(--transition-speed--fast);
  color: var(--black);
  border-radius: var(--border-radius--round);
  background: var(--gray--lighter-80);
  border: var(--border-width--md) outset var(--gray--lighter-80);

  &:hover,
  &:focus {
    color: var(--white);
    background: var(--gray);
  }

  &:focus {
    outline: dotted var(--border-width--md) var(--black);
    outline-offset: var(--border-width--md);
  }

  &:active {
    border-style: outset;
  }

  &.alt {
    background: var(--dark-blue--lighter-80);
    border-color: var(--dark-blue--lighter-60);

    &:hover,
    &:focus {
      color: var(--white);
      background: var(--blue);
    }
  }

  &.warning {
    color: var(--black);
    background: var(--yellow);
    border: var(--border-width--md) outset var(--yellow--lighter-40);

    &:hover,
    &:focus {
      background: var(--yellow--lighter-40);
    }

    &:active {
      box-shadow: none;
    }
  }

  &:disabled {
    color: scale-color($gray, $lightness: -15%);
    border-color: mix($gray, $light-gray, 50%);
    background: $light-gray;
    box-shadow: none;
  }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: default;
}
