<p>
  The styles show here are for true buttons, which use either the &lt;button&gt;
  or &lt;input type="submit"&gt; HTML tags. They are typically used for things
  like form submissions, or to trigger some kind of action on a page. For
  consistent user experience, the styles that can be applied to real buttons are
  limited.
</p>

<button>Button</button>
<button class="alt">With .alt class</button>
<button class="warning">With .warning class</button>
<button disabled>Disabled Button</button>
