<h4>True buttons</h4>
<p>True buttons use either the &lt;button&gt; or &lt;input type="submit"&gt; HTML tags. They are typically used for things like form submissions, or to trigger some kind of action on a page. For consistent user experience, the styles that can be applied to real buttons are limited.</p>

<button>Button</button>
<button class="alt">With .alt class</button>
<button class="warning">With .warning class</button>
<button disabled>Disabled Button</button>


<h4>Links styled as buttons</h4>
<p>To style a link as a button, add the .button class</p>
<a href="#" class="button">I'm a link!</a>

<h5>Style Options</h5>
<p>Links styled as buttons have a number of classes that can be used to alter the style, shape, color, and size of the "button". Defaults are filled, round, and blue. There are no classes for these defaults. Add any of the following classes to the &lt;a&gt; tag to customize your links. You can use any combination of these custom classes to produce a large number of possible link styles.</p>

<table style="width: initial;">
	<thead>
		<tr>
			<th scope="row">class(es) used</th>
      <th scope="col">(default)</th>
			<th scope="col">.outline</th>
			<th scope="col">.square</th>
			<th scope="col">.small</th>
			<th scope="col">.medium</th>
			<th scope="col">.large</th>
			<th scope="col">.soft-shadow</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">.light-blue</th>
      <td style="background-color: #002f5e"><a href="#" class="button light-blue ">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="button light-blue outline">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="button light-blue square">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="button light-blue small">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="button light-blue medium">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="button light-blue large">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="button light-blue soft-shadow">Sample</a></td>
		</tr>
		<tr>
			<th scope="row">(default)</th>
      <td><a href="#" class="button ">Sample</a></td>
			<td><a href="#" class="button outline">Sample</a></td>
			<td><a href="#" class="button square">Sample</a></td>
			<td><a href="#" class="button small">Sample</a></td>
			<td><a href="#" class="button medium">Sample</a></td>
			<td><a href="#" class="button large">Sample</a></td>
			<td><a href="#" class="button soft-shadow">Sample</a></td>
		</tr>
		<tr>
			<th scope="row">.dark-blue</th>
      <td><a href="#" class="button dark-blue">Sample</a></td>
			<td><a href="#" class="button dark-blue outline">Sample</a></td>
			<td><a href="#" class="button dark-blue square">Sample</a></td>
			<td><a href="#" class="button dark-blue small">Sample</a></td>
			<td><a href="#" class="button dark-blue medium">Sample</a></td>
			<td><a href="#" class="button dark-blue large">Sample</a></td>
			<td><a href="#" class="button dark-blue soft-shadow">Sample</a></td>
		</tr>
		<tr>
			<th scope="row">.light-green</th>
      <td><a href="#" class="button light-green">Sample</a></td>
			<td><a href="#" class="button light-green outline">Sample</a></td>
			<td><a href="#" class="button light-green square">Sample</a></td>
			<td><a href="#" class="button light-green small">Sample</a></td>
			<td><a href="#" class="button light-green medium">Sample</a></td>
			<td><a href="#" class="button light-green large">Sample</a></td>
			<td><a href="#" class="button light-green soft-shadow">Sample</a></td>
		</tr>
		<tr>
			<th scope="row">.green</th>
      <td><a href="#" class="button green">Sample</a></td>
			<td><a href="#" class="button green outline">Sample</a></td>
			<td><a href="#" class="button green square">Sample</a></td>
			<td><a href="#" class="button green small">Sample</a></td>
			<td><a href="#" class="button green medium">Sample</a></td>
			<td><a href="#" class="button green large">Sample</a></td>
			<td><a href="#" class="button green soft-shadow">Sample</a></td>
		</tr>
		<tr>
			<th scope="row">.dark-green</th>
      <td><a href="#" class="button dark-green">Sample</a></td>
			<td><a href="#" class="button dark-green outline">Sample</a></td>
			<td><a href="#" class="button dark-green square">Sample</a></td>
			<td><a href="#" class="button dark-green small">Sample</a></td>
			<td><a href="#" class="button dark-green medium">Sample</a></td>
			<td><a href="#" class="button dark-green large">Sample</a></td>
			<td><a href="#" class="button dark-green soft-shadow">Sample</a></td>
		</tr>
		<tr>
			<th scope="row">.white</th>
      <td style="background-color: #667986"><a href="#" class="button white">Sample</a></td>
			<td style="background-color: #667986"><a href="#" class="button white outline">Sample</a></td>
			<td style="background-color: #667986"><a href="#" class="button white square">Sample</a></td>
			<td style="background-color: #667986"><a href="#" class="button white small">Sample</a></td>
			<td style="background-color: #667986"><a href="#" class="button white medium">Sample</a></td>
			<td style="background-color: #667986"><a href="#" class="button white large">Sample</a></td>
			<td style="background-color: #667986"><a href="#" class="button white soft-shadow">Sample</a></td>
		</tr>
	</tbody>
</table>
