<div{{ attributes }}>
  {% block title %}
    {% include "@atoms/label/label.twig" %}
  {% endblock %}

  {% block chart %}
    <svg viewBox="0 0 31.83 31.83" role="img" aria-labelledby="pie-chart-1">
      <title id="pie-chart-1">Pie chart of {{ label }}</title>

      <circle r="15.915" cx="15.915" cy="15.915" style="stroke-dashoffset: 0; stroke-dasharray: 10;"/>
      <circle r="15.915" cx="15.915" cy="15.915" style="stroke-dashoffset: -10; stroke-dasharray: 14 100;"/>
      <circle r="15.915" cx="15.915" cy="15.915" style="stroke-dashoffset: -24; stroke-dasharray: 22 100;"/>
      <circle r="15.915" cx="15.915" cy="15.915" style="stroke-dashoffset: -46; stroke-dasharray: 35 100;"/>
      <circle r="15.915" cx="15.915" cy="15.915" style="stroke-dashoffset: -81; stroke-dasharray: 7 100;"/>
      <circle r="15.915" cx="15.915" cy="15.915" style="stroke-dashoffset: -88; stroke-dasharray: 2 100;"/>
      <circle r="15.915" cx="15.915" cy="15.915" style="stroke-dashoffset: -90; stroke-dasharray: 5 100;"/>
      <circle r="15.915" cx="15.915" cy="15.915" style="stroke-dashoffset: -95; stroke-dasharray: 5 100;"/>
    </svg>

    <ul class="data">
      <li>10% Freshman</li>
      <li>14% Sophomore</li>
      <li>22% Junior</li>
      <li>35% Senior</li>
      <li>7% Post Bac</li>
      <li>2% Grad Student</li>
      <li>5% Alumni</li>
      <li>5% Other</li>
    </ul>
  {% endblock %}
</div>
