<div class="event-list">
  <div class="event">
    <div class="title">
      <h3>
        <a href="#">Quidditch Match
        </a>
      </h3>
    </div>
    <div class="date">
      <div>
        <span class="month" aria-hidden="true">
          <time datetime="00Z">Sep </time>
        </span>
        <span class="day" aria-hidden="true">
          <time datetime="00Z">02</time>
        </span>
      </div>
    </div>
    <div class="icon">
      <div>
        <span class="icon-with-text">
          <span class="material-icons" aria-hidden="true">sports</span>

          <span class="icon-text">
            <span class="visually-hidden">Category:</span>
            Athletics
          </span>
        </span>
      </div>
    </div>

    <div class="location">
      <p>
        Venue
      </p>
    </div>

    <div class="body">
      <p>
        <time datetime="00Z">Thursday, September 2, 2021</time>
      </p>

      <p>
        <strong>
          <time datetime="00Z">7:00 pm</time>
        </strong>
      </p>
    </div>
  </div>
</div>
