/*------------------------------------------------------------------------------
Molecule: Main navigation/ultimenu custom styles
--------------------------------------------------------------------------------
1. Wordpress
------------------------------------------------------------------------------*/
.main-navigation {
  grid-area: main-nav;
  @media (min-width: $medium) {
    width: 100%;
    height: inherit;
  }
  & > .menu,
  & > .menu-primary,
  .ultimenu {
    @include blue-bg;

    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    .ultimenu__item,
    .top-level-menu-item {
      display: grid;
      grid-template-areas: "link icon"
      "flyout flyout";
      grid-template-columns: 1fr var(--touch-target--aaa);
      grid-template-rows: auto auto;
      width: 100%;
      @media (min-width: $medium) {
        flex: initial;
        grid-template-columns: 1fr var(--icon-size--xs);
        width: inherit;
      }
      &:hover,
      &:focus-within {
        .expand-icon {
          color: var(--link-color--focus);
        }
      }
    }
  }
  .ultimenu__flyout,
  .ultimenu__region {
    top: auto;
    width: 100%;
    height: auto;
    .menu > li > a {
      color: var(--link-color);
      &:active,
      &:focus,
      &:hover {
        color: var(--link-color--active);
      }
    }
  }
  li .ultimenu__link,
  .top-level-menu-item > a {
    position: relative;
    grid-column: 1 / span all;
    grid-row: 1 / span 1;
    width: 100%;
    min-height: var(--touch-target--aaa);
    margin: 0;
    padding: var(--space--sm);
    text-align: left;
    white-space: normal;
    text-decoration: none;
    color: var(--link-color);
    line-height: 1;
    &:active,
    &:hover,
    &:focus {
      color: var(--link-color--active);
    }
    &:focus {
      outline: dotted var(--oline-color) var(--outline-width);
      outline-offset: var(--oline-offset);
    }
    &.is-active {
      --link-color: var(--white);
    }
    @media (min-width: $medium) {
      display: flex;
      align-items: center;
      padding: var(--space--sm);
      padding-right: var(--space--lg);
      text-align: center;
    }
  }
  .expand-icon {
    position: relative;
    z-index: 1;
    display: flex;
    grid-area: icon;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all var(--transition-speed--fast) cubic-bezier(0.33, 0.66, 0.66, 1);
    font-size: var(--icon-size--xs);
    &.desktop {
      display: none;
      @media (min-width: $medium) {
        display: flex;
      }
    }
    &.mobile {
      @media (min-width: $medium) {
        display: none;
      }
    }
  }
  .is-active-trail {
    border-left: solid var(--link-background--active) var(--border-width--lg);
    @media (min-width: $medium) {
      border-bottom: solid var(--link-background--active) var(--border-width--md);
      border-left: none;
    }
    > .ultimenu__link {
      color: var(--link-color);
    }
  }
}
/*------------------------------------------------------------------------------
1. Wordpress
------------------------------------------------------------------------------*/
.nav-primary {
  .sub-nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: unset;
    padding: var(--space--md);
    border: none;
    background-color: unset;
    @media (min-width: $medium) {
      position: absolute;
      top: 100%;
    }
    ul {
      width: var(--content-area-max-width--sm);
      max-width: 100%;
    }
  }
  .top-level-menu-item > a {
    position: unset;
    display: unset;
    margin: 0;
    padding: var(--space--sm);
    text-decoration: none;
    color: var(--link-color);
    border: none;
    &:active,
    &:hover,
    &:focus {
      color: var(--link-color--focus);
    }
    &.open {
      background: var(--link-background--focus);
      background-color: unset;
    }
  }
}
wwu-main-nav {
  display: block;
}
