/*------------------------------------------------------------------------------
Molecule: Main navigation/ultimenu custom styles
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/breakpoints.scss";
@import "../../../01-atoms/background-color/_background-color-mixins.scss";

@mixin header-visible {
  display: grid;
  visibility: visible;
  overflow: auto;
  height: calc(100vh - var(--logo-size));
  opacity: 1;
}
.header-navigation {
  visibility: hidden;
  overflow: hidden;
  grid-template-areas: "main prospective"
  "main prospective"
  "quick quick";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  height: 0;
  transition: opacity var(--ease--standard) var(--transition-speed--fast);
  opacity: 0;
}
.navigation-open {
  .header-navigation {
    @include header-visible;
  }
  .page-content {
    display: none;
  }
}
.is-ultimenu--hover {
  @media (min-width: $medium) {
    .toggle-menu {
      display: none;
    }
    .header-navigation {
      @include header-visible;
    }
  }
}
.region--main_navigation {
  grid-area: main;
}
.prospective-links {
  grid-area: prospective;
  background-color: var(--blue--lighter--80);
}
.quick-links {
  grid-area: quick;
}
