/*------------------------------------------------------------------------------
Molecule: Main navigation/ultimenu custom styles
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/breakpoints.scss";
@import "../../../01-atoms/background-color/_background-color-mixins.scss";

@mixin header-visible {
  display: grid;
  visibility: visible;
  overflow: auto;
  height: 100vh;
  opacity: 1;
}
.header-navigation {
  position: fixed;
  top: 0;
  visibility: hidden;
  overflow: hidden;
  grid-template-areas: "main prospective"
  "main prospective";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  width: 100vw;
  height: 0;
  transition: opacity var(--ease--standard) var(--transition-speed--fast);
  opacity: 0;
  background: var(--white);
}
.navigation-open {
  .header-navigation {
    @include header-visible;
  }
  .page-content {
    display: none;
  }
}
.is-ultimenu--hover {
  @media (min-width: $medium) {
    .toggle-menu {
      display: none;
    }
    .header-navigation {
      @include header-visible;
    }
  }
}
.region--main_navigation {
  grid-area: main;
  padding-top: var(--logo-size);
  nav {
    border-top: 1px solid var(--blue--lighter--60);
  }
}
.university-links {
  grid-area: prospective;
  padding-top: var(--logo-size);
  background-color: var(--blue--lighter--80);
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark-blue);
    font-weight: var(--font-weight--bold);
  }
  .icon-link {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
  }
}
.action-links {
  display: flex;
  flex-flow: column;
  padding-top: var(--space--md);
  border-top: 1px solid var(--blue--lighter--60);
  a {
    margin: var(--space--sm);
    font-size: var(--font-size--lg);
  }
}
.quick-links {
  display: flex;
  flex-flow: column;
  text-align: center;
  &:before {
    place-self: center;

    display: block;
    width: 4rem;
    margin: var(--space--md);
    content: "";
    border-top: 1px var(--blue) solid;
  }
  a {
    margin: var(--space--sm);
  }
}
.toolbar-fixed {
  .header-navigation {
    top: 45px;
  }
}
.toolbar-horizontal.toolbar-tray-open {
  .header-navigation {
    top: 79px;
  }
}
