/*------------------------------------------------------------------------------
Molecule: Main navigation/ultimenu custom styles
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/breakpoints.scss";
@import "../../../01-atoms/background-color/_background-color-mixins.scss";

/*------------------------------------------------------------------------------
Mixins
------------------------------------------------------------------------------*/
@mixin visible {
  z-index: 1;
  display: grid;
  visibility: visible;
  overflow: auto;
  opacity: 1;
}
@mixin hidden {
  z-index: -2;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}
@mixin menu-link-decoration-active {
  text-decoration-line: underline;
  text-decoration-thickness: 0.4em;

  text-underline-offset: -0.2em;
}
/*------------------------------------------------------------------------------
1. Hamburger Active Menu Styles
------------------------------------------------------------------------------*/
.navigation-wrapper {
  @include hidden;

  position: fixed;
  top: 0;
  grid-template-areas: "main prospective"
  "main prospective";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  transition: opacity var(--ease--standard) var(--transition-speed--fast);
  background: var(--white);
  &:after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100vw;
    height: 10rem;
    content: "";
    background-image: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/wave-line-blue.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.region--main_navigation {
  grid-area: main;
  padding-top: var(--logo-size);
  nav {
    border-top: 1px solid var(--blue--lighter--60);
  }
}
.main-navigation {
  h2 {
    margin-top: 0;
    text-transform: uppercase;
    color: var(--blue);
    font-size: var(--font-size--lg);
  }
  .menu {
    a {
      padding-left: unset;
      transition: all 0.2s ease;
      text-decoration-color: var(--blue--lighter--80);
      color: var(--blue);
      border-left: unset;
      &:hover,
      &:focus,
      &:active,
      &[aria-current="page"] {
        @include menu-link-decoration-active;

        color: var(--dark-blue);
      }
    }
    .menu {
      a {
        font-size: var(--font-size--sm);
      }
    }
  }
}
.university-links {
  grid-area: prospective;
  padding-top: var(--logo-size);
  background-color: var(--blue--lighter--80);
  background-image: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/island-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  .component-icon {
    transition: all ease 0.1s;
  }
  a {
    text-decoration: none;
    text-decoration-color: var(--blue--lighter--60);
    text-transform: uppercase;
    color: var(--dark-blue);
    font-weight: var(--font-weight--bold);
    &:hover,
    &:focus,
    &:active {
      @include menu-link-decoration-active;

      text-decoration-color: var(--blue--lighter--60);
    }
  }
  .icon-link {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    background: transparent;
  }
  .wwu-logo {
    margin: auto;
  }
}
.action-links {
  display: flex;
  flex-flow: column;
  padding-top: var(--space--md);
  border-top: 1px solid var(--blue--lighter--60);
  a {
    margin: var(--space--sm);
    font-size: var(--font-size--lg);
  }
}
.quick-links {
  display: flex;
  flex-flow: column;
  text-align: center;
  &:before {
    place-self: center;

    display: block;
    width: 4rem;
    margin: var(--space--md);
    content: "";
    border-top: 1px var(--blue) solid;
  }
  a {
    margin: var(--space--sm);
  }
}
.ultimenu {
  --ultilink-active: var(--link-color);
  --ultisub-normal: var(--blue);

  position: relative;
  z-index: unset;
  li {
    .ultimenu__link {
      z-index: unset;
      left: 10%;
      width: 40%;
      padding: var(--space--xs);
      transition: all 0.2s ease;
      text-decoration-color: var(--blue--lighter--80);
      color: var(--blue);
      font-size: var(--font-size--xl);
      font-weight: var(--font-weight--semibold);
      &:focus-visible {
        outline: var(--outline--focus);
      }
      &:hover,
      &:focus,
      &:active,
      &.is-ulink-active {
        @include menu-link-decoration-active;

        color: var(--dark-blue);
      }
    }
  }
  .ultimenu__flyout {
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
  }
}
.ultimenu__item:has(.menu-item--active-trail) .ultimenu__link {
  @include menu-link-decoration-active;

  text-decoration-color: var(--blue--lighter--80);
  color: var(--blue);
}
.is-ulticaret--arrow {
  .ultimenu__caret {
    i {
      --ulticaret-active: var(--gray--lighter--40);
      --ulticaret-normal: var(--gray--lighter--40);

      transform: rotate(90deg);
      &:before {
        width: 1px;
        height: 14px;
        transform: translate(-5px, -50%) rotate(45deg);
      }
      &:after {
        width: 1px;
        height: 14px;
        transform: translate(5px, -50%) rotate(-45deg);
      }
    }
  }
  .is-ulink-active {
    .ultimenu__caret {
      i {
        &:after {
          transform: translate(-8px, -50%) rotate(-45deg);
        }
      }
    }
  }
}
.navigation-open {
  .navigation-wrapper {
    @include visible;
  }
  .page-content {
    display: none;
  }
  .western-logo {
    position: relative;
    z-index: 1;
  }
}
.toolbar-fixed {
  .navigation-wrapper {
    top: 45px;
  }
}
.toolbar-horizontal.toolbar-tray-open {
  .navigation-wrapper {
    top: 79px;
  }
}
/*------------------------------------------------------------------------------
2. No Hamburger Desktop Menu Styles
------------------------------------------------------------------------------*/
.is-ultimenu--hover {
  @media (min-width: $medium) {
    .navigation-wrapper {
      @include visible;

      position: relative;
      grid-area: wrapper;
      height: unset;
      &:after {
        display: none;
      }
    }
    .main-navigation {
      background-color: var(--white);
      .menu {
        a {
          text-decoration-color: var(--blue--lighter--60);
          color: var(--link-color);
        }
      }
    }
    .university-links {
      display: flex;
      grid-column: 1 /span all;
      justify-content: space-between;
      width: 100%;
      padding: unset;
      background-image: none;
      svg {
        width: 24px;
        height: 24px;
      }
      .icon-link {
        grid-auto-flow: column;
        margin: 0;
        text-transform: none;
        font-size: var(--font-size--sm);
      }
    }
    .action-links {
      flex-flow: row;
      padding: 0;
    }
    .quick-links {
      flex-flow: row;
      align-items: center;
      a {
        margin: var(--space--2xs);
        padding: unset;
        text-transform: none;
        font-size: var(--font-size--sm);
        font-weight: var(--font-weight--regular);
      }
      &:before {
        display: none;
      }
    }
    .region--main_navigation {
      grid-area: main-nav;
      padding: 0;
    }
    .ultimenu {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      li {
        .ultimenu__link {
          left: unset;
          width: unset;
          padding: var(--space--2xs) var(--space--xs);
          border: solid transparent var(--border-width--md);
          font-size: var(--font-size--md);
          font-weight: var(--font-weight--regular);
          line-height: 1.5;
          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
            background-color: var(--blue--lighter--80);
          }
        }
      }
      .title {
        color: var(--dark-blue);
      }
      .ultimenu__flyout {
        --ultiregion: rgba(var(--blue--lighter--80--rgb), 0.98);

        position: absolute;
        top: 100%;
        left: 0;
        width: unset;
        width: 100%;
      }
      .open {
        .ultimenu__flyout {
          visibility: visible;
          height: unset;
          max-height: unset;
          opacity: 1;
        }
      }
      .ultimenu__region {
        display: flex;
        flex-flow: row wrap;
        gap: var(--space--lg);
        justify-content: center;
      }
    }
    .ultimenu__item:has(.menu-item--active-trail) .ultimenu__link,
    .ultimenu li .ultimenu__link.is-active {
      text-decoration: none;
      border-bottom-color: var(--blue);
      font-weight: var(--font-weight--bold);
    }
    .toggle-menu {
      display: none;
    }
    .toolbar-fixed {
      .navigation-wrapper {
        top: 0;
      }
    }
    .toolbar-horizontal.toolbar-tray-open {
      .navigation-wrapper {
        top: 0;
      }
    }
  }
}
