@forward "ulti-menu";
@use "../../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Molecule: Main navigation/ultimenu custom styles
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
Mixins
------------------------------------------------------------------------------*/
@mixin visible {
  z-index: 1;
  display: grid;
  visibility: visible;
  overflow: auto;
  opacity: 1;
}
@mixin hidden {
  z-index: -2;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}
@mixin menu-link-decoration-active {
  text-decoration-line: underline;
  text-decoration-thickness: 0.4em;

  text-underline-offset: -0.2em;
}
/*------------------------------------------------------------------------------
1. Hamburger Active Menu Styles
------------------------------------------------------------------------------*/
.navigation-wrapper {
  --h2-color: var(--blue);

  @include hidden;

  position: absolute;
  top: 0;
  grid-template-areas: "main"
  "prospective";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  transition: opacity var(--ease--standard) var(--transition-speed--fast);
  background: var(--white);
  @media (min-width: $medium) {
    grid-template-areas: "main prospective"
    "main prospective";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    &:after {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100vw;
      height: 10rem;
      content: "";
      background-image: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/wave-line-blue.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
.region--main_navigation {
  grid-area: main;
  padding-top: var(--logo-size);
  background-color: var(--menu-bg-color);
  nav {
    border-top: rgba(var(--blue--rgb), 0.4) 1px solid;
  }
}
.main-navigation {
  text-align: left;
  h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: var(--font-size--lg);
  }
  .menu {
    margin-bottom: var(--space--sm);
    a {
      padding-left: unset;
      transition: all 0.2s ease;
      text-decoration-color: var(--link-decoration-color);
      border-left: unset;
      &:hover,
      &:focus,
      &:active,
      &[aria-current="page"] {
        @include menu-link-decoration-active;

        background-color: unset;
      }
    }
    .menu {
      margin: 0;
      a {
        font-size: var(--font-size--sm);
      }
    }
  }
}
.university-links {
  --link-color: var(--dark-blue);
  --link-color--visited: var(--dark-blue);
  --link-color--visited--active: var(--dark-blue);

  z-index: 1;
  grid-area: prospective;
  background-color: var(--blue--lighter--80);
  background-image: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/island-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: var(--font-size--sm);
  @media (min-width: $medium) {
    padding-top: var(--logo-size);
    font-size: unset;
  }
  .component-icon {
    transition: all ease 0.1s;
  }
  a {
    text-decoration: none;
    text-decoration-color: var(--blue--lighter--40);
    text-transform: uppercase;
    font-weight: var(--font-weight--bold);
    &:hover,
    &:focus,
    &:active {
      @include menu-link-decoration-active;

      text-decoration-color: var(--blue--lighter--40);
    }
  }
  .icon-link {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    background: transparent;
  }
  .wwu-logo {
    margin: auto;
  }
}
.action-links {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding-top: var(--space--md);
  border-top: 1px solid var(--blue--lighter--60);
  a {
    margin: var(--space--sm);
    font-size: var(--font-size--lg);
  }
  @media (min-width: $medium) {
    flex-flow: column;
    border-top: none;
  }
}
.quick-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  a {
    margin: var(--space--xs);
  }
  @media (min-width: $medium) {
    flex-flow: column;
    &:before {
      place-self: center;

      position: relative;
      z-index: 1;
      display: block;
      flex-flow: row wrap;
      justify-content: center;
      width: 4rem;
      margin: var(--space--md);
      content: "";
      border-top: 1px var(--blue) solid;
    }
  }
}
.ultimenu {
  --link-color--visited: var(--link-color);
  --link-color--visited--active: var(--link-color);
  --link-decoration-color: var(--blue--lighter--80);
  --ultiactive: var(--blue);
  --ultilink-active: var(--link-color);
  --ultilink-normal: var(--blue);
  --ultiregion: var(--transparent);
  --ultiregion-normal: var(--blue);
  --ultisub-active: var(--link-color);
  --ultisub-normal: var(--blue);

  position: relative;
  z-index: unset;
  > li {
    display: grid ;
    grid-template-columns: 1fr auto 1fr;
    .ultimenu__link {
      z-index: unset;
      grid-column: 1 / span 2;
      grid-row: 1;
      padding: var(--space--xs);
      transition: all 0.2s ease;
      text-decoration-color: var(--link-decoration-color);
      font-size: var(--font-size--xl);
      font-weight: var(--font-weight--semibold);
      &:focus-visible {
        outline: var(--outline--focus);
      }
      &:hover,
      &:focus,
      &:active,
      &.is-ulink-active {
        @include menu-link-decoration-active;
      }
    }
    .expand {
      position: relative;
      display: grid;
      grid-column: 2 / span 1;
      grid-row: 1;
      align-items: center;
      height: 100%;
      transition: transform var(--transition-speed--fast) var(--ease--standard);
      svg {
        fill: var(--blue--darker--20);
      }
    }
    &:has(.open) .expand {
      transform: rotate(180deg);
    }
  }
  @media(min-width: $medium) {
    > li {
      .ultimenu__link {
        padding-left: var(--space--xl);
      }
    }
    .ultimenu__flyout {
      position: absolute;
      top: 0;
      left: 60%;
      width: 40%;
      background: var(--menu-bg-color);
    }
  }
}
.ultimenu__flyout {
  top: 0;
  &.open {
    visibility: visible;
    overflow-y: auto;
    height: auto;
    min-height: 64px;
    max-height: calc(100vh - var(--logo-size));
    transition-delay: 0.1s;
    opacity: 1;
  }
}
.ultimenu__item:has(.menu-item--active-trail) .ultimenu__link {
  @include menu-link-decoration-active;

  text-decoration-color: var(--link-decoration-color);
}
.navigation-open {
  .navigation-wrapper {
    @include visible;
  }
  .page-content,
  .splash,
  footer {
    display: none;
  }
  .western-logo {
    position: relative;
    z-index: 1;
  }
}
/*------------------------------------------------------------------------------
2. No Hamburger Desktop Menu Styles
------------------------------------------------------------------------------*/
.desktop-nav-no-hamburger {
  @media (min-width: $medium) {
    .navigation-wrapper {
      @include visible;

      position: relative;
      grid-area: wrapper;
      width: unset;
      min-height: unset;
      &:after {
        display: none;
      }
    }
    .main-navigation {
      background-color: var(--menu-bg-color);
      .menu {
        a {
          text-decoration-color: var(--link-decoration-color);
          color: var(--link-color);
        }
      }
    }
    .university-links {
      display: flex;
      grid-column: 1 /span all;
      justify-content: space-between;
      width: 100%;
      padding: unset;
      background-image: none;
      svg {
        width: 24px;
        height: 24px;
      }
      .icon-link {
        grid-auto-flow: column;
        margin: 0;
        text-transform: none;
        font-size: var(--font-size--sm);
      }
    }
    .action-links {
      flex-flow: row;
      padding: 0;
    }
    .quick-links {
      flex-flow: row;
      align-items: center;
      a {
        margin: var(--space--2xs);
        padding: unset;
        text-transform: none;
        font-size: var(--font-size--sm);
        font-weight: var(--font-weight--regular);
      }
      &:before {
        display: none;
      }
    }
    .region--main_navigation {
      grid-area: main-nav;
      padding: 0;
    }
    .ultimenu {
      --h2-color: var(--dark-blue);
      --h3-color: var(--dark-blue);

      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      li {
        display: grid;
        grid-template-columns: 1fr auto;
        width: unset;
        .ultimenu__link {
          left: unset;
          grid-column: 1 / span all;
          grid-row: 1;
          width: unset;
          padding: var(--space--2xs) var(--space--xs);
          border: solid transparent var(--border-width--md);
          font-size: var(--font-size--md);
          line-height: 1.5;
          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
            background-color: var(--link-decoration-color);
          }
        }
        &:has(.open) .expand {
          transform: rotate(90deg);
        }
      }
      .ultimenu__flyout {
        position: absolute;
        top: 100%;
        left: 0;
        width: unset;
        width: 100%;
        box-shadow: var(--shadow--soft);
      }
      .ultimenu__region {
        display: flex;
        flex-flow: row wrap;
        gap: var(--space--lg);
        justify-content: center;
      }
    }
    .ultimenu__item:has(.menu-item--active-trail) .ultimenu__link,
    .ultimenu li .ultimenu__link.is-active {
      text-decoration: none;
      border-bottom-color: var(--blue);
      background-color: var(--link-decoration-color);
      font-weight: var(--font-weight--bold);
    }
    .toggle-menu {
      display: none;
    }
    .toolbar-fixed {
      .navigation-wrapper {
        top: 0;
      }
    }
    .toolbar-horizontal.toolbar-tray-open {
      .navigation-wrapper {
        top: 0;
      }
    }
  }
}
/*------------------------------------------------------------------------------
3. Dark Mode
------------------------------------------------------------------------------*/
[data-theme="dark"] {
  .university-links {
    @include darkest-blue-bg;

    background-image: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/island-bg-dark.webp");
    a {
      text-decoration-color: var(--dark-blue--darker--40);
      color: var(--blue--lighter--60);
    }
  }
  .ultimenu {
    --link-color--visited: var(--blue--lighter--60);
    --link-color--visited--active: var(--blue--lighter--60);
    --link-decoration-color: var(--dark-blue);
    --ultiactive: var(--blue--lighter--60);
    --ultilink-active: var(--link-color);
    --ultilink-normal: var(--blue--lighter--60);
    --ultiregion: var(--transparent);
    --ultiregion-normal: var(--blue--lighter--60);
    --ultisub-active: var(--link-color);
    --ultisub-normal: var(--blue--lighter--60);
  }
  &.desktop-nav-no-hamburger {
    @media (min-width: $medium) {
      .main-navigation {
        --menu-bg-color: var(--dark-blue);
      }
      .ultimenu {
        --h2-color: var(--blue--lighter--60);
        --h3-color: var(--blue--lighter--60);
        --link-decoration-color: var(--dark-blue--darker--20);
        --ultibg: var(--dark-blue);
      }
    }
  }
}
.is-uitem-expanded > .ultimenu__flyout,
.is-uitem-expanded > ul,
.ultimenu__region {
  @media (max-width: $small) {
    padding: 0;
    padding-left: var(--space--md);
  }
}
