/*------------------------------------------------------------------------------
Molecule: Main navigation/ultimenu custom styles
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/breakpoints.scss";
@import "../../../01-atoms/background-color/_background-color-mixins.scss";

/*------------------------------------------------------------------------------
Mixins
------------------------------------------------------------------------------*/
@mixin visible {
  display: grid;
  visibility: visible;
  overflow: auto;
  height: 100vh;
  opacity: 1;
}
@mixin hidden {
  visibility: hidden;
  overflow: hidden;
  height: 0;
  opacity: 0;
}
@mixin menu-link-decoration-active {
  text-decoration-line: underline;
  text-decoration-thickness: 0.4em;

  text-underline-offset: -0.2em;
}
/*------------------------------------------------------------------------------
1. Hamburger Menu Styles
------------------------------------------------------------------------------*/
.navigation-wrapper {
  @include hidden;

  position: fixed;
  z-index: 1;
  top: 0;
  grid-template-areas: "main prospective"
  "main prospective";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  width: 100vw;
  transition: opacity var(--ease--standard) var(--transition-speed--fast);
  background: var(--white);
  &:after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100vw;
    height: 10rem;
    content: "";
    background-image: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/wave-line-blue.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.navigation-open {
  .navigation-wrapper {
    @include visible;
  }
  .page-content {
    display: none;
  }
  .western-logo {
    position: relative;
    z-index: 1;
  }
  wwu-header {
    grid-template-areas: "preheader logo"
    "site-name site-name";
    grid-template-columns: 2fr 1fr;
  }
}
.region--main_navigation {
  grid-area: main;
  padding-top: var(--logo-size);
  nav {
    border-top: 1px solid var(--blue--lighter--60);
  }
}
.main-navigation {
  h2 {
    margin-top: 0;
    text-transform: uppercase;
    color: var(--blue);
    font-size: var(--font-size--lg);
  }
  .menu {
    a {
      padding-left: unset;
      transition: all 0.2s ease;
      text-decoration-color: var(--blue--lighter--80);
      color: var(--blue);
      border-left: unset;
      &:hover,
      &:focus,
      &:active,
      &[aria-current="page"] {
        @include menu-link-decoration-active;

        color: var(--dark-blue);
      }
    }
    .menu {
      a {
        font-size: var(--font-size--sm);
      }
    }
  }
}
.university-links {
  grid-area: prospective;
  padding-top: var(--logo-size);
  background-color: var(--blue--lighter--80);
  background-image: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/island-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  .component-icon {
    transition: all ease 0.1s;
  }
  a {
    text-decoration: none;
    text-decoration-color: var(--blue--lighter--60);
    text-transform: uppercase;
    color: var(--dark-blue);
    font-weight: var(--font-weight--bold);
    &:hover,
    &:focus,
    &:active {
      @include menu-link-decoration-active;

      text-decoration-color: var(--blue--lighter--60);
    }
  }
  .icon-link {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    background: transparent;
  }
  .wwu-logo {
    margin: auto;
  }
}
.action-links {
  display: flex;
  flex-flow: column;
  padding-top: var(--space--md);
  border-top: 1px solid var(--blue--lighter--60);
  a {
    margin: var(--space--sm);
    font-size: var(--font-size--lg);
  }
}
.quick-links {
  display: flex;
  flex-flow: column;
  text-align: center;
  &:before {
    place-self: center;

    display: block;
    width: 4rem;
    margin: var(--space--md);
    content: "";
    border-top: 1px var(--blue) solid;
  }
  a {
    margin: var(--space--sm);
  }
}
.toolbar-fixed {
  .navigation-wrapper {
    top: 45px;
  }
}
.toolbar-horizontal.toolbar-tray-open {
  .navigation-wrapper {
    top: 79px;
  }
}
