@use "../../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Molecule: Menu flyout
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.main-navigation .ultimenu__region,
.nav-primary .sub-nav.open {
  --h2-size: var(--font-size--xl);
  --h3-size: var(--font-size--xl);
  --h4-size: var(--font-size--xl);
  --h5-size: var(--font-size--xl);
  --h6-size: var(--font-size--xl);

  @include blue-bg;

  display: flex;
  flex-flow: column;
  padding: var(--space--md);
  @media (min-width: $medium) {
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100vw;
    height: inherit;
  }
  .block--menu {
    flex: 0 1 100%;
    margin: 0 var(--space--sm);
    @media (min-width: $medium) {
      flex: 0 1 auto;
    }
  }
  .title {
    margin-top: 0;
  }
}
