/*------------------------------------------------------------------------------
Organism: Navigation - ultimenu
--------------------------------------------------------------------------------
Overwrite to reset default ultimenu styles.
------------------------------------------------------------------------------*/
@import "../../../00-utilities/breakpoints.scss";
.ultimenu--htb .ultimenu__region {
  box-shadow: unset;
}
.is-ultimenu .is-ultimenu__canvas-off,
.is-ultimenu--expanded .is-ultimenu__canvas-off,
.is-ultimenu--hiding .is-ultimenu__canvas-off {
  z-index: 1;
}
.is-ultimenu .is-ultihover > li {
  display: block;
}
.sidebar .ultimenu__flyout,
.is-ultihover.ultimenu--offcanvas:not(.ultimenu--vertical),
.is-ultihover.ultimenu--offcanvas .ultimenu__flyout,
#header .is-ultihover .ultimenu__flyout,
#footer .is-ultihover .ultimenu__flyout {
  min-width: unset;
}
.is-ultimenu .is-ultihover:not(.is-ulticaret) li .ultimenu__flyout:focus,
.is-ultimenu .is-ultihover:not(.is-ulticaret) li:hover > .ultimenu__flyout,
.is-ultimenu .is-ultihover:not(.is-ulticaret) li a:active + .ultimenu__flyout,
.is-ultimenu .is-ultihover:not(.is-ulticaret) li a:focus + .ultimenu__flyout {
  visibility: hidden;
  min-height: 0;
  max-height: 0;
  padding: 0;
  opacity: 0;
}
.is-ultidesktop .is-ultihover:not(.is-ulticaret) li.has-ultimenu a.open + .ultimenu__flyout,
.ultimenu .ultimenu__item.has-ultimenu:has(a.open) .ultimenu__flyout
 {
  visibility: visible;
  overflow: visible;
  height: auto;
  max-height: unset;
  transition-delay: 0.1s;
  opacity: 1;
}
.ultimenu .is-uitem-expanded > .ultimenu__flyout,
.ultimenu li:hover > .ultimenu__flyout,
.ultimenu li .ultimenu__flyout:focus-within,
.ultimenu li a:focus + .ultimenu__flyout {
  margin-top: 0;
}
