/*------------------------------------------------------------------------------
Organism: Navigation - ultimenu
--------------------------------------------------------------------------------
Overwrite to reset default ultimenu styles.
------------------------------------------------------------------------------*/
.button.button--ultiburger {
  top: var(--space--md);
  right: unset;
  left: var(--space--md);
}
