/*------------------------------------------------------------------------------
Organism: Navigation - ultimenu
--------------------------------------------------------------------------------
Overwrite to reset default ultimenu styles.
------------------------------------------------------------------------------*/
.ultimenu {
  --ultisub-normal: var(--blue);

  position: relative;
  li {
    .ultimenu__link {
      left: 10%;
      width: 40%;
      padding: var(--space--xs);
      transition: all 0.2s ease;
      text-decoration-color: var(--blue--lighter--80);
      color: var(--blue);
      font-size: var(--font-size--xl);
      font-weight: var(--font-weight--semibold);
      &:focus-visible {
        outline: var(--outline--focus);
      }
      &:hover,
      &:focus,
      &:active,
      &.is-ulink-active {
        text-decoration-line: underline;
        text-decoration-thickness: 0.4em;

        text-underline-offset: -0.2em;
        color: var(--dark-blue);
      }
    }
  }
  .ultimenu__flyout {
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
  }
}
.ultimenu__caret {
  i {
    --ulticaret-active: var(--gray--lighter--40);
    --ulticaret-normal: var(--gray--lighter--40);

    transform: rotate(90deg);
  }
}
.is-ulticaret--arrow .ultimenu__caret i::before,
.is-ulticaret--arrow .ultimenu__caret i::after {
  width: 1px;
  height: 14px;
}
.is-ulticaret--arrow .ultimenu__caret i::before {
  transform: translate(-8px, -50%) rotate(45deg);
}
.is-ulticaret--arrow .is-ulink-active .ultimenu__caret i::before {
  transform: translate(8px, -50%) rotate(45deg);
}
.ultimenu--htb .ultimenu__region {
  box-shadow: unset;
}
.ultimenu > .is-active-trail > .ultimenu__link,
.ultimenu__item:has(.menu-item--active-trail) .ultimenu__link {
  text-decoration-line: underline;
  text-decoration-thickness: 0.4em;

  text-decoration-color: var(--blue--lighter--80);
  text-underline-offset: -0.2em;
  color: var(--blue);
}
