/*------------------------------------------------------------------------------
Organism: Navigation - ultimenu
--------------------------------------------------------------------------------
Overwrite to reset default ultimenu styles.
------------------------------------------------------------------------------*/
:root {
  --ultibackdrop: transparent;
  --ulticanvas: var(--white);
}
.toolbar-fixed {
  /*.button.button--ultiburger {
    top: calc(45px + var(--space--md));
  }*/
  .is-ultimenu--active .is-ultimenu__canvas-off {
    top: calc(45px + var(--logo-size));
  }
}
.toolbar-fixed.toolbar-horizontal {
  /*.button.button--ultiburger {
    top: calc(79px + var(--space--md));
  }*/
  .is-ultimenu--active .is-ultimenu__canvas-off {
    top: calc(79px + var(--logo-size));
  }
}
.docs-wrapper {
  /*.button.button--ultiburger {
    top: calc(79px + var(--space--md));
  }*/
  .is-ultimenu--active .is-ultimenu__canvas-off {
    top: calc(79px + var(--logo-size));
  }
}
