<ul class="social-media-links">
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--facebook.twig" with {"facebook": "http://www.facebook.com/westernwashingtonuniversity"} %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--twitter.twig" with {"twitter": "https://twitter.com/WWU"} %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--instagram.twig" with {"instagram": "https://www.instagram.com/westernwashingtonuniversity/"} %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--youtube.twig" with {"youtube": "http://www.youtube.com/wwu"} %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--flickr.twig" with {"flickr": "http://www.flickr.com/wwu"} %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--wwu-social.twig" with {"wwu_social": "https://social.wwu.edu/"} %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--western-today.twig" with {"western_today": "https://westerntoday.wwu.edu/"} %}
  </li>
</ul>
