<ul class="social-media-links">
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--facebook.twig" %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--twitter.twig" %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--instagram.twig" %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--youtube.twig" %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--flickr.twig" %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--wwu-social.twig" %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--western-today.twig" %}
  </li>
</ul>
