/**
* @file
* molecules/countdown/_countdown.scss
*/

.countdown {
  color: white;
}

.countdown h1 > span {
  display: block;
  font-size: 0.8em;
  line-height: 0.8em;
}

.countdown ul {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  list-style: none;
}

.countdown li {
  padding: 36px 48px;
  border-right: 2px solid white;
  font-size: 1.5em;
}

.countdown li:last-of-type {
  border: none;
}

.countdown li > span {
  display: block;
  margin-bottom: 12px;
  font-size: 2.5em;
}

.countdown ul {
  flex-flow: row wrap;
}

@media (max-width: 841px) {
  .countdown ul {
    flex-flow: column;
  }

  .countdown li {
    border-right: none;
  }
}
