/*------------------------------------------------------------------------------
Molecule: Countdown
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

.block--countdown {
  padding: var(--space--xl);

  div[role="timer"] {
    @include breakpoint($medium) {
      flex-flow: row wrap;
    }

    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: var(--space--xl);
    list-style: none;

    p {
      @include breakpoint($medium) {
        border-right: var(--border-width--md) solid;
      }

      padding: var(--space--2xl) (var(--space--xl) * 2);
      text-align: center;
      font-size: 1.5;

      &:last-of-type {
        border: none;
      }

      .number {
        display: block;
        margin-bottom: var(--space--md);
        font-size: 2.5em;
      }
    }
  }

  .hidden {
    display: none;
  }
}
