/**
* @file
* molecules/countdown/_countdown.scss
*/

.block--countdown {
  ul {
    @include breakpoint($medium) {
      flex-flow: row wrap;
    }
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: $double-spacing;
    list-style: none;

    li {
      @include breakpoint($medium) {
        border-right: $border-width solid;
      }
      padding: $triple-spacing ($double-spacing * 2);
      font-size: 1.5em;

      &:last-of-type {
        border: none;
      }

      > span {
        display: block;
        margin-bottom: $standard-spacing;
        font-size: 2.5em;
      }
    }
  }
}

.black-bg,
.gray-bg,
.blue-bg,
.dark-blue-bg,
.green-bg,
.dark-green-bg,
.dark-blue-gradient-bg,
.blue-gradient-bg {
  .block--countdown {
    color: $white;
  }
}
