<div {{ attributes }}>
  <span id="countdown_date" style="display: none;">{{ content.field_date }}</span>
  <div class="container">
    {% block title %}
      {% include "@atoms/text/label/label.twig" %}
    {% endblock %}

    <ul role="timer">
      <li id="days-item"><span class="number" id="days"></span>days</li>
      <li id="hours-item"><span class="number" id="hours"></span>Hours</li>
      <li id="minutes-item"><span class="number" id="minutes"></span><span id="announced-minutes" aria-live="polite">Minutes</span></li>
      <li id="seconds-item"><span class="number" id="seconds"></span><span id="announced-seconds" aria-live="polite">Seconds</span></li>
    </ul>
  </div>
</div>
