<div {{ attributes }}>
  <span id="countdown_date" style="display: none;">Sep 22, 2020 15:30:00</span>
  <div class="container">
    {% block title %}
      {% include "@atoms/text/label/label.twig" %}
    {% endblock %}

    <ul role="timer">
      <li><span id="days"></span>days</li>
      <li><span id="hours"></span>Hours</li>
      <li><span id="minutes"></span>Minutes</li>
      <li><span id="seconds"></span>Seconds</li>
    </ul>
  </div>
</div>
