<section {{ attributes }} aria-label="{{ block_content.field_accessible_label.0.value }} countdown">
  <span id="countdown_date" style="display: none;">{{ content.field_date }}</span>
  <div class="container">
    {% block title %}
      {% include "@atoms/text/label/label.twig" %}
    {% endblock %}

    <ul role="timer">
      <li id="days-item">
        <span class="number" id="days">0</span> Days
      </li>
      <li id="hours-item">
        <span class="number" id="hours">0</span> Hours
      </li>
      <li id="minutes-item">
        <span class="number" id="minutes">0</span> Minutes
      </li>
      <li id="seconds-item">
        <span class="number" id="seconds">0</span> Seconds
      </li>
    </ul>

    <div id="announced-time" role="alert" class="visually-hidden"></div>
  </div>
</section>
