/**
* @file
* 02-molecules/content/search/mabel-search/_mabel-search.scss
*/
$simple-search-button--width: 7.5rem;
$mabel-label-min-font-size: 1.0625rem;
$mabel-label-max-font-size: 1.5625rem;
$mabel-label-font-size: calc(#{$mabel-label-min-font-size} + #{strip-unit($mabel-label-max-font-size - $mabel-label-min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));

#islandora-search-container {
  @include breakpoint($medium) {
    padding: $double-spacing 25vw;
  }
  background: linear-gradient(to right bottom, #002f5e, #003266, #00356d, #003875, #003b7d, #004186, #01478e, #004d97, #0058a3, #0063b0, #006ebc, #007ac8);
  padding: $double-spacing;
  display: flex;
  flex-flow: column;
  margin: auto;

  .block-title {
    display: block;
    margin: 0;
    margin-bottom: $half-spacing;
    color: $text-color-light;
    border: none;
    text-align: left;
    font-family: $sans-serif;
    font-size: $mabel-label-font-size;
    font-weight: $font-weight--bold;
  }

  .form-wrapper {
    position: relative;
  }

  .advanced-search-link {
    align-self: end;
    color: $white;
    font-size: $p-font-size--smaller;
    margin-top: $half-spacing;

    &:hover,
    &:focus,
    &:active {
      background-color: $darkest-blue;
      color: $lightest-green;
    }
  }
}

#islandora-solr-simple-search-form {
  .form-item-islandora-simple-search-query {
    + .form-submit {
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline-block;
      width: $simple-search-button--width;
      height: 100%;
      margin: 0;
      padding: $standard-spacing;
      border-radius: 0;
      background: $blue;
      color: $white;
      box-shadow: none;
      border: none;

      &:active,
      &:hover,
      &:focus {
        background: $dark-blue;
        transform: none;
      }
    }

    .form-text {
      width: calc(100% - #{$simple-search-button--width});
      margin: 0;
      border-color: $blue;
      font-size: $p-font-size;
      border-radius: 0;
    }
  }
}

input[title="Add field"],
input[title="Remove field"] {
  width: $toggle-size;
  height: $toggle-size;
  padding: 0;
  border-radius: 0;
  background: $blue;
  border: none;
  box-shadow: none;
  color: $white;

  &:active {
    transform: none;
  }
}

.islandora-solr-advanced-controls {
  position: relative;
  margin-top: $standard-spacing;

  .form-item,
  .form-submit {
    display: inline-block;
    margin-right: $standard-spacing;
  }
}
