/*------------------------------------------------------------------------------
Molecule: Mabel search
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
#islandora-search-container {
  @include blue-bg;
  @include breakpoint($medium) {
    padding: var(--space--md) 25vw;
  }
  background-image: var(--gradient--diagonal--blue-to-dark-blue);
  display: flex;
  flex-flow: column;
  margin: auto;
  padding: var(--space--md);

  .block-title {
    display: block;
    margin: 0;
    margin-bottom: var(--space--xs);
    text-align: left;
    border: none;
  }

  .form-wrapper {
    position: relative;
  }

  .advanced-search-link {
    align-self: end;
    margin-top: var(--space--xs);
    font-size: var(--font-size--sm);
  }
}

#islandora-solr-simple-search-form {
  .form-item-islandora-simple-search-query {
    + .form-submit {
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline-block;
      width: 7.5rem;
      height: 100%;
      margin: 0;
      padding: var(--space--sm);
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    .form-text {
      width: calc(100% - 7.5rem);
      margin: 0;
      border-radius: 0;
      font-size: var(--font-size--md);
    }
  }
}

input[title="Add field"],
input[title="Remove field"] {
  width: var(--toggle-size--sm);
  height: var(--toggle-size--sm);
  padding: 0;
  color: var(--white);
  border: none;
  border-radius: 0;
  background: var(--blue);
  box-shadow: none;

  &:active {
    transform: none;
  }
}

.islandora-solr-advanced-controls {
  position: relative;
  margin-top: var(--space--sm);

  .form-item,
  .form-submit {
    display: inline-block;
    margin-right: var(--space--sm);
  }
}
