<div id="block-islandora-solr-simple" class="block block-islandora-solr contextual-links-region first odd">
  <h2>MABEL</h2>
  <form action="/islandora/object/wwu%3A9004?display=list" method="post" id="islandora-solr-simple-search-form" accept-charset="UTF-8">
    <div>
      <div class="container-inline form-wrapper" id="edit-simple">
        <div class="form-item form-type-textfield form-item-islandora-simple-search-query">
          <label for="edit-islandora-simple-search-query">Multimedia Archives Based Electronic Library</label>
          <input type="text" id="edit-islandora-simple-search-query" name="islandora_simple_search_query" value="" size="15" maxlength="128" class="form-text">
        </div>
        <input type="submit" id="edit-submit" name="op" value="search" class="form-submit">
      </div>
      <input type="hidden" name="form_build_id" value="form-XLChvGlLaBOKGLrzzD63NabX0Hp_8Un5jmT4wb8xDj4">
      <input type="hidden" name="form_token" value="0J5OjuMRri5FkNxyYS39eg9-r5qGZKaLHCsh48GqlNc">
      <input type="hidden" name="form_id" value="islandora_solr_simple_search_form">
    </div>
  </form>
</div>

<div id="block-islandora-solr-advanced" class="block block-islandora-solr contextual-links-region even">
  <h2>Advanced search</h2>
  <form action="/islandora/object/wwu%3A9004?display=list" method="post" id="islandora-solr-advanced-search-form" accept-charset="UTF-8" class="is-expanded">
    <div>
      <div id="islandora-solr-advanced-terms" style="display: block;"><div style="display: block;">
      </div>
      <div>
        <div class="form-item form-type-select form-item-terms-0-field">
          <label for="edit-terms-0-field--2">Field </label>
          <select id="edit-terms-0-field--2" name="terms[0][field]" class="form-select">
            <option value="mods_relatedItem_host_titleInfo_title_mt" selected="selected">Collection</option>
            <option value="mods_titleInfo_title_mt">Title</option>
            <option value="catch_all_fields_mt">keyword - all fields</option>
            <option value="mods_identifier_local_ms">Identifier (local)</option>
            <option value="mods_typeOfResource_mt">Type of content</option>
            <option value="mods_abstract_mt">Description</option>
            <option value="mods_subject_topic_mt">Subj-Topic</option>
            <option value="mods_subject_name_corporate_namePart_mt">Subj-Name-Corporate</option>
            <option value="mods_subject_name_personal_namePart_mt">Subj-Name-Person</option>
            <option value="mods_subject_geographic_mt">Subj-Geographic</option>
            <option value="mods_genre_mt">Genre</option>
            <option value="mods_originInfo_place_placeTerm_mt">Place of origin</option>
            <option value="mods_physicalDescription_form_mt">Physical form</option>
            <option value="mods_accessCondition_use_and_reproduction_mt">Rights-Access</option>
            <option value="mods_subject_name_namePart_ms">NamePart test (ms)</option>
            <option value="PID">Identifier (mabel PID)</option>
          </select>
        </div>
        <div class="form-item form-type-textfield form-item-terms-0-search">
          <label for="edit-terms-0-search--2">Search terms </label>
          <input type="text" id="edit-terms-0-search--2" name="terms[0][search]" value="" size="20" maxlength="128" class="form-text">
        </div>
        <input style="visibility:hidden;position:fixed;top:-62.5rem;right:-62.5rem;" type="submit" id="edit-terms-0-hidden-submit--2" name="op" value="Search" class="form-submit">
        <input title="Add field" type="submit" id="edit-terms-0-add--2" name="add-field-0" value="+" class="form-submit ajax-processed">
        <input title="Remove field" type="submit" id="edit-terms-0-remove" name="remove-field-0" value="-" class="form-submit ajax-processed">
        <div>
          <div class="form-item form-type-select form-item-terms-0-boolean">
            <select id="edit-terms-0-boolean" name="terms[0][boolean]" class="form-select" aria-label="and, or, not">
              <option value="AND" selected="selected">AND</option>
              <option value="OR">OR</option>
              <option value="NOT">NOT</option>
            </select>
          </div>
        </div>
      </div>
      <div>
        <div class="form-item form-type-select form-item-terms-1-field">
          <label for="edit-terms-1-field">Field </label>
          <select id="edit-terms-1-field" name="terms[1][field]" class="form-select"><option value="mods_relatedItem_host_titleInfo_title_mt">Collection</option><option value="mods_titleInfo_title_mt">Title</option><option value="catch_all_fields_mt">keyword - all fields</option><option value="mods_identifier_local_ms">Identifier (local)</option><option value="mods_typeOfResource_mt">Type of content</option><option value="mods_abstract_mt">Description</option><option value="mods_subject_topic_mt">Subj-Topic</option><option value="mods_subject_name_corporate_namePart_mt">Subj-Name-Corporate</option><option value="mods_subject_name_personal_namePart_mt">Subj-Name-Person</option><option value="mods_subject_geographic_mt">Subj-Geographic</option><option value="mods_genre_mt">Genre</option><option value="mods_originInfo_place_placeTerm_mt">Place of origin</option><option value="mods_physicalDescription_form_mt">Physical form</option><option value="mods_accessCondition_use_and_reproduction_mt">Rights-Access</option><option value="mods_subject_name_namePart_ms">NamePart test (ms)</option><option value="PID">Identifier (mabel PID)</option></select>
        </div>
        <div class="form-item form-type-textfield form-item-terms-1-search">
          <label for="edit-terms-1-search">Search terms </label>
          <input type="text" id="edit-terms-1-search" name="terms[1][search]" value="" size="20" maxlength="128" class="form-text">
        </div>
        <input style="visibility:hidden;position:fixed;top:-62.5rem;right:-62.5rem;" type="submit" id="edit-terms-1-hidden-submit" name="op" value="Search" class="form-submit">
        <input title="Add field" type="submit" id="edit-terms-1-add" name="add-field-1" value="+" class="form-submit ajax-processed">
        <input title="Remove field" type="submit" id="edit-terms-1-remove" name="remove-field-1" value="-" class="form-submit ajax-processed"></div>
      </div>
      <div class="islandora-solr-advanced-controls">
        <div class="form-item form-type-checkbox form-item-islandora-solr-allow-preserve-filters">
          <input type="checkbox" id="edit-islandora-solr-allow-preserve-filters" name="islandora_solr_allow_preserve_filters" value="1" class="form-checkbox">
          <label class="option" for="edit-islandora-solr-allow-preserve-filters">Preserve Filters </label>

        </div>
        <input type="submit" id="edit-submit--2" name="op" value="Search" class="form-submit">
      </div>
      <input type="hidden" name="form_build_id" value="form-DHVTLWQC6-ctsNUe1Zv4EW7I-TvTL-MdorE2Rmbq6nQ">
      <input type="hidden" name="form_token" value="QhwjrXQtWa_cx3G9foH9mf0l4ThuaNonhkkiwdzHkpA">
      <input type="hidden" name="form_id" value="islandora_solr_advanced_search_form">
    </div>
  </form>
</div>
