/**
* @file
* molecules/headline/_headline.scss
*/
$headline-gradient-start: transparentize($darkest-blue, 0.2);
$headline-gradient-end: transparentize($darkest-blue, 0.5);

.headline {
  h1:after {
    border: none;
  }

  .play-link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-radius: $border-radius--round;
    border: $border-width solid $white;
    font-size: $p-font-size;

    .material-icons {
      font-size: inherit;
      position: relative;
      top: $half-spacing / 1.5;
    }
  }

  /* Style Option 1: Box with semi-transparent overlay */
  &.box-headline {
    @include breakpoint($medium) {
      margin-top: 5%;
      margin-left: 5%;
      background: linear-gradient(to right, $headline-gradient-start 0%, $headline-gradient-end 100%);
    }
    align-self: start;
    max-width: $max-content-width * (2/3);
    margin: $standard-spacing;
    padding: $double-spacing;
    color: $text-color-light;
    background-color: transparentize($darkest-blue, 0.3);

    -ms-grid-row-align: start;

    h1,
    h2 {
      margin-top: $standard-spacing;
      color: $text-color-light;
      border-bottom: none;
      font-family: $sans-serif;
    }

    a {
      color: $white;

      &:hover,
      &:focus,
      &:active {
        background-color: $dark-blue;
      }
    }

    .button {
      margin: $standard-spacing 0 0 0;
      color: $white;
      border-color: $white;
      background-color: transparent;

      &:hover,
      &:focus,
      &:active {
        color: $blue;
        background-color: $white;
      }
    }

    .play-link {
      color: $white;
      padding: ($standard-spacing / 1.2) $double-spacing;
      top: .3rem;

      &:hover,
      &:focus,
      &:active {
        background-color: $white;
        color: $blue;
      }
    }
  }

  /* Style Option 2: Left aligned bottom bar */
  &.left-aligned-bar {
    @include breakpoint($small) {
      display: flex;
      flex-flow: row wrap;
      justify-content: end;
    }
    @include breakpoint($large) {
      max-width: 70vw;
    }
    position: relative;
    align-self: end;
    width: 90vw;
    margin-top: 25vh;
    margin-bottom: $triple-spacing;
    padding: $double-spacing;
    color: $white;
    background: transparentize(scale-color($blue, $lightness: -18%), 0.2);

    h1,
    h2 {
      @include breakpoint($medium) {
        grid-column: initial;
      }
      position: relative;
      flex: 1 1;
      margin-top: 0;
      padding: 0;
      color: $white;
      border-bottom: none;
      font-family: $sans-serif;
      font-size: $h5-font-size;
      font-weight: $font-weight--regular;
    }

    a {
      color: $white;

      &:hover,
      &:focus,
      &:active {
        background-color: $dark-blue;
      }
    }

    .button {
      position: relative;
      align-self: end;
      margin-right: $standard-spacing;
      margin-left: $standard-spacing;
      margin-bottom: 0;
      border-color: $white;
      background-color: $blue;

      &:hover,
      &:focus,
      &:active {
        color: $blue;
        background: $white;
      }
    }

    .play-link {
      @include breakpoint($small) {
        padding: ($standard-spacing / 1.2) ($standard-spacing * 1.333);
        top: 0;
      }
      padding: ($standard-spacing / 1.2) $double-spacing;
      background-color: $blue;
      color: $white;
      top: .4rem;

      &:hover,
      &:focus,
      &:active {
        background-color: $white;
        color: $blue;
      }
    }
  }

  /* Style Option 3: Right aligned bottom bar */
  &.right-aligned-bar {
    @extend .left-aligned-bar;
    justify-self: end;
  }

  /* Style Option 4: Simple centered */
  &.simple-centered {
    align-self: center;
    margin: 10vh 0;
    text-align: center;

    justify-self: center;

    h1,
    h2 {
      @include breakpoint($large) {
        font-size: $h2-font-size--max--largest;
      }
      margin-top: 0;
      color: $white;
      border: none;
      text-shadow: 0.0625rem 0.0625rem 0.25rem transparentize($darkest-blue, 0.1);
      font-family: $sans-serif;
      font-size: $h2-font-size--largest;
      font-weight: bold;
    }

    a,
    p,
    .play-link {
      color: $white;
      text-shadow: 0.0625rem 0.0625rem 0.125rem transparentize($darkest-blue, 0.1);
    }

    a {
      &:hover,
      &:focus,
      &:active {
        background-color: $dark-blue;
      }
    }

    .play-link {
      background-color: $blue;
      padding: $standard-spacing $double-spacing;
      border: transparent;
      top: -$quarter-spacing;

      &:hover,
      &:focus,
      &:active {
        background-color: $dark-blue;
        color: $white;
      }
    }

    .tagline {
      @include breakpoint($large) {
        font-size: $h6-font-size--max--largest;
      }
      color: $white;
      text-shadow: 0.0625rem 0.0625rem 0.25rem transparentize($darkest-blue, 0.1);
      font-size: $h6-font-size--largest;
    }
  }
}

.font--dyslexia-friendly {
  .headline {
    &.box-headline {
      h1,
      h2 {
        font-family: var(--font--dyslexia-friendly);
      }
    }

    &.left-aligned-bar,
    &.right-aligned-bar {
      h1,
      h2 {
        font-family: var(--font--dyslexia-friendly);
      }
    }

    &.simple-centered {
      h1,
      h2 {
        font-family: var(--font--dyslexia-friendly);
      }
    }
  }
}

.font--hyperlegible {
  .headline {
    &.box-headline {
      h1,
      h2 {
        font-family: var(--font--hyperlegible);
      }
    }

    &.left-aligned-bar,
    &.right-aligned-bar {
      h1,
      h2 {
        font-family: var(--font--hyperlegible);
      }
    }

    &.simple-centered {
      h1,
      h2 {
        font-family: var(--font--hyperlegible);
      }
    }
  }
}
