/*------------------------------------------------------------------------------
Molecule: Headline
--------------------------------------------------------------------------------
1. Style 1: Box Headline
------------------------------------------------------------------------------*/

.headline {
  /*----------------------------------------------------------------------------
  1. Style 1: Box Headline
  ----------------------------------------------------------------------------*/
  &.box-headline {
    @include dark-blue-bg;
    @include breakpoint($medium) {
      margin-top: 5%;
      margin-left: 5%;
      background: linear-gradient(
        to right,
        rgba(0, 38, 81, 1) 0%,
        rgba(0, 38, 81, 0.5) 100%
      );
    }

    align-self: start;
    max-width: calc((2 * var(--content-area-max-width)) / 3);
    margin: var(--space--md);
    padding: var(--space--lg);
    background-color: rgba(0, 38, 81, 0.7);
  }

  /*----------------------------------------------------------------------------
  2. Style 2: Left/Right Aligned Blue Box
  ----------------------------------------------------------------------------*/
  &.left-aligned-bar {
    @include blue-bg;
    @include breakpoint($large) {
      max-width: 70vw;
    }

    position: relative;
    align-self: end;
    width: 90vw;
    margin-top: 25vh;
    margin-bottom: var(--space--xl);
    padding: var(--space--md);
    background: rgba(0, 122, 200, 0.8);
  }

  &.right-aligned-bar {
    justify-self: end;

    @extend .left-aligned-bar;
  }
}
