{% block container %}
<div{{ attributes }}>
{% endblock %}

  {% block title %}
    {% include "@atoms/text/label/label.twig" %}
  {% endblock %}

  {% block content %}
    <div class="body">
    {{ content.body }}
    </div>
  {% endblock %}

  {% block links %}
    {% if content.link %}
      <a href="{{ content.link.url }}" {% if attributes.hasClass('box-headline') %} class="cta light-blue" {% else %} class="cta" {% endif %}> {{ content.link.text }}</a>
    {% endif %}

    {% if content.video %}
      <button class="cta">Watch Video <span aria-hidden="true" class="material-icons" style="font-size: 1.125rem">play_arrow</span></a>
    {% endif %}
  {% endblock %}
</div>
