/**
 * @file
 * molecules/media/splash/_splash-image.scss
 */

.splash {
  position: absolute;
  z-index: -1;
  top: 0;
  overflow: hidden;
  width: 100vw;
  max-height: 70vh;

  img {
    width: 100%;
  }
}
