/**
* @file
* 00-molecules/navigation/menu/_menu.scss
*/

.menu {
  padding: 0;
  list-style: none;

  /* nested menus */
  .menu {
    margin: 0;

    li {
      border-left: none;

      li > a {
        &[aria-current="page"] {
          background-color: $lightest-green;
          color: $black;
        }
      }
    }

    a {
      padding-left: $double-spacing;
      font-size: $p-font-size--smaller;

      @include breakpoint($large) {
        font-size: $p-font-size--max--smaller;
      }
    }
  }
}

/* Block system menus */

.block--menu {
  .menu {
    li > a {
      &[aria-current="page"] {
        background-color: $lightest-green;
        font-weight: $font-weight--bold;

        &:hover,
        &:focus,
        &:active {
          background-color: $light-gray;
        }
      }
    }
  }
}

.dark-mode {
  .page-content .block--menu {
    .menu {
      li > a {
        &[aria-current="page"] {
          color: $black;

          &:hover,
          &:focus,
          &:active {
            background-color: $dark-blue;
            color: $light-green;
          }
        }
      }
    }
  }
}
