/*------------------------------------------------------------------------------
Molecule: Menu
--------------------------------------------------------------------------------
1. Nested menus
2. Block system menus
3. Dark mode
------------------------------------------------------------------------------*/
.menu {
  padding: 0;
  list-style: none;

  /*----------------------------------------------------------------------------
  1. Nested menus
  ----------------------------------------------------------------------------*/
  .menu {
    margin: 0;

    li {
      border-left: none;

      li > a {
        &[aria-current="page"] {
          background-color: var(--blue--lighter--40);
          color: var(--black);
        }
      }
    }

    a {
      padding-left: var(--space--md);
      font-size: var(--font-size--sm);
    }
  }
}

/*------------------------------------------------------------------------------
2. Block system menus
------------------------------------------------------------------------------*/
.block--menu {
  .menu {
    li > a {
      &[aria-current="page"] {
        background-color: var(--blue--lighter--40);
        font-weight: var(--font-weight--bold);

        &:hover,
        &:focus,
        &:active {
          background-color: var(--gray--lighter--80);
        }
      }
    }
  }
}

/*------------------------------------------------------------------------------
3. Dark mode
------------------------------------------------------------------------------*/
.dark-mode {
  .page-content .block--menu {
    .menu {
      li > a {
        &[aria-current="page"] {
          color: var(--black);

          &:hover,
          &:focus,
          &:active {
            background-color: var(--dark-blue);
            color: var(--light-green);
          }
        }
      }
    }
  }
}
