/**
* @file
* 00-molecules/navigation/menu/_menu.scss
*/

.menu {
  padding: 0;
  list-style: none;

  /* nested menus */
  .menu {
    margin: 0;

    li {
      border-left: none;

      &[aria-current="page"] {
        background-color: $lightest-green;
    
        a {
          color: $black;
        }
      }
    }

    a {
      padding-left: $double-spacing;
      font-size: $p-font-size--smaller;

      @include breakpoint ($large) {
        font-size: $p-font-size--max--smaller;
      }
    }
  }
}

/* Block system menus */

.block--menu {
  .menu {
    li {

      &[aria-current="page"] {
        background-color: $lightest-green;
      }
    }
  }
}