@use "../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Atom: Text - Horizontal Rule
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
hr,
.hr {
  display: block;
  margin: var(--space--md) 0;
  border: 0;
  border-bottom: var(--border-width--sm) solid var(--h1-color);
  @media (min-width: $medium) {
    border-width: var(--border-width-md);
  }
}
