/*------------------------------------------------------------------------------
Templates: Layouts - Three column
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.layout--threecol-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  > .layout__region {
    flex: 0 1 100%;
  }
  > .layout__region--first {
    @media (min-width: $small) {
      padding-right: var(--space--xs);
    }
  }
  > .layout__region--second {
    @media (min-width: $small) {
      padding-right: var(--space--xs);
      padding-left: var(--space--xs);
    }
  }
  > .layout__region--third {
    @media (min-width: $small) {
      padding-left: var(--space--xs);
    }
  }
  &.layout--threecol-section--25-50-25 > .layout__region--first,
  &.layout--threecol-section--25-50-25 > .layout__region--third,
  &.layout--threecol-section--25-25-50 > .layout__region--first,
  &.layout--threecol-section--25-25-50 > .layout__region--second,
  &.layout--threecol-section--50-25-25 > .layout__region--second,
  &.layout--threecol-section--50-25-25 > .layout__region--third {
    @media (min-width: $small) {
      flex: 0 1 25%;
    }

    font-size: var(--font-size--sm);
  }
  &.layout--threecol-section--25-50-25 > .layout__region--second,
  &.layout--threecol-section--25-25-50 > .layout__region--third,
  &.layout--threecol-section--50-25-25 > .layout__region--first {
    @media (min-width: $small) {
      flex: 0 1 50%;
    }
  }
  &.layout--threecol-section--33-34-33 > .layout__region--first,
  &.layout--threecol-section--33-34-33 > .layout__region--third {
    @media (min-width: $small) {
      flex: 0 1 33%;
    }

    font-size: var(--font-size--sm);
  }
  &.layout--threecol-section--33-34-33 > .layout__region--second {
    @media (min-width: $small) {
      flex: 0 1 34%;
    }

    font-size: var(--font-size--sm);
  }
}
.layout--threecol--page-width {
  @media (min-width: $large) {
    margin-right: calc(50% - 50vw - var(--space--xs));
    margin-left: calc(50% - 50vw - var(--space--xs));
  }

  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  margin-right: calc(-1 * var(--space--sm));
  margin-left: calc(-1 * var(--space--sm));
  > .layout__region {
    flex: 1 1 100%;
    max-width: none;
  }
  > .layout__region--first,
  > .layout__region--third {
    @media (min-width: $small) {
      flex: 1 1 33%;
    }
  }
  > .layout__region--second {
    @media (min-width: $small) {
      flex: 1 1 34%;
    }
  }
}
