/*------------------------------------------------------------------------------
Templates: Layouts - Two column
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

.layout--twocol-section {
  display: flex;
  flex-wrap: wrap;

  > .layout__region {
    flex: 0 1 100%;
  }

  > .layout__region--first {
    @include breakpoint($small) {
      padding-right: var(--space--xs);
    }
  }
  > .layout__region--second {
    @include breakpoint($small) {
      padding-left: var(--space--xs);
    }
  }

  &.layout--twocol-section--50-50 > .layout__region--first,
  &.layout--twocol-section--50-50 > .layout__region--second {
    @include breakpoint($small) {
      flex: 0 1 50%;
    }
  }

  &.layout--twocol-section--33-67 > .layout__region--first,
  &.layout--twocol-section--67-33 > .layout__region--second {
    @include breakpoint($small) {
      flex: 0 1 33%;
    }

    font-size: var(--font-size--sm);
  }

  &.layout--twocol-section--33-67 > .layout__region--second,
  &.layout--twocol-section--67-33 > .layout__region--first {
    @include breakpoint($small) {
      flex: 0 1 67%;
    }
  }

  &.layout--twocol-section--25-75 > .layout__region--first,
  &.layout--twocol-section--75-25 > .layout__region--second {
    @include breakpoint($small) {
      flex: 0 1 25%;
    }

    font-size: var(--font-size--sm);
  }

  &.layout--twocol-section--25-75 > .layout__region--second,
  &.layout--twocol-section--75-25 > .layout__region--first {
    @include breakpoint($small) {
      flex: 0 1 75%;
    }
  }
}

.layout--twocol--page-width {
  @include breakpoint($large) {
    margin-right: calc(50% - 50vw - var(--space--xs));
    margin-left: calc(50% - 50vw - var(--space--xs));
  }

  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  margin-right: calc(-1 * var(--space--sm));
  margin-left: calc(-1 * var(--space--sm));

  > .layout__region {
    flex: 0 1 100%;
    max-width: none;
  }

  > .layout__region--first,
  > .layout__region--second {
    @include breakpoint($small) {
      flex: 0 1 50%;
    }
  }
}
