/**
  * @file
  * 00-atoms/buttons/_menu-buttons.scss
  */

.nav--main {
  & > .menu,
  .ultimenu--main,
  .ultimenu-main-menu {
    background-color: initial;

    & > li {
      border: none;

      /* Keep borders even */
      &:first-of-type {
        a {
          border-left-width: $half-spacing;
        }
      }

      & > a {
        @include breakpoint($large) {
          height: $toggle-size--larger;
        }

        position: relative;
        display: table-cell;
        box-sizing: border-box;
        height: $toggle-size;
        padding: 0 $large-spacing;
        text-align: center;
        vertical-align: middle;
        white-space: normal;
        color: $white;
        background-color: $dark-blue;
        line-height: 1.4em;

        &:hover,
        &:focus {
          background-color: $light-green;
          color: $black;
        }
      }

      &.menu-item--active-trail,
      &.active {
        & > a {
          color: $dark-blue;
          background-color: $light-green;
        }
      }
    }
  }
}
