/**
  * @file
  * 00-atoms/buttons/_menu-buttons.scss
  */

.nav--main {
  .menu {
    background-color: initial;

    li {
      border: none;

      /* Keep borders even */
      &:first-of-type {
        a {
          border-left-width: $half-spacing;
        }
      }

      a {
        position: relative;
        display: table-cell;
        box-sizing: border-box;
        max-width: 280px;
        height: 80px;
        padding: 0 $button-padding;
        text-align: center;
        vertical-align: middle;
        white-space: normal;
        color: $white;
        outline: none;
        background-color: $dark-blue;
        line-height: 1.4em;

        &:hover,
        &:focus {
          background-color: $light-green;
          color: $dark-blue;
        }
      }

      &.menu-item--active-trail {
        a {
          color: $dark-blue;
          background-color: $light-green;
        }
      }
    }
  }

  &.alt {
    .menu {
      li {
        a {
          height: 94px;
          text-transform: uppercase;
          border-width: $half-spacing;
          border-style: solid;
          border-color: $white;
          border-left-width: 0;
          border-radius: 0;
          background-color: $blue;

          /* Triangular Tab */
          &:before,
          &:after {
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
            height: 0;
            content: "";
            transition: border $fast-transition-speed $standard-ease;
            transform: translatex(-50%);
          }
          &:before {
            border-top: solid 36px transparent;
            border-right: solid 68px transparent;
            border-bottom: solid 0 transparent;
            border-left: solid 68px transparent;
          }
          &:after {
            border-top: solid 16px transparent;
            border-right: solid 36px transparent;
            border-bottom: solid 0 transparent;
            border-left: solid 36px transparent;
          }

          /* Button hover & focus styles */
          &:hover,
          &:focus {
            background-color: mix(white, $dark-blue, $percent-change);
            color: $white;
            box-shadow: none;

            &:before {
              border-top: solid 36px $white;
            }

            &:after {
              border-top: solid 16px mix(black, $blue, $percent-change);
            }
          }
        }

        &.menu-item--active-trail {
          a {
            color: $white;
            background-color: $dark-blue;

            &:before {
              border-top: solid 36px $white;
            }

            &::after {
              border-top: solid 16px $dark-blue;
            }

            &:hover,
            &:focus {
              background-color: mix(white, $dark-blue, $percent-change);

              &::after {
                border-top: solid 16px mix(white, $dark-blue, $percent-change);
              }
            }
          }
        }
      }
    }
  }
}
