@use "../../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Organism: Footers - Western footer
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
wwu-footer {
  @include dark-blue-bg;

  display: grid;
  gap: var(--space--sm);
  text-align: center;
  border-top: solid var(--border-width--md) transparent;
  font-size: var(--font-size--xs);
  p {
    margin: 0;
    line-height: 1.5;
  }
  wwu-logo {
    margin: auto;
  }
  .social-media-links {
    justify-content: center;
  }
  .tribal-lands-statement {
    max-width: var(--content-area-max-width);
    margin: auto;
    padding: var(--space--xs);
  }
  .footer-bottom {
    background-color: var(--dark-blue--darker--20);
  }
  .footer-nav {
    width: 100%;
  }
  .copy-right {
    margin-top: var(--space--sm);
  }
}
