/*------------------------------------------------------------------------------
Organism: Footers - Western footer
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/breakpoints.scss";
@import "../../../01-atoms/background-color/_background-color-mixins.scss";
wwu-footer {
  @include dark-blue-bg;

  display: grid;
  text-align: center;
  border-top: solid var(--border-width--md) transparent;
  font-size: var(--font-size--xs);
  p {
    margin-bottom: var(--space--2xs);
    line-height: 1.5;
  }
  wwu-logo {
    margin: auto;
  }
  .tribal-lands-statement {
    max-width: var(--content-area-max-width);
    margin: auto;
    padding: 0 var(--space--sm);
  }
  .copyright {
    margin-bottom: var(--space--sm);
  }
  .social-media-links {
    justify-content: center;
  }
  .footer-nav {
    width: 100%;
    background-color: var(--dark-blue--darker--40);
  }
}
