/*------------------------------------------------------------------------------
Organism: Footers - Western footer
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/breakpoints.scss";
@import "../../../01-atoms/background-color/_background-color-mixins.scss";
wwu-footer {
  display: grid;
  text-align: center;
  border-top: solid var(--border-width--md) transparent;
  font-size: var(--font-size--xs);
  p {
    margin: 0;
    line-height: 1.5;
  }
  .artwork {
    position: relative;
    z-index: -2;
    img {
      display: block;
    }
  }
  .footer-waves {
    fill: var(--dark-blue);

    position: relative;
    z-index: -1;
    margin-bottom: -100%;
    transform: translatey(-2rem);
  }
  .social {
    margin: var(--space--sm);
  }
  .tribal-lands-statement {
    max-width: var(--content-area-max-width--sm);
    margin: auto;
    padding: var(--space--xs);
  }
  .footer-nav {
    display: flex;
    place-content: center;
    width: 100%;
    a {
      padding: var(--space--sm);
      text-decoration: none;
    }
  }
  .copyright {
    margin: var(--space--sm);
  }
}
