/**
* @file
* 02-molecules/testimonials/testimonial--quote-only/_testimonial--quote-only.scss
*/
$quote-icon-size: 3.125rem;

.block--pullquote {
  position: relative;

  blockquote {
    @include breakpoint($medium) {
      border-left: solid $border-width--thicker $green;
    }
    margin: 0 $double-spacing;
    border-left: solid $border-width $green;
    background: initial;

    .body {
      margin-bottom: $double-spacing;
    }

    .name {
      font-weight: $font-weight--bold;
    }
  }

  .decoration {
    display: none;
  }

  &.pullquote--editorial {
    blockquote {
      position: relative;
      max-width: $max-content-width / 3;
      margin: $quote-icon-size auto 0;
      padding-top: $quote-icon-size + $standard-spacing;
      border-top: $blue $border-width solid;
      border-bottom: $blue $border-width solid;
      border-left: none;
      background: initial;

      .block__title {
        border-bottom: none;
      }

      .body {
        color: $dark-blue;
      }

      .credit {
        text-align: center;
      }

      .name {
        display: block;
      }
    }

    .decoration {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      display: block;
      display: grid;
      width: $quote-icon-size;
      height: $quote-icon-size;
      padding: $half-spacing;
      transform: translate(-50%, -50%);
      text-align: center;
      color: $blue;
      border: solid $blue $border-width;
      border-radius: 50%;
      background: $white;
      font-family: pt serif;
      font-size: $quote-icon-size;
    }
  }
}

.dark-mode {
  .block--pullquote {
    &.pullquote--editorial {
      blockquote {
        .body {
          color: $white;
        }
      }
    }
  }
}
