/**
 * @file
 * 00-atoms/00-global/_fonts.scss
 */

@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i|Noto+Sans+KR:400,500,700,900");

// Font Family Variables
$sans-serif: "Noto Sans KR", "Open Sans", sans-serif;
$serif: "Crimson Text", serif;
$heading-font-family: $serif;
$body-font-family: $sans-serif;

// Font Weight Variables
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--black: 900;
$body-font-weight: $font-weight--regular;
$button-font-weight: $font-weight--bold;

// Fluid Typography: Major Second scale for headings/paragraphs
$min-title-font-size: 38px;
$max-title-font-size: 82px;

$min-h1-font-size: 27.03px;
$max-h1-font-size: 51.145px;

$min-h2-font-size: 24.027px;
$max-h2-font-size: 45.462px;

$min-h3-font-size: 21.358px;
$max-h3-font-size: 40.411px;

$min-h4-font-size: 18.985px;
$max-h4-font-size: 35.921px;

$min-h5-font-size: 16.875px;
$max-h5-font-size: 31.93px;

$min-p-font-size: 15px;
$max-p-font-size: 23px;

$min-splash-font-size: 15px;
$max-splash-font-size: 18px;


/*View width for fluid typography*/
$min-vw: 300px;
$max-vw: 1600px;


// Font Sizes
$title-font-size: calc(#{$min-title-font-size} + #{strip-unit($max-title-font-size - $min-title-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
$h1-font-size: calc(#{$min-h1-font-size} + #{strip-unit($max-h1-font-size - $min-h1-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
$h2-font-size: calc(#{$min-h2-font-size} + #{strip-unit($max-h2-font-size - $min-h2-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
$h3-font-size: calc(#{$min-h3-font-size} + #{strip-unit($max-h3-font-size - $min-h3-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
$h4-font-size: calc(#{$min-h4-font-size} + #{strip-unit($max-h4-font-size - $min-h4-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
$h5-font-size: calc(#{$min-h5-font-size} + #{strip-unit($max-h5-font-size - $min-h5-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
$p-font-size: calc(#{$min-p-font-size} + #{strip-unit($max-p-font-size - $min-p-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
$splash-font-size: calc(#{$min-splash-font-size} + #{strip-unit($max-splash-font-size - $min-splash-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));

$font-size--smaller: 0.8em;

// CSS Classes
.sans-serif {
  font-family: $sans-serif;
}

.serif {
  font-family: $serif;
  font-size: 1.2em;
}
