/*------------------------------------------------------------------------------
Molecule: Ribbon
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.ribbon {
  --ribbon-tail-height: 3.125rem;
  --ribbon-width: 12rem;

  position: relative;
  display: block;
  width: var(--ribbon-width);
  margin-bottom: var(--ribbon-tail-height);
  padding: var(--space--lg);
  text-align: center;
  color: var(--black);
  background: var(--gray--lighter--80);

  &:before,
  &:after {
    position: absolute;
    bottom: calc(-1 * var(--ribbon-tail-height));
    display: block;
    width: 0;
    height: 0;
    content: "";
    border-top: var(--ribbon-tail-height) solid var(--gray--lighter--80);
  }

  &:before {
    left: 0;
    border-right: calc(var(--ribbon-width) / 2) solid transparent;
  }

  &:after {
    right: 0;
    border-left: calc(var(--ribbon-width) / 2) solid transparent;
  }
}
