/**
 * @file
 * 00-atoms/lists/_lists.scss
 */

ul,
ol {
  margin: 0 0 $standard-spacing;
}

li {
  line-height: 1.5em;
  margin-bottom: 8px;
  @include breakpoint($medium) {
    margin-bottom: 12px;
  }
}

dl {
  margin-bottom: $half-spacing;
  dt {
    margin-top: $half-spacing;
    font-weight: 600;
  }
  dd {
    margin: 0;
  }
}
