/**
 * @file
 * 00-atoms/lists/_lists.scss
 */

ul,
ol {
  margin: 0;
}
dl {
  margin-bottom: $half-spacing;
  dt {
    margin-top: $half-spacing;
    font-weight: 600;
  }
  dd {
    margin: 0;
  }
}
