<ul>
  <li>This is a normal list</li>
  <li>It has items</li>
  <li>Nothing too fancy</li>
  <li>Maybe some <a href="#">links</a></li>
</ul>

<ul class="spaced">
  <li>This list has a .spaced class</li>
  <li>Its list items get a little more breathing room</li>
  <li>It's another option for lists</li>
</ul>
