div.icon-nav-container {
  margin: 0;
  padding: var(--space--2xs);
  .image-link a:focus {
    outline-color: var(--white);
  }
  .layout--flex .image-link {
    --image-link-size: 6.5rem;

    margin: var(--space--2xs) 0;
  }
  &.layout--flex .layout__region {
    max-width: var(--content-area-max-width);
    margin: auto;
  }
}
.icon-nav {
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  li {
    position: relative;
    display: flex;
    flex-flow: column;
    place-items: center;
    width: 15%;
    min-width: 4rem;
    text-align: center;
  }
  svg {
    order: 1;
    width: 100%;
    max-width: 5.5rem !important;
    cls-1 {
      transition: var(--ease--standard) var(--transition-speed--md);
    }
  }
  a {
    order: 2;
    text-decoration: none;
    color: var(--white);
    font-size: var(--font-size--xs);
    font-weight: var(--font-weight--regular);
    line-height: 1.2;
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
    }
    &:active,
    &:focus,
    &:hover {
      color: var(--light-green--lighter--20);
      background: none;
    }
    &:hover + svg .cls-1 {
      fill: var(--blue--lighter--60);
    }
  }
  .image-link a {
    background: rgba(0, 98, 160, 0.8);
  }
}

/* These are custom styles that need to be placed on the pages containing the icon nav only */
/*
.splash>div:nth-of-type(1) div {
  width: unset;
  height: unset;
}

.splash>div:nth-of-type(1) .image-link {
  width: var(--image-link-size);
  height: var(--image-link-size);
}

.featured-major-splash-area>div,
.splash>div {
  grid-row: 2;
}

.featured-major-splash-area>.icon-nav-container,
.splash>.icon-nav-container {
  grid-row: 1;
}
*/
