/*------------------------------------------------------------------------------
Organism: Footers - Site footer
--------------------------------------------------------------------------------
1. Print
------------------------------------------------------------------------------*/
.site-footer {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space--lg);
  padding: var(--space--lg);
  border-top: solid var(--border-width--md) transparent;
  .footer-region {
    flex: 1 1 30%;
  }
}
/*------------------------------------------------------------------------------
1. Print
------------------------------------------------------------------------------*/
.page-footer {
  @media print {
    display: none !important;
  }
}
