/*------------------------------------------------------------------------------
Organism: Footers - Site footer
--------------------------------------------------------------------------------
1. Print
------------------------------------------------------------------------------*/
.site-footer {
  --h2-size: var(--font-size--md);
  --h3-size: var(--font-size--md);
  --h4-size: var(--font-size--md);
  --h5-size: var(--font-size--md);

  display: flex;
  flex-flow: row wrap;
  gap: var(--space--lg);
  max-width: var(--content-area-max-width);
  margin: auto;
  border-top: solid var(--border-width--md) transparent;
  font-size: var(--font-size--sm);
  .footer-region {
    flex: 1 1 30%;
  }
  .title {
    margin-top: 0;
  }
}
.wwu-footer-divider {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: var(--content-area-max-width);
  margin: auto;
  .separator {
    display: block;
    margin-bottom: var(--space--md);
    margin-left: var(--space--md);
    border-bottom: solid var(--dark-blue) var(--border-width--sm);
  }
}
.wwu-tagline {
  margin: 0;
  text-transform: uppercase;
  color: var(--dark-blue);
  font-family: var(--font--title);
  font-size: var(--h3-size);
  font-weight: var(--font-weight--black);
}
/*------------------------------------------------------------------------------
1. Print
------------------------------------------------------------------------------*/
.page-footer {
  @media print {
    display: none !important;
  }
}
