@use "../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Molecule: Schedule
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.schedule-item {
  @include lightest-gray-bg;

  position: relative;
  display: grid;
  grid-template-areas: "time title"
  "time body";
  grid-template-columns: 6rem 1fr;
  grid-template-rows: auto auto;
  margin-bottom: var(--space--xs);
  column-gap: var(--space--sm);
  background: var(--table-gray--darker--10);
  &:focus-within {
    outline: var(--outline--focus);
    outline-offset: var(--oline-offset);;
  }
  p {
    margin: 0;
  }
  .title {
    grid-area: title;
    a {
      text-decoration: none;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
        transition: var(--transition-speed--fast) var(--ease--standard) box-shadow;
        box-shadow: var(--shadow--soft);
      }
      &:hover,
      &:focus {
        &:after {
          box-shadow: var(--shadow--soft--hover);
        }
      }
    }
  }
  .heading {
    margin: 0;
    font-size: var(--font-size--lg);
  }
  .time {
    @include blue-bg;

    display: grid;
    grid-area: time;
    place-content: center;
    padding: var(--space--md);
    text-align: center;
    font-family: var(--font--title);
    font-weight: var(--font-weight--black);
    p {
      line-height: 1.2;
    }
  }
  .body {
    grid-area: body;
  }
}
