/**
* @file
* 02-molecules/content/lightbox/_lightbox.scss
*/

 .lightbox {
   &-dialog {
    @include breakpoint($large) {
      max-width: $max-content-width;
      transform: translate(8rem, 3rem);
    }
    @include breakpoint($medium) {
      -ms-grid-template-columns: 1fr 8%;
      grid-template-columns: 1fr 8%;
      width: 90%;
      transform: translate(2.5rem, 10rem);
    }
    display: -ms-grid;
    -ms-grid-columns: 1fr 15%;
    display: grid;
    grid-template-columns: 1fr 15%;
    grid-template-areas: "... button" "content content";
    position: fixed;
    top: 0;
    left: 0;
    padding: $standard-spacing;
    border-radius: $border-radius--round-square;
    background-color: $white;
    height: auto;
    width: 100%;
    z-index: 6;
    transform: translateY(16rem);
  }

  &-content {
    grid-area: content;
    align-self: end;
  }

  &-close-dialog {
    grid-area: button;
    transform: scale(.7);
    align-self: start;
    justify-self: end;
  }

  &-overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: transparentize($black, .3);
     z-index: 5;
   }

  &-dialog, &-overlay {
    &.hidden {
      display: none;
    }
  }
}
