/**
 * @file
 * 00-atoms/icons/social-media-icons/_social-media-icons.scss
 */

.social-media-links {
  @include breakpoint($large) {
    max-width: 500px;
  }
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 400px;
  padding: 0;
  list-style: none;

  a {
    @include breakpoint($large) {
      width: $icon-size--large;
      height: $icon-size--large;
    }
    display: block;
    width: $icon-size;
    height: $icon-size;
    margin: $half-spacing;

    svg {
      transition: fill $standard-ease $button-transition-speed;
      width: 100%;

      fill: $default-button-color;
    }

    &:hover,
    &:focus {
      svg {
        fill: mix(white, $default-button-color, $percent-change);
      }
    }
  }
}
