/**
 * @file
 * 00-atoms/icons/social-media-icons/_social-media-icons.scss
 */
$icon-space: (($toggle-size - $icon-size) / 2) - 1;

.social-icon {
  display: block;
  width: $toggle-size;
  height: $toggle-size;
  transition: $standard-ease $button-transition-speed background-color;
  color: $white;
  background-color: $blue;

  svg {
    width: 100%;
    padding: (($toggle-size - $icon-size) / 2) - 1;
    transition: fill $standard-ease $button-transition-speed;

    fill: $white;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $dark-blue;
  }

  &:focus {
    @include breakpoint($medium) {
      outline-width: $border-width--thicker;
      outline-offset: $border-width--thicker;
    }
    outline: $focus-outline;
    outline-color: $dark-blue;
    outline-offset: $border-width;
  }
}

.social-media-links {
  @include breakpoint($medium) {
    max-width: none;
  }
  display: flex;
  flex-flow: row wrap;
  max-width: 400px;
  padding: 0;
  list-style: none;

  .social-icon {
    margin: $standard-spacing $standard-spacing 0 0;
  }
}
