/**
 * @file
 * 00-atoms/icons/social-media-icons/_social-media-icons.scss
 */

.social-icon {
  display: block;
  width: $toggle-size;
  height: $toggle-size;
  transition: $standard-ease $button-transition-speed;
  background-color: $blue;

  svg {
    width: 100%;
    margin-top: (($toggle-size - $icon-size) / 2) - 1;
    margin-left: (($toggle-size - $icon-size) / 2) - 1;
    transition: fill $standard-ease $button-transition-speed;

    fill: $white;
  }

  &:hover,
  &:focus {
    background-color: $light-green;
  }
}

.social-media-links {
  display: flex;
  flex-flow: row wrap;
  max-width: 400px;
  padding: 0;
  list-style: none;

  .social-icon {
    margin: $standard-spacing $standard-spacing 0 0;
  }
}
