<a href="{{ western_today.url }}" class="social-icon western-today">
  <span class="visually-hidden">Western Today</span>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" aria-hidden="true" role="img">
    <title id="wt-icon">Western Today</title>
    <polygon points="11.8,17.5 9.4,9.5 7.1,17.5 5.2,17.5 2,6.4 4.1,6.4 6.2,14.1 8.5,6.4 10.4,6.4 12.7,14.1 14.9,6.4 16.9,6.4
    13.6,17.5 "/>
    <path d="M21.8,17.4c-0.5,0.2-1,0.3-1.5,0.3c-2.1,0-2.2-1.4-2.2-2.6v-3.4h-1.5V9.9h1.5V8h1.8v1.9h2v1.7h-2v3.1c0,1,0.1,1.2,0.7,1.2
    c0.3,0,0.6-0.1,0.9-0.2l0.5-0.2l0,1.8L21.8,17.4z"/>
  </svg>
</a>
