/*
* @file
* templates/layouts/fourcol/_fourcol.scss
*/

.layout--fourcol-section {
  display: flex;
  flex-wrap: wrap;

  > .layout__region {
    @include font-size--smaller;
    @include breakpoint($small) {
      flex: 0 1 25%;
    }
    flex: 0 1 100%;
  }

  > .layout__region--first {
    @include breakpoint($small) {
      padding-right: $half-spacing;
    }
  }

  > .layout__region--second,
  > .layout__region--third {
    @include breakpoint($small) {
      padding-right: $half-spacing;
      padding-left: $half-spacing;
    }
  }

  > .layout__region--fourth {
    @include breakpoint($small) {
      padding-left: $half-spacing;
    }
  }


  > .layout__region--first {
    @include breakpoint($medium) {
      padding-right: $standard-spacing;
    }
  }

  > .layout__region--second,
  > .layout__region--third {
    @include breakpoint($medium) {
      padding-right: $standard-spacing;
      padding-left: $standard-spacing;
    }
  }

  > .layout__region--fourth {
    @include breakpoint($medium) {
      padding-left: $standard-spacing;
    }
  }
}

.layout--fourcol--page-width {
  @include breakpoint($large) {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
  display: flex;
  flex-wrap: wrap;
  margin-left: -$standard-spacing;

  > .layout__region {
    flex: 0 1 100%;
    max-width: none;
  }

  > .layout__region--first,
  > .layout__region--second,
  > .layout__region--third,
  > .layout__region--fourth {
    @include breakpoint($small) {
      flex: 0 1 25%;
    }
  }
}
