/*------------------------------------------------------------------------------
Molecule: Alerts
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.alert {
  --alert-logo-size: 4.25rem;
  width: 100%;
  padding: var(--space--md);

  .alert-header {
    border-bottom: none;
    margin-top: 0;
  }

  .alert-body {
    margin: var(--space--md) 0;
  }

  .alert-icon {
    width: var(--alert-logo-size);
    float: left;
    margin-right: var(--space--md);

    svg {
      position: relative;
      width: var(--alert-logo-size);
      height: auto;
    }
  }

  .alert-footer {
    text-align: right;
  }

  &.emergency {
    color: var(--white);
    background-color: var(--red);
    border-top: var(--border-width--md) solid transparent;

    .alert-header {
      color: var(--white);
    }

    svg {
      fill: var(--white);
    }
  }

  &.weather {
    color: var(--dark-blue);
    background-color: var(--yellow);
    border-top: var(--border-width--md) solid transparent;
    border-bottom: var(--border-width--md) solid transparent;

    .alert-header {
      color: var(--dark-blue);
    }

    svg {
      fill: var(--dark-blue);
    }
  }
}

@media (forced-colors: active) {
   .alert.weather, 
   .alert.emergency {
     svg {
       fill: CanvasText;
     }
   }
}
