/*------------------------------------------------------------------------------
Atom: Images - Stylized
--------------------------------------------------------------------------------
In the current version of the theme, stylized images are circles
------------------------------------------------------------------------------*/
.image--stylized {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  * {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  img {
    object-fit: cover;

    display: block;
    width: 100%;
    height: 100%;
  }
}
