/**
* @file
* molecules/display-preferences/_display-preferences.scss
*/

.display-preferences {
  @include breakpoint($medium) {
    min-height: initial;
    margin-bottom: 0;
  }
  flex-flow: row wrap;
  align-self: start;
  justify-content: flex-start;
  margin-bottom: $triple-spacing;
  font-family: $condensed;

  .quick-links {
    display: flex;
  }

  .icon-with-text {
    display: flex;
    align-items: center;
    width: initial;
    height: initial;
    padding: $half-spacing $standard-spacing $half-spacing $half-spacing;
    color: $white;
    border-radius: 0;
    background: transparent;
    box-shadow: none;

    .material-icons {
      position: relative;
      margin-right: $border-width;
      font-size: $icon-size--medium;
    }

    &:hover,
    &:active,
    &:focus {
      color: $darkest-blue;
      background-color: $lightest-green;
    }

    &:focus {
      outline-color: $darkest-blue;
      outline-offset: -$border-width;
    }

    &.my-western-link {
      @include breakpoint($medium) {
        width: initial;
      }
      width: $toggle-size + $standard-spacing;
    }
  }

  .toggle-display-preferences {
    width: initial;
  }

  .display-preferences-menu {
    display: flex;
    flex: 0 0 100%;
    padding: $double-spacing;
    transition: $standard-ease $fast-transition-speed all;
    color: $white;
    background-image: linear-gradient(to bottom, $darkest-blue, transparentize($dark-blue, 0.1));

    &.closed {
      visibility: hidden;
      opacity: 0;
    }

    &.open {
      visibility: visible;
      opacity: 1;
    }

    legend {
      margin: 0;
      padding: $half-spacing;
    }
  }
}
