<div class="display-preferences">
  <div class="color-mode">
    <fieldset>
      <legend>Color Mode:</legend>
      <input id="default" type="checkbox" name="toppings" value="default">
      <label for="default">Default</label><br>
      <input id="Dark Mode" type="checkbox" name="toppings" value="Dark Mode">
      <label for="Dark Mode">Dark Mode</label><br>
      <input id="low-contrast-light" type="checkbox" name="toppings" value="low-contrast-light">
      <label for="low-contrast-light">Low Contrast (light)</label><br>
      <input id="low-contrast-dark" type="checkbox" name="toppings" value="low-contrast-dark">
      <label for="low-contrast-dark">Low Contrast (dark)</label>
    </fieldset>
  </div>
</div>
