/*------------------------------------------------------------------------------
Atom: Page
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
html {
  /* using "oline" for overwriteable props because csscomb doesn't handle sorting css variables well, this keeps them at the top */
  --oline-color: var(--dark-blue);
  --oline-offset: var(--outline-offset--outset);
  --page-background: var(--white);

  scroll-behavior: smooth;
  color: var(--black);
  * {
    box-sizing: border-box;
    &:focus-visible {
      outline: dotted var(--oline-color) var(--outline-width);
      outline-offset: var(--oline-offset);
    }
  }
}
html[data-theme="dark"] {
  --oline-color: var(--white);
  --page-background: var(--black);
}
iframe {
  border: 0;
}
