.search2 {
  .western-header .wrap .site-name {
    display: none !important;
  }

  .splash {
    grid-template-rows: 170px;
  }
}

.search-wrapper {
  * {
    font-family: $sans-serif;
    font-size: $p-font-size;
  }
}
