{% embed "base.twig" %}
  {% block body %}
  <body class="search2">
  {% endblock %}

  {% block page %}
    {% embed "@organisms/page/page.html.twig" %}

      {% block splash %}
        <div class="splash">
          <div class="block block--page-title-block">
            <h1 class="page-title">Search</h1>
          </div>
        </div>
      {% endblock %}

      {% block content %}
        {% embed "@organisms/content/content-region/content-region.html.twig" %}

        {% block page_content %}
          <section class="search-wrapper">

            <div class="content column">
            <div xmlns:u="http://www.thunderstone.com/ParametricSearch/1.0/" class="search">
            <form method="get" id="ThunderstoneSearchForm" action="https://fairhaven.wwu.edu/thundersearch/result" class="ThunderstoneForm">
            <input type="hidden" name="mode" value=""><input type="hidden" name="opts" value=""><input type="hidden" name="pr" value="Fairhaven"><input type="hidden" name="dropXSL" value="html"><input type="hidden" id="sq" name="sq" value=""><input type="hidden" name="prox" value="page"><input type="hidden" name="rorder" value="500"><input type="hidden" name="rprox" value="500"><input type="hidden" name="rdfreq" value="500"><input type="hidden" name="rwfreq" value="500"><input type="hidden" name="rlead" value="500"><input type="hidden" name="rdepth" value="0"><input type="hidden" name="sufs" value="0"><input type="hidden" name="order" value="r"><div class="simple-search"><div class="search-area">
            <input size="30" id="query" name="query" class="search-query" value="search"><input type="submit" value="Submit" class="search-submit"></div></div>
            </form>
            <dl class="search-result"><dt>
            <span class="result-number">1</span><span class="result-title"><a href="https://fairhaven.wwu.edu/search-monsters-destroy-islamophobia-war-terror-and-us-imperialism%E2%80%9D">"In <b>Search</b> of Monsters to Destroy: Islamophobia, the War on Terror...</a></span>
            </dt>
            <dd><span class="result-abstract">Jump to navigation Western Washington University Quick Links c Calendar d Directory i Index l Map w myWestern <b>Search</b> <b>Search</b> Query <b>Search</b> Western <b>Search</b> Main Navigation Fairhaven ...</span></dd>
            </dl><dl class="search-result"><dt>
            <span class="result-number">2</span><span class="result-title"><a href="https://fairhaven.wwu.edu/aggregator/sources/1">Home Page news Feed | Fairhaven College of Interdisciplinary...</a></span>
            </dt>
            <dd><span class="result-abstract">Jump to navigation Western Washington University Quick Links c Calendar d Directory i Index l Map w myWestern <b>Search</b> <b>Search</b> Query <b>Search</b> Western <b>Search</b> Main Navigation Fairhaven ...</span></dd>
            </dl><dl class="search-result"><dt>
            <span class="result-number">3</span><span class="result-title"><a href="https://fairhaven.wwu.edu/users/herrinj4">Jack Herring | Fairhaven College of Interdisciplinary Studies</a></span>
            </dt>
            <dd><span class="result-abstract">Jump to navigation Western Washington University Quick Links c Calendar d Directory i Index l Map w myWestern <b>Search</b> <b>Search</b> Query <b>Search</b> Western <b>Search</b> Main Navigation Fairhaven ...</span></dd>
            </dl><dl class="search-result"><dt>
            <span class="result-number">4</span><span class="result-title"><a href="https://fairhaven.wwu.edu/home4?qt-fairhaven_quicktabs=0">Fairhaven College of Interdisciplinary Studies</a></span>
            </dt>
            <dd><span class="result-abstract">Jump to navigation Western Washington University Quick Links c Calendar d Directory i Index l Map w myWestern <b>Search</b> <b>Search</b> Query <b>Search</b> Western <b>Search</b> Main Navigation Fairhaven ...</span></dd>
            </dl><dl class="search-result"><dt>
            <span class="result-number">5</span><span class="result-title"><a href="https://fairhaven.wwu.edu/world-issues-forum/archive">Past World Issues Forums | Fairhaven College of Interdisciplinary...</a></span>
            </dt>
            <dd><span class="result-abstract">Jump to navigation Western Washington University Quick Links c Calendar d Directory i Index l Map w myWestern <b>Search</b> <b>Search</b> Query <b>Search</b> Western <b>Search</b> Main Navigation Fairhaven ...</span></dd>
            </dl><dl class="search-result"><dt>
            <span class="result-number">6</span><span class="result-title"><a href="https://fairhaven.wwu.edu/home4?qt-fairhaven_quicktabs=1">Fairhaven College of Interdisciplinary Studies</a></span>
            </dt>
            <dd><span class="result-abstract">Jump to navigation Western Washington University Quick Links c Calendar d Directory i Index l Map w myWestern <b>Search</b> <b>Search</b> Query <b>Search</b> Western <b>Search</b> Main Navigation Fairhaven ...</span></dd>
            </dl><dl class="search-result"><dt>
            <span class="result-number">7</span><span class="result-title"><a href="https://fairhaven.wwu.edu/deans-welcome">About the Dean | Fairhaven College of Interdisciplinary Studies</a></span>
            </dt>
            <dd><span class="result-abstract">Jump to navigation Western Washington University Quick Links c Calendar d Directory i Index l Map w myWestern <b>Search</b> <b>Search</b> Query <b>Search</b> Western <b>Search</b> Main Navigation Fairhaven ...</span></dd>
            </dl><dl class="search-result"><dt>
            <span class="result-number">8</span><span class="result-title"><a href="https://fairhaven.wwu.edu/courses">Courses | Fairhaven College of Interdisciplinary Studies</a></span>
            </dt>
            <dd><span class="result-abstract">Jump to navigation Western Washington University Quick Links c Calendar d Directory i Index l Map w myWestern <b>Search</b> <b>Search</b> Query <b>Search</b> Western <b>Search</b> Main Navigation Fairhaven ...</span></dd>
            </dl><dl class="search-result"><dt>
            <span class="result-number">9</span><span class="result-title"><a href="https://fairhaven.wwu.edu/users/jbower">John Bower | Fairhaven College of Interdisciplinary Studies</a></span>
            </dt>
            <dd><span class="result-abstract">Jump to navigation Western Washington University Quick Links c Calendar d Directory i Index l Map w myWestern <b>Search</b> <b>Search</b> Query <b>Search</b> Western <b>Search</b> Main Navigation Fairhaven ...</span></dd>
            </dl><dl class="search-result"><dt>
            <span class="result-number">10</span><span class="result-title"><a href="https://fairhaven.wwu.edu/standing-rock-and-media">Standing Rock and the Media | Fairhaven College of Interdisciplinary...</a></span>
            </dt>
            <dd><span class="result-abstract">Jump to navigation Western Washington University Quick Links c Calendar d Directory i Index l Map w myWestern <b>Search</b> <b>Search</b> Query <b>Search</b> Western <b>Search</b> Main Navigation Fairhaven ...</span></dd>
            </dl><div class="search-results-summary">
            <span class="number-of-results">1 through 10 of
             254 matching documents, best matches first. <a href="https://fairhaven.wwu.edu/thundersearch/result?query=search&amp;pr=Fairhaven&amp;prox=page&amp;rorder=500&amp;rprox=500&amp;rdfreq=500&amp;rwfreq=500&amp;rlead=500&amp;rdepth=0&amp;sufs=0&amp;order=dd&amp;dropXSL=html">sort by date</a></span><div class="group-by-collapsed"></div>
            <div class="search-pager">
            <span class="active-page">1</span><a href="https://fairhaven.wwu.edu/thundersearch/result?query=search&amp;pr=Fairhaven&amp;prox=page&amp;rorder=500&amp;rprox=500&amp;rdfreq=500&amp;rwfreq=500&amp;rlead=500&amp;rdepth=0&amp;sufs=0&amp;order=r&amp;jump=10&amp;dropXSL=html">2</a><a href="https://fairhaven.wwu.edu/thundersearch/result?query=search&amp;pr=Fairhaven&amp;prox=page&amp;rorder=500&amp;rprox=500&amp;rdfreq=500&amp;rwfreq=500&amp;rlead=500&amp;rdepth=0&amp;sufs=0&amp;order=r&amp;jump=20&amp;dropXSL=html">3</a><a href="https://fairhaven.wwu.edu/thundersearch/result?query=search&amp;pr=Fairhaven&amp;prox=page&amp;rorder=500&amp;rprox=500&amp;rdfreq=500&amp;rwfreq=500&amp;rlead=500&amp;rdepth=0&amp;sufs=0&amp;order=r&amp;jump=30&amp;dropXSL=html">4</a><a href="https://fairhaven.wwu.edu/thundersearch/result?query=search&amp;pr=Fairhaven&amp;prox=page&amp;rorder=500&amp;rprox=500&amp;rdfreq=500&amp;rwfreq=500&amp;rlead=500&amp;rdepth=0&amp;sufs=0&amp;order=r&amp;jump=40&amp;dropXSL=html">5</a><a href="https://fairhaven.wwu.edu/thundersearch/result?query=search&amp;pr=Fairhaven&amp;prox=page&amp;rorder=500&amp;rprox=500&amp;rdfreq=500&amp;rwfreq=500&amp;rlead=500&amp;rdepth=0&amp;sufs=0&amp;order=r&amp;jump=50&amp;dropXSL=html">6</a><a href="https://fairhaven.wwu.edu/thundersearch/result?query=search&amp;pr=Fairhaven&amp;prox=page&amp;rorder=500&amp;rprox=500&amp;rdfreq=500&amp;rwfreq=500&amp;rlead=500&amp;rdepth=0&amp;sufs=0&amp;order=r&amp;jump=60&amp;dropXSL=html">7</a><a href="https://fairhaven.wwu.edu/thundersearch/result?query=search&amp;pr=Fairhaven&amp;prox=page&amp;rorder=500&amp;rprox=500&amp;rdfreq=500&amp;rwfreq=500&amp;rlead=500&amp;rdepth=0&amp;sufs=0&amp;order=r&amp;jump=70&amp;dropXSL=html">8</a><a href="https://fairhaven.wwu.edu/thundersearch/result?query=search&amp;pr=Fairhaven&amp;prox=page&amp;rorder=500&amp;rprox=500&amp;rdfreq=500&amp;rwfreq=500&amp;rlead=500&amp;rdepth=0&amp;sufs=0&amp;order=r&amp;jump=80&amp;dropXSL=html">9</a><a href="https://fairhaven.wwu.edu/thundersearch/result?query=search&amp;pr=Fairhaven&amp;prox=page&amp;rorder=500&amp;rprox=500&amp;rdfreq=500&amp;rwfreq=500&amp;rlead=500&amp;rdepth=0&amp;sufs=0&amp;order=r&amp;jump=90&amp;dropXSL=html">10</a><a href="https://fairhaven.wwu.edu/thundersearch/result?query=search&amp;pr=Fairhaven&amp;prox=page&amp;rorder=500&amp;rprox=500&amp;rdfreq=500&amp;rwfreq=500&amp;rlead=500&amp;rdepth=0&amp;sufs=0&amp;order=r&amp;jump=10&amp;dropXSL=html"><span class="next">next</span></a>
            </div>
            </div>
            </div>
            </div>

<!-- end sample content !-->
          </section>
        {% endblock %}

        {% endembed %}
      {% endblock %}

      {% block footer %}
        <footer role="contentinfo" class="page-footer region region--footer">
          {% include "@organisms/footers/wwu-footer/wwu-footer.html.twig" %}
        </footer>
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
