<figure{{ attributes }}>
  <figcaption>Simple Flowchart Caption</figcaption>

  <ol{{ list_attributes }}>
  {% for item in items %}
    <li>
      <span class="item light-gray-bg">{{ item.content }}</span>
      <span class="flow-right" aria-hidden="true"><span class="material-icons">arrow_forward</span></span>
      <span class="flow-down" aria-hidden="true"><span class="material-icons">arrow_downward</span></span>
    </li>
  {% endfor %}
  </ol>
</figure>
