<figure class="org-chart">
  <ul class="level-a">
    <li class="item-level-a">
      <a href="#">
        University Advancement
      </a>
      <ul class="level-b">
        <li class="item-level-b">
          <span>
            Development
          </span>
          <ul class="level-c">
            <li class="item-level-c">
              <span>
                Development Director
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="item-level-a">
      <span>
        Dean
      </span>
      <ul class="level-b">
        <li class="item-level-b">
          <a href="#">
            Academic Units
          </a>
          <ul class="level-c">
            <li class="item-level-c">
              <a href="#">
                Department Chair
              </a>

              <ul class="level-d">
                <li class="item-level-d">
                  <span>
                    Department One Faculty
                  </span>
                </li>
                <li class="item-level-d">
                  <span>
                    Department Manager
                  </span>
                  <ul class="level-e">
                    <li class="item-level-e">
                      <span>
                        Office Assistant 3
                      </span>
                    </li>
                  </ul>

                </li>
                <li class="item-level-d">
                  <span>
                    Grad Coordinator
                  </span>
                </li>
                <li class="item-level-d">
                  <span>
                    Grad Coordinator
                  </span>
                </li>
              </ul>

            </li>
            <li class="item-level-c">
              <a href="#">
                Academic Program Director
              </a>
            </li>
            <li class="item-level-c">
              <span>
                Department Chair
              </span>
              <ul class="level-d">
                <li class="item-level-d">
                  <span>
                    Department Two Faculty
                  </span>
                </li>
                <li class="item-level-d">
                  <span>
                    Department Manager
                  </span>
                  <ul class="level-e">
                    <li class="item-level-e">
                      <span>
                        Secretary Senior
                      </span>
                    </li>
                  </ul>

                </li>
                <li class="item-level-d">
                  <span>
                    Grad Coordinator
                  </span>
                </li>
              </ul>

            </li>
            <li class="item-level-c">
              <span>
                Program Manager
              </span>
            </li>
            <li class="item-level-c">
              <span>
                Faculty Advisor
              </span>
            </li>
          </ul>

        </li>
        <li class="item-level-b">
          <span>
            Institutes
          </span>
          <ul class="level-c">
            <li class="item-level-c">
              <span>
                Director
              </span>
              <ul class="level-d">
                <li class="item-level-d">
                  <span>
                    Research Supervisor
                  </span>
                </li>
                <li class="item-level-d">
                  <span>
                    Research Technologist
                  </span>
                </li>
                <li class="item-level-d">
                  <span>
                    Grants Administrator
                  </span>
                </li>
              </ul>

            </li>
            <li class="item-level-c">
              <span>
                Director
              </span>
              <ul class="level-d">
                <li class="item-level-d">
                  <span>
                    Associate Director
                  </span>
                </li>
              </ul>

            </li>
            <li class="item-level-c">
              <span>
                Co-Directors: Name one &amp; Name two
              </span>
              <ul class="level-d">
                <li class="item-level-d">
                  <span>
                    Associate Director
                  </span>
                </li>
              </ul>

            </li>
            <li class="item-level-c">
              <span>
                Director
              </span>
              <ul class="level-d">
                  <li class="item-level-d">
                    <span>
                      Child
                    </span>
                  </li>
              </ul>
            </li>
          </ul>

        </li>
        <li class="item-level-b">
          <span>
            Technical Services
          </span>
          <ul class="level-c">
            <li class="item-level-c">
              <span>
                IT Systems Manager
              </span>
            </li>
          </ul>

        </li>
        <li class="item-level-b">
          <span>
            College Administration
          </span>
          <ul class="level-c">
            <li class="item-level-c">
              <span>
                Operations Manager
              </span>
              <ul class="level-d">
                <li class="item-level-d">
                  <span>
                    Instructional Support Tech
                  </span>
                </li>
                <li class="item-level-d">
                  <span>
                    Outreach Specialist
                  </span>
                  <ul class="level-e">
                    <li class="item-level-e">
                      <span>
                        Student Support Sibling
                      </span>
                    </li>
                    <li class="item-level-e">
                      <span>
                        Student Support
                      </span>
                      <ul class="level-f">
                        <li class="item-level-f">
                          <span>
                            Program Support Supervisor
                          </span>
                        </li>
                        <li class="item-level-f">
                          <span>
                            Admissions Adviser
                          </span>
                        </li>
                        <li class="item-level-f">
                          <span>
                            Grad/Intern Program Specialist
                          </span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="item-level-d">
                  <span>
                    Administrative Assistant 3
                  </span>
                </li>
              </ul>

            </li>
            <li class="item-level-c">
              <span>
                Faculty Coordinator
              </span>
            </li>
          </ul>

        </li>

        <li class="item-level-b no-children">
          <span>Another Item</span>
        </li>
      </ul>

    </li>

    <li class="item-level-a no-children">
      <span>
        Unresolved Department
      </span>
    </li>
  </ul>
</figure>
