<figure class="org-chart">
  <ul>
    <li>Dean: Steve Hollenhorst
      <ul>
        <li>Academic Units
          <ul>
            <li>Environmental Studies Department Chair: Gigi Berardi
              <ul>
                <li>Environmental Studies Faculty</li>
                <li>Department Manager: Diane Knutson
                  <ul>
                    <li>Office Assistant 3: Margaret Lyons</li>
                  </ul>
                </li>
                <li>Grad Coordinator - M.A. ENVS: Andy Bach</li>
                <li>
                  <div>Grad Coordinator -M.Ed. Env. Ed: Gene Myers</div>
                </li>
              </ul>
            </li>
            <li>UPSD Academic Program Director: Nick Zaferatos</li>
            <li>Environmental Sciences Department Chair: David Wallin
              <ul>
                <li>Environmental Sciences Faculty</li>
                <li>Department Manager: Rose Kawczynski
                  <ul>
                    <li>Secretary Senior: Bonnie Drewes</li>
                  </ul>
                </li>
                <li>Grad Coordinator - M.S. ESCI: Ruth Sofield</li>
              </ul>
            </li>
            <li>HCOP Program Manager: Nancy Bluestein-Johnson</li>
            <li>LEAD Faculty Advisor: Gene Myers</li>
          </ul>
        </li>
        <li>Institutes
          <ul>
            <li>Watershed Studies Director: Robin Matthews
              <ul>
                <li>Research Supervisor: Joan Vandersypen</li>
                <li>Research Technologist: Michael Hilles</li>
                <li>Grants Administrator: Diane Rydberg</li>
              </ul>
            </li>
            <li>Environmental Toxicology Director: Wayne Landis
              <ul>
                <li>Associate Director: April Markiewicz</li>
              </ul>
            </li>
            <li>Spatial Co-Directors: Michael Medler &amp; Aquila Flowers
              <ul>
                <li>Associate Director: Stefan Freelan</li>
              </ul>
            </li>
            <li>Resilience Director: Rebekah Paci-Green</li>
          </ul>
        </li>
        <li>Technical Services
          <ul>
            <li>IT Systems Manager: Dave Knutson</li>
          </ul>
        </li>
        <li>College Administration
          <ul>
            <li>Operations Manager: Linda Luttrell
              <ul>
                <li>Instructional Support Tech: F. Scott Wilkinson</li>
                <li>Diversity Recruitment &amp; Retention Outreach Specialist: Shalini Singh
                  <ul>
                    <li>Student Support
                      <ul>
                        <li>Program Support Supervisor: Mary Moores</li>
                        <li>Admissions Adviser: Kathy Patrick</li>
                        <li>Grad/Intern Program Specialist: Ed Weber</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>Administrative Assistant 3: Kara Franklin</li>
              </ul>
            </li>
            <li>Canyon Lake Creek Comm Forest Faculty Coordinator: Andy Bach</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>University Advancement
      <ul>
        <li>Development
          <ul>
            <li>Development Director: Phaedra Booth</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Unresolved: The Planet</li>
  </ul>

</figure>
