<figure class="org-chart">
  <ul class="level-a">
    <li class="item-level-a">
      <span>
        University Advancement
      </span>
      <ul class="level-b">
        <li class="item-level-b">
          <span>
            Development
          </span>
          <ul class="level-c">
            <li class="item-level-c">
              <span>
                Development Director: Phaedra Booth
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="item-level-a">
      <span>
        Dean: Steve Hollenhorst
      </span>
      <ul class="level-b">
        <li class="item-level-b">
          <span>
            Academic Units
          </span>
          <ul class="level-c">
            <li class="item-level-c">
              <span>
                Environmental Studies Department Chair: Gigi Berardi
              </span>

              <ul class="level-d">
                <li class="item-level-d">
                  <span>
                    Environmental Studies Faculty
                  </span>
                </li>
                <li class="item-level-d">
                  <span>
                    Department Manager: Diane Knutson
                  </span>
                  <ul class="level-e">
                    <li class="item-level-e">
                      <span>
                        Office Assistant 3: Margaret Lyons
                      </span>
                    </li>
                  </ul>

                </li>
                <li class="item-level-d">
                  <span>
                    Grad Coordinator - M.A. ENVS: Andy Bach
                  </span>
                </li>
                <li class="item-level-d">
                  <span>Grad Coordinator -M.Ed. Env. Ed: Gene Myers</span>

                </li>
              </ul>

            </li>
            <li class="item-level-c">
              <span>
                UPSD Academic Program Director: Nick Zaferatos
              </span>
            </li>
            <li class="item-level-c">
              <span>
                Environmental Sciences Department Chair: David Wallin
              </span>
              <ul class="level-d">
                <li class="item-level-d">
                  <span>
                    Environmental Sciences Faculty
                  </span>
                </li>
                <li class="item-level-d">
                  <span>
                    Department Manager: Rose Kawczynski
                  </span>
                  <ul class="level-e">
                    <li class="item-level-e">
                      <span>
                        Secretary Senior: Bonnie Drewes
                      </span>
                    </li>
                  </ul>

                </li>
                <li class="item-level-d">
                  <span>
                    Grad Coordinator - M.S. ESCI: Ruth Sofield
                  </span>
                </li>
              </ul>

            </li>
            <li class="item-level-c">
              <span>
                HCOP Program Manager: Nancy Bluestein-Johnson
              </span>
            </li>
            <li class="item-level-c">
              <span>
                LEAD Faculty Advisor: Gene Myers
              </span>
            </li>
          </ul>

        </li>
        <li class="item-level-b">
          <span>
            Institutes
          </span>
          <ul class="level-c">
            <li class="item-level-c">
              <span>
                Watershed Studies Director: Robin Matthews
              </span>
              <ul class="level-d">
                <li class="item-level-d">
                  <span>
                    Research Supervisor: Joan Vandersypen
                  </span>
                </li>
                <li class="item-level-d">
                  <span>
                    Research Technologist: Michael Hilles
                  </span>
                </li>
                <li class="item-level-d">
                  <span>
                    Grants Administrator: Diane Rydberg
                  </span>
                </li>
              </ul>

            </li>
            <li class="item-level-c">
              <span>
                Environmental Toxicology Director: Wayne Landis
              </span>
              <ul class="level-d">
                <li class="item-level-d">
                  <span>
                    Associate Director: April Markiewicz
                  </span>
                </li>
              </ul>

            </li>
            <li class="item-level-c">
              <span>
                Spatial Co-Directors: Michael Medler &amp; Aquila Flowers
              </span>
              <ul class="level-d">
                <li class="item-level-d">
                  <span>
                    Associate Director: Stefan Freelan
                  </span>
                </li>
              </ul>

            </li>
            <li class="item-level-c">
              <span>
                Resilience Director: Rebekah Paci-Green
              </span>
              <ul class="level-d">
                  <li class="item-level-d">
                    <span>
                      Child
                    </span>
                  </li>
              </ul>
            </li>
          </ul>

        </li>
        <li class="item-level-b">
          <span>
            Technical Services
          </span>
          <ul class="level-c">
            <li class="item-level-c">
              <span>
                IT Systems Manager: Dave Knutson
              </span>
            </li>
          </ul>

        </li>
        <li class="item-level-b">
          <span>
            College Administration
          </span>
          <ul class="level-c">
            <li class="item-level-c">
              <span>
                Operations Manager: Linda Luttrell
              </span>
              <ul class="level-d">
                <li class="item-level-d">
                  <span>
                    Instructional Support Tech: F. Scott Wilkinson
                  </span>
                </li>
                <li class="item-level-d">
                  <span>
                    Diversity Recruitment &amp; Retention Outreach Specialist: Shalini Singh
                  </span>
                  <ul class="level-e">
                    <li class="item-level-e">
                      <span>
                        Student Support Sibling
                      </span>
                    </li>
                    <li class="item-level-e">
                      <span>
                        Student Support
                      </span>
                      <ul class="level-f">
                        <li class="item-level-f">
                          <span>
                            Program Support Supervisor: Mary Moores
                          </span>
                        </li>
                        <li class="item-level-f">
                          <span>
                            Admissions Adviser: Kathy Patrick
                          </span>
                        </li>
                        <li class="item-level-f">
                          <span>
                            Grad/Intern Program Specialist: Ed Weber
                          </span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="item-level-d">
                  <span>
                    Administrative Assistant 3: Kara Franklin
                  </span>
                </li>
              </ul>

            </li>
            <li class="item-level-c">
              <span>
                Canyon Lake Creek Comm Forest Faculty Coordinator: Andy Bach
              </span>
            </li>
          </ul>

        </li>

        <li class="item-level-b no-children">
          <span>Another one</span>
        </li>
      </ul>

    </li>

    <li class="item-level-a no-children">
      <span>
        Unresolved: The Planet
      </span>
    </li>
  </ul>
</figure>
