/**
 * @file
 * 01-molecules/content/switcher.scss
 */

.content-switcher {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    flex: 1;
    margin: 0;
    list-style: none;
    text-align: center;
    border-top: solid $dark-blue $border-width--thicker;
    border-bottom: solid $dark-blue $border-width--thicker;
    border-left: solid $dark-blue $border-width--thicker;

    &:last-of-type {
      border-right: solid $dark-blue $border-width--thicker;
    }
  }

  button {
    @include breakpoint($medium) {
      padding: $standard-spacing $double-spacing;
    }
    width: 100%;
    max-width: none;
    height: 100%;
    margin-bottom: 0;
    padding: $half-spacing;
    color: $black;
    border-radius: 0;
    background-color: $white;

    &:hover,
    &:focus {
      background-color: transparentize($dark-blue, 0.9);
      box-shadow: none;
    }

    &.active,
    &:disabled {
      cursor: pointer;
      opacity: 1;
      color: $white;
      background-color: $dark-blue;
    }
  }
}

.content-switcher-container {
  display: grid;
  display: -ms-grid;

  .content {
    display: none;

    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;

    &.active {
      display: block;
    }
  }
}

.layout-builder--layout {
  .content-switcher-container {
    .content {
      display: block;
    }
  }
}
