/*
 * @file
 * templates/layouts/onecol/_onecol.scss
 */

.layout--onecol .layout__region {
  width: 100%;
  max-width: $max-one-col-width;
  margin: auto;
}

.layout--onecol--full .layout__region {
  @include breakpoint($large) {
    max-width: $max-content-width;
    margin: auto;
  }
  width: 100%;
}
