{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * This layout is included in the layout discovery module, and is not imported
 * into Drupal from pattern lab. Therefore, changes made to this file will
 * not be reflected in Drupal.
 */
#}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
      {{ content.content }}
    </div>
  </div>
{% endif %}
