<div class="card">
  <div class="title"><a href="{{ link_url }}">{{ title }}</a></div>

  <div class="image">
    {{ image }}
  </div>

  <div class="body">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
