/**
 * @file
 * 00-atoms/logo/_logo.scss
 */
$logo-width: 266px;
$logo-height: 136px;
$logo-width--larger: 306px;
$logo-height--larger: 154px;
$logo-width--horizontal: 400px;
$logo-height--horiztonal: 100px;
$logo-width--make-waves: $logo-width--larger;
$logo-height--make-waves: $logo-width--larger;

.logo {
  @include breakpoint($large) {
    width: $logo-width--larger;
    height: $logo-height--larger;
  }
  width: $logo-width;
  height: $logo-height;
  padding: $standard-spacing;
  background-color: $dark-blue;

  &.horizontal {
    width: $logo-width--horizontal;
    height: $logo-height--horiztonal;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &.full-color,
  &.grayscale {
    background-color: $white;
  }

  &.reversed {
    background-color: $black;
  }

  &.make-waves {
    width: $logo-width--make-waves;
    height: $logo-height--make-waves;
  }
}
