/**
 * @file
 * 00-atoms/logo/_logo.scss
 */

.logo {
  width: 282px;
  height: 142px;
  padding: $standard-spacing;
  background-color: $dark-blue;

  &.horizontal {
    width: 484px;
    height: 78px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
