/**
 * @file
 * 00-atoms/logo/_logo.scss
 */
$logo-width: 306px;
$logo-height: 156px;
$logo-width--horizontal: 400px;
$logo-height--horiztonal: 100px;

.logo {
  width: $logo-width;
  height: $logo-height;
  padding: $standard-spacing;
  background-color: $dark-blue;

  &.horizontal {
    width: $logo-width--horizontal;
    height: $logo-height--horiztonal;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
