/*------------------------------------------------------------------------------
Molecule: Local tasks
--------------------------------------------------------------------------------
AKA The edit tabs in Drupal
1. Drupal 7 tabs
2. Dark mode
------------------------------------------------------------------------------*/
.block--local-tasks-block {
  overflow: auto;
  max-width: calc(100vw - var(--space--lg));
  margin-bottom: var(--space--sm);
  font-size: var(--font-size--sm);

  ul:not(.contextual-links) {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-bottom: solid var(--border-width--lg) var(--gray);

    &:nth-of-type(2) {
      margin-top: var(--space--xs);
      margin-left: var(--space--sm);
      border-bottom-color: var(--gray--lighter--80);
    }

    li {
      margin-bottom: 0;
    }

    a:not([class*="cta"]):not([class*="button"]) {
      display: block;
      padding: var(--space--2xs) var(--space--sm);
      text-decoration: none;
      color: var(--black);
      border-right: solid var(--border-width--lg) var(--white);
      background-color: var(--gray--lighter--80);
    }
  }
}

/*------------------------------------------------------------------------------
1. Drupal 7 (for MABEL) tabs
------------------------------------------------------------------------------*/
.tabs-primary,
.transcript-link {
  display: flex;
  margin-bottom: var(--space--sm);
  padding-left: 0;
  list-style: none;
  border-bottom: solid var(--border-width--lg) var(--gray);
  font-size: var(--font-size--sm);

  &:nth-of-type(2) {
    margin-top: var(--space--xs);
    margin-left: var(--space--sm);
    border-bottom-color: var(--gray--lighter--80);
  }

  a:not([class*="cta"]):not([class*="button"]) {
    display: block;
    margin: 0;
    padding: var(--space--xs) var(--space--sm);
    text-decoration: none;
    color: var(--black);
    border-right: solid var(--border-width--lg) var(--white);
    background-color: var(--gray--lighter--80);
  }
}

/*------------------------------------------------------------------------------
2. Dark mode
------------------------------------------------------------------------------*/
.dark-mode {
  .block--local-tasks-block {
    ul:not(.contextual-links) {
      a {
        color: var(--black);
        border-color: var(--black);
      }
    }

    a:not([class*="cta"]):not([class*="button"]) {
      border-right: var(--gray--darker--80);
    }
  }
}
