/*------------------------------------------------------------------------------
Wordpress Coblocks Adjustments
--------------------------------------------------------------------------------
1. Pullquote
2. Media & Text
------------------------------------------------------------------------------*/
@use "../../00-utilities/breakpoints.scss" as *;
@use "../../01-atoms/background-color/background-color-mixins.scss" as *;
/*------------------------------------------------------------------------------
1. Resets
2. Pullquote
3. Media & Text
4. Author
5. Code
6. Events
7. Hero
8. FAQs
9. Misc
------------------------------------------------------------------------------*/
.menu-primary {
  z-index: 1;
}
a.wp-block-button__link:not(:hover):not(:focus):not(:active) {
  background: none !important;
}
a.wp-block-button__link {
  padding: unset;
}
.wp-coblocks-post-carousel-nav-button__prev,
.wp-coblocks-post-carousel-nav-button__next {
  background-color: var(--gray--lighter--60);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70%;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  min-width: 24px;
  min-height: 24px;
}
/*------------------------------------------------------------------------------
2. Pullquote
------------------------------------------------------------------------------*/
.wp-block-pullquote {
  text-align: unset;
  font-size: unset;
}
/*------------------------------------------------------------------------------
3. Media & Text
------------------------------------------------------------------------------*/
.wp-block-media-text .wp-block-media-text__content {
  padding: var(--space--md);
  border: solid var(--dark-blue) var(--border-width--md);
}
@media (min-width: $medium) {
  .wp-block-media-text__media {
    z-index: 1;
  }
  .wp-block-media-text .wp-block-media-text__content {
    margin-left: calc(-1 * var(--space--lg));
    padding-left: var(--space--xl);
  }
  .has-media-on-the-right .wp-block-media-text__content {
    margin-right: calc(-1 * var(--space--lg));
    margin-left: unset;
    padding-right: var(--space--xl);
    padding-left: var(--space--md);
  }
}
/*------------------------------------------------------------------------------
4. Author
------------------------------------------------------------------------------*/
.wp-block-coblocks-author {
  margin-bottom: var(--space--md);
}
/*------------------------------------------------------------------------------
5. Code
------------------------------------------------------------------------------*/
code {
  padding: var(--space--xs);
  font-size: var(--font-size--sm);
}
/*------------------------------------------------------------------------------
6. Events
------------------------------------------------------------------------------*/
.wp-block-coblocks-event-item.swiper-slide {
  align-items: stretch;
  font-size: var(--font-size--md);
}
.wp-block-coblocks-events__date {
  @include blue-bg;

  padding: var(--space--xs);
  text-align: center;
}
.wp-block-coblocks-events__day {
  justify-content: center;
  font-size: var(--font-size--4xl);
}
.wp-block-coblocks-events__month {
  font-size: var(--font-size--lg);
}
.wp-block-coblocks-events__year {
  font-size: var(--font-size--lg);
}
.wp-block-coblocks-events__content {
  @include lightest-gray-bg;

  padding: var(--space--xs);
}
.wp-block-coblocks-events__details {
  @include lightest-gray-bg;

  padding: var(--space--xs);
  font-weight: var(--font-weight--bold);
}
/*------------------------------------------------------------------------------
7. Hero
------------------------------------------------------------------------------*/
.wp-block-coblocks-hero::after {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  filter: brightness(0.5);
  background: rgba(var(--dark-blue--darker--40--rgb), 0.75);
}
.wp-block-coblocks-hero__content-wrapper {
  @include dark-blue-bg;

  z-index: 1;
  background: transparent;
}
/*------------------------------------------------------------------------------
8. FAQ
------------------------------------------------------------------------------*/
.wp-block-coblocks-faq__heading {
  margin-bottom: var(--space--sm) !important;
}
.wp-block-coblocks-faq-item {
  padding: 0;
  border: none;
}
.wp-block-coblocks-faq-item__question {
  margin-bottom: var(--space--2xs);
  border: solid var(--dark-blue--darker--40) var(--border-width--md);
}
.wp-block-coblocks-faq-item__question svg {
  top: 50%;
  right: var(--space--2xs);
  transform: translatey(-50%) rotate(180deg);
}
/*------------------------------------------------------------------------------
3. Miscellaneous fixes
------------------------------------------------------------------------------*/
.site-name {
  // This is to fix when site's title is missing.
  display: inline !important;
}
ul {
  padding-left: var(--space--md);
}
ul ul {
  list-style: circle;
}
ul ul ul {
  list-style: square;
}
