/*------------------------------------------------------------------------------
Molecule: Display Settings
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.display-settings {
  @include breakpoint($medium) {
    z-index: 2;
    height: 100%;
    min-height: initial;
    margin-bottom: 0;
  }

  display: flex;
  flex-flow: row wrap;
  grid-area: display-settings;
  align-self: start;
  justify-content: flex-start;
  font-family: var(--font--condensed);

  .wwu-menu {
    display: flex;
  }

  .icon-with-text {
    display: flex;
    align-items: center;
    width: initial;
    padding: var(--space--2xs);
    color: var(--white);
    border-radius: 0;
    background: transparent;
    box-shadow: none;

    .material-icons {
      position: relative;
      margin-right: var(--border-width--md);
      font-size: var(--icon-size--xs);
    }
  }

  .toggle-display-settings {
    width: initial;
    height: initial;
    min-height: var(--touch-target--min);
    border: none;
    outline-offset: calc(-1 * var(--border-width--md));
    background-color: var(--dark-blue);

    &:hover,
    &:active,
    &:focus {
      color: var(--dark-blue--darker--60);
      background-image: var(--gradient--vertical--light-blue);
    }

    &:focus {
      border-color: var(--dark-blue--darker--40);
    }
  }

  .display-settings-menu {
    @include breakpoint($medium) {
      flex: 0 0 100%;
      margin-left: -0.575rem;
    }

    position: relative;
    z-index: 3;
    flex: 0 0 75%;
    padding: var(--space--sm);
    transition: var(--ease--standard) var(--transition-speed--fast) all;
    color: var(--white);
    background: var(--dark-blue--darker--40);

    &.closed {
      visibility: hidden;
      height: 0;
      opacity: 0;
    }

    &.open {
      visibility: visible;
      opacity: 1;
    }

    .menu-container {
      display: flex;
      flex: 0 0 100%;
      flex-flow: row wrap;

      .theme-selection {
        flex: 0 0 40%;
      }

      .font-selection {
        flex: 1;
      }

      fieldset {
        display: flex;
        flex-flow: column nowrap;

        legend {
          margin: 0;
          padding: var(--space--xs);
        }

        input[type="radio"],
        input[type="radio"] + label {
          &:not(:last-of-type) {
            margin-bottom: var(--space--md);
          }
        }

        input[type="radio"] + label {
          align-self: flex-start;
        }
      }
    }

    .reset-button {
      display: flex;
      margin: var(--space--md) auto 0;
      font-size: var(--font-size--sm);

      .material-icons {
        position: relative;
        align-self: center;
        margin-right: var(--space--xs);
        font-size: inherit;
      }
    }
  }
}

.font--dyslexia-friendly {
  .display-settings {
    font-family: var(--font--dyslexia-friendly);
  }
}

.font--hyperlegible {
  .display-settings {
    font-family: var(--font--hyperlegible);
  }
}
