/**
* @file
* molecules/display-settings/_display-settings.scss
*/

$dyslexic-icon-smaller: $p-font-size--min * 0.8;

.display-settings {
  @include breakpoint($medium) {
    min-height: initial;
    margin-bottom: 0;
  }
  display: flex;
  flex-flow: row wrap;
  align-self: start;
  justify-content: flex-start;
  margin-bottom: $triple-spacing;
  font-family: $condensed;

  grid-area: display-settings;

  .wwu-menu {
    display: flex;
  }

  .icon-with-text {
    display: flex;
    align-items: center;
    width: initial;
    padding: $half-spacing $standard-spacing $half-spacing $half-spacing;
    color: $white;
    border-radius: 0;
    background: transparent;
    box-shadow: none;

    .material-icons {
      position: relative;
      margin-right: $border-width;
      font-size: $icon-size--medium;
    }

    &.my-western-link {
      @include breakpoint($medium) {
        width: initial;
      }
      width: $toggle-size + $standard-spacing;
    }
  }

  .toggle-display-settings {
    @include breakpoint($medium) {
      margin-left: -0.525rem;
    }
    width: initial;
    height: initial;
    padding-top: $standard-spacing;

    &:hover,
    &:active,
    &:focus {
      color: $darkest-blue;
      background-color: $lightest-green;
    }

    &:focus {
      border-color: $darkest-blue;
    }
  }

  .display-settings-menu {
    @include breakpoint($medium) {
      flex: 0 0 100%;
      margin-left: -0.575rem;
    }
    position: relative;
    z-index: 3;
    flex: 0 0 75%;
    padding: $double-spacing;
    transition: $standard-ease $fast-transition-speed all;
    color: $white;
    background: $darkest-blue;

    &.closed {
      visibility: hidden;
      opacity: 0;
    }

    &.open {
      visibility: visible;
      opacity: 1;
    }

    .menu-container {
      display: flex;
      flex: 0 0 100%;
      flex-flow: row wrap;

      .theme-selection {
        flex: 0 0 40%;
      }

      .font-selection {
        flex: 1;
      }

      fieldset {
        display: flex;
        flex-flow: column nowrap;

        legend {
          margin: 0;
          padding: $half-spacing;
        }

        input[type="radio"],
        input[type="radio"] + label {
          &:not(:last-of-type) {
            margin-bottom: $standard-spacing;
          }
        }

        input[type="radio"] + label {
          align-self: flex-start;
        }
      }
    }

    .reset-button {
      display: flex;
      margin: $double-spacing auto 0;
      font-size: $p-font-size--smaller;

      .material-icons {
        position: relative;
        align-self: center;
        margin-right: $half-spacing;
        font-size: inherit;
      }
    }
  }
}

.atkinson,
.opendyslexic {
  .display-settings {
    .icon-with-text.small {
      @include breakpoint($medium) {
        font-size: 1rem;
      }
      width: initial;
      height: initial;
      font-size: $dyslexic-icon-smaller;

      &.toggle-display-settings {
        @include breakpoint($medium) {
          justify-content: initial;
          width: initial;
        }
        justify-content: flex-start;
        width: $toggle-size * 3.5;
      }
    }
  }
}

.opendyslexic {
  .display-settings {
    font-family: $opendyslexic;
  }
}

.atkinson {
  .display-settings {
    font-family: $atkinson;
  }
}
