/**
* @file
* molecules/display-settings/_display-settings.scss
*/

.display-settings {
  @include breakpoint($medium) {
    min-height: initial;
    margin-bottom: 0;
  }
  display: flex;
  flex-flow: row wrap;
  align-self: start;
  justify-content: flex-start;
  margin-bottom: $triple-spacing;
  font-family: $condensed;

  grid-area: display-settings;

  .wwu-menu {
    display: flex;
  }

  .icon-with-text {
    display: flex;
    align-items: center;
    width: initial;
    height: initial;
    padding: $half-spacing $standard-spacing $half-spacing $half-spacing;
    color: $white;
    border-radius: 0;
    background: transparent;
    box-shadow: none;

    .material-icons {
      position: relative;
      margin-right: $border-width;
      font-size: $icon-size--medium;
    }

    &:hover,
    &:active,
    &:focus {
      color: $darkest-blue;
      background-color: $lightest-green;
    }

    &:focus {
      outline-color: $darkest-blue;
      outline-offset: -$border-width;
    }

    &.my-western-link {
      @include breakpoint($medium) {
        width: initial;
      }
      width: $toggle-size + $standard-spacing;
    }
  }

  .toggle-display-settings {
    @include breakpoint($medium) {
      margin-left: -0.575rem;
    }
    width: initial;
  }

  .display-settings-menu {
    @include breakpoint($medium) {
      margin-left: -0.575rem;
    }
    flex: 0 0 100%;
    position: relative;
    z-index: 3;
    padding: $double-spacing;
    transition: $standard-ease $fast-transition-speed all;
    color: $white;
    background: $darkest-blue;

    &.closed {
      visibility: hidden;
      opacity: 0;
    }

    &.open {
      visibility: visible;
      opacity: 1;
    }

    .menu-container {
      display: flex;
      flex-flow: row wrap;
      flex: 0 0 100%;

      .font-selection, 
      .theme-selection {
        flex: 1;
      }
      
      fieldset {
        display: flex;
        flex-flow: column nowrap;
        
        legend {
          margin: 0;
          padding: $half-spacing;
        }
  
        input[type="radio"], 
        input[type="radio"] + label {
          &:not(:last-of-type) {
            margin-bottom: $standard-spacing;
          }
        }
  
        input[type="radio"] + label {
            align-self: flex-start;
        }
      }
    }

    .reset-button {
      margin: $triple-spacing auto 0;
      display: flex;
      font-size: $p-font-size--smaller;

      .material-icons {
        display: flex;
        align-self: center;
        font-size: inherit;
        position: relative;
        margin-right: $half-spacing;

      }
    }
  }
}
