<div class="display-settings">
  <button class="small icon-with-text toggle-display-settings" aria-expanded="false" aria-controls="display-settings-menu">
    <span class="material-icons" aria-hidden="true">settings</span>
    <span class="toggle-prefix visually-hidden">Open </span>
    <span class="toggle-text icon-text">Display</span>
    <span class="toggle-suffix visually-hidden"> Settings</span>
  </button>

  <div id="display-settings-menu" class="display-settings-menu closed">
   <div class="menu-container">
      <div class="theme-selection">
        <fieldset>
          <legend>Theme</legend>
          <input id="default-theme" type="radio" name="theme-select" value="default-theme" checked="checked">
          <label for="default-theme">Default</label>
          <input id="dark-mode" type="radio" name="theme-select" value="dark-mode">
          <label for="dark-mode">Dark</label>
        </fieldset>
      </div>
  
      <div class="font-selection">
        <fieldset>
          <legend>Font</legend>
          <input id="default-font" type="radio" name="font-select" value="default-font" checked="checked">
          <label for="default-font">Default</label>
          <input id="serif" type="radio" name="font-select" value="serif">
          <label for="serif">Serif</label>
          <input id="opendyslexic" type="radio" name="font-select" value="opendyslexic">
          <label for="opendyslexic">Open Dyslexic</label>
          <input id="atkinson" type="radio" name="font-select" value="atkinson">
          <label for="atkinson">Atkinson</label>
        </fieldset>
      </div>
    </div>
    <button id="reset-display-preferences" class="reset-button"><span class="material-icons" aria-hidden="true">replay</span> Reset preferences</button>
  </div>
</div>
