<div{{ attributes }}>
  {% block title %}
    {% include "@atoms/text/label/label.twig" %}
  {% endblock %}

  <div class="content-switcher" role="tablist" aria-label="{{ label }}">
  </div>

  <div class="content-switcher-container">
    {% block content %}
      {% for item in items %}
        {% include "@molecules/switcher/switcher-items.html.twig" with {content: item} %}
      {% endfor %}
    {% endblock %}
  </div>
</div>
