/*------------------------------------------------------------------------------
Molecule: Navigation - Pager
--------------------------------------------------------------------------------
1. Default
2. Dark Mode
------------------------------------------------------------------------------
1. Default
------------------------------------------------------------------------------*/

.pager ul {
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    padding: 0 0.5625rem;
    a {
      display: inline-block;
      min-width: var(--touch-target--min);
      min-height: var(--touch-target--min);
      text-align: center;
    }
    &.is-active {
      a {
        background-color: var(--light-green--lighter--40);
      }
    }
  }
}
/*------------------------------------------------------------------------------
2. Dark Mode
------------------------------------------------------------------------------*/

[data-theme="dark"] {
  .pager ul {
    li.is-active {
      a {
        color: var(--blue--darker--20);
        &:hover,
        &:focus,
        &:active {
          color: var(--blue--darker--80);
        }
      }
    }
  }
}
