/**
 * @file
 * 00-atoms/01-text/_paragraphs.scss
 */

$paragraph-margin-bottom: $standard-spacing;

p {
  font-size: $p-font-size;
  line-height: 1.5em;
  margin: 0 0 $paragraph-margin-bottom;
}

.intro {
  color: $dark-blue;
  font-size: calc((#{$min-p-font-size} + #{strip-unit($max-p-font-size - $min-p-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*1.2);
}
