/**
 * @file
 * 00-atoms/01-text/_paragraphs.scss
 */

$paragraph-margin-bottom: $standard-spacing;

p {
  font-size: $p-font-size;
  margin: 0 0 $paragraph-margin-bottom;
}

em {
  font-family: 'Noto Sans';
}
