/**
 * @file
 * 01-atoms/01-text/_paragraphs.scss
 */

$paragraph-margin-bottom: $standard-spacing;

p {
  margin: 0 0 $paragraph-margin-bottom;
  line-height: 1.5;

  @media print {
    font-size: 12pt;

    page-break-inside: avoid;
  }
}

.intro {
  @include font-size--larger;
  color: $dark-blue;
}

.dark-mode
.intro {
  color: $light-blue;
}
