/**
 * @file
 * 01-atoms/01-text/_paragraphs.scss
 */

p {
  margin: 0 0 var(--space--standard);
  line-height: 1.5em;

  @media print {
    page-break-inside: avoid;
  }
}

.intro {
  font-size: var(--font-size-lg);
  color: $dark-blue;
}

.dark-mode .intro {
  color: $light-blue;
}
