/*------------------------------------------------------------------------------
Atom: Text - Paragraph
--------------------------------------------------------------------------------
1. Custom Styles
2. Dark Mode
------------------------------------------------------------------------------*/
p {
  margin: 0 0 var(--space--md);
  line-height: 1.5em;

  @media print {
    page-break-inside: avoid;
  }
}

/*------------------------------------------------------------------------------
1. Custom Styles
------------------------------------------------------------------------------*/
.intro {
  color: var(--dark-blue);
  font-size: var(--font-size-lg);
}

.tagline {
  display: block;
  margin-bottom: var(--space--md);
  margin-left: var(--space--md);
  color: var(--dark-blue);
  font-style: italic;

  font-display: swap;
}

h1 {
  + .tagline,
  ~ div .tagline {
    font-size: var(--font-size--3xl);
  }
}

h2 {
  + .tagline,
  ~ div .tagline {
    font-size: var(--font-size--2xl);
  }
}

h3 {
  + .tagline,
  ~ div .tagline {
    font-size: var(--font-size--xl);
  }
}

h4 {
  + .tagline,
  ~ div .tagline {
    font-size: var(--font-size--lg);
  }
}

h5 {
  + .tagline,
  ~ div .tagline {
    font-size: var(--font-size--md);
  }
}
