/*------------------------------------------------------------------------------
Molecule: Navigation - myWestern links
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.my-western-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 38rem;
  margin: var(--space--md) auto;
  padding: 0;
  list-style: none;
}
