/**
* @file
* organisms/wwu-footer/_wwu-footer.scss
*/

.wwu-footer {
  @include dark-blue-bg;
  @include breakpoint($small) {
    -ms-grid-columns: $standard-spacing 1fr 1fr $standard-spacing;
    -ms-grid-rows: $triple-spacing auto auto $triple-spacing;
    grid-template-areas: ". ... ... ."
    ". logo info  ."
    ". statement icons ."
    ". copyright copyright .";
    grid-template-columns: $standard-spacing 1fr 1fr $standard-spacing;
    grid-template-rows: $triple-spacing auto auto $triple-spacing;
    justify-items: end;
  }
  @include breakpoint($medium) {
    -ms-grid-columns: calc((100vw - #{$max-content-width})/2) auto auto auto calc((100vw - #{$max-content-width})/2);
    grid-template-areas: ". ... ... ... ."
    ". logo statement info  ."
    ". logo statement icons ."
    ". copyright copyright copyright .";
    grid-template-columns: calc((100vw - #{$max-content-width})/2) auto auto auto calc((100vw - #{$max-content-width})/2);
  }
  display: -ms-grid;
  display: grid;

  -ms-grid-columns: $small-screen-columns;
  -ms-grid-rows: $standard-spacing auto $standard-spacing auto $standard-spacing auto $standard-spacing auto;
  grid-template-areas: ". ....  ."
  ". logo  ."
  ". ....  ."
  ". statement ."
  ". ....  ."
  ". info  ."
  ". ..... ."
  ". icons ."
  ". ..... ."
  ". copyright .";
  grid-template-columns: $small-screen-columns;
  grid-template-rows: repeat(4, $standard-spacing auto);
  justify-items: center;

  a {
    color: $white;
    border-bottom-color: $light-green;

    &:hover,
    &:focus,
    &:active {
      color: $light-blue;
      border-bottom-color: transparent;
    }
  }

  .logo {
    @include breakpoint($small) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 2;
      justify-self: center;
    }
    @include breakpoint($medium) {
      justify-self: start;
    }
    width: $logo-size--larger;
    height: $logo-size--larger;

    grid-area: logo;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
  }

  .tribal-lands-statement {
    @include breakpoint($small) {
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 2;
    }
    align-self: start;
    padding: 0 $double-spacing;

    grid-area: statement;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;

    p {
      font-size: $p-font-size--smaller;
      font-weight: $font-weight--light;
    }
  }

  .western-info {
    @include breakpoint($small) {
      align-self: end;
      text-align: right;

      -ms-grid-column: 4;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
    }
    text-align: center;

    grid-area: info;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
  }

  .social-media-links {
    @include breakpoint($small) {
      justify-content: end;
      align-content: start;

      -ms-grid-column: 4;
      -ms-grid-column-span: 1;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
    }
    justify-content: center;

    grid-area: icons;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;

    .social-icon {
      margin: $standard-spacing 0 0 $standard-spacing;
    }
  }

  .copyright {
    margin: auto;
    font-size: $p-font-size--smaller;
    font-weight: $font-weight--light;

    grid-area: copyright;
  }
}
