/**
* @file
* organisms/wwu-footer/_wwu-footer.scss
*/

.wwu-footer {
  @include dark-blue-bg;
  @include breakpoint($small) {
    -ms-grid-columns: $standard-spacing 1fr 1fr $standard-spacing;
    -ms-grid-rows: $triple-spacing auto auto $triple-spacing;
    grid-template-areas: ". ... ... ."
    ". logo info  ."
    ". statement icons ."
    ". copyright copyright .";
    grid-template-columns: $standard-spacing 1fr 1fr $standard-spacing;
    grid-template-rows: $triple-spacing auto auto $triple-spacing;
    justify-items: end;
  }
  @include breakpoint($large) {
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: calc((100vw - #{$max-content-width})/2) auto auto auto calc((100vw - #{$max-content-width})/2);
    grid-template-areas: ". ... ... ... ."
    ". logo statement info  ."
    ". logo statement icons ."
    ". copyright copyright copyright .";
    grid-template-columns: calc((100vw - #{$max-content-width})/2) auto auto auto calc((100vw - #{$max-content-width})/2);
  }
  display: flex;
  flex-flow: column;

  a {
    color: $white;
    border-bottom-color: $light-green;

    &:hover,
    &:focus,
    &:active {
      color: $light-blue;
      border-bottom-color: transparent;
    }
  }

  .logo {
    @include breakpoint($small) {
      grid-area: logo;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 2;
      justify-self: center;
    }
    @include breakpoint($medium) {
      justify-self: start;
    }
    width: var(--logo--size);
    height: var(--logo--size);
    margin: 0 auto;
  }

  .tribal-lands-statement {
    @include breakpoint($small) {
      grid-area: statement;
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 2;
    }
    align-self: start;
    padding: 0 $double-spacing;

    p {
      font-size: $p-font-size--smaller;
      font-weight: $font-weight--light;
    }
  }

  .western-info {
    @include breakpoint($large) {
      align-self: end;
      text-align: right;

      grid-area: info;
      -ms-grid-column: 4;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
    }
    text-align: center;
  }

  .social-media-links {
    @include breakpoint($small) {
      justify-content: end;
      align-content: start;

      grid-area: icons;
      -ms-grid-column: 4;
      -ms-grid-column-span: 1;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
    }
    justify-content: center;
    margin: 0.75rem auto;

    .social-icon {
      margin: $standard-spacing 0 0 $standard-spacing;
    }
  }

  .copyright {
    @include breakpoint($small) {
      margin: auto;

      grid-area: copyright;
    }
    text-align: center;
    font-size: $p-font-size--smaller;
    font-weight: $font-weight--light;
  }
}
