/*------------------------------------------------------------------------------
Organism: Headers - Western header
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/breakpoints.scss";
@import "../../../01-atoms/background-color/_background-color-mixins.scss";
wwu-header {
  position: relative;
  z-index: 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-areas: "preheader site-name logo"
  "preheader header-region logo";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  .buttons {
    display: flex;
    flex-flow: row wrap;
    grid-area: preheader;
  }
  .western-logo {
    place-self: end;

    display: flex;
    grid-area: logo;
    margin-right: var(--space--md);
  }
  .site-name {
    place-self: center;

    grid-area: site-name;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--link-color);
      font-size: var(--font-size--xl);
    }
  }
  .western-header-region {
    place-self: center;

    grid-area: header-region;
    a {
      text-decoration: none;
      color: var(--link-color);
      font-weight: var(--font-wight--bold);
    }
  }
  .toggle-menu {
    display: grid;
    grid-auto-flow: row;
    width: var(--toggle-size);
    height: var(--toggle-size);
    margin: var(--space--md);
    margin-right: 0;
    border-radius: 50%;
    font-size: var(--font-size--xs);
    svg {
      width: 2rem;
      height: 2rem;
      margin: calc(-1 * var(--space--xs));
      margin-bottom: calc(-1 * var(--space--sm));
    }
  }
}
.navigation-open {
  wwu-header {
    .western-logo {
      place-self: center;

      margin-right: 0;
    }
    .site-name {
      justify-self: end;
      margin-right: var(--space--lg);
    }
  }
}
