/*------------------------------------------------------------------------------
Organism: Headers - Western header
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/breakpoints.scss";
@import "../../../01-atoms/background-color/_background-color-mixins.scss";
wwu-header {
  --toggle-size: 3.75rem;

  display: grid;
  grid-auto-flow: column;
  grid-template-areas: "menu search site-name logo ..."
  "menu search header-region logo ...";
  grid-template-columns: var(--toggle-size) var(--toggle-size) 1fr auto var(--content-area--negative-space);
  grid-template-rows: 1fr 1fr;
  column-gap: var(--space--md);
  .western-logo {
    grid-area: logo;
  }
  .site-name {
    grid-area: site-name;
    align-self: end;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--link-color);
      font-size: var(--font-size--xl);
    }
  }
  .western-header-region {
    grid-area: header-region;
    align-self: start;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--link-color);
    }
  }
  .toggle {
    display: grid;
    grid-template-rows: auto auto;
    align-content: start;
    margin: 0;
    padding: 0;
    color: var(--link-color);
    border-radius: unset;
    background: transparent;
    box-shadow: unset;
    font-size: var(--font-size--xs);
    svg {
      fill: var(--link-color);

      width: var(--toggle-size);
      height: var(--toggle-size);
      margin: calc(-1 * var(--space--xs));
      margin-bottom: calc(-1 * var(--space--sm));
    }
  }
  .toggle-menu {
    grid-area: menu;
  }
  .toggle-search {
    grid-area: search;
  }
}
