/*------------------------------------------------------------------------------
Organism: Headers - Western header
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/breakpoints.scss";
@import "../../../01-atoms/background-color/_background-color-mixins.scss";
wwu-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  max-width: var(--content-area-max-width);
  .toggle {
    display: grid;
    grid-template-rows: auto auto;
    align-content: start;
    color: var(--link-color);
    border-radius: unset;
    background: transparent;
    box-shadow: unset;
    font-size: var(--font-size--xs);
  }
  .toggle svg {
    fill: var(--link-color);

    width: 3rem;
    height: 3rem;
  }
}
