/*------------------------------------------------------------------------------
Organism: Headers - Western header
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../00-utilities/breakpoints.scss";
@import "../../../01-atoms/background-color/_background-color-mixins.scss";
wwu-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-areas: "preheader site-name logo";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  height: var(--logo-size);
  border-bottom: var(--blue--lighter--60) 1px solid;
  background-image: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/wave-line-blue.svg");
  background-repeat: no-repeat;
  background-position-y: 4.5rem;
  background-size: contain;
  .buttons {
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    grid-area: preheader;
    align-content: center;
  }
  .western-logo {
    display: flex;
    grid-area: logo;
    justify-self: end;
    margin-right: var(--space--md);
  }
  .site-name {
    grid-area: site-name;
    justify-self: center;
    text-transform: uppercase;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--link-color);
      font-size: var(--font-size--xl);
    }
  }
  .western-header-region {
    grid-area: header-region;
    justify-self: center;
    text-transform: uppercase;
    color: var(--link-color);
    font-family: var(--font--title);
    font-size: var(--font-size--xl);
    font-weight: var(--font-weight--black);
    a {
      text-decoration: none;
      color: var(--link-color);
      font-weight: var(--font-wight--bold);
    }
    p {
      margin: 0;
    }
  }
  .toggle-menu {
    position: relative;
    z-index: 1;
    display: grid;
    grid-auto-flow: row;
    width: var(--toggle-size);
    height: var(--toggle-size);
    margin: var(--space--md);
    margin-right: 0;
    border-radius: 50%;
    font-size: var(--font-size--2xs);
    svg {
      width: 2rem;
      height: 2rem;
      margin: calc(-1 * var(--space--xs));
      margin-bottom: calc(-1 * var(--space--sm));
    }
  }
  &:has(.region--wwu_header) {
    grid-template-areas: "preheader site-name logo"
    "preheader header-region logo";
    grid-template-rows: 1fr 1fr;
    .site-name {
      align-self: end;
    }
  }
}
.navigation-open {
  wwu-header {
    .western-logo {
      place-self: center;

      margin-right: 0;
    }
  }
}
