/**
 * @file
 * 00-atoms/forms/webform/_webform.scss
 * Styles specifically for the Drupal Webform module
 */

/* File Input */
.form-managed-file {
  .form-file {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

/* Grids */
// Overwrite our radio button styles for default radio buttons
.webform-grid {
  input[type="radio"] {
    position: relative;
    width: inherit;
    height: inherit;
    margin: auto;
    opacity: 1;
  }
}

// Make the whole table cell clickable
.webform-grid {
  .checkbox {
    label {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      clip: inherit;
      height: 100%;
      opacity: 0;
    }
  }
}

form {
  .description {
    margin-top: -$half-spacing;
    margin-bottom: $standard-spacing;
    color: $gray;
    font-size: 0.7em;    
  }

  .form-item {
    margin-bottom: $standard-spacing;
  }
}
