.bg-video-container {
  position: relative;
  min-height: 50vh;

  h1, h2 {
    position: inherit;
    z-index: 1;
  }

  + button {
    @include breakpoint($small) {
      visibility: visible;
      position: relative;
      top: -($double-spacing * 2.5);
      left: $half-spacing;
    }
    visibility: hidden;
  }
}
