.bg-video-container {
  position: relative;
  min-height: 50vh;

  h1, h2, button {
    position: inherit;
    z-index: 1;
  }

  button {
    @include breakpoint($medium) {
      visibility: visible;
    }
    visibility: hidden;
  }
}
