<div class="bg-video-container">
<video alt="Drone footage of north campus" autoplay="" class="bg-video" id="video-elem" loop="" muted="" preload="auto" style="width:100%; z-index:-1;"><source src="https://admissions.wwu.edu/files/2020-04/Loop.mp4" /></video>
<button>pause animation</button>
</div>

<h1>Find Space in the PNW</h1>
<div class="bg-video-container">
<video alt="Drone footage of north campus" autoplay="" class="bg-video" id="video-elem" loop="" muted="" preload="auto" style="width:100%; z-index:-1;"><source src="https://www.wwu.edu/files/2020-04/Viking%20on%20Mars.mp4" /></video>
<button>pause animation</button>
</div>
