/**
* @file
* 01-molecules/banner/_banner.scss
*/
.block--banner {
  position: relative;
  padding: $triple-spacing;
  text-align: center;

  .body {
    z-index: 1;
    max-width: $max-content-width;
    margin: auto;
    position: relative;
  }
}

/* Retrofit for existing pages with beyond basic block banners */
.block--half-page,
.block--full-page {
  h1,
  h2 {
    z-index: 1;
  }
}
