@use "../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Molecule: Banner
--------------------------------------------------------------------------------
1. Box headline variant
2. Print styles
3. Animation option
------------------------------------------------------------------------------*/
.wwu-banner {
  position: relative;
  display: grid;
  place-content: center;
  padding: var(--space--md);
  text-align: center;
  @media (min-width: $large) {
    padding: var(--space--xl);
  }
  .content {
    position: relative;
    z-index: 1;
  }
  .body {
    max-width: var(--content-area-max-width);
    margin: auto;
  }
}
.banner--page-width {
  @media (min-width: 40rem) {
    margin-right: calc((100vw - var(--content-area-max-width--sm))/-2);
    margin-left: calc((100vw - var(--content-area-max-width--sm))/-2);
  }
}
/*------------------------------------------------------------------------------
1. Box headline variant
------------------------------------------------------------------------------*/
.wwu-banner {
  &.box-headline {
    align-content: center;
    justify-content: start;
    text-align: left;
    .content {
      @include dark-blue-bg;

      align-self: start;
      max-width: 50%;
      max-width: calc(100vw - var(--space--lg));
      padding: var(--space--lg);
      outline: solid var(--border-width--md) transparent;
      background: var(--gradient--horizontal--dark-blue-to-transparent);
      .title {
        margin-top: 0;
      }
      @media (min-width: $large) {
        min-width: 30vw;
        max-width: 60vw;
        margin: var(--space--md);
      }
    }
  }
}
/*------------------------------------------------------------------------------
2. Print styles
------------------------------------------------------------------------------*/
@media print {
  .wwu-banner {
    min-height: unset;
    .background-image {
      display: none;
    }
    .title {
      font-size: 40pt;
    }
    .body {
      max-width: none;
    }
  }
}
/*------------------------------------------------------------------------------
3. Animation options
------------------------------------------------------------------------------*/
@media (prefers-reduced-motion: no-preference) {
  .wwu-banner {
    &.animated {
      .background-image {
        overflow: hidden;
        img {
          transform: scale(1) translatex(0);
          animation-name: motion;
          animation-duration: 5s;
          animation-timing-function: linear;
          animation-iteration-count: 1;
        }
      }
    }
  }
}
@keyframes motion {
  0% {
    transform: scale(1.2) translatex(-3%);
  }
  100% {
    transform: scale(1) translatex(0);
  }
}
