<div{{ attributes }}>
  {% block content %}
    {% block title %}
      {% include "@atoms/label/label.twig" %}
    {% endblock %}
    
    {% block image %}
      <div class="background-image">
        {{ content.field_image }}
      </div>
    {% endblock %}

    <div {{ body_attributes }}>
      {{ content.body }}
    </div>
  {% endblock %}

</div>
