/**
* @file
* utilities/color/_scheme.scss
*/

// Text Colors
$text-color: $black;
$text-color-light: $white;

// Link Colors
$link-color: $link-blue;
$link-color--hover: $green;
$link-color-light: $light-blue;
$link-color-light--hover: $light-green;

// Button Colors
$default-button-color: $blue;

// State Colors
$focus-shadow: 2px 2px 4px 2px transparentize($dark-blue, .5);

// Accent Colors
$warning-color: $yellow;
$alert-color: $red;

// Additional shades of blue use as backgrounds only
$light-bg-blue: mix($white, $blue, 80%);
$lightest-bg-blue: mix($white, $blue, 90%);

// An array of main wwu colors, useful for iterating over all colors.
// (class-name, $color-variable, $text-color, $hover-color, $hover-text, $alt-hover-text)
$wwu-colors: (
  (dark-blue, $dark-blue, $white, $blue, $white, $dark-blue),
  (blue, $blue, $white, $dark-blue, $white, $blue),
  (dark-green, $dark-green, $white, $green, $white, $dark-green),
  (green, $green, $white, $dark-blue, $white, $green),
  (light-green, $light-green, $black, $dark-blue, $white, $green),
  (light-blue, $light-blue, $black, $white, $light-blue, $blue),
  (white, $white, $white, $white, $dark-blue, $blue)
);

// Amount to shade items by
$percent-change: 20%;
