/*------------------------------------------------------------------------------
Templates: Layouts - Flex
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.layout--flex .layout__region {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}
