/*------------------------------------------------------------------------------
Templates: Layouts - Retired Layouts - Two col 25/75
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

.layout--twocol-25-75 {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol-25-75 > .layout__region {
  flex: 0 1 100%;
}

.layout--twocol-25-75 > .layout__region--first {
  @media (min-width: $medium) {
    flex: 0 1 25%;
    max-width: 25%;
    padding-right: var(--space--sm);
  }

  font-size: var(--font-size--sm);
}

.layout--twocol-25-75 > .layout__region--second {
  @media (min-width: $medium) {
    flex: 0 1 75%;
    max-width: 75%;
    padding-left: var(--space--sm);
  }
}
