/**
 * @file
 * templates/layouts/twocol_34_66/_layout--twocol-34-66.scss
 */

.layout--twocol-34-66 {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol-34-66 > .layout__region {
  flex: 0 1 100%;
}


.layout--twocol-34-66 > .layout__region--first {
  @extend %heading-size--smaller;
  @include breakpoint($medium) {
    flex: 0 1 34%;
    max-width: 34%;
    padding-right: $standard-spacing;
  }
}

.layout--twocol-34-66 > .layout__region--second {
  @include breakpoint($medium) {
    flex: 0 1 66%;
    max-width: 66%;
    padding-left: $standard-spacing;
  }
}
