/*------------------------------------------------------------------------------
Templates: Sites - MABEL - Object
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

.download-link {
  margin-top: var(--space--sm);
}

a#clip {
  @media (min-width: $medium) {
    font-size: var(--font-size--sm);
  }

  margin-bottom: var(--space--sm);
  margin-left: 0;
  font-size: var(--font-size--sm);
}

.islandora-object-thumb,
.islandora-object-caption {
  a {
    display: inline-block;
  }
}

.islandora-objects-display-switch {
  float: none;

  ul {
    display: flex;
    margin: var(--space--xs) 0;
    padding: 0;
    list-style: none;
  }

  a {
    margin-right: var(--space--sm);
    padding: var(--space--xs) var(--space--sm);
    text-decoration: none;
    color: var(---black);
    background-color: var(--gray--lighter--60);

    &:hover,
    &:focus,
    &:active {
      color: var(--white);
      background-color: var(--gray);
    }
  }
}

/* Gray box around objects ---------------------------------------------------*/
.islandora-audio-content,
.islandora-basic-image-content,
.islandora-large-image-content,
.islandora-oralhistories-content,
.islandora-pdf-content,
.islandora-video-content {
  padding: 0;
  border: none;
  border-radius: 0;
}

body.page-islandora-object {
  .pane-page-title {
    h1 {
      display: inline-block;
      margin-top: 0;
      margin-right: var(--space--sm);
      font-size: var(--font-size--2xl);
    }
  }

  /* grid view ---------------------------------------------------------------*/
  .islandora-objects-grid-item {
    break-word: break-all;

    font-size: var(--font-size--sm);
  }

  /* image viewer on single object page --------------------------------------*/
  .islandora-large-image-content {
    float: none;
    width: 100%;
  }

  /* Sidebar panels */
  .layout__region--first {
    .panel-pane {
      @include lightest-gray-bg;

      margin-bottom: var(--space--sm);
      padding: var(--space--sm);
      font-size: var(--font-size--sm);
    }

    h2 {
      margin-top: 0;
      font-size: var(--font-size--md);
    }
  }

  .layout__region--second {
    position: relative;
    padding-top: var(--space--lg);
  }
}

/* Details */
.islandora-metadata-set {
  legend {
    margin: 0;
    padding: 0 var(--space--sm);
    color: var(--dark-blue--darker--40);
  }
}

.islandora-metadata-set fieldset,
fieldset.islandora-metadata-set {
  margin-bottom: var(--space--xs);
}

/* Side by side details */
.layout--twocol-section {
  dl.islandora-inline-metadata {
    display: grid;
    margin-top: 0;
    font-size: var(--font-size--sm);

    dt {
      width: initial;
      border: none;
    }

    dd {
      width: initial;
      margin: 0;
      padding: var(--space--xs) 0 var(--space--xs) var(--space--md);
      border: none;
    }
  }
}
