<h3>Arts</h3>
<img src="../../images/icons/international/Arts 1color.svg" alt="single color filled Arts icon, masks and palette" width="200">
<img src="../../images/icons/international/Arts outline.svg" alt="single color outline Arts icon, masks and palette" width="200">
<img src="../../images/icons/international/Arts.svg" alt="three color Arts icon, masks and palette" width="200">
<h3>Athletics</h3>
<img src="../../images/icons/international/Athletics 1color.svg" alt="single color filled Athletics icon, athlete with three balls and a paddle" width="200">
<img src="../../images/icons/international/Athletics outline.svg" alt="single color outline Athletics icon, athlete with three balls and a paddle" width="200">
<img src="../../images/icons/international/Athletics.svg" alt="three color Athletics icon, athlete with three balls and a paddle" width="200">
<h3>Bus</h3>
<img src="../../images/icons/international/Bus 1color.svg" alt="single color filled Bus icon" width="200">
<img src="../../images/icons/international/Bus outline.svg" alt="single color outline Bus icon" width="200">
<img src="../../images/icons/international/Bus.svg" alt="three color Bus icon" width="200">
<h3>Communication</h3>
<img src="../../images/icons/international/Communication 1color.svg" alt="single color filled Communications icon, phone, microphone, and chat box" width="200">
<img src="../../images/icons/international/Communication outline.svg" alt="single color outline Communications icon, phone, microphone, and chat box" width="200">
<img src="../../images/icons/international/Communication.svg" alt="three color Communications icon, phone, microphone, and chat box" width="200">
<h3>Community</h3>
<img src="../../images/icons/international/Community 1color.svg" alt="single color filled Community icon, three people in network bubbles" width="200">
<img src="../../images/icons/international/Community outline.svg" alt="single color outline Community icon, three people in network bubbles" width="200">
<img src="../../images/icons/international/Community.svg" alt="three color Community icon, three people in network bubbles" width="200">
<h3>Creativity</h3>
<img src="../../images/icons/international/Creativity 1color.svg" alt="single color filled Creativity icon, person with a lightbulb as a head" width="200">
<img src="../../images/icons/international/Creativity outline.svg" alt="single color outline Creativity icon, person with a lightbulb as a head" width="200">
<img src="../../images/icons/international/Creativity.svg" alt="three color Creativity icon, person with a lightbulb as a head" width="200">
<h3>Critical Thought</h3>
<img src="../../images/icons/international/Critical Thought 1color.svg" alt="single color filled Critical thought icon, person with cogs coming out of their head" width="200">
<img src="../../images/icons/international/Critical Thought outline.svg" alt="single color outline Critical thought icon, person with cogs coming out of their head" width="200">
<img src="../../images/icons/international/Critical Thought.svg" alt="three color Critical thought icon, person with cogs coming out of their head" width="200">
<h3>Education</h3>
<img src="../../images/icons/international/Education 1color.svg" alt="single color filled Education icon, apple on a book with a pencil" width="200">
<img src="../../images/icons/international/Education outline.svg" alt="single color outline Education icon, apple on a book with a pencil" width="200">
<img src="../../images/icons/international/Education.svg" alt="three color Education icon, apple on a book with a pencil" width="200">
<h3>Employment Success</h3>
<img src="../../images/icons/international/Employment-Success 1color.svg" alt="single color filled Employment success icon, person holding trophy" width="200">
<img src="../../images/icons/international/Employment-Success outline.svg" alt="single color outline Employment success icon, person holding trophy" width="200">
<img src="../../images/icons/international/Employment-Success.svg" alt="three color Employment success icon, person holding trophy" width="200">
<h3>Engineering</h3>
<img src="../../images/icons/international/Engineering 1color.svg" alt="single color filled Engineering icon, compass, ruler, and cog" width="200">
<img src="../../images/icons/international/Engineering outline.svg" alt="single color outline Engineering icon, compass, ruler, and cog" width="200">
<img src="../../images/icons/international/Engineering.svg" alt="three color Engineering icon, compass, ruler, and cog" width="200">
<h3>Environment</h3>
<img src="../../images/icons/international/Environment 1color.svg" alt="single color filled Environment icon, magnifying glass on a leaf" width="200">
<img src="../../images/icons/international/Environment outline.svg" alt="single color outline Environment icon, magnifying glass on a leaf" width="200">
<img src="../../images/icons/international/Environment.svg" alt="three color Environment icon, magnifying glass on a leaf" width="200">
<h3>Equity and Justice</h3>
<img src="../../images/icons/international/Equity and Justice 1color.svg" alt="single color filled Equity and justice icon, three piled hands" width="200">
<img src="../../images/icons/international/Equity and Justice outline.svg" alt="single color outline Equity and justice icon, three piled hands" width="200">
<img src="../../images/icons/international/Equity and Justice.svg" alt="three color Equity and justice icon, three piled hands" width="200">
<h3>Family</h3>
<img src="../../images/icons/international/Family 1color.svg" alt="single color filled Family icon, three people and a dog" width="200">
<img src="../../images/icons/international/Family outline.svg" alt="single color outline Family icon, three people and a dog" width="200">
<img src="../../images/icons/international/Family.svg" alt="three color Family icon, three people and a dog" width="200">
<h3>Housing</h3>
<img src="../../images/icons/international/Housing 1color.svg" alt="single color filled Housing icon, dorm building and house" width="200">
<img src="../../images/icons/international/Housing outline.svg" alt="single color outline Housing icon, dorm building and house" width="200">
<img src="../../images/icons/international/Housing.svg" alt="three color Housing icon, dorm building and house" width="200">
<h3>Pacific Northwest/Bellingham</h3>
<img src="../../images/icons/international/PNW-Bham 1color.svg" alt="single color filled Pacific Northwest/Bellingham icon, two sailboats and mountain islands" width="200">
<img src="../../images/icons/international/PNW-Bham outline.svg" alt="single color outline Pacific Northwest/Bellingham icon, two sailboats and mountain islands" width="200">
<img src="../../images/icons/international/PNW-Bham.svg" alt="three color Pacific Northwest/Bellingham icon, two sailboats and mountain islands" width="200">
<h3>Plane</h3>
<img src="../../images/icons/international/Plane 1color.svg" alt="single color filled Plane icon" width="200">
<img src="../../images/icons/international/Plane outline.svg" alt="single color outline Plane icon" width="200">
<img src="../../images/icons/international/Plane.svg" alt="three color Plane icon" width="200">
<h3>Safety</h3>
<img src="../../images/icons/international/Safety 1color.svg" alt="single color filled Safety icon, person with a badge containing a lock" width="200">
<img src="../../images/icons/international/Safety outline.svg" alt="single color outline Safety icon, person with a badge containing a lock" width="200">
<img src="../../images/icons/international/Safety.svg" alt="three color Safety icon, person with a badge containing a lock" width="200">
<h3>Science</h3>
<img src="../../images/icons/international/Science 1color.svg" alt="single color filled Science icon, microscope" width="200">
<img src="../../images/icons/international/Science outline.svg" alt="single color outline Science icon, microscope" width="200">
<img src="../../images/icons/international/Science.svg" alt="three color Science icon, microscope" width="200">
<h3>Student Experience</h3>
<img src="../../images/icons/international/Student Experience 1color.svg" alt="single color filled Student experience icon, backpack, laptop, and books" width="200">
<img src="../../images/icons/international/Student Experience outline.svg" alt="single color outline Student experience icon, backpack, laptop, and books" width="200">
<img src="../../images/icons/international/Student Experience.svg" alt="three color Student experience icon, backpack, laptop, and books" width="200">
<h3>Student Services</h3>
<img src="../../images/icons/international/Student Services 1color.svg" alt="single color filled Student services icon, person with headset and person with chat bubble" width="200">
<img src="../../images/icons/international/Student Services outline.svg" alt="single color outline Student services icon, person with headset and person with chat bubble" width="200">
<img src="../../images/icons/international/Student Services.svg" alt="three color Student services icon, person with headset and person with chat bubble" width="200">
<h3>Student Success</h3>
<img src="../../images/icons/international/Student Success 1color.svg" alt="single color filled Student success icon, graduate with badge" width="200">
<img src="../../images/icons/international/Student Success outline.svg" alt="single color outline Student success icon, graduate with badge" width="200">
<img src="../../images/icons/international/Student Success.svg" alt="three color Student success icon, graduate with badge" width="200">
<h3>Sustainability</h3>
<img src="../../images/icons/international/Sustainability 1color.svg" alt="single color filled Sustainability icon, electrical cord with a leaf" width="200">
<img src="../../images/icons/international/Sustainability outline.svg" alt="single color outline Sustainability icon, electrical cord with a leaf" width="200">
<img src="../../images/icons/international/Sustainability.svg" alt="three color Sustainability icon, electrical cord with a leaf" width="200">
<h3>Train</h3>
<img src="../../images/icons/international/Train 1color.svg" alt="single color filled Train icon" width="200">
<img src="../../images/icons/international/Train outline.svg" alt="single color outline Train icon" width="200">
<img src="../../images/icons/international/Train.svg" alt="three color Train icon" width="200">
<h3>Travel</h3>
<img src="../../images/icons/international/Travel 1color.svg" alt="single color filled Travel icon, plane, train, and bus" width="200">
<img src="../../images/icons/international/Travel outline.svg" alt="single color outline Travel icon, plane, train, and bus" width="200">
<img src="../../images/icons/international/Travel.svg" alt="three color Travel icon, plane, train, and bus" width="200">
<h3>Value</h3>
<img src="../../images/icons/international/Value 1color.svg" alt="single color filled Value icon, heart badge and scroll" width="200">
<img src="../../images/icons/international/Value outline.svg" alt="single color outline Value icon, heart badge and scroll" width="200">
<img src="../../images/icons/international/Value.svg" alt="three color Value icon, heart badge and scroll" width="200">
