<h3>Arts</h3>
<img src="../../images/icons/international/Arts 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Arts outline.svg" alt="" width="200">
<img src="../../images/icons/international/Arts.svg" alt="" width="200">
<h3>Athletics</h3>
<img src="../../images/icons/international/Athletics 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Athletics outline.svg" alt="" width="200">
<img src="../../images/icons/international/Athletics.svg" alt="" width="200">
<h3>Bus</h3>
<img src="../../images/icons/international/Bus 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Bus outline.svg" alt="" width="200">
<img src="../../images/icons/international/Bus.svg" alt="" width="200">
<h3>Communication</h3>
<img src="../../images/icons/international/Communication 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Communication outline.svg" alt="" width="200">
<img src="../../images/icons/international/Communication.svg" alt="" width="200">
<h3>Community</h3>
<img src="../../images/icons/international/Community 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Community outline.svg" alt="" width="200">
<img src="../../images/icons/international/Community.svg" alt="" width="200">
<h3>Creativity</h3>
<img src="../../images/icons/international/Creativity 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Creativity outline.svg" alt="" width="200">
<img src="../../images/icons/international/Creativity.svg" alt="" width="200">
<h3>Critical Thought</h3>
<img src="../../images/icons/international/Critical Thought 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Critical Thought outline.svg" alt="" width="200">
<img src="../../images/icons/international/Critical Thought.svg" alt="" width="200">
<h3>Education</h3>
<img src="../../images/icons/international/Education 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Education outline.svg" alt="" width="200">
<img src="../../images/icons/international/Education.svg" alt="" width="200">
<h3>Employment Success</h3>
<img src="../../images/icons/international/Employment-Success 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Employment-Success outline.svg" alt="" width="200">
<img src="../../images/icons/international/Employment-Success.svg" alt="" width="200">
<h3>Engineering</h3>
<img src="../../images/icons/international/Engineering 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Engineering outline.svg" alt="" width="200">
<img src="../../images/icons/international/Engineering.svg" alt="" width="200">
<h3>Environment</h3>
<img src="../../images/icons/international/Environment 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Environment outline.svg" alt="" width="200">
<img src="../../images/icons/international/Environment.svg" alt="" width="200">
<h3>Equity and Justice</h3>
<img src="../../images/icons/international/Equity and Justice 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Equity and Justice outline.svg" alt="" width="200">
<img src="../../images/icons/international/Equity and Justice.svg" alt="" width="200">
<h3>Family</h3>
<img src="../../images/icons/international/Family 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Family outline.svg" alt="" width="200">
<img src="../../images/icons/international/Family.svg" alt="" width="200">
<h3>Housing</h3>
<img src="../../images/icons/international/Housing 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Housing outline.svg" alt="" width="200">
<img src="../../images/icons/international/Housing.svg" alt="" width="200">
<h3>Pacific Northwest/Bellingham</h3>
<img src="../../images/icons/international/PNW-Bham 1color.svg" alt="" width="200">
<img src="../../images/icons/international/PNW-Bham outline.svg" alt="" width="200">
<img src="../../images/icons/international/PNW-Bham.svg" alt="" width="200">
<h3>Plane</h3>
<img src="../../images/icons/international/Plane 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Plane outline.svg" alt="" width="200">
<img src="../../images/icons/international/Plane.svg" alt="" width="200">
<h3>Safety</h3>
<img src="../../images/icons/international/Safety 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Safety outline.svg" alt="" width="200">
<img src="../../images/icons/international/Safety.svg" alt="" width="200">
<h3>Science</h3>
<img src="../../images/icons/international/Science 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Science outline.svg" alt="" width="200">
<img src="../../images/icons/international/Science.svg" alt="" width="200">
<h3>Student Experience</h3>
<img src="../../images/icons/international/Student Experience 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Student Experience outline.svg" alt="" width="200">
<img src="../../images/icons/international/Student Experience.svg" alt="" width="200">
<h3>Student Services</h3>
<img src="../../images/icons/international/Student Services 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Student Services outline.svg" alt="" width="200">
<img src="../../images/icons/international/Student Services.svg" alt="" width="200">
<h3>Student Success</h3>
<img src="../../images/icons/international/Student Success 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Student Success outline.svg" alt="" width="200">
<img src="../../images/icons/international/Student Success.svg" alt="" width="200">
<h3>Sustainability</h3>
<img src="../../images/icons/international/Sustainability 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Sustainability outline.svg" alt="" width="200">
<img src="../../images/icons/international/Sustainability.svg" alt="" width="200">
<h3>Train</h3>
<img src="../../images/icons/international/Train 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Train outline.svg" alt="" width="200">
<img src="../../images/icons/international/Train.svg" alt="" width="200">
<h3>Travel</h3>
<img src="../../images/icons/international/Travel 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Travel outline.svg" alt="" width="200">
<img src="../../images/icons/international/Travel.svg" alt="" width="200">
<h3>Value</h3>
<img src="../../images/icons/international/Value 1color.svg" alt="" width="200">
<img src="../../images/icons/international/Value outline.svg" alt="" width="200">
<img src="../../images/icons/international/Value.svg" alt="" width="200">
