/*------------------------------------------------------------------------------
Atom: Field
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.field--label-inline {
  margin-top: var(--space--xs);
  div {
    display: inline;
  }
  .field-label {
    font-weight: var(--font-weight--bold);
    &:after {
      content: ":";
    }
  }
}
