/**
 * @file
 * atoms/forms/select/_select.scss
 */

select {
  width: 100%;
  margin-bottom: $standard-spacing;
  padding: $standard-spacing;
  border: solid $dark-blue $border-width;
  background-image: url("../../images/forms/dropdown-arrows.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 18px);

  appearance: none;

  &:disabled {
    color: $gray;
    border-color: $gray;
    background-color: $light-gray;
    background-image: url("../../images/forms/dropdown-arrows-disabled.png");
  }
}
