/**
 * @file
 * atoms/forms/select/_select.scss
 */

select {
  width: 100%;
  margin-bottom: $standard-spacing;
  padding: $standard-spacing;
  border: solid $dark-blue $border-width;
  background-image: url("../images/dropdown-arrows.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 18px);

  -moz-appearance: none;
  appearance: none;
  -webkit-appearnce: none;

  &:disabled {
    color: $gray;
    border-width: 1px;
    border-color: $gray;
    background-color: $light-gray;
    background-image: url("../images/dropdown-arrows-disabled.png");
  }
}
