/**
* @file
* 00-molecules/navigation/wwu-menu/_wwu-menu.scss
*/

.quick-links {
  @include breakpoint($medium) {
    display: block !important;
  }
  display: none;
  font-size: $font-size--smaller;

  .menu {
    display: flex;
    margin: 0;

    li {
      margin: 0;

      a {
        @include breakpoint($large) {
          height: $toggle-size--larger;
          padding: $large-spacing;
        }
        height: $toggle-size;
        padding: $standard-spacing;

        &:hover,
        &:focus {
          outline: none;
          background-color: $light-green;
        }
      }

      &:nth-of-type(1) {
        a {
          color: $white;
          background-color: $dark-blue;

          &:hover,
          &:focus {
            color: $black;
            background-color: $light-green;
          }
        }
      }
    }
  }
}
