<nav class="quick-links desktop" aria-label="Western Quick Links">
  <ul class="menu">
    <li>
      <a href="https://admissions.wwu.edu/">Apply</a>
    </li>
    <li>
      <a href="http://www.wwu.edu/academic_calendar">Calendar</a>
    </li>
    <li>
      <a href="http://www.wwu.edu/directory">Directory</a>
    </li>
    <li>
      <a href="http://www.wwu.edu/campusmaps">Map</a>
    </li>
    <li>
      <a href="https://mywestern.wwu.edu/mywestern/f/u17l1s4/normal/render.uP">MyWestern</a>
    </li>
  </ul>
</nav>
