<nav class="quick-links desktop" aria-label="Western Quick Links">
  <ul class="menu">
    <li>
      <a href="https://admissions.wwu.edu/">Apply</a>
    </li>
    <li>
      <a href="https://securelb.imodules.com/s/1710/17give/giving.aspx?sid=1710&gid=2&pgid=1816&cid=3291">Gift</a>
    </li>
    <li>
      <a href="https://calendar.wwu.edu/">Calendar</a>
    </li>
    <li>
      <a href="https://www.wwu.edu/directory">Directory</a>
    </li>
    <li>
      <a href="https://www.wwu.edu/campus-maps">Map</a>
    </li>
    <li>
      <a href="https://mywestern.wwu.edu/mywestern/f/u17l1s4/normal/render.uP">myWestern</a>
    </li>
  </ul>
</nav>
