<nav class="western-quick-links" role="navigation" aria-label="Western Quick Links">
  <ul class="menu">
    <li>
      <a href="https://admissions.wwu.edu/" class="highlight">Apply</a>
    </li>
    <li>
      <a href="http://www.wwu.edu/academic_calendar">Calendar</a>
    </li>
    <li>
      <a href="http://www.wwu.edu/directory">Directory</a>
    </li>
    <li>
      <a href="http://www.wwu.edu/campusmaps">Map</a>
    </li>
    <li>
      <a href="https://websso.wwu.edu/cas/login?service=https://mywestern.wwu.edu/mywestern/Login">Login</a>
    </li>
  </ul>
</nav>
