/*------------------------------------------------------------------------------
Molecule: Text - Timeline
--------------------------------------------------------------------------------
1. Dark mode
------------------------------------------------------------------------------*/
.timeline {
  display: grid;
}

.timeline-block {
  @include breakpoint($medium) {
    width: 60%;
  }

  width: 80%;
  padding: var(--space--sm);

  &:nth-of-type(odd) {
    @include lightest-blue-bg;

    text-align: right;

    .timeline-heading {
      margin-right: calc(-1 * var(--space--xl));
      color: var(--white);
    }

    .timeline-item--highlighted {
      background-color: var(--blue--lighter--60);
      margin-left: var(--space--3xl);
      margin-right: calc(-1 * var(--space--xl));
    }
  }

  &:nth-of-type(even) {
    @include light-blue-bg;

    justify-self: flex-end;

    .timeline-heading {
      margin-left: calc(-1 * var(--space--xl));
      color: var(--white);
    }

    .timeline-item--highlighted {
      background-color: var(--blue--lighter--80);
      margin-right: var(--space--3xl);
      margin-left: calc(-1 * var(--space--xl));
    }
  }

  .timeline-heading {
    margin-top: 0;
    padding: var(--space--sm);
    background-color: var(--blue);
  }

  .timeline-item--highlighted {
    padding: var(--space--sm);
    margin-bottom: var(--space--sm);
  }

  .material-icons {
    font-size: var(--icon-size--sm);
    position: relative;
    top: var(--space--2xs);
  }
}

/*------------------------------------------------------------------------------
1. Dark mode
------------------------------------------------------------------------------*/
.dark-mode {
  .timeline-block:nth-of-type(odd) {
    @include dark-blue-bg;

    .timeline-item--highlighted {
      background-color: var(--blue--darker--20);
    }
  }

  .timeline-block:nth-of-type(even) {
    @include darkest-blue-bg;

    .timeline-item--highlighted {
      background-color: var(--blue--darker--20);
    }
  }
}
