@forward "flex/flex";
@forward "onecol/onecol";
@forward "twocol/twocol";
@forward "threecol/threecol";
@forward "fourcol/fourcol";
/*------------------------------------------------------------------------------
Templates: Layouts
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

main {
  .layout__region {
    container-type: inline-size;

    min-width: 0;
    max-width: calc(100vw - (var(--space--sm) * 2));
  }
}
