/*------------------------------------------------------------------------------
Molecule: Media
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@use "../../01-atoms/background-color/background-color-mixins.scss" as *;
.field--name-field-caption {
  @include blue-bg;

  margin-bottom: var(--space--md);
  padding: var(--space--xs);
  font-style: italic;
}
