@use "../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Molecule: Media
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.field--name-field-caption {
  @include blue-bg;

  margin-bottom: var(--space--md);
  padding: var(--space--xs);
  font-style: italic;
}
