/*------------------------------------------------------------------------------
Atom: Section Backgrounds
--------------------------------------------------------------------------------
1. Graident Wave
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
1. Graident Wave
------------------------------------------------------------------------------*/
.wave-1,
.wave-2 {
  position: relative;
  margin-top: var(--space--3xl);
  &:before {
    position: absolute;
    z-index: -1;
    right: calc(-1 * var(--content-area--negative-space));
    left: calc(-1 * var(--content-area--negative-space));
    display: block;
    width: 100%;
    width: 100vw;
    content: "";
    background-size: cover;
  }
}
.wave-1:before {
  top: -25%;
  height: 100%;
  background-image: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/wave-gradient.svg");
}
.wave-2:before {
  height: 10rem;
  opacity: 0.25;
  background-image: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/wave-line-blue.svg");
}
[data-theme="dark"] {
  .wave-1 {
    &:before {
      background-image: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/wave-gradient-dark.svg");
    }
  }
}
