/*------------------------------------------------------------------------------
Atom: Section Backgrounds
--------------------------------------------------------------------------------
1. Graident Wave
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
1. Graident Wave
------------------------------------------------------------------------------*/
.wave-bg-1 {
  position: relative;
  margin-top: var(--space--3xl);
  &:before {
    position: absolute;
    z-index: -1;
    top: -25%;
    right: calc(-1 * var(--content-area--negative-space));
    left: calc(-1 * var(--content-area--negative-space));
    display: block;
    width: 100%;
    width: 100vw;
    height: 100%;
    content: "";
    background-image: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/wave-gradient.svg");
    background-size: cover;
  }
}
