/*------------------------------------------------------------------------------
Atom: Colors
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.swatch-wrapper {
  display: flex;
  flex-flow: row wrap;
}
.color-swatch {
  flex: 1 1 10%;
  padding: var(--space--md);
  color: var(--white);
  font-size: var(--font-size--xl);
  p {
    margin: 0;
  }
  h3 {
    margin-top: 0;
  }
  &.accent {
    font-size: var(--font-size--sm);
  }
  &.dark-blue,
  &.black,
  &.gray,
  &.red {
    color: var(--white);
    h3 {
      color: var(--white);
    }
  }
  &.blue,
  &.light-green,
  &.white,
  &.yellow {
    color: var(--black);
    h3 {
      color: var(--black);
    }
  }
  &.dark-blue {
    background-color: var(--dark-blue);
    &.gradient {
      background-image: linear-gradient(to right, var(--dark-blue) 50%, var(--black));
    }
  }
  &.blue {
    background-color: var(--blue);
    &.gradient {
      background-image: linear-gradient(to left, var(--blue) 50%, white);
    }
  }
  &.light-green {
    background-color: var(--light-green);
  }
  &.black {
    background-color: var(--black);
  }
  &.gray {
    background-color: var(--gray);
  }
  &.white {
    border: solid var(--border-width--md) var(--gray--lighter--90);
    background-color: var(--white);
  }
  &.red {
    background-color: var(--red);
  }
  &.yellow {
    background-color: var(--yellow);
  }
}
