/*------------------------------------------------------------------------------
Atom: Colors
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.swatch-wrapper {
  display: flex;
  flex-flow: row wrap;
}
.color-swatch {
  flex: 1 1 10%;
  padding: var(--space--md);
  font-size: var(--font-size--xl);
  p {
    margin: 0;
  }
  h3 {
    margin-top: 0;
  }
  &.accent {
    font-size: var(--font-size--sm);
  }
  &.dark-blue,
  &.blue {
    color: var(--white);
    h3 {
      color: var(--white);
    }
  }
  &.light-green {
    color: var(--black);
    h3 {
      color: var(--black);
    }
  }
  &.dark-blue {
    flex: 0 0 50%;
    background-color: var(--dark-blue);
    &.gradient {
      flex: 1 1 10%;
      background-image: linear-gradient(to left, var(--dark-blue) 50%, var(--black));
    }
  }
  &.blue {
    flex: 0 0 50%;
    background-color: var(--blue);
    &.gradient {
      flex: 1 1 10%;
      background-image: linear-gradient(to right, var(--blue) 50%, white);
      p {
        max-width: 50%;
      }
    }
  }
  &.white {
    --h3-color: var(--dark-blue);

    min-height: 30vh;
    color: var(--black);
    border: solid var(--border-width--md) var(--gray--lighter--90);
    background-color: var(--white);
  }
  &.light-green {
    background-color: var(--light-green);
    h3,
    p {
      display: inline-block;
    }
  }
  &.dark-green {
    border-top: solid 1rem var(--dark-green);
  }
  &.yellow {
    border-top: solid 1rem var(--yellow);
  }
  &.red {
    border-top: solid 1rem var(--red);
  }
  &.black {
    border-top: solid 1rem var(--black);
  }
  &.gray {
    border-top: solid 1rem var(--gray);
  }
  &.bw.gradient {
    color: var(--white);
    background-image: linear-gradient(to right, var(--black), var(--gray), white);
    h3 {
      color: var(--white);
    }
    p {
      max-width: 50%;
    }
  }
}
