<div{{ attributes }}>
  {% include "@atoms/global/label/label.twig" %}

  {% block content %}
  <div class="image">
    {{ content.field_image }}
  </div>
  <div class="body">
    {{ content.body }}
  </div>
  {% endblock %}
</div>
