<div{{ attributes }}>
  {% block content %}

    {% block image %}
      <div class="image">
        {{ content.field_image }}
      </div>
    {% endblock %}

    {% block body %}
    <div {{ body_attributes }}>
      {% block title %}
        {% include "@atoms/global/label/label-customized.twig" %}
      {% endblock %}

      {{ content.body }}

    </div>
    {% endblock %}

  {% endblock %}
</div>
