@use "../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Molecule: Switcher
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
wwu-switcher {
  button {
    position: relative;
    flex: 1 1 0;
    width: 100%;
    margin: 0;
    padding: var(--space--xs) var(--space--lg);
    cursor: default;
    color: var(--link-color);
    border: solid var(--border-width--md) var(--link-decoration-color);
    border-right-width: var(--border-width--sm);
    border-left-width: var(--border-width--sm);
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    .component-icon {
      fill: var(--link-color);

      position: absolute;
      &.up,
      &.left {
        left: 0;
      }
      &.down,
      &.right {
        right: 0;
      }
    }
    &:active,
    &:focus,
    &:hover {
      --oline-color: var(--link-color--focus);

      color: var(--link-color--focus);
      outline-offset: var(--outline-offset--inset);
      background: var(--link-background--focus);
      .component-icon {
        fill: var(--link-color--focus);
      }
    }
    &.active {
      font-weight: var(--font-weight--semibold);
    }
    &:first-of-type {
      border-left-width: var(--border-width--md);
    }
    &:last-of-type {
      border-right-width: var(--border-width--md);
    }
  }
  .switcher {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .switcher-container {
    display: grid;
    [role="tabpanel"] {
      display: none;
      grid-column-start: 1;
      grid-row-start: 1;
      margin-top: var(--space--md);
      &.active {
        display: block;
      }
    }
  }
  &[layout="column"] {
    @media (min-width: $small) {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: var(--space--sm);
      button {
        display: flex;
        flex-flow: column;
        padding: var(--space--lg) var(--space--xs);
        &:not(:last-of-type) {
          border-right: solid var(--border-width--md) var(--link-decoration-color);
          border-bottom: none;
        }
        .component-icon {
          &.up {
            top: 0;
            left: unset;
          }
          &.down {
            right: unset;
            bottom: 0;
          }
        }
      }
      .switcher {
        flex-flow: column;
      }
      .switcher-container {
        [role="tabpanel"] {
          margin: 0;
        }
      }
    }
  }
}
