/*------------------------------------------------------------------------------
Molecule: Switcher
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../../sass/partials/imports";
@import "../../00-utilities/breakpoints.scss";
wwu-switcher {
  button {
    --button-background-color: transparent;
    --button-background-color--active: magenta;
    --button-color: var(--h3-color);
    --button-color--active: var(--white);

    flex: 1 1 0;
    width: 100%;
    margin: 0;
    cursor: default;
    border: solid var(--border-width--md) var(--h3-color);
    border-radius: 0;
    box-shadow: none;
    &:active,
    &:focus {
      outline-offset: calc(-1 * var(--border-width--lg));
    }
    &.active {
      font-weight: var(--font-weight--semibold);
    }
    &:not(:last-of-type) {
      border-right: none;
    }
  }
  .switcher {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .switcher-container {
    display: grid;
    [role="tabpanel"] {
      display: none;
      grid-column-start: 1;
      grid-row-start: 1;
      margin-top: var(--space--md);
      &.active {
        display: block;
      }
    }
  }
}
.column-layout {
  @include breakpoint($small) {
    wwu-switcher {
      gap: var(--space--sm);

      display: flex;
      button {
        &:not(:last-of-type) {
          border-right: solid var(--border-width--md) var(--h3-color);
          border-bottom: none;
        }
      }
      .switcher {
        flex: 1 1 12%;
        flex-flow: column;
      }
      .switcher-container {
        flex: 1 1 88%;
        [role="tabpanel"] {
          margin: 0;
        }
      }
    }
  }
}

/* 
.layout-builder--layout {
  .content-switcher-container {
    .content {
      display: block;
    }
  }
}
*/
