/*------------------------------------------------------------------------------
Molecule: Switcher
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../../sass/partials/imports";
@import "../../00-utilities/breakpoints.scss";
.content-switcher,
.switcher,
.mabel-content-switcher {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  button {
    flex: 1 1 0;
    max-width: none;
    margin-right: var(--space--xs);
    margin-bottom: var(--space--2xs);
    color: var(--white);
    border: var(--border-width--md) solid transparent;
    border-radius: 0;
    background-color: var(--dark-blue);
    box-shadow: none;
    &:hover,
    &:focus,
    &:active {
      transform: none;
      color: var(--dark-blue--darker--40);
      outline-offset: calc(-1 * var(--border-width--lg));
      outline-offset: calc(-1 * var(--border-width--lg));
      background-image: var(--gradient--vertical--light-blue);
      box-shadow: none;
      @media (forced-colors: active) {
        outline-offset: var(--border-width--lg);
      }
    }
    &.active,
    &:disabled {
      opacity: 1;
      color: var(--dark-blue--darker--60);
      background-color: var(--light-green--lighter--20);
      font-weight: var(--font-weight--semibold);
    }
    &:last-child {
      margin-right: 0;
    }
    .material-icons {
      &.show {
        @include breakpoint($small) {
          position: relative;
          top: 0.3rem;
          display: inline-block;
        }

        display: block;
        color: inherit;
        font-size: var(--icon-size--xs);
      }
    }
  }
}
.content-switcher-container,
.switcher-container,
.mabel-content-switcher-container {
  display: grid;
  display: -ms-grid;
  [role="tabpanel"] {
    display: none;
    grid-column-start: 1;
    grid-row-start: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    margin-top: var(--space--md);
    &.active {
      display: block;
    }
  }
}
.column-layout {
  @include breakpoint($small) {
    wwu-switcher {
      gap: var(--space--sm);

      display: flex;
    }
    .switcher {
      flex: 1 1 12%;
      flex-flow: column;
      button {
        width: 100%;
        .material-icons.show {
          top: 0;
        }
      }
    }
    .switcher-container {
      flex: 1 1 88%;
      [role="tabpanel"] {
        margin: 0;
      }
    }
  }
}
.layout-builder--layout {
  .content-switcher-container {
    .content {
      display: block;
    }
  }
}
