<div{{ attributes }}>
  {% block title %}
    {% include "@atoms/text/label/label.twig" %}
  {% endblock %}

  <wwu-switcher label="{{ configuration.label }}">
  {% block content %}    
      {% for item in items %}
        {% include "@molecules/switcher/switcher-items.html.twig" %}
      {% endfor %}      
  {% endblock %}
  </wwu-switcher>
</div>

