/**
 * @file
 * 01-molecules/content/accordion.scss
 */
$left-col-width: 84px;
$accordion-border: $dark-blue solid $border-width--thicker;

.accordion-set {
  margin-bottom: $standard-spacing;
  .item {
    border-top: $accordion-border;
    border-right: $accordion-border;
    border-left: $accordion-border;

    &:last-of-type {
      border-bottom: $accordion-border;
    }

    .expand {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 100%;
      margin-bottom: 0;
      padding: $half-spacing;
      text-align: left;
      color: initial;
      border-radius: 0;
      background: none;
      line-height: 1.5em;

      * {
        display: inline-block;
        margin: 0;
      }

      i {
        color: $dark-blue;
      }

      .field__title {
        padding-left: $standard-spacing;
      }

      & + .content {
        display: none;
        padding: $standard-spacing;
        padding-top: 0;
        word-wrap: break-word;
      }

      &:focus {
        background-color: transparentize($dark-blue, 0.9);
        box-shadow: none;
      }
    }
  }
}
