/**
 * @file
 * 01-molecules/content/accordion.scss
 */
$left-col-width: 84px;
$accordion-border: $dark-blue solid $border-width--thicker;

.accordion-set {
  margin-bottom: $standard-spacing;
  .item {
    border-top: $accordion-border;
    border-right: $accordion-border;
    border-left: $accordion-border;

    &:last-of-type {
      border-bottom: $accordion-border;
    }

    .field__title {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      padding: ($half-spacing / 2);
      text-align: left;
      border-radius: 0;
      line-height: 1.5em;

    & + .content {
      display: none;
      padding: $standard-spacing;
      padding-top: 0;
      word-wrap: break-word;
    }

    .expand {
      width: 100%;
      box-sizing: border-box;
      text-align: left;
      padding: $half-spacing + 2px;
      margin-bottom: 0;
      background: none;
      color: $green;
      font-family: $serif;
      border-radius: 0;
      border: $border-width solid transparent;

      @media (max-width: $medium) {
        padding-left: ($half-spacing / 4);
      }

      &:focus {
        background-color: transparentize($dark-blue, 0.9);
        box-shadow: none;
        border: $border-width dotted $dark-blue;
       }

    * {
      @include breakpoint($medium){
        top: $half-spacing;
      }
      
      top: ($half-spacing / 2);
      font-size: inherit;
      display: inline;
      margin: 0;
      color: $black;
      position: relative;

    }

    i {
      color: $dark-blue;
    }
   }
 }
}
}
