<div{{ attributes }}>
  {% block content %}
    <div class="image">
      {{ content.field_image }}
    </div>

    <span class="material-icons" aria-hidden="true">{{ content.field_icon }}</span>

    <div class="body">
      {% include "@atoms/global/label/label.twig" %}
      {{ content.body }}
    </div>
  {% endblock %}
</div>
