/*------------------------------------------------------------------------------
Molecule: Image Link
--------------------------------------------------------------------------------
1. Multiple links
2. Variations
3. Dark mode
4. Display preferences
------------------------------------------------------------------------------*/
.image-link {
  --image-link-size: 12.5rem;
  --image-link-size--sm: 8.25rem;

  position: relative;
  width: var(--image-link-size);
  height: var(--image-link-size);
  margin-bottom: var(--space--xl);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 50%;
  box-shadow: var(--shadow--soft);

  &:before,
  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    content: "";
    transition: 0.5s ease all;
    border-radius: 50%;

    @media print {
      display: none;
    }
  }

  &:before {
    width: 70%;
    height: 70%;
    transform: translate(-20%, -10%);
    background: rgba(var(--blue--rgb), 0.2);
  }

  &:after {
    width: 105%;
    height: 105%;
    transform: translate(15%, 10%);
    background: rgba(var(--blue--rgb), 0.1);
  }

  &:hover,
  &:focus-within {
    box-shadow: var(--shadow--soft--hover);
  }

  &:hover:before,
  &:focus-within:before {
    transform: translate(60%, 45%);
  }
  &:hover:after,
  &:focus-within:after {
    transform: translate(-20%, -10%);
  }

  .image {
    background-color: var(--dark-blue);

    img {
      @media print {
        display: none;
      }
    }
  }

  a {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    border-radius: 50%;
    background: rgba(var(--dark-blue--darker--40--rgb), 0.7);
    font-size: var(--font-size--lg);
    font-weight: bold;

    &:active,
    &:focus,
    &:hover {
      background: rgba(var(--dark-blue--darker--40--rgb), 0.9);
      outline-color: var(--dark-blue);
    }

    &:visited {
      color: var(--white);
    }

    &:after {
      content: ""; //overrides file extension style in link atom css

      @media print {
        position: absolute;
        bottom: 10%;
        display: block;
        content: " [" attr(href) "] ";
        font-size: 10pt;
      }
    }

    @media print {
      overflow: visible;
      font-size: 12pt;
    }
  }

  .image {
    filter: brightness(0.75);
  }

  @media print {
    display: inline-block;
    margin: 0;
    border: solid var(--border-width--sm) var(--black);
    box-shadow: none;
  }
}

/*------------------------------------------------------------------------------
1. Multiple links
------------------------------------------------------------------------------*/
.block--image-link {
  &:nth-of-type(2) {
    .image-link {
      &:before {
        width: 100%;
        height: 100%;
        transform: translate(4%, 20%);
      }
      &:after {
        width: 80%;
        height: 80%;
        transform: translate(20%, -13%);
      }

      &:hover:before,
      &:focus-within:before {
        width: 100%;
        height: 100%;
        transform: translate(10%, -18%);
      }

      &:hover:after,
      &:focus-within:after {
        width: 80%;
        height: 80%;
        transform: translate(0%, 40%);
      }
    }
  }

  &:nth-of-type(3) {
    .image-link {
      &:before {
        width: 110%;
        height: 110%;
        transform: translate(12%, -9%);
      }
      &:after {
        width: 80%;
        height: 80%;
        transform: translate(-12%, 30%);
      }

      &:hover:before,
      &:focus-within:before {
        transform: translate(-12%, -20%);
      }

      &:hover:after,
      &:focus-within:after {
        transform: translate(50%, 14%);
      }
    }
  }
}

/*------------------------------------------------------------------------------
2. Variations
------------------------------------------------------------------------------*/
.image-link--simple,
.simple {
  .image-link {
    &:before,
    &:after {
      display: none;
    }
  }
}

.smaller {
  .image-link {
    width: var(--image-link-size--sm);
    height: var(--image-link-size--sm);
    margin-bottom: var(--space--md);

    a {
      font-size: var(--font-size--md);
    }
  }
}

.green {
  .image-link:not(.green) {
    .image {
      background-color: var(--light-green);
    }

    a {
      color: var(--dark-blue--darker--40);
      background-color: rgba(var(--light-green--rgb), 0.8);

      &:active,
      &:focus,
      &:hover {
        background: rgba(var(--light-green--rgb), 0.95);
      }
    }

    &:before {
      background: rgba(var(--light-green--rgb), 0.5);
    }

    &:after {
      background: rgba(var(--light-green--rgb), 0.3);
    }
  }
}

/*------------------------------------------------------------------------------
3. Dark Mode
------------------------------------------------------------------------------*/
.dark-mode {
  .image-link {
    a:not([class*="cta"]):not([class*="button"]):not([class*="taxonomy-term"]){
      color: var(--white);

      &:active,
      &:focus,
      &:hover {
        color: var(--white);
        background-image: none;
      }
    }

    &:before {
      background: rgba(var(--blue--rgb), 0.5);
    }

    &:after {
      background: rgba(var(--blue--rgb), 0.7);
    }
  }

  .green {
    .image-link {
      a:not([class*="cta"]):not([class*="button"]):not([class*="taxonomy-term"]){
        color: var(--dark-blue--darker--40);

        &:hover,
        &:focus,
        &:active {
          color: var(--dark-blue--darker--40);
        }
      }
    }
  }
}

/*------------------------------------------------------------------------------
4. Display preferences
------------------------------------------------------------------------------*/
.font--dyslexia-friendly {
  .block--image-link {
    word-spacing: -0.5em;
    line-height: 2em;

    a {
      font-size: font-size(var--font-size--sm);
    }

    &.smaller {
      line-height: 1.2em;

      a {
        font-size: var(--font-size--xs);
      }
    }
  }
}
