<div class="layout--flex">
  <div class="layout__region">
    {% include "@molecules/buttons/image-buttons/image-button.html.twig" %}
    {% include "@molecules/buttons/image-buttons/image-button.html.twig" %}
    {% include "@molecules/buttons/image-buttons/image-button.html.twig" %}
  </div>
</div>
