/**
* @file
* 01-atoms/icons/icons-with-text/_icons-with-text.scss
*/
$icon-with-text-size--small: $toggle-size;
$icon-with-text-size: 80px;
$icon-with-text-size--medium: 140px;
$icon-with-text-size--large: 180px;

.icon-with-text {
  display: inline-grid;
  justify-content: center;
  align-content: center;
  width: $icon-with-text-size;
  height: $icon-with-text-size;
  text-align: center;
  text-decoration: none;
  font-family: $condensed;
  font-size: $p-font-size--min;

  font-display: fallback;

  .icon-text {
    display: block;
    margin-top: $half-spacing;
  }

  &.small {
    width: $icon-with-text-size--small;
    height: $icon-with-text-size--small;
  }

  &.medium {
    width: $icon-with-text-size--medium;
    height: $icon-with-text-size--medium;
    font-size: $h6-font-size--min;

    .material-icons {
      font-size: $icon-size * 2;
    }
  }

  &.large {
    width: $icon-with-text-size--large;
    height: $icon-with-text-size--large;
    font-size: $h4-font-size--min;

    .material-icons {
      font-size: $icon-size--large * 2;
    }
  }
}
