/*------------------------------------------------------------------------------
Atom: Icons - Icons with Text
--------------------------------------------------------------------------------
1. Dark Mode
2. Display Preferences
------------------------------------------------------------------------------*/
.icon-with-text {
  display: inline-grid;
  align-content: center;
  justify-content: center;
  width: var(--toggle-size--lg);
  height: var(--toggle-size--lg);
  border: var(--border-width--sm) solid transparent;
  text-align: center;
  text-decoration: none;
  font-family: var(--font--condensed);
  font-size: var(--font-size--sm);
  font-weight: var(--font-weight--light);
  font-display: fallback;
  .icon-text {
    display: block;
    margin-top: var(--space--xs);
  }
  &.small {
    width: var(--toggle-size--md);
    height: var(--toggle-size--md);
    font-size: var(--font-size--xs);
    .material-icons {
      font-size: var(--icon-size--sm);
    }
  }
  &.medium {
    width: var(--toggle-size--xl);
    height: var(--toggle-size--xl);
    font-size: var(--font-size--lg);
    .material-icons {
      font-size: var(--icon-size--md);
      &:last-of-type {
        font-size: var(--font-size--lg);
      }
    }
  }
  &.large {
    width: var(--toggle-size--2xl);
    height: var(--toggle-size--2xl);
    font-size: var(--font-size--2xl);
    .material-icons {
      font-size: var(--icon-size--lg);
      &:last-of-type {
        font-size: var(--font-size--2xl);
      }
    }
  }

  &:hover,
  &:focus,
  &:active {
    font-weight: var(--font-weight--regular);
  }
}
/*------------------------------------------------------------------------------
1. Dark Mode
------------------------------------------------------------------------------*/
.dark-mode {
  .sg-pattern-example a,
  .page-content a {
    &.icon-with-text {
      color: var(--blue--lighter--40);
      &:hover,
      &:focus,
      &:active {
        color: var(--dark-blue);
      }
      &:focus {
        outline-color: var(--white);
      }
      &.blue-bg,
      &.dark-blue-bg {
        color: var(--white);
        &:hover,
        &:focus,
        &:active {
          background-color: var(--blue);
        }
      }
      &.white-bg {
        color: (var--blue--darker--20);
        background-color: var(--white);
        &:hover,
        &:focus,
        &:active {
          color: var(--white);
          background-color: (var--blue--darker--20);
        }
      }
    }
  }
}
/*------------------------------------------------------------------------------
2. Display Preferences
------------------------------------------------------------------------------*/
.font--dyslexia-friendly {
  .icon-with-text {
    font-family: var(--font--dyslexia-friendly);
  }
}
.font--hyperlegible {
  .icon-with-text {
    font-family: var(--font--hyperlegible);
  }
}

// @media (forced-colors: active) {
//  .icon-with-text, 
//  .icon-with-text[class*='-bg'],
//  .dark-mode .icon-with-text, 
//  .dark-mode .icon-with-text[class*='-bg'] { 
//     &:hover,
//     &:focus,
//     &:active {
//       border: calc(2 * var(--border-width--sm)) solid transparent;
//     }
//   }
// }