/**
* @file
* 02-molecules/content/accordion.scss
*/
$left-col-width: 5.25rem;
$accordion-border: $dark-blue solid $border-width--thicker;

.accordion-set {
  margin-bottom: $standard-spacing;
  .item {
    border-top: $accordion-border;
    border-right: $accordion-border;
    border-left: $accordion-border;

    &:last-of-type {
      border-bottom: $accordion-border;
    }

    .field__title,
    .title {
      margin: 0;

      .expand {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
        padding: $standard-spacing;
        text-align: left;
        color: $darkest-blue;
        border: $border-width solid transparent;
        border-radius: 0;
        background: none;
        box-shadow: none;
        font-size: $p-font-size;
        font-weight: $font-weight--semibold;
        line-height: 1.2em;

        &:active {
          transform: none;
        }

        &:focus {
          color: $white;
          border: $border-width dotted $white;
          background-color: $blue;
          box-shadow: none;

          .material-icons {
            color: inherit;
          }
        }

        .material-icons {
          margin-right: $standard-spacing;
          color: $dark-blue;
          font-size: $icon-size--medium;
        }
      }

      & + .content {
        display: none;
        padding: $standard-spacing;
        padding-top: 0;
        word-wrap: break-word;
      }
    }

    h2.title {
      padding-bottom: 0;
    }
  }
}

.dark-mode {
  .accordion-set {
    .item {
      border-color: $light-blue;
    }

    .title {
      .expand {
        color: $light-blue;

        .material-icons {
          color: $light-blue;
        }
      }
    }
  }
}
