/*------------------------------------------------------------------------------
Molecule: Accordion
--------------------------------------------------------------------------------
1. No background colors
2. With background colors
3. General accordion styles
4. Dark mode
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
1. No background colors
--------------------------------------------------------------------------------
Borders only added to accordions without custom background classes added
------------------------------------------------------------------------------*/
.block--accordion:not([class*="-bg"]) {
  .item,
  wwu-accordion-item {
    border-top: var(--dark-blue--darker--20) solid var(--border-width--lg);
    border-right: var(--dark-blue--darker--20) solid var(--border-width--lg);
    border-left: var(--dark-blue--darker--20) solid var(--border-width--lg);
    &:last-of-type {
      border-bottom: var(--dark-blue--darker--20) solid var(--border-width--lg);
    }
  }
  .title {
    .expand {
      color: var(--dark-blue--darker--20);
      .material-icons {
        color: var(--dark-blue);
      }
    }
  }
}
/*------------------------------------------------------------------------------
2. With background colors
------------------------------------------------------------------------------*/
.block--accordion[class*="-bg"] {
  padding: var(--space--md);
  .block__title {
    margin-top: 0;
  }
}
/*------------------------------------------------------------------------------
3. General accordion styles
------------------------------------------------------------------------------*/
wwu-accordion,
.accordion-set {
  margin-bottom: var(--space--md);
  .item,
  wwu-accordion-item {
    display: block;
    transition: all var(--transition-speed--fast) var(--ease--standard);
    border-top: transparent solid var(--border-width--lg);
    border-right: transparent solid var(--border-width--lg);
    border-left: transparent solid var(--border-width--lg);
    &:last-of-type {
      border-bottom: transparent solid var(--border-width--lg);
    }
    .title {
      margin: 0;
      padding-bottom: 0;
      font-size: var(--font-size--md);
      font-weight: var(--font-weight--semibold);
      .expand {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
        padding: var(--space--sm);
        cursor: default;
        text-align: left;
        text-decoration: none;
        color: inherit;
        border: none;
        border-radius: 0;
        background: none;
        &:active {
          transform: none;
        }
        &:focus {
          color: var(--white);
          outline-color: var(--white);
          outline-offset: calc(-1 * var(--border-width--md));
          background-color: var(--blue);
          .material-icons {
            color: inherit;
          }
          @media (forced-colors: active) {
            outline-offset: calc(-2 * var(--border-width--md));
          }
        }
        .material-icons {
          margin-right: var(--space--sm);
          font-size: var(--icon-size--sm);
        }
        &[role="button"] {
          @media (forced-colors: active) {
            color: ButtonText;
          }
        }
      }
      & + .content {
        visibility: hidden;
        height: 0;
        transform-origin: top;
        word-wrap: break-word;
        opacity: 0;
        &.is-expanded {
          visibility: visible;
          height: initial;
          margin-top: var(--space--sm);
          padding: 0 var(--space--md) var(--space--md) var(--space--md);
          transition: all var(--transition-speed--md) var(--ease--standard);
          opacity: 1;
        }
      }
    }
  }
}
/*------------------------------------------------------------------------------
4. Dark Mode
------------------------------------------------------------------------------*/
.dark-mode {
  .block--accordion:not([class*="-bg"]) {
    .item,
    wwu-accordion-item {
      border-color: var(--blue--lighter--40);
      &:last-of-type {
        border-bottom-color: var(--blue--lighter--40);
      }
      .title {
        .expand {
          color: var(--blue--lighter--40);
          &:active,
          &:focus,
          &:hover {
            color: var(--white);
          }
          .material-icons {
            color: var(--blue--lighter--40);
          }
        }
      }
    }
  }
}
