<div{{ attributes }}>
  {% block title %}
    {% include "@atoms/text/label/label.twig" %}
  {% endblock %}
  
  <wwu-accordion>
  {% block content %}   
    {% for item in items %}
      {% include "@molecules/accordion/accordion-items.html.twig" %}
    {% endfor %}
  {% endblock %}
  </wwu-accordion>
</div>