/*------------------------------------------------------------------------------
Templates: Layouts - Retired Layouts - Two col 66/34
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

.layout--twocol-66-34 {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol-66-34 > .layout__region {
  flex: 0 1 100%;
}

.layout--twocol-66-34 > .layout__region--first {
  @include breakpoint($medium) {
    flex: 0 1 66%;
    max-width: 66%;
    padding-right: var(--space--sm);
  }
}

.layout--twocol-66-34 > .layout__region--second {
  @include font-size--smaller;
  @include breakpoint($medium) {
    flex: 0 1 34%;
    max-width: 34%;
    padding-left: var(--space--sm);
  }
}
