/*------------------------------------------------------------------------------
Organism: Pre-header
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../../../sass/partials/imports";
@import "../../../00-utilities/breakpoints.scss";
wwu-pre-header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  font-size: var(--font-size--xs);
  noscript {
    display: flex;
    justify-content: flex-end;
  }
  .material-icons {
    margin-left: var(--space--2xs);
    font-size: var(--icon-size--2xs);
  }
  a.skip-link {
    display: flex;
    place-items: center;
    place-items: center;
    min-height: var(--touch-target--min);
    padding: var(--space--2xs);
    transition: background-image var(--transition-speed--fast)
    var(--ease--standard);
    text-decoration: none;
    color: var(--white);
    background-size: 100% 100%;
    font-weight: var(--font-weight--regular);
    &:visited {
      color: inherit;
    }
    &:active,
    &:hover,
    &:focus {
      color: var(--dark-blue--darker--60);
      outline: var(--outline-width) solid transparent;
      outline-offset: calc(-1 * var(--border-width--md));
      background-image: var(--gradient--vertical--light-blue);
      @media (forced-colors: active) {
        outline-offset: calc(-2 * var(--border-width--md));
      }
    }
    &:focus {
      outline-style: dotted;
      outline-color: var(--dark-blue--darker--60);
    }
  }
  button.toggle-settings {
    display: flex;
    place-items: center;
    min-height: var(--touch-target--min);
    padding: var(--space--2xs);
    transition: background-image var(--transition-speed--fast)
    var(--ease--standard);
    color: inherit;
    border: var(--border-width--sm) solid transparent;
    border-radius: 0;
    background: transparent;
    background-repeat: no-repeat;
    &:hover,
    &:focus,
    &:active {
      color: var(--dark-blue--darker--60);
      outline-offset: calc(-1.5 * var(--border-width--md));
      background-image: var(--gradient--vertical--light-blue);
      background-size: 100% 100%;
    }
    &:active {
      border: var(--border-width--sm) solid transparent;
    }
  }
  wwu-search {
    input[type="search"] {
      border-width: var(--border-width--sm);
    }
    .submit-search {
      &:hover,
      &:focus,
      &:active {
        outline-offset: calc(-2 * var(--border-width--md));
      }
    }
  }
}
.settings-menu {
  position: absolute;
  z-index: 1;
  top: 100%;
  grid-column: 1 / span all;
  width: 25rem;
  max-width: 100%;
  padding: var(--space--xs);
  border: var(--border-width--lg) solid transparent;
  &.closed {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    transition: opacity var(--ease--standard) var(--transition-speed--fast);
    opacity: 0;
  }
  &.open {
    z-index: 2;
    visibility: visible;
    transition: opacity var(--ease--standard) var(--transition-speed--fast);
    opacity: 1;
  }
  .menu-container {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;
  }
  fieldset {
    display: flex;
    flex: 1 1 0;
    flex-flow: column nowrap;
    legend {
      margin: 0;
      padding: var(--space--xs);
    }
    .radio {
      margin-bottom: var(--space--md);
    }
  }
  .reset-button {
    margin-top: var(--space--xs);
  }
}
