/*------------------------------------------------------------------------------
Organism: Pre-header
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../../../../sass/partials/imports";
@import "../../../00-utilities/breakpoints.scss";
wwu-pre-header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  font-size: var(--font-size--xs);
  noscript {
    display: flex;
    justify-content: flex-end;
  }
  .material-icons {
    font-size: var(--icon-size--2xs);
    margin-left: var(--space--2xs);
  }
  a.skip-link,
  .skip-to button {
    place-items: center;

    display: flex;
    min-height: var(--touch-target--min);
    padding: var(--space--2xs);
    transition: background-image var(--transition-speed--fast)
      var(--ease--standard);
    text-decoration: none;
    background-size: 100% 100%;
    font-weight: var(--font-weight--regular);
    color: var(--white);
    &:visited {
      color: inherit;
    }
    &:active,
    &:hover,
    &:focus {
      color: var(--dark-blue--darker--60);
      outline: var(--border-width--md) solid transparent;
      outline-offset: calc(-1 * var(--border-width--md));
      background-image: var(--gradient--vertical--light-blue);

      @media (forced-colors: active) {
        outline-offset: calc(-2 * var(--border-width--md));
      }
    }

    &:focus {
      outline-color: var(--dark-blue--darker--60);
      outline-style: dotted;
    }
  }
  .skip-to {
    position: relative;

    [role="menu"] {
      max-height: calc(100vh * 0.75);
      overflow-y: scroll;

      padding: var(--space--2xs);
      background-color: var(--black);
      border: var(--border-width--lg) solid transparent;
      border-radius: 0;
    }

    [role="separator"] {
      margin: 0;
      padding: var(--space--2xs);
      border: var(--border-width--sm) solid transparent;
      background-color: transparent;
      color: var(--white);
    }

    [role="menuitem"] {
      color: var(--white);
      background-color: var(--gray--darker--40);
      padding: 0;
      border: var(--border-width--sm) solid transparent;
      overflow-y: unset;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        padding: 0;
        border: none;
        outline: solid var(--border-width--md);
        outline-offset: calc(-1 * var(--border-width--md));
        @media (forced-colors: active) {
          outline-color: CanvasText;
        }

        .label {
          font-weight: var(--font-weight--semibold);
        }
      }

      &:focus {
        outline-style: dotted;
      }

      &.last {
        border-radius: 0;
      }

      .level,
      .label {
        background-color: transparent;
        color: var(--white);
        padding: var(--space--2xs);
      }

      .level {
        padding-right: 0;
      }

      .label {
        white-space: initial;
        overflow: initial;
      }
    }

    button {
      border-radius: 0;

      &:focus {
        padding: var(--space--2xs);
        outline: dotted var(--border-width--md);
        outline-offset: calc(-1 * var(--border-width--lg));
      }
    }
  }
  button.toggle-settings {
    place-items: center;

    display: flex;
    min-height: var(--touch-target--min);
    padding: var(--space--2xs);
    transition: background-image var(--transition-speed--fast)
      var(--ease--standard);
    color: inherit;
    border: var(--border-width--sm) solid transparent;
    border-radius: 0;
    background: transparent;
    background-repeat: no-repeat;
    &:hover,
    &:focus,
    &:active {
      color: var(--dark-blue--darker--60);
      background-image: var(--gradient--vertical--light-blue);
      background-size: 100% 100%;
      outline-offset: calc(-1.5 * var(--border-width--md));
    }
    &:active {
      border: var(--border-width--sm) solid transparent;
    }
  }

  wwu-search {
    input[type="search"] {
      border-width: var(--border-width--sm);
    }

    .submit-search {
      &:hover,
      &:focus,
      &:active {
        outline-offset: calc(-2 * var(--border-width--md))
      }
    }
  }
}
.settings-menu {
  position: absolute;
  z-index: 1;
  top: 100%;
  grid-column: 1 / span all;
  padding: var(--space--xs);
  width: 25rem;
  max-width: 100%;
  border: var(--border-width--lg) solid transparent;

  &.closed {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    transition: opacity var(--ease--standard) var(--transition-speed--fast);
    opacity: 0;
  }
  &.open {
    visibility: visible;
    transition: opacity var(--ease--standard) var(--transition-speed--fast);
    opacity: 1;
    z-index: 2;
  }
  .menu-container {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;
  }
  fieldset {
    display: flex;
    flex: 1 1 0;
    flex-flow: column nowrap;

    legend {
      margin: 0;
      padding: var(--space--xs);
    }

    .radio {
      margin-bottom: var(--space--md);
    }
  }

  .reset-button {
    margin-top: var(--space--xs);
  }
}
