@use "../../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Organism: Pre-header
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
wwu-pre-header {
  --button-background-color: transparent;
  --button-background-color--active: var(--blue--lighter--40);
  --button-color--active: var(--dark-blue);

  @include black-bg;

  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  min-height: var(--touch-target--aaa);
  border-bottom: solid var(--border-width--md) transparent;
  font-size: var(--font-size--xs);
  * {
    --oline-color: var(--dark-blue--darker--40);
    --oline-offset: var(--outline-offset--inset);
  }
  noscript {
    display: flex;
    justify-content: flex-end;
  }
  button,
  .radio {
    min-height: var(--touch-target--aaa);
  }
  button,
  input {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .skip-link {
    --link-color: var(--white);
    --link-color--visited: var(--link-color);

    padding: 0 var(--space--xs);
  }
  .settings-menu {
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 25rem;
    max-width: 100%;
    &.closed {
      visibility: hidden;
      overflow: hidden;
      height: 0;
      transition: opacity var(--ease--standard) var(--transition-speed--fast);
      opacity: 0;
    }
    &.open {
      z-index: 2;
      visibility: visible;
      transition: opacity var(--ease--standard) var(--transition-speed--fast);
      opacity: 1;
    }
  }
  .menu-container {
    display: flex;
    flex-flow: row wrap;
    fieldset {
      flex: 1 1 0;
      margin: 0 var(--space--xs);
    }
  }
  .reset-button {
    justify-content: center;
    width: 100%;
    margin-top: var(--space--xs);
  }
  @media print {
    display: none;
  }
}
