/**
* @file
* 01-molecules/testimonials/testimonial-style-a/_testimonial-style-a.scss
*/
$image-size--smaller: 180px;

.block--testimonial {
  display: grid;
  margin: $standard-spacing 0;

  grid-column-gap: ($large-spacing * 2);
  grid-template-areas:
  "image body"
  "image credit";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;

  .image {
    @include breakpoint(max-width $medium) {
      &.stylized {
        -ms-grid-columns: $image-size--smaller;
        -ms-grid-rows: $image-size--smaller;
        grid-template-columns: $image-size--smaller;
        grid-template-rows: $image-size--smaller;

        &:after {
          width: $image-size--smaller;
          height: $image-size--smaller;
        }

        img {
          width: $image-size--smaller;
          height: $image-size--smaller;
        }
      }
    }

    grid-area: image;
  }

  .body {
    align-self: center;

    grid-area: body;
  }

  .credit {
    grid-area: credit;
    .name {
      display: block;
      font-weight: bold;
    }

    .description {
      font-style: italic;
    }
  }
}
