/**
* @file
* 01-molecules/testimonials/testimonial-style-a/_testimonial-style-a.scss
*/
$image-size--smaller: 180px;

.block--testimonial,
.paragraph--type--majors-profile {
  @include breakpoint ($small) {
    display: grid;
    text-align: left;

    grid-column-gap: ($double-spacing * 2);
    grid-template-areas: "image body"
    "image credit";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
  margin: $double-spacing 0;
  text-align: center;

  .image,
  .field__item:nth-of-type(1) {
    @include breakpoint(max-width $medium) {
      -ms-grid-columns: $image-size--smaller;
      -ms-grid-rows: $image-size--smaller;
      grid-template-columns: $image-size--smaller;
      grid-template-rows: $image-size--smaller;

      &:after {
        width: $image-size--smaller;
        height: $image-size--smaller;
      }

      img {
        width: $image-size--smaller;
        height: $image-size--smaller;
      }
    }

    grid-area: image;
  }

  .body,
  .field__item:nth-of-type(2) {
    align-self: center;
    margin: $standard-spacing 0;

    grid-area: body;
  }

  .credit {
    grid-area: credit;

    .name {
      display: block;
      font-weight: bold;
    }

    .description {
      font-style: italic;
    }
  }

  .field__item:nth-of-type(3) {
    grid-area: credit;
    font-weight: bold;
  }
  .field__item:nth-of-type(4) {
    grid-area: credit;
    transform: translatey(1.5em);
    font-style: italic;
  }
}
