/**
 * @file
 * 00-atoms/global/fonts/_styles.scss
 */
.sans-serif {
  font-family: $sans-serif;
}

.serif {
  font-family: $serif;
  font-size: 1.2em;
}

.title-font {
  font-family: $title-font;
}

.bold {
  font-weight: $font-weight--bold;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

%font-size--smaller {
  @include breakpoint($large) {
    font-size: $p-font-size--max--smaller;
  }
  font-size: $p-font-size--smaller;
}
.font-size--smaller {
  @extend %font-size--smaller;
}

%font-size--regular {
    @include breakpoint($large) {
      font-size: $p-font-size--max;
    }
    font-size: $p-font-size;
}
.font-size--regular {
  @extend %font-size--regular;
}

%font-size--larger {
  @include breakpoint($large) {
    font-size: $p-font-size--max--larger;
  }
  font-size: $p-font-size--larger;
}
.font-size--larger {
  @extend %font-size--larger;
}
