<p>Sans-serif font: "Fira Sans", sans-serif;</p>
<p><em>Sans-serif font italic: "Fira Sans", sans-serif;</em></p>
<p><strong>Sans-serif font bold: "Fira Sans", sans-serif;</strong></p>

<p class="serif">Serif font: "PT Serif", serif;</p>
<p class="serif"><em>Serif font italic: "PT Serif", serif;</em></p>
<p class="serif"><strong>Serif font bold: "PT Serif", serif;</strong></p>
