/**
* @file
* molecules/text/secondary-site-name/_secondary-site-name.scss
*/

.block--secondary-site-name {
  @include breakpoint($medium) {
    border-bottom: none;
  }
  padding: $standard-spacing;
  text-align: center;
  color: $white;
  border-bottom: solid $border-width--thinner $blue;
}
