/**
* @file
* 00-molecules/navigation/ulti-menu/_ulti-menu.scss
*/

/* Overrides for ultimenu styles & functionality */
.ultimenu {
  overflow: visible;

  .ultimenu__flyout {
    @include breakpoint($medium) {
      z-index: 0;
      top: 100%;
      transform: translatey(-($toggle-size/2));
    }
    @include breakpoint($large) {
      transform: translatey(-($toggle-size--larger/2));
    }
    @include transition($medium-transition-speed, $standard-ease);
    position: absolute;
    z-index: 1;
    top: 0;
    right: -100%;
    display: initial;
    margin: 0;
    padding: 0;
    box-shadow: none;

    .flyout {
      .wrap {
        @include breakpoint($large) {
          padding-top: ($toggle-size--larger/2) + ($standard-spacing);
        }
        padding-top: ($toggle-size/2) + ($standard-spacing);
      }
    }
  }

  li {
    @include breakpoint($medium) {
      &:hover {
        & > .ultimenu__flyout {
          display: none;
          visibility: hidden;
          opacity: 0;

          &.open {
            display: block;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
    display: inherit;
    margin: 0;
  }

  .ultimenu__link {
    z-index: 1;
  }
}

.ultimenu--basic {
  .region {
    padding: 0;
  }
}

/* Adobe Accessible Mega Menu specific styles */
.open {
  visibility: visible;
  opacity: 1;
}
