/**
* @file
* 00-molecules/navigation/ulti-menu/_ulti-menu.scss
*/

/* Overrides for ultimenu styles & functionality */
.ultimenu {
  overflow: visible;

  .ultimenu__flyout {
    @include breakpoint($medium) {
      z-index: 0;
      top: 100%;
      right: 0 !important;
      transform: translatey(-($toggle-size/2));
    }
    @include breakpoint($large) {
      transform: translatey(-($toggle-size--larger/2));
    }
    @include transition($medium-transition-speed, $standard-ease);
    position: absolute;
    z-index: 2;
    top: 0;
    right: -100%;
    display: block;
    margin: 0;
    padding: 0;
    opacity: 0;
    background-color: $white;
    box-shadow: none;

    &.open {
      visibility: visible;
      opacity: 1;
    }

    .close-flyout {
      @include breakpoint($medium) {
        display: none;
      }
      display: block;
      padding: ($half-spacing / 2) $standard-spacing;
      color: $white;
      background-color: $blue;

      &:hover,
      &:focus {
        background-color: $darkest-blue;
      }
    }
  }

  li {
    @include breakpoint($medium) {
      min-width: initial;

      &:hover {
        & > .ultimenu__flyout {
          display: none;
          visibility: hidden;
          opacity: 0;
        }

        & > .ultimenu__flyout.open {
          display: block;
          visibility: visible;
          opacity: 1;
        }
      }
    }
    display: inherit;
    margin: 0;

    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .ultimenu__link {
    z-index: 1;
  }
}

.ultimenu--basic {
  .region {
    padding: 0;
  }
}

.ultimenu--main {
  .ultimenu__link {
    &.is-active {
      background: $dark-blue;
    }
    .caret {
      display: none;
    }
  }
}

.open {
  visibility: visible;
  opacity: 1;
}

/* Prevent a region in Drupal from getting position relative, which pushes menu below header area */
#block-ultimenumainnavigation {
  &.contextual-region {
    position: inherit;
  }
}

/* Hide the default ultimenu mobile menu toggle */
.button {
  &.button--ultimenu {
    display: none;
  }
}

/* Fix ultimenu display: block !important; issue. Only affects screens between $medium and 943px*/
@media all and (min-width: $medium) and (max-width: 943px) {
  .ultimenu__flyout {
    display: none !important;
  }

  .ultimenu__flyout.open {
    display: block !important;
  }
}
