/**
* @file
* 00-molecules/navigation/ulti-menu/_ulti-menu.scss
*/

/* Overrides for ultimenu styles & functionality */
.ultimenu {
  overflow: visible;

  section.ultimenu__flyout {
    @include breakpoint($medium) {
      z-index: 0;
      top: 100%;
      right: 0 !important;
      transform: translatey(-($toggle-size/2));
    }
    @include breakpoint($large) {
      transform: translatey(-($toggle-size--larger/2));
    }
    @include transition($medium-transition-speed, $standard-ease);
    display: none;
    margin: 0;
    padding: 0;
    box-shadow: none;

    grid-area: flyout;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;

    &.open {
      display: block;
    }
  }

  .ultimenu__item {
    @include breakpoint($medium) {
      position: initial;
      display: block;
      min-width: initial;

      &:hover {
        & > .ultimenu__flyout {
          display: none;
          visibility: hidden;
          opacity: 0;
        }

        & > .ultimenu__flyout.open {
          display: block;
          visibility: visible;
          opacity: 1;
        }
      }
    }
    position: relative;
    display: grid;
    margin: 0;

    -ms-grid-columns: 1fr $toggle-size;
    -ms-grid-rows: auto auto;
    grid-template-areas: "link     icon"
    "flyout flyout";
    grid-template-columns: 1fr $toggle-size;
    grid-template-rows: auto auto;


    .ultimenu__link {
      z-index: 1;
      transition: $medium-transition-speed $standard-ease;

      -ms-grid-column: 1;
      grid-column: 1 / span 2;
      -ms-grid-column-span: 2;

      &:hover,
      &:focus {
        text-decoration: none;

        + .expand-icon {
          color: $black;
          background-color: $light-green;
        }
      }
    }

    &.has-ultimenu {
      .ultimenu__link {
        grid-area: link;
      }
    }

    .expand-icon {
      @include breakpoint($medium) {
        display: none;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: $medium-transition-speed $standard-ease;
      color: $white;
      border: none;

      grid-area: icon;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
    }
  }
}

.ultimenu--basic {
  .region {
    padding: 0;
  }
}

.ultimenu--main {
  .ultimenu__link {
    &.is-active {
      background: $dark-blue;

      &.open {
        color: $dark-blue;
        background: $light-green;
      }
    }
    .caret {
      display: none;
    }
  }
}

.open {
  visibility: visible;
  opacity: 1;
}

/* Prevent a region in Drupal from getting position relative, which pushes menu below header area */
#block-ultimenumainnavigation {
  &.contextual-region {
    position: inherit;
  }
}

/* Hide the default ultimenu mobile menu toggle */
.button {
  &.button--ultimenu {
    display: none;
  }
}
