/*------------------------------------------------------------------------------
Atom: Page
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
  * {
    box-sizing: border-box;
  }
}

iframe {
  border: 0;
}
