<div>
  <i class="material-icons">home</i>
  <i class="material-icons">search</i>
  <i class="material-icons">menu</i>
  <i class="material-icons">mail</i>
  <i class="material-icons" aria-hidden="true">add</i>
  <i class="material-icons" aria-hidden="true">clear</i>
  <i class="material-icons" aria-hidden="true">check</i>
  <i class="material-icons" aria-hidden="true">chevron_right</i>
  <i class="material-icons" aria-hidden="true">chevron_left</i>
  <i class="material-icons" aria-hidden="true">person</i>
  <i class="material-icons" aria-hidden="true">person_outline</i>
  <i class="material-icons" aria-hidden="true">group</i>
  <i class="material-icons" aria-hidden="true">event</i>
  <i class="material-icons" aria-hidden="true">list</i>
  <i class="material-icons" aria-hidden="true">place</i>
  <i class="material-icons" aria-hidden="true">star_border</i>
  <i class="material-icons" aria-hidden="true">star</i>
  <i class="material-icons" aria-hidden="true">favorite_border</i>
  <i class="material-icons" aria-hidden="true">favorite</i>
</div>
