/*------------------------------------------------------------------------------
Atom: Icons - Icons with Text
--------------------------------------------------------------------------------
1. Display Preferences
------------------------------------------------------------------------------*/
.icon-with-text {
  display: inline-grid;
  align-content: center;
  justify-content: center;
  width: var(--toggle-size--lg);
  height: var(--toggle-size--lg);
  text-align: center;
  text-decoration: none;
  border: var(--border-width--sm) solid transparent;
  font-family: var(--font--condensed);
  font-size: var(--font-size--sm);
  font-display: fallback;
  .icon-text {
    display: block;
    margin-top: var(--space--xs);
  }
  &.small {
    width: var(--toggle-size--md);
    height: var(--toggle-size--md);
    font-size: var(--font-size--xs);
    .material-icons {
      font-size: var(--icon-size--sm);
    }
  }
  &.medium {
    width: var(--toggle-size--xl);
    height: var(--toggle-size--xl);
    font-size: var(--font-size--lg);
    .material-icons {
      font-size: var(--icon-size--md);
      &:last-of-type {
        font-size: var(--font-size--lg);
      }
    }
  }
  &.large {
    width: var(--toggle-size--2xl);
    height: var(--toggle-size--2xl);
    font-size: var(--font-size--2xl);
    .material-icons {
      font-size: var(--icon-size--lg);
      &:last-of-type {
        font-size: var(--font-size--2xl);
      }
    }
  }
}
/*------------------------------------------------------------------------------
1. Display Preferences
------------------------------------------------------------------------------*/
.font--dyslexia-friendly {
  .icon-with-text {
    font-family: var(--font--dyslexia-friendly);
  }
}
.font--hyperlegible {
  .icon-with-text {
    font-family: var(--font--hyperlegible);
  }
}
