/**
 * @file
 * 00-atoms/01-text/_headings.scss
 */

$heading-line-height: 1.2em;
$heading-margin-top: $standard-spacing * 1.5;
$heading-margin-bottom: $standard-spacing;

h1,
h2,
h3,
h4,
h5 {
  margin: $heading-margin-top 0 $heading-margin-bottom;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
}

/* Default heading set */
h1 {
  text-transform: uppercase;
  color: $blue;
  font-weight: $font-weight--bold;
}
h2 {
  padding-bottom: $half-spacing;
  color: $dark-blue;
  border-bottom: $border-width solid $green;
  font-weight: $font-weight--bold;
}
h3 {
  text-transform: uppercase;
  color: $green;
  font-weight: $font-weight--medium;
}
h4 {
  text-transform: uppercase;
  color: $dark-green;
  font-weight: $font-weight--medium;
}
h5 {
  text-transform: uppercase;
  font-weight: $font-weight--medium;
}

/* Dark background headings */
.dark-bg {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $light-blue;
  }
}
