/**
* @file
* 00-atoms/01-text/_headings.scss
*/

$heading-line-height: 1.2em;
$heading-margin-top: $triple-spacing;
$heading-margin-bottom: $standard-spacing;

/* Default heading styles, serif with blues */
h1,
h2,
h3,
h4,
h5 {
  margin: $heading-margin-top 0 $heading-margin-bottom;
  color: $dark-blue;
  font-family: $heading-font-family;
  font-weight: $font-weight--bold;
  line-height: $heading-line-height;
}
h1 {
  color: $darkest-blue;
  font-size: $h1-font-size;
  font-weight: $font-weight--bold;
}
h2 {
  color: $darkest-blue;
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}

h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}

main {
  h2 {
    padding-bottom: ($standard-spacing * 1.5);
    border-bottom: $border-width--thickest solid $dark-blue;
  }
}

/* .sans-serif-headings heading styles, same as default but without serifs */
.sans-serif-headings {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $sans-serif;
  }
}

/* Helper to resize headings. Only applies at medium breakpoints. */
%heading-size--smaller {
  h1 {
    @include breakpoint($medium) {
      font-size: $h1-font-size--smaller;
    }
  }

  h2 {
    @include breakpoint($medium) {
      font-size: $h2-font-size--smaller;
    }
  }

  h3 {
    @include breakpoint($medium) {
      font-size: $h1-font-size--smaller;
    }
  }

  h4 {
    @include breakpoint($medium) {
      font-size: $h1-font-size--smaller;
    }
  }

  h5 {
    @include breakpoint($medium) {
      font-size: $h1-font-size--smaller;
    }
  }
}

%heading-size--larger {  
  h1 {
    @include breakpoint($medium) {
      font-size: $h1-font-size--larger;
    }
  }

  h2 {
    @include breakpoint($medium) {
      font-size: $h2-font-size--larger;
    }
  }

  h3 {
    @include breakpoint($medium) {
      font-size: $h1-font-size--larger;
    }
  }

  h4 {
    @include breakpoint($medium) {
      font-size: $h1-font-size--larger;
    }
  }

  h5 {
    @include breakpoint($medium) {
      font-size: $h1-font-size--larger;
    }
  }
}


.heading-size--smaller {
  @extend %heading-size--smaller;
}
.heading-size--larger {
  @extend %heading-size--larger;
}
