<div class="language">
  <button class="small icon-with-text select-language" id="dropMenu">
    <span class="material-icons" aria-hidden="true">language</span>
    <span class="icon-text toggle-text">Language</span>
  </button>

  <ul id="langMenu" class="menu language-menu">
    <li>
      <a class = "language-option" href="#">English</a>
    </li>
    <li>
      <a class="language-option" href="#">Español</a>
    </li>
  </ul>
</div>
