<div class="select-language-container">
  <div class="language-button-container">
    <button class="toggle" id="dropMenu">
      <span class="material-icons" alt="languages">language</span>
      <p>Language</p>
    </button>
  </div>
  <div class="select-language dark-blue-bg">
    <ul id="langMenu" class = "menu" style="display:none;">
      <li>
        <a class = "language-option" href="#">English</a>
      </li>
      <li>
        <a class="language-option" href="#">Español</a>
      </li>
    </ul>
  </div>
</div>
