/*------------------------------------------------------------------------------
Atom: Text - Blockquotes
--------------------------------------------------------------------------------
1. Dark Mode
------------------------------------------------------------------------------*/
blockquote:not([class]) {
  @include lightest-gray-bg;
}

blockquote {
  margin: var(--space--md) 0;
  padding: var(--space--md);
  line-height: 1.5em;
  border-width: var(--border-width--sm);
  border-style: solid;
  border-color: transparent;
}

.pullquote,
.paragraph--type--majors-pull-quote {
  padding: var(--space--md);
  border-left: solid var(--border-width--lg) var(--blue--lighter--40);
}

/*------------------------------------------------------------------------------
1. Dark Mode
------------------------------------------------------------------------------*/
.dark-mode {
  blockquote:not([class]) {
    @include gray-bg;
  }

  blockquote.pullquote {
    @include black-bg;
  }
}
