/*------------------------------------------------------------------------------
Atom: Text - Blockquotes
--------------------------------------------------------------------------------
1. Dark Mode
------------------------------------------------------------------------------*/
blockquote {
  margin: var(--space--md) 0;
  padding: var(--space--md);
  padding: var(--space--md);
  border-width: var(--border-width--sm);
  border-style: solid;
  border-color: transparent;
  border-left: solid var(--border-width--lg) var(--blue--lighter--40);
  line-height: 1.5em;
}
