/*------------------------------------------------------------------------------
Molecule: Statistic
--------------------------------------------------------------------------------
1. Stacked version
------------------------------------------------------------------------------*/
.block--statistic {
  margin: var(--space--xs) 0;

  .material-icons {
    font-size: var(--icon-size--lg);
  }

  .statistic-heading {
    position: relative;
    margin: 0 0 var(--space--sm) 0;
    padding-bottom: var(--space--md);
    font-size: var(--font-size--xl);

    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 50%;
      max-width: 12.5rem;
      content: "";
      transform: translatex(-50%);
      border-width: var(--border-width--lg);
      border-style: solid;
    }
  }

  .number {
    font-weight: var(--font-weight--bold);
  }

  &.white-bg {
    color: inherit;
    background-color: inherit;

    .block__title {
      padding-bottom: var(--space--sm);
      color: inherit;

      &:after {
        border-width: var(--border-width--md);
      }
    }

    a {
      color: inherit;

      &:active,
      &:focus,
      &:hover {
        color: inherit;
        background-color: inherit;
      }
    }
  }
}

/* Vertically styled blocks, which get laid out side-by-side in a collection */
.block--statistic.statistic--vertical,
.statistics-collection--side-by-side .block--statistic {
  min-width: 11.25rem;
  max-width: 15rem;
  margin: 0 var(--space--xs) var(--space--sm);
  padding: var(--space--sm);
  text-align: center;
  border-radius: var(--border-radius--rounder);

  .block__title {
    margin-top: 0;
  }

  .number {
    margin-bottom: var(--space--sm);
    font-size: var(--font-size--lg);
  }

  .text {
    margin-bottom: var(--space--sm);
    font-size: var(--font-size--sm);
  }
}

/*------------------------------------------------------------------------------
1. Stacked version
------------------------------------------------------------------------------*/
.block--statistic.statistic--horizontal,
.statistics-collection--stacked .block--statistic {
  display: grid;
  grid-column-gap: var(--space--md);
  grid-template-areas: "heading heading heading" "icon number text";
  align-items: center;
  justify-content: left;
  padding: var(--space--sm) var(--space--md);
  border-radius: var(--border-radius--rounder);

  .statistic-heading {
    grid-area: heading;

    &:after {
      left: 0;
      transform: none;
    }
  }

  .material-icons {
    grid-area: icon;
  }

  .number {
    grid-area: number;
    margin: 0;
    font-size: var(--font-size--3xl);
  }

  .text {
    grid-area: text;
    margin: 0;
  }
}
