/**
* @file
* molecules/statistic/statistic.scss
*/
$vertical-statistic-width--min: 11.25rem;
$vertical-statistic-width--max: 15rem;

.block--statistic {
  margin: $half-spacing 0;

  .number {
    font-weight: $font-weight--bold;
  }

  &.white-bg {
    color: $blue;
    background-color: $white;

    .block__title {
      padding-bottom: $standard-spacing;
      color: $blue;

      &:after {
        border-width: $border-width;
      }
    }

    a {
      color: $blue;

      &:active,
      &:focus,
      &:hover {
        color: $link-color--hover;
        background-color: $light-gray;
      }
    }
  }

  &.statistic--vertical {
    min-width: $vertical-statistic-width--min;
    max-width: $vertical-statistic-width--max;
    margin: 0 $half-spacing $standard-spacing;
    padding: $standard-spacing;
    text-align: center;
    border-radius: $border-radius--round-square;

    .block__title {
      margin-top: 0;
      font-family: $sans-serif;
    }

    .number {
      display: block;
      margin-bottom: $standard-spacing;
      font-size: $p-font-size--larger;
    }

    .text {
      margin-bottom: $standard-spacing;
      font-size: $p-font-size--smaller;
    }
  }

  &.statistic--horizontal {
    display: grid;
    justify-content: left;
    align-items: center;
    padding: $standard-spacing $double-spacing;
    border-radius: $border-radius--round-square;

    grid-column-gap: $double-spacing;
    grid-template-areas: "number text";

    .number {
      @include breakpoint($large) {
        font-size: $h3-font-size--max--largest;
      }
      font-size: $h3-font-size--largest;
    }
  }
}

.opendyslexic {
  .block--statistic {
    &.white-bg, 
    &.statistic--vertical, 
    &.statistic--horizontal {
      .block__title {
        font-family: $opendyslexic;
      }
    }
  }
}

.atkinson {
  .block--statistic {
    &.white-bg, 
    &.statistic--vertical, 
    &.statistic--horizontal {
      .block__title {
        font-family: $atkinson;
      }
    }
  }
}