<div{{ attributes }}>
  {% if content.field_icon %}
    <span class="material-icons" aria-hidden="true">{{ content.field_icon }}</span>
  {% endif %}

  {% include "@atoms/text/label/label-customized.twig" %}

  {% if content.body %}
    <div class="text">
      {{ content.body }}
    </div>
  {% endif %}
</div>
