<div{{ attributes }}>
  <span class="material-icons" aria-hidden="true">{{ content.field_icon }}</span>

  {% include "@atoms/text/label/label-customized.twig" %} 

  <span class="text">{{ content.body }}</span>
</div>
