<div class="my-western-links">
  <ul class="social-media-links">
    <li>
      {% include "@atoms/icons/social-media-icons/my-western-icon--email.twig" with {"email": "https://outlook.office365.com/owa/?realm=wwu.edu&exsvurl=1&ll-cc=1033&modurl=0"} %}
    </li>
    <li>
      {% include "@atoms/icons/social-media-icons/my-western-icon--office365.twig" with {"office": "https://mail.wwu.edu/"} %}
    </li>
    <li>
      {% include "@atoms/icons/social-media-icons/my-western-icon--web4u.twig" with {"web4u": "https://www.wwu.edu/web4u/"} %}
    </li>
    <li>
      {% include "@atoms/icons/social-media-icons/my-western-icon--canvas.twig" with {"canvas": "https://www.wwu.instructure.com/"} %}
    </li>
    <li>
      {% include "@atoms/icons/social-media-icons/my-western-icon--webforms.twig" with {"webforms": "https://esign.wwu.edu/admcs/process/inbox.aspx"} %}
    </li>
  </ul>
</div>
