/*------------------------------------------------------------------------------
Molecule: Navigation - Pager
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.pager ul {
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    padding: 0 0.5625rem;

    a {
      display: inline-block;
      text-align: center;
      min-width: var(--touch-target--min);
      min-height: var(--touch-target--min);
    }

    &.is-active {
      a {
        background-color: var(--light-green--lighter--40);
      }
    }
  }
}
