{#
/**
 * @see templates/form/form.html.twig
 */
#}

{% block form_help %}
<p{{ text_attributes }}>
    <em>Required fields are marked with an asterisk (*).</em>
</p>
{% endblock %}

<form{{ attributes }}>
  {{ children }}
</form>
