/**
 * @file
 * 00-utilities/_layout-builder.scss
 * Styles that affect the content editor expereince in layout builder should
 * reside here.
 */

/* Resets for styles when layout builder preview is turned off */
.layout-builder--content-preview-disabled * {
    width: initial;
    min-height: initial;
}

/* Make block editor widget a little more tolerable for accordion and switcher blocks */
#drupal-off-canvas .field--name-field-accordion-item tr.draggable,
#drupal-off-canvas .field--name-field-content-switcher-item tr.draggable,
#drupal-off-canvas .field--name-field-statistic-item tr.draggable {
  display: flex;
}
