@mixin font-size--smaller {
  font-size: --font-size-sm;
}

@mixin default-link-hover {
  text-decoration: none;
  color: var(--dark-blue);
  background-color: var(--gray--lighter--60);
}

@mixin default-link-focus {
  outline: dotted var(--border-width--md);
  outline-offset: var(--border-width--md);
}
