  /**
 * @file
 * 00-utilities/structure.scss
 */

/* Spacing */
$standard-spacing: 1.3333rem;
$quarter-spacing: $standard-spacing / 4;
$half-spacing: $standard-spacing / 2;
$one-point-five-spacing: $standard-spacing * 1.5;
$double-spacing: $standard-spacing * 2;
$triple-spacing: $standard-spacing * 3;

/* Borders and Lines */
$border-width--thinner: 0.0625rem;
$border-width: 0.125rem;
$border-width--thicker: 0.1875rem;
$focus-outline: $border-width dotted;
$focus-outline--thicker: $border-width--thicker dotted;
$border-radius--round: 100px;
$border-radius--round-square: 10px;
$border-radius--square: 2px;

/* Content Area */
$max-content-width: 1300px;
$max-one-col-width: 1000px;

/* Breakpoints */
$small: 581px;
$medium: 841px;
$large: $max-content-width;

/* Grid */
$small-screen-columns: $standard-spacing 1fr $standard-spacing;
$large-screen-columns: 1fr $max-content-width 1fr;

/* Toggle/Menu Button Sizes */
$toggle-size: 4rem;

/* Class to break blocks out of the max content area and take up full view width */
.full-vw {
  margin-left:   calc(50% - 50vw);
  margin-right:  calc(50% - 50vw);
  padding-left:  calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}
