/*------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
1. Color
  a. Brand
  b. Special use
  c. Gradients
2. Typography
  a. Font families
  b. Font weights
3. Page layout
  a. Spacing
  b. Content areas
  c. Content area grids
  d. Breakpoints
4. Decoration
  a. Borders and outlines
  b. Shadows
  c. Icons
5. Animation
------------------------------------------------------------------------------*/
:root {
/*------------------------------------------------------------------------------
1. Color
------------------------------------------------------------------------------*/
/* a. Brand ------------------------------------------------------------------*/
--black: #262b2f;
--gray--darker-80: #14181b;
--gray--darker-60: #293036;
--gray--darker-40: #3d4950;
--gray--darker-20: #52616b;
--gray: #667986;
--gray--lighter-20: #85949e;
--gray--lighter-40: #a3afb6;
--gray--lighter-60: #c2c9cf; // replaces $light-gray
--gray--lighter-80: #e0e4e7; // replaces $lightest-gray
--white: #fff;

--dark-blue--darker-80: #000d1b;
--dark-blue--darker-60: #001936;
--dark-blue--darker-40: #002651;
--dark-blue--darker-20: #00326c; // replaces $darkest-blue
--dark-blue: #003f87;
--dark-blue--lighter-20: #33659f;
--dark-blue--lighter-40: #668cb7;
--dark-blue--lighter-60: #99b2cf; // replaces $light-bg-blue
--dark-blue--lighter-80: #ccd9e7; // replaces $lightest-bg-blue

--blue--darker-80: #001828;
--blue--darker-60: #003150;
--blue--darker-40: #004978; // replaces $link-blue--darker
--blue--darker-20: #0062a0; // replaces $link-blue
--blue: #007ac8;
--blue--lighter-20: #3395d3;
--blue--lighter-40: #66afde;
--blue--lighter-60: #99cae9;
--blue--lighter-80: #cce4f4;

--light-blue--darker-80: #142733;
--light-blue--darker-60: #284e66;
--light-blue--darker-40: #3b7499;
--light-blue--darker-20: #4f9bcc;
--light-blue: #63c2ff;
--light-blue--lighter-20: #82ceff;
--light-blue--lighter-40: #a1daff;
--light-blue--lighter-60: #c1e7ff;
--light-blue--lighter-80: #e0f3ff;

--dark-green--darker-80: #00150d;
--dark-green--darker-60: #002b19;
--dark-green--darker-40: #004026;
--dark-green--darker-20: #005632;
--dark-green: #006b3f;
--dark-green--lighter-20: #338965;
--dark-green--lighter-40: #66a68c;
--dark-green--lighter-60: #99c4b2;
--dark-green--lighter-80: #cce1d9;

--green--darker-80: #0f1a06;
--green--darker-60: #1e340c;
--green--darker-40: #2c4e12;
--green--darker-20: #3b6818;
--green: #4a821e;
--green--lighter-20: #6e9b4b;
--green--lighter-40: #92b478; // possibly replaces $dark-green
--green--lighter-60: #b7cda5;
--green--lighter-80: #dbe6d2;

--light-green--darker-80: #252b02;
--light-green--darker-60: #4a5604;
--light-green--darker-40: #708206;
--light-green--darker-20: #95ad08;
--light-green: #bad80a;
--light-green--lighter-20: #c8e03b;
--light-green--lighter-40: #d6e86c; //replaces $lightest-green
--light-green--lighter-60: #e3ef9d;
--light-green--lighter-80: #f1f7ce;

/* b. Special use ------------------------------------------------------------*/
--red: #cc2d30;
--yellow: #ffc61e;

/* c. Gradients --------------------------------------------------------------*/
--gradient--diagonal--blue-to-dark-blue: linear-gradient(
  to right bottom,
  #002f5e,
  #003266,
  #00356d,
  #003875,
  #003b7d,
  #004186,
  #01478e,
  #004d97,
  #0058a3,
  #0063b0,
  #006ebc,
  #007ac8
);
--gradient--diagonal--dark-blue-to-black: linear-gradient(
  to left bottom,
  #1c2023,
  #18242d,
  #122738,
  #0a2a44,
  #022d4f,
  #00335c,
  #013a69,
  #044077,
  #074e8b,
  #085c9f,
  #066bb3,
  #007ac8
);

/*------------------------------------------------------------------------------
2. Typography
------------------------------------------------------------------------------*/
/* a. Font families ----------------------------------------------------------*/
--font--sans-serif: "Fira Sans", sans-serif;
--font--serif: "PT Serif", serif;
--font--hyperlegible: "Atkinson Hyperlegible", sans-serif;
--font--dyslexia-friendly: "Open Dyslexic", sans-serif;
--font--title: "Montserrat", sans-serif;
--font--condensed: "Fira Sans Extra Condensed", sans-serif;

/* b. Font weights -----------------------------------------------------------*/
--font-weight--light: 300;
--font-weight--regular: 400;
--font-weight--semibold: 600;
--font-weight--bold: 700;
--font-weight--black: 900;

/* c. Font sizes (mostly based on major second scale) ------------------------*/
--font-size--sm: 0.8em;
--font-size--md: 1em;
--font-size--lg: 1.125em;
--font-size--xl: 1.266em;
--font-size--2xl: 1.424em;
--font-size--3xl: 1.602em;
--font-size--4xl: 1.802em;
--font-size--5xl: 2.027em;
--font-size--6xl: 2.281em;
--font-size--7xl: 2.566em;
--font-size--8xl: 3.653em;
--font-size--9xl: 4.11em;

/*------------------------------------------------------------------------------
3. Page layout
------------------------------------------------------------------------------*/
/* a. Spacing ----------------------------------------------------------------*/
--space--2xs: 0.25rem;
--space--xs: 0.5rem;
--space--sm: 0.75rem;
--space--md: 1rem; // replaces $standard-spacing
--space--lg: 1.5rem;
--space--xl: 2rem; // replaces $double-spacing
--space--2xl: 3rem;
--space--3xl: 4rem;

/* b. Content areas ---------------------------------------------------------*/
--content-area-max-width: 81.25rem; // replaces $max-content-width
--content-area-max-width--smaller: 62.5rem;

/* c. Content area grids ----------------------------------------------------*/
--grid-columns__sm: var(--standard-spacing), 1fr, var(--standard-spacing);
--grid-columns__lg: 1fr, var(--content-area-max-width), 1fr;

/* d. Breakpoints ------------------------------------------------------------*/
--breakpoint--sm: 36.3125rem; // replaces $small
--breakpoint--md: 52.5625rem; // replaces $medium
--breakpoint--lg: var(--content-area-max-width); // replaces $large

/*------------------------------------------------------------------------------
4. Decoration
------------------------------------------------------------------------------*/
/* a. Borders and outlines----------------------------------------------------*/
--border-width--sm: 0.0625rem; // replaces $border-width--thinner
--border-width--md: 0.125rem; // replaces $border-width
--border-width--lg: 0.1875rem; // replaces $border-width--thicker
--border-radius--circular: 6.25rem;
--border-radius--rounder: 0.625rem;
--border-radius--round: 0.125rem;
--outline: var(--border-width) dotted;
--outline--thicker: var(--border-width--lg) dotted;

/* b. Shadows ----------------------------------------------------------------*/
--shadow--button: 0.125rem 0.125rem 0 var(--light-gray);
--shadow--button--soft: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.84),
  0 0.1875rem 0.375rem rgba(0, 0, 0, 0.77);
--shadow--button--soft--hover: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12),
  0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);

/* c. Icons ------------------------------------------------------------------*/
--icon-size--xs: 1.125rem;
--icon-size--sm: 1.5rem;
--icon-size--md: 2.25rem; // replaces $icon-size
--icon-size--lg: 3rem;
--icon-size--block--sm: 4rem;
--icon-size--block--md: 5em;
--icon-size--block--lg: 6.5em;
--icon-size--block--xl: 7.5em;

/* d. Toggles ----------------------------------------------------------------*/
--toggle-size--md: 4rem; //replaces $toggle-size

/*------------------------------------------------------------------------------
5. Animation
------------------------------------------------------------------------------*/
--transition-speed--slow: 800ms;
--transition-speed--md: 400ms;
--transition-speed--fast: 200ms;
--ease--standard: ease;
}
