{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
  <nav class="breadcrumb" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
    <ol>
      {% for item in breadcrumb %} 
        {% if loop.last %}
        <li aria-current="page">{{ item.text }}</li>
        {% else %}
        <li>
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="var(--default-text-color)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/></svg>
          {% else %}
            {{ item.text }}<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="var(--default-text-color)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/></svg>
          {% endif %}
        </li>
        {% endif %} 
      {% endfor %}
    </ol>
  </nav>
{% endif %}