/**
* @file
* molecules/components/card/_card.scss
*/

.card,
.block--card {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: start;
  margin-bottom: $standard-spacing;
  padding-bottom: $standard-spacing;
  transition: $fast-transition-speed $standard-ease;

  &:hover,
  &:focus-within {
    z-index: 1;
    transform: translate(-$border-width, -$border-width);
    box-shadow: $focus-shadow;
  }

  .image {
    overflow: hidden;
    flex: 0 1 100%;
    order: 1;
    width: 100%;
    margin-bottom: $half-spacing;

    img {
      display: block;
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .taxonomy-terms {
    flex: 0 1 100%;
    order: 2;
    padding: 0 $half-spacing;
  }

  .title {
    flex: 0 1 100%;
    order: 3;
    padding: 0 $half-spacing;

    .block__title {
      margin-top: 0;
    }

    a {
      display: inline-block;
      text-decoration: none;
      font-size: $p-font-size;
      font-weight: $font-weight--bold;
      line-height: initial;

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
      }

      &:hover,
      &:focus,
      &:active {
        outline: none;
        background: none;
      }
    }
  }

  .date {
    flex: 0 1 100%;
    order: 4;
    padding: 0 $half-spacing;
    font-weight: bold;
  }

  .location {
    flex: 0 1 100%;
    order: 4;
    margin-bottom: $standard-spacing;
    padding: 0 $half-spacing;
    font-style: italic;
  }

  .body {
    flex: 0 1 100%;
    order: 5;
    padding: 0 $half-spacing;

    .date {
      font-weight: $font-weight--semibold;
    }
  }

  /* Cards with .event class */
  &.event {
    .image {
      margin-bottom: -$double-spacing;
    }

    .date {
      flex: 0 1 40%;
      order: 2;
      margin-right: -$standard-spacing;
      padding-left: $double-spacing;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.5em;

      .month {
        display: block;
        padding: $one-point-five-spacing $double-spacing 0 $double-spacing;
        color: $white;
        background-color: $blue;
        font-size: $h3-font-size;
        font-weight: $font-weight--regular;

        @media (min-width: $large) {
          font-size: $h3-font-size--max;
        }
      }

      .day {
        display: block;
        padding: $half-spacing $double-spacing $one-point-five-spacing $double-spacing;
        white-space: nowrap;
        word-spacing: -0.2em;
        color: $white;
        background-color: $blue;
        font-size: $h1-font-size;
        font-weight: $font-weight--semibold;

        @media (min-width: $large) {
          font-size: $h1-font-size--max;
        }
      }
    }

    .location {
      flex: 1 1 60%;
      order: 2;
      align-self: end;
      margin-bottom: 0;
      padding: $standard-spacing $standard-spacing $standard-spacing $double-spacing;
      text-transform: uppercase;
      color: $blue;
      font-style: normal;
    }

    .title {
      margin-top: $standard-spacing;
      padding-right: $double-spacing;
      padding-left: $double-spacing;

      h2,
      h3,
      h4 {
        font-family: $sans-serif;
      }
    }

    .body {
      padding-right: $double-spacing;
      padding-left: $double-spacing;
    }
  }

  /* Cards with .simple class */
  &.simple {
    text-align: center;
    box-shadow: $unfocus-shadow;
    font-size: $p-font-size--larger;

    &:hover,
    &:focus-within {
      box-shadow: $focus-shadow;
    }

    &:focus-within {
      .taxonomy-term {
        border: $focus-outline--thicker;
      }
    }

    .title {
      order: 1;
      padding: $triple-spacing;
      background-color: $blue;

      a {
        &:hover,
        &:focus,
        &:active {
          color: $white;
          background: transparent;
        }
      }

      h2 {
        color: $white;
      }
    }

    .body {
      padding: $triple-spacing;
      padding-bottom: $double-spacing;
    }

    .taxonomy-terms {
      order: 6;
      padding-bottom: $triple-spacing;
    }

    .taxonomy-term {
      @include button-box-shadow($dark-blue);
      float: none;
      padding: $standard-spacing $double-spacing;
      color: $white;
      border-radius: $border-radius--round;
      background-color: $blue;
      font-size: $h3-font-size;
    }
  }
}

/* Make sure configure button works in layout builder */
.layout-builder-block.card .title a::after,
.layout-builder-block.block--card .title a::after {
  position: initial;
}
