/*------------------------------------------------------------------------------
Molecule: Cards
--------------------------------------------------------------------------------
1. General styles
2. Dark Mode
3. Print
------------------------------------------------------------------------------*/
.layout-builder-block.card .title a::after,
.layout-builder-block.block--card .title a::after {
  position: initial;
}
/*------------------------------------------------------------------------------
1. General styles
------------------------------------------------------------------------------*/
.card,
.block--card {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: start;
  margin-bottom: var(--space--md);
  padding-bottom: var(--space--md);
  border: var(--border-width--sm) solid transparent;
  &:hover,
  &:focus-within {
    z-index: 1;
    .title {
      a:after {
        outline: var(--border-width--md) solid transparent;
        outline-offset: var(--space--2xs);
        box-shadow: var(--shadow--soft--hover);
      }
    }
  }
  &:focus-within {
    .title {
      a:after {
        outline-style: dotted;
        outline-color: inherit;
      }
    }
  }
  .image {
    flex: 0 1 100%;
    order: -1;
    width: 100%;
    margin-bottom: var(--space--xs);
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .title {
    flex: 0 1 100%;
    padding: 0 var(--space--xs);
    .block__title {
      margin-top: 0;
      line-height: initial;
    }
    a {
      display: inline-block;
      text-decoration: none;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        transition: var(--transition-speed--md) var(--ease--standard) box-shadow;
        box-shadow: var(--shadow--soft);
      }
      &:hover,
      &:focus,
      &:active {
        color: inherit;
        outline: none;
        background: none;
      }
    }
  }
  .taxonomy-terms {
    flex: 0 1 100%;
    padding: 0 var(--space--xs);
    a {
      position: relative;
    }
  }
  .date {
    flex: 0 1 100%;
    padding: 0 var(--space--xs);
    font-weight: bold;
  }
  .location {
    flex: 0 1 100%;
    margin-bottom: var(--space--md);
    padding: 0 var(--space--xs);
    font-style: italic;
  }
  .body {
    flex: 0 1 100%;
    padding: 0 var(--space--xs);
    .date {
      font-weight: var(--font-weight--semibold);
    }
    a {
      position: relative;
    }
    a[href^="mailto:"] {
      word-break: break-all;
    }
    p {
      line-height: 1.5;
    }
  }
}
/*------------------------------------------------------------------------------
2. Dark Mode
------------------------------------------------------------------------------*/
.dark-mode {
  .card,
  .block--card {
    .title {
      a {
        &:after {
          box-shadow: var(--shadow--dark-mode);
        }
        &:active,
        &:focus,
        &:hover {
          color: var(--blue--lighter--40);
          &:after {
            color: var(--blue--lighter--40);
            box-shadow: var(--shadow--dark-mode--hover);
          }
        }
      }
    }
  }
}
/*------------------------------------------------------------------------------
3. Print
------------------------------------------------------------------------------*/
@media print {
  .card,
  .block--card {
    a:before {
      content: " [" attr(href) "] ";
      font-size: 10pt;
    }
  }
}
