/**
* @file
* molecules/components/card/_card.scss
*/
@mixin horizontal-card {
  display: -ms-grid;
  display: grid;
  padding-bottom: 0;

  grid-column-gap: $standard-spacing;
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: auto 1fr;
  grid-template-areas: "image taxonomy"
  "image title"
  "image body";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;

  > div {
    @include breakpoint($medium) {
      padding: $triple-spacing;
      padding-left: $double-spacing;
    }
    padding: $standard-spacing;
    padding-left: $half-spacing;
  }

  .image {
    margin-bottom: 0;
    padding: 0;

    grid-area: image;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;

    > div {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .taxonomy-terms {
    margin-bottom: 0;
    padding-bottom: 0;

    grid-area: taxonomy;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
  }

  .title {
    margin-top: 0;
    padding-bottom: 0;

    grid-area: title;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
  }

  .body {
    grid-area: body;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
  }
}

.card,
.block--card {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  margin-bottom: $standard-spacing;
  padding-bottom: $standard-spacing;

  a {
    &:after {
      transition: $medium-transition-speed $standard-ease;
      box-shadow: $unfocus-shadow;
    }

    &:before {
      @media print {
        content: " [" attr(href) "] ";
        font-size: 10pt;
      }
    }
  }

  &:hover,
  &:focus-within {
    z-index: 1;

    a {
      &:after {
        box-shadow: $focus-shadow;
      }
    }
  }

  &:focus-within {
    a:after {
      @include breakpoint($medium) {
        outline: $focus-outline--thicker $dark-blue;
      }
      outline: $focus-outline $dark-blue;
      outline-offset: $border-width--thicker;
    }
  }

  .image {
    overflow: hidden;
    flex: 0 1 100%;
    order: 1;
    width: 100%;
    margin-bottom: $half-spacing;

    img {
      display: block;
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .taxonomy-terms {
    flex: 0 1 100%;
    order: 2;
    padding: 0 $half-spacing;
  }

  .title {
    flex: 0 1 100%;
    order: 3;
    padding: 0 $half-spacing;

    .block__title {
      margin-top: 0;
      font-size: $p-font-size;
      font-weight: $font-weight--bold;
      line-height: initial;
    }

    a {
      display: inline-block;
      text-decoration: none;

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
      }

      &:hover,
      &:focus,
      &:active {
        outline: none;
        background: none;
      }
    }
  }

  .date {
    flex: 0 1 100%;
    order: 4;
    padding: 0 $half-spacing;
    font-weight: bold;
  }

  .location {
    flex: 0 1 100%;
    order: 4;
    margin-bottom: $standard-spacing;
    padding: 0 $half-spacing;
    font-style: italic;
  }

  .body {
    flex: 0 1 100%;
    order: 5;
    padding: 0 $half-spacing;

    .date {
      font-weight: $font-weight--semibold;
    }

    a {
      word-break: break-all;
      position: relative;
    }
  }

  /* Cards with .event class */
  &.event {
    align-content: start;

    .image {
      margin-bottom: -$double-spacing;
    }

    .date {
      flex: 0 1 40%;
      order: 2;
      margin-right: -$standard-spacing;
      padding-left: $standard-spacing;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.5;

      .month {
        display: block;
        padding: $standard-spacing $one-point-five-spacing 0
        $one-point-five-spacing;
        color: $white;
        background-color: $blue;
        font-size: $h4-font-size;
        font-weight: $font-weight--regular;

        @media (min-width: $large) {
          font-size: $h4-font-size--max;
        }
      }

      .day {
        display: block;
        padding: $half-spacing $one-point-five-spacing $standard-spacing
        $one-point-five-spacing;
        white-space: nowrap;
        word-spacing: -0.2em;
        color: $white;
        background-color: $blue;
        font-size: $h2-font-size;
        font-weight: $font-weight--semibold;

        @media (min-width: $large) {
          font-size: $h2-font-size--max;
        }
      }
    }

    .location {
      flex: 1 1 60%;
      order: 2;
      align-self: flex-end;
      margin-bottom: 0;
      padding: $standard-spacing $standard-spacing $standard-spacing
      $double-spacing;
      text-transform: uppercase;
      color: $blue;
      font-style: normal;
    }

    .title {
      margin-top: $standard-spacing;
      padding-right: $double-spacing;
      padding-left: $double-spacing;

      h2,
      h3,
      h4 {
        font-family: $sans-serif;
      }
    }

    .body {
      padding-right: $double-spacing;
      padding-left: $double-spacing;
    }
  }

  /* Cards with .simple class */
  &.simple {
    text-align: center;
    background-color: mix($lightest-gray, $white, 50%);

    &:hover,
    &:focus-within {
      a {
        &:after {
          box-shadow: $focus-shadow;
        }
      }
    }

    &:focus-within {
      .taxonomy-term {
        border: $focus-outline--thicker;
      }
    }

    .title {
      order: 1;
      padding: $double-spacing;
      background-color: $blue;

      .block__title {
        color: $white;

        a {
          color: $white;

          &:hover,
          &:focus,
          &:active {
            color: $white;
            background: transparent;
          }
        }
      }
    }

    .body {
      padding: $double-spacing;
    }

    .taxonomy-terms {
      order: 6;
      padding-bottom: $triple-spacing;
    }

    .taxonomy-term {
      @include button-box-shadow($dark-blue);
      float: none;
      padding: $standard-spacing $double-spacing;
      color: $white;
      border-radius: $border-radius--round-square;
      background-color: $blue;
    }
  }

  /* Cards with .tile class */
  &.tile {
    background-color: $light-blue;
    border-radius: $triple-spacing;
    font-family: $title-font;
    padding: $standard-spacing;

    a {
      &:after {
        border-radius: $triple-spacing;
      }
    }

    &:hover {
      a {
        &:after {
          box-shadow: $focus-shadow;
          border-radius: $triple-spacing;
          outline: transparent;
        }
      }
    }

    &:focus-within {
      a {
        &:after {
          @include breakpoint($medium) {
            border: $focus-outline--thicker;
          }
          border: $focus-outline $dark-blue;
          outline: transparent;
        }
      }
    }

    .image {
      border-radius: 0 $triple-spacing 0 0;
      margin: 0 0 $standard-spacing;
      order: 1;
      display: flex;
      justify-content: flex-end;
      img {
        opacity: 25%;
        display: block;
        width: auto;
        max-height: 100px;
        object-fit: scale-down;
        margin: 0;
      }
    }

    .taxonomy-terms {
      padding:0 $half-spacing;
      .taxonomy-term {
        background-color: transparent;
        color: $darkest-blue;
        font-size: $menu-font-size;
        margin:0;
        padding: 0;
      }
    }

    .title {
      margin:0;
      padding: 0 $half-spacing $half-spacing;
      text-transform: uppercase;
      .block__title {
        margin:0;
        a {
        color: $darkest-blue;
        font-family: $title-font;
        font-size: $h4-font-size;
        }
      }
    }
  }

  /* Cards with .color-block-title class */
  &.color-block-title {
    .title {
      order: 0;
      padding: $standard-spacing;
      background-color: $blue;

      a,
      p,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $lightest-green;
      }
    }

    &.dark-blue {
      .title {
        background-color: $dark-blue;

        a,
        p,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: $light-green;
        }
      }
    }
  }

  &.light-green {
    .title {
      background-color: $light-green;

      a,
      p,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $dark-blue;
      }
    }
  }

  &.horizontal {
    @include horizontal-card;
  }
}

/* Make sure configure button works in layout builder */
.layout-builder-block.card .title a::after,
.layout-builder-block.block--card .title a::after {
  position: initial;
}

.dark-mode {
  .block--card {
    a {
      &:hover,
      &:active,
      &:focus {
        color: $white;
      }
    }

    &:focus-within {
      a:after {
        outline-color: $white;
      }
    }
  }
}

.opendyslexic {
  .card,
  .block--card {
    .title {
      h2,
      h3,
      h4 {
        font-family: $opendyslexic;
      }
    }
  }
}

.atkinson {
  .card,
  .block--card {
    .title {
      h2,
      h3,
      h4 {
        font-family: $atkinson;
      }
    }
  }
}
