/**
* @file
* molecules/components/card/_information-card.scss
*/

.information.block--card {
  padding: 0;
  border: solid $border-width--thicker $blue;
  border-radius: $border-radius--round-square;
  box-shadow: $border-width--thicker $border-width--thicker 0 $blue;

  &:focus-within {
    border-style: dotted;
  }

  .sorting-term {
    order: 0;
    min-width: 30%;
    margin-left: $double-spacing;
    padding: $half-spacing;
    color: $white;
    border-radius: 0 0 $border-radius--round-square $border-radius--round-square;
    background-color: $blue;
    font-size: $min-base-font-size;
  }

  .title {
    margin-top: $standard-spacing;
    margin-right: $double-spacing;
    margin-left: $double-spacing;
    padding: 0;
    border-bottom: solid $border-width $blue;

    a {
      font-weight: $font-weight--regular;
    }

    h2,
    h3,
    h4,
    h5 {
      @include breakpoint($large) {
        font-size: $h3-font-size--max;
      }
      color: $blue;
      font-family: $sans-serif;
      font-size: $h3-font-size;
    }
  }

  .body {
    @include breakpoint($large) {
      font-size: $p-font-size--max--smaller;
    }
    padding: $double-spacing !important;
    font-size: $p-font-size--smaller;
  }

  .taxonomy-terms {
    display: flex;
    flex-flow: column;
    order: 6;
    align-self: end;
    padding: 0;
    background-color: $blue;
  }

  .taxonomy-term {
    display: flex;
    float: none;
    align-items: center;
    margin: 0;
    color: $white;
    background-color: transparent;
    font-size: $min-base-font-size;
  }

  .material-icons {
    margin-right: $half-spacing;
    font-size: $double-spacing;
  }

  &.split-style {
    display: grid;
    align-items: initial;
    align-content: start;
    border: none;

    grid-template-areas: "title body"
    "sorting body"
    "terms body";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;

    &:focus-within {
      .body {
        border-style: dotted;
        border-left-style: none;
      }

      .title {
        border-top: dotted $white $border-width--thicker;
        border-left: dotted $white $border-width--thicker;
      }

      .sorting-term {
        border-left: dotted $white $border-width--thicker;
      }

      .taxonomy-terms {
        border-bottom: dotted $white $border-width--thicker;
        border-left: dotted $white $border-width--thicker;
      }
    }

    .title {
      margin: 0;
      padding: $one-point-five-spacing $double-spacing;
      border-top: solid $blue $border-width--thicker;
      border-left: solid $blue $border-width--thicker;
      border-radius: $border-radius--round-square 0 0 0;
      background-color: $blue;

      broder-bottom: none;
      grid-area: title;

      a {
        color: $white;
        font-size: $p-font-size;
      }
    }

    h2,
    h3,
    h4,
    h5 {
      color: $white;
    }

    .sorting-term {
      display: flex;
      align-items: center;
      margin: 0;
      border-left: solid $dark-blue $border-width--thicker;
      border-radius: 0;
      background-color: $dark-blue;

      grid-area: sorting;
    }

    .taxonomy-terms {
      border-bottom: solid $dark-blue $border-width--thicker;
      border-left: solid $dark-blue $border-width--thicker;
      border-radius: 0 0 0 $border-radius--round-square;
      background-color: $dark-blue;

      grid-area: terms;
    }

    .body {
      border: solid $border-width--thicker $dark-blue;
      border-left: none;
      border-radius: 0 $border-radius--round-square $border-radius--round-square 0;

      grid-area: body;
    }
  }
}
