/**
* @file
* 01-molecules/content/search/_search.scss
*/

.western-search-widget {
  display: flex;

  form {
    display: flex;
  }

  .search-box {
    input {
      margin: 0;
      height: 100%;
      border-color: $blue;
      border-left: 0;
      border-right: 0;
    }
  }

  .search-label {
    font-size: 0;
    margin: 0;
  }
}
