/**
* @file
* 01-molecules/content/search/_search.scss
*/

.western-search-widget {
  display: flex;

  form {
    display: flex;
  }

  .open-search,
  .close-search,
  .submit-search {
    border-radius: 0;
    width: initial;
    padding: $half-spacing;
  }

  .search-box {
    input {
      margin: 0;
    }
  }

  .search-label {
    font-size: 0;
    margin: 0;
  }
}
