/*------------------------------------------------------------------------------
Atom: Tables
--------------------------------------------------------------------------------
1. Base Styles
2. Responsive table container
3. Alternates
4. Dark Mode
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
1. Base Styles
------------------------------------------------------------------------------*/
:root {
  --table-headers--dark: var(--table-gray--darker--15);
  --table-headers--light: var(--table-gray--darker--10);
  --table-rows--dark: var(--table-gray--darker--5);
  --table-rows--light: var(--table-gray);
  --table-text: var(--black);
}
table {
  --link-background: var(--gradient--vertical--light-blue);
  --link-color: var(--blue--darker--20);
  --link-color--active: var(--dark-blue);
  --link-color--visited: var(--purple);
  --link-decoration-color: var(--blue--lighter--60);
  --link-decoration-color--visited: var(--purple--lighter--60);

  grid-template-columns: auto;
  width: 100%;
  margin: var(--space--md) 0;
  table-layout: auto;
  word-wrap: break-word;
  color: var(--table-text);
  background: transparent;
  &.fixed {
    table-layout: auto;
  }
  a {
    line-height: 1.2rem;
  }
  tr,
  td,
  th {
    vertical-align: middle;
    border: solid 1px var(--table-headers--dark);
  }
  tr {
    &:nth-of-type(odd) {
      background-color: var(--table-rows--light);
    }
    &:nth-of-type(even) {
      background-color: var(--table-rows--dark);
    }
  }
  td {
    padding: var(--space--xs);
    font-size: var(--font-size--sm);
    line-height: 1.45rem;
  }
  th {
    padding: var(--space--xs);
    text-align: left;
    background-color: var(--table-headers--light);
    font-size: var(--font-size--sm);
    &[colspan],
    &[rowspan] {
      position: relative;
    }
    &[colspan],
    &[rowspan] {
      background-color: var(--table-headers--dark);
    }
  }
  caption {
    padding: var(--space--xs) 0;
    background-color: var(--table-headers--dark);
    font-size: var(--font-size--sm);
    font-weight: var(--font-weight--bold);
  }
}
.fixed {
  table {
    table-layout: fixed;
  }
}
/*------------------------------------------------------------------------------
2. Responsive table container
------------------------------------------------------------------------------*/
.responsive-table {
  @include breakpoint($medium) {
    overflow-x: revert;
  }

  overflow-x: scroll;
  table {
    @include breakpoint($medium) {
      width: 100%;
    }

    width: auto;
  }
  caption {
    @include breakpoint($medium) {
      text-align: center;
    }

    text-align: left;
  }
}
/*------------------------------------------------------------------------------
3. Alternates
------------------------------------------------------------------------------*/
table {
  &.blue {
    --table-headers--dark: var(--table-blue--darker--15);
    --table-headers--light: var(--table-blue--darker--10);
    --table-rows--dark: var(--table-blue--darker--5);
    --table-rows--light: var(--table-blue);
  }
}
.align-top {
  td,
  th {
    vertical-align: top;
  }
}
.align-bottom {
  td,
  th {
    vertical-align: bottom;
  }
}
.font-size--smaller {
  td {
    padding: var(--space--2xs);
    font-size: var(--font-size--sm);
  }
  th {
    padding: var(--space--2xs);
    font-size: var(--font-size--md);
  }
}
/*------------------------------------------------------------------------------
4. Dark Mode
------------------------------------------------------------------------------*/
[data-theme="dark"] {
  table {
    --link-background: var(--gradient--vertical--light-blue);
    --link-color: var(--white);
    --link-color--active: var(--dark-blue);
    --link-color--visited: var(--white);
    --link-decoration-color: var(--blue--lighter--60);
    --link-decoration-color--visited: var(--purple--lighter--80);
    --table-headers--dark: var(--gray--darker--20);
    --table-headers--light: var(--gray--darker--40);
    --table-rows--dark: var(--gray--darker--60);
    --table-rows--light: var(--gray--darker--80);
    --table-text: var(--white);
    &.blue {
      --table-headers--dark: var(--blue--darker--20);
      --table-headers--light: var(--blue--darker--40);
      --table-rows--dark: var(--blue--darker--60);
      --table-rows--light: var(--blue--darker--80);
    }
  }
}
