/*------------------------------------------------------------------------------
Atom: Tables
--------------------------------------------------------------------------------
1. Base Styles
2. Responsive table container
3. Alternates
4. Dark Mode
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
1. Base Styles
------------------------------------------------------------------------------*/
@mixin color-table($light-rows, $dark-rows, $light-headers, $dark-headers) {
  table,
  tr,
  td,
  th {
    border: solid 1px $light-rows;
  }
  tr {
    &:nth-of-type(odd) {
      background-color: $light-rows;
    }
    &:nth-of-type(even) {
      background-color: $dark-rows;
    }
  }
  th {
    background-color: $light-headers;
    &[colspan],
    &[rowspan] {
      background-color: $dark-headers;
    }
    &:after {
      background-color: $light-headers;
    }
  }
}
[class$="-bg"] table,
table {
  --table-blue: #cce4f4;
  --table-blue--darker--10: #b1cfe6;
  --table-blue--darker--15: #99bbd9;
  --table-blue--darker--5: #e6f2fa;
  --table-gray: #f5f6f7;
  --table-gray--darker--10: #dcddde;
  --table-gray--darker--15: #d0d1d2;
  --table-gray--darker--20: #c4c5c6;
  --table-gray--darker--25: #b8b8b9;
  --table-gray--darker--5: #e9e9ea;
  --table-gray--darker--50: #7a7b7b;
  --table-gray--darker--55: #6e6f6f;
  --table-gray--darker--60: #626263;
  --table-gray--darker--65: #565656;
  --table-gray--darker--70: #49494a;
  --table-gray--darker--75: #3d3e3e;

  @include light-gray-bg;
  @include color-table(
  var(--table-gray),
  var(--table-gray--darker--5),
  var(--table-gray--darker--10),
  var(--table-gray--darker--15)
  );

  grid-template-columns: auto;
  width: 100%;
  margin: var(--space--md) 0;
  table-layout: auto;
  word-wrap: break-word;
  background: transparent;
  &.fixed {
    table-layout: auto;
  }
  a {
    line-height: 1.2rem;
  }
}
.fixed {
  table {
    table-layout: fixed;
  }
}
caption {
  padding-bottom: var(--space--md);
  font-size: var(--font-size--sm);
  font-weight: var(--font-weight--bold);
}
tr,
td,
th {
  vertical-align: middle;
}
th {
  padding: var(--space--xs);
  text-align: left;
  font-size: var(--font-size--sm);
  &[colspan],
  &[rowspan] {
    position: relative;
    &:after {
      position: absolute;
      z-index: 1;
      height: 100%;
      content: "";
    }
  }
}
td {
  padding: var(--space--xs);
  font-size: var(--font-size--sm);
  line-height: 1.45rem;
}
/*------------------------------------------------------------------------------
2. Responsive table container
------------------------------------------------------------------------------*/
.responsive-table {
  @include breakpoint($medium) {
    overflow-x: revert;
  }

  overflow-x: scroll;
  table {
    @include breakpoint($medium) {
      width: 100%;
    }

    width: auto;
  }
  caption {
    @include breakpoint($medium) {
      text-align: center;
    }

    text-align: left;
  }
}
/*------------------------------------------------------------------------------
3. Alternates
------------------------------------------------------------------------------*/
.light-blue {
  @include color-table(
  var(--table-blue),
  var(--table-blue--darker--5),
  var(--table-blue--darker--10),
  var(--table-blue--darker--15)
  );
}
.lightest-gray {
  @include color-table(
  var(--white),
  var(--table-gray),
  var(--table-gray--darker--5),
  var(--table-gray--darker--10)
  );
}
.align-top {
  td,
  th {
    vertical-align: top;
  }
}
.align-bottom {
  td,
  th {
    vertical-align: bottom;
  }
}
.font-size--smaller {
  td {
    padding: var(--space--2xs);
    font-size: var(--font-size--sm);
  }
  th {
    padding: var(--space--2xs);
    font-size: var(--font-size--md);
  }
}
/*------------------------------------------------------------------------------
4. Dark Mode
------------------------------------------------------------------------------*/
[data-theme="dark"] {
  table {
    @include gray-bg;
    @include color-table(
    var(--table-gray--darker--50),
    var(--table-gray--darker--55),
    var(--table-gray--darker--60),
    var(--table-gray--darker--65));
    &.lightest-gray {
      @include gray-bg;
      @include color-table(
      var(--table-gray--darker--50),
      var(--table-gray--darker--55),
      var(--table-gray--darker--60),
      var(--table-gray--darker--65)
      );
    }
    &.light-blue {
      @include blue-bg;
      @include color-table(
      var(--blue),
      var(--blue--darker--20),
      var(--blue--darker--40),
      var(--blue--darker--60)
      );
    }
  }
}
