/**
 * @file
 * organisms/quicksearch/_quicksearch.scss
 */
/* style listnav letters */
#quick-search-list-nav {
  .ln-letters {
    display: flex;
    justify-content: space-between;

    a {
      &.ln-disabled {
        color: $light-gray;
        border-bottom-color: transparent;

        &:hover,
        &:focus,
        &:active {
          background: transparent;
          outline: none;
        }
      }
    }
  }
}

/* listnav.js styles, which are needed for functionality */
// Any result with both classes should be shown
.listNavShow {
  &.quickSearchShow {
    display: list-item;
  }
}

// Any result with either class should be hidden
.listNavHide,
.quickSearchHide {
  display: none;
}

// Show the "no results" message even if the inline style is set to display
// none
.listNavShow.ln-no-match {
  display: list-item !important;
}
/* END listnav.js styles */
