<form autocomplete="off" id="quick-search-form">
  <label for="quick-search-input">Enter a search term to filter results</label>
  <input id="quick-search-input" type="search" />
</form>

<div id="quick-search-list-nav"></div>

<div class="quick-search-container">
  <ul id="quick-search-list">
    <li><a href="#">Alpha</a></li>
    <li><a href="#">Bravo</a></li>
    <li><a href="#">Charlie</a></li>
    <li><a href="#">(Disabled letter)</a></li>
    <li><a href="#">Echo</a></li>
    <li><a href="#">Foxtrot</a></li>
    <li><a href="#">Golf</a></li>
    <li><a href="#">Hotel</a></li>
    <li><a href="#">India</a></li>
    <li><a href="#">Juliet</a></li>
    <li><a href="#">Kilo</a></li>
    <li><a href="#">Lima</a></li>
    <li><a href="#">Mike</a></li>
    <li><a href="#">November</a></li>
    <li><a href="#">Oscar</a></li>
    <li><a href="#">Papa</a></li>
    <li><a href="#">Quebec</a></li>
    <li><a href="#">Romeo</a></li>
    <li><a href="#">Sierra</a></li>
    <li><a href="#">Tango</a></li>
    <li><a href="#">Two T Results</a></li>
    <li><a href="#">Uniform</a></li>
    <li><a href="#">Victor</a></li>
    <li><a href="#">Whiskey</a></li>
    <li><a href="#">X-ray</a></li>
    <li><a href="#">Yankee</a></li>
    <li><a href="#">Zulu</a></li>
  </ul>
</div>
