/*------------------------------------------------------------------------------
Organism: Pre-header
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
wwu-pre-header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  font-size: var(--font-size--xs);
  .material-icons {
    font-size: var(--icon-size--2xs);
    margin-left: var(--space--2xs);
  }
  a.skip-link {
    place-items: center;

    display: flex;
    min-height: var(--touch-target--min);
    padding: var(--space--2xs);
    transition: background-image var(--transition-speed--fast)
    var(--ease--standard);
    text-decoration: none;
    background-size: 100% 100%;
    font-weight: var(--font-weight--regular);
    color: var(--white);
    &:visited {
      color: inherit;
    }
    &:active,
    &:hover,
    &:focus {
      color: var(--dark-blue--darker--60);
      background-color: var(--dark-blue--darker--60);
      outline-offset: calc(-1 * var(--border-width--md));
      background-image: var(--gradient--vertical--light-blue);
    }
  }
  button.toggle-settings {
    place-items: center;

    display: flex;
    min-height: var(--touch-target--min);
    padding: var(--space--xs);
    transition: background-image var(--transition-speed--fast)
    var(--ease--standard);
    color: inherit;
    border: none;
    border-radius: 0;
    background: transparent;
    background-repeat: no-repeat;
    &:hover,
    &:focus,
    &:active {
      color: var(--dark-blue--darker--60);
      background-image: var(--gradient--vertical--light-blue);
      background-size: 100% 100%;
    }
    &:active {
      border: none;
    }
  }
}
.settings-menu {
  position: absolute;
  z-index: 1;
  top: 100%;
  grid-column: 1 / span all;
  padding: var(--space--xs);
  &.closed {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    transition: opacity var(--ease--standard) var(--transition-speed--fast);
    opacity: 0;
  }
  &.open {
    visibility: visible;
    transition: opacity var(--ease--standard) var(--transition-speed--fast);
    opacity: 1;
  }
  .menu-container {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;
  }
  fieldset {
    display: flex;
    flex: 1 1 0;
    flex-flow: column nowrap;
    legend {
      margin: 0;
      padding: var(--space--xs);
    }
    input[type="radio"],
    input[type="radio"] + label {
      &:not(:last-of-type) {
        margin-bottom: var(--space--md);
      }
    }
    input[type="radio"] + label {
      align-self: flex-start;
    }
  }
  .reset-button {
    margin-top: var(--space--xs);
  }
}
