<script src="https://paypal.github.io/skipto/downloads/js/skipto.min.js"></script>
<script>
var SkipToConfig = {
  settings: {
    skipTo: {
      landmarks:
        'main, [role="main"], header, [role="banner"], [role="search"], nav,[role="navigation"], footer, [role="contentinfo"]',
      displayOption: "popup",
      headerLabel: "Header",
      footerLabel: "Footer",
      asideLabel: "Aside",
      positionLeft: "0",
      buttonBackgroundColor: "transparent",
    },
  },
};

</script>
<wwu-pre-header class="black-bg">
    <noscript>
        <a href="#main-content" class="skip-link focusable">
            <span class="skip-link-text">Skip to Content </span>
            <span class="material-icons" aria-hidden="true">keyboard_arrow_down</span>
        </a>    

        {% include "@molecules/search/search.html.twig" %}
    </noscript>
</wwu-pre-header>