@use "../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Atom: Background Colors
--------------------------------------------------------------------------------
1. Classes
2. Dark mode
3. Print styles
4. Forced colors
------------------------------------------------------------------------------*/
.pattern-lab-bg {
  padding: var(--space--md);
}
/*------------------------------------------------------------------------------
1. Classes
Note: Dark green, green, and light green as background color options were retired
in 2025. They have been combined with their nearest blue color instead.
------------------------------------------------------------------------------*/
.black-bg {
  @include black-bg;
  &.layout:before {
    @include black-bg;
  }
}
.dark-green-bg,
.dark-blue-bg {
  @include dark-blue-bg;
}
.darkest-blue-bg {
  @include darkest-blue-bg;
  &.layout:before {
    @include darkest-blue-bg;
  }
}
.gray-bg {
  @include gray-bg;
  &.layout:before {
    @include gray-bg;
  }
}
.green-bg,
.blue-bg {
  @include blue-bg;
  &.layout:before {
    @include blue-bg;
  }
}
.light-gray-bg {
  @include light-gray-bg;
  &.layout:before {
    @include light-gray-bg;
  }
}
.lightest-gray-bg {
  @include lightest-gray-bg;
  &.layout:before {
    @include lightest-gray-bg;
  }
}
.light-green-bg,
.light-blue-bg {
  @include light-blue-bg;
  &.layout:before {
    @include light-blue-bg;
  }
}
.lightest-blue-bg {
  @include lightest-blue-bg;
  &.layout:before {
    @include lightest-blue-bg;
  }
}
.dark-blue-gradient-bg {
  @include dark-blue-bg;
}
.blue-gradient-bg {
  @include blue-bg;
}
.layout {
  position: relative;
  &[class*="-bg"]:before {
    position: absolute;
    z-index: -1;
    right: calc(-1 * var(--space--md));
    left: calc(-1 * var(--space--md));
    display: block;
    width: 100%;
    width: 100vw;
    height: 100%;
    content: "";
    background-size: cover;
    @media (min-width: $large) {
      right: calc(-1 * var(--content-area--negative-space));
      left: calc(-1 * var(--content-area--negative-space));
    }
  }
}
/*------------------------------------------------------------------------------
2. Dark Mode
------------------------------------------------------------------------------*/
[data-theme="dark"] {
  @include black-bg;

  background-color: var(--gray--darker--80);
}
[data-theme="dark"] {
  .gray-bg,
  .light-blue-bg,
  .lightest-blue-bg,
  .light-gray-bg,
  .lightest-gray-bg {
    @include gray-bg;
  }
  .light-green-bg {
    @include gray-bg;
  }
  .blue-bg {
    background-color: var(--dark-blue--darker--60);
  }
}
/*------------------------------------------------------------------------------
3. Print Styles
------------------------------------------------------------------------------*/
@media print {
  .black-bg,
  .gray-bg,
  .light-gray-bg,
  .lightest-gray-bg,
  .dark-blue-bg,
  .darkest-blue-bg,
  .blue-bg,
  .light-blue-bg,
  .lightest-blue-bg,
  .light-green-bg,
  .dark-blue-gradient-bg,
  .blue-gradient-bg {
    color: var(--black);
    border: solid var(--border-width--sm) var(--black);
    background-color: var(--white);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--dark-blue);
    }
    .block--beyond-basics-block {
      padding: 0.8rem;
    }
  }
}
/*------------------------------------------------------------------------------
4. Forced colors mode
------------------------------------------------------------------------------*/
@media (forced-colors: active) {
  .black-bg,
  .gray-bg,
  .light-gray-bg,
  .lightest-gray-bg,
  .dark-blue-bg,
  .darkest-blue-bg,
  .blue-bg,
  .light-blue-bg,
  .lightest-blue-bg,
  .light-green-bg,
  .dark-blue-gradient-bg,
  .blue-gradient-bg {
    a,
    a.patternLink {
      &:hover,
      &:focus,
      &:active {
        background-image: none;
      }
    }
    .play-button {
      svg {
        fill: ButtonText;
      }
      &:hover,
      &:focus,
      &:active {
        border-color: ButtonText;
        background-color: ButtonText;
        svg {
          fill: ButtonFace;
        }
      }
    }
    .social-icon {
      svg {
        fill: LinkText;
      }
      &:hover,
      &:focus,
      &:active {
        background-color: LinkText;
        svg {
          fill: Canvas;
        }
      }
    }
  }
}
