/*------------------------------------------------------------------------------
Atom: Background Color Mixins
--------------------------------------------------------------------------------
1. Black based backgrounds
2. Gray based backgrounds
3. Light gray based backgrounds
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
1. Black based backgrounds
--------------------------------------------------------------------------------
Black, darkest blue, and dark blue are black based and share link/heading colors.
------------------------------------------------------------------------------*/
@mixin black-bg {
  --h1-color: var(--light-green);
  --h2-color: var(--light-green--lighter--20);
  --h3-color: var(--light-green--lighter--40);
  --h4-color: var(--light-green--lighter--60);
  --h5-color: var(--light-green--lighter--80);
  --h6-color: var(--light-green);
  --icon-background-color--active: var(--blue--lighter--40);
  --icon-color--active: var(--dark-blue);
  --link-color: var(--blue--lighter--80);
  --link-color--focus: var(--dark-blue);
  --link-color--visited: var(--purple--lighter--80);
  --link-decoration-color: var(--blue--lighter--60);
  --midtone-text-color: var(--gray--lighter--80);
  --oline-color: var(--white);
  --required-color: var(--blue--lighter--40);
  --text-accent-color: var(--light-green--lighter--40);

  color: var(--white);
  background: var(--black);
}

@mixin darkest-blue-bg {
  @include black-bg;

  background: var(--dark-blue--darker--20);
}

@mixin dark-blue-bg {
  @include black-bg;

  background: var(--dark-blue);
}

/*------------------------------------------------------------------------------
2. Gray based backgrounds
--------------------------------------------------------------------------------
Gray, blue, and green backgrounds are gray based.
------------------------------------------------------------------------------*/
@mixin gray-bg {
  --button-background-color: var(--dark-blue);
  --button-background-color--active: var(--blue--lighter--60);
  --button-color: var(--white);
  --button-color--active: var(--dark-blue--darker--60);
  --h1-color: var(--light-green--lighter--20);
  --h2-color: var(--light-green--lighter--40);
  --h3-color: var(--light-green--lighter--60);
  --h4-color: var(--light-green--lighter--80);
  --h5-color: var(--white);
  --h6-color: var(--white);
  --icon-background-color: var(--dark-blue);
  --icon-background-color--active: var(--dark-blue--darker--40);
  --icon-color--active: var(--white);
  --link-color: var(--white);
  --link-color--focus: var(--dark-blue);
  --link-color--visited: var(--white);
  --link-decoration-color: var(--blue--lighter--80);
  --link-decoration-color--visited: var(--purple--lighter--80);
  --midtone-text-color: var(--white);
  --oline-color: var(--white);
  --required-color: var(--blue--lighter--80);
  --text-accent-color: var(--light-green--lighter--80);

  color: var(--white);
  background: var(--gray);
}

@mixin blue-bg {
  @include gray-bg;

  background: var(--blue);
}

@mixin green-bg {
  @include gray-bg;

  background: var(--green);
}

/*------------------------------------------------------------------------------
3. Light gray based backgrounds
--------------------------------------------------------------------------------
Light gray, lightest gray, light blue, lightest blue, and light green
backgrounds are light gray based.
------------------------------------------------------------------------------*/
@mixin light-gray-bg {
  --h1-color: var(--dark-blue--darker--80);
  --h2-color: var(--dark-blue--darker--60);
  --h3-color: var(--dark-blue--darker--40);
  --h4-color: var(--dark-blue--darker--30);
  --h5-color: var(--dark-blue--darker--20);
  --h6-color: var(--dark-blue--darker--10);
  --link-color: var(--dark-blue--darker--60);
  --link-color--active: var(--white);
  --link-color--focus: var(--white);
  --link-decoration-color: var(--blue--darker--60);
  --link-decoration-color--visited: var(--purple);
  --midtone-text-color: var(--gray--darker--80);
  --oline-color: var(--dark-blue--darker--60);
  --required-color: var(--blue--darker--60);
  --text-accent-color: var(--gray--darker--60);

  color: var(--black);
  background: var(--gray--lighter--60);
}

@mixin lightest-gray-bg {
  @include light-gray-bg;

  background: var(--gray--lighter--80);
}

@mixin light-blue-bg {
  @include light-gray-bg;

  background: var(--blue--lighter--60);
}

@mixin lightest-blue-bg {
  @include lightest-gray-bg;

  background: var(--blue--lighter--80);
}

@mixin light-green-bg {
  @include light-gray-bg;

  background: var(--light-green);
}

@mixin yellow-bg {
  @include light-gray-bg;

  background: var(--yellow);
}
