/**
 * @file
 * 00-atoms/icons/icons-with-text/_icons-with-text.scss
 */
.icon-with-text {
  display: inline-block;
  text-align: center;
  border-bottom: none;

  .icon-text {
    display: block;
    font-size: $font-size--smaller;
  }
}
