<a href="#" class="icon-with-text">
  <i class="material-icons" aria-hidden="true">home</i>
  <span class="icon-text">Home</span>
</a>

<a href="#" class="icon-with-text">
  <i class="material-icons" aria-hidden="true">search</i>
  <span class="icon-text">Search</span>
</a>

<a href="#" class="icon-with-text">
  <i class="material-icons" aria-hidden="true">person_outline</i>
  <span class="icon-text">Login</span>
</a>

<a href="#" class="icon-with-text">
  <i class="material-icons" aria-hidden="true">event</i>
  <span class="icon-text">Calendar</span>
</a>

<a href="#" class="icon-with-text">
  <i class="material-icons" aria-hidden="true">place</i>
  <span class="icon-text">Map</span>
</a>
