<div>
  <a href="#" class="icon-with-text">
    <span class="material-icons" aria-hidden="true">home</span>
    <span class="icon-text">Home</span>
  </a>

  <a href="#" class="icon-with-text">
    <span class="material-icons" aria-hidden="true">search</span>
    <span class="icon-text">Search</span>
  </a>

  <a href="#" class="icon-with-text">
    <span class="material-icons" aria-hidden="true">person_outline</span>
    <span class="icon-text">Login</span>
  </a>

  <a href="#" class="icon-with-text">
    <span class="material-icons" aria-hidden="true">event</span>
    <span class="icon-text">Calendar</span>
  </a>

  <a href="#" class="icon-with-text">
    <span class="material-icons" aria-hidden="true">place</span>
    <span class="icon-text">Map</span>
  </a>
</div>

<div>
  <p>With .blue-bg class</p>
  <a href="#" class="icon-with-text blue-bg">
    <span class="material-icons" aria-hidden="true">home</span>
    <span class="icon-text">Home</span>
  </a>

  <a href="#" class="icon-with-text blue-bg">
    <span class="material-icons" aria-hidden="true">search</span>
    <span class="icon-text">Search</span>
  </a>

  <a href="#" class="icon-with-text blue-bg">
    <span class="material-icons" aria-hidden="true">person_outline</span>
    <span class="icon-text">Login</span>
  </a>

  <a href="#" class="icon-with-text blue-bg">
    <span class="material-icons" aria-hidden="true">event</span>
    <span class="icon-text">Calendar</span>
  </a>

  <a href="#" class="icon-with-text blue-bg">
    <span class="material-icons" aria-hidden="true">place</span>
    <span class="icon-text">Map</span>
  </a>
</div>

<div>
  <p>With .medium class</p>
  <a href="#" class="icon-with-text medium">
    <span class="material-icons" aria-hidden="true">home</span>
    <span class="icon-text">Home</span>
  </a>

  <a href="#" class="icon-with-text medium">
    <span class="material-icons" aria-hidden="true">search</span>
    <span class="icon-text">Search</span>
  </a>

  <a href="#" class="icon-with-text medium">
    <span class="material-icons" aria-hidden="true">person_outline</span>
    <span class="icon-text">Login</span>
  </a>

  <a href="#" class="icon-with-text medium">
    <span class="material-icons" aria-hidden="true">event</span>
    <span class="icon-text">Calendar</span>
  </a>

  <a href="#" class="icon-with-text medium">
    <span class="material-icons" aria-hidden="true">place</span>
    <span class="icon-text">Map</span>
  </a>
</div>

<div>
  <p>With .large and .blue-bg class</p>
  <a href="#" class="icon-with-text large blue-bg">
    <span class="material-icons" aria-hidden="true">home</span>
    <span class="icon-text">Home</span>
  </a>

  <a href="#" class="icon-with-text large blue-bg">
    <span class="material-icons" aria-hidden="true">search</span>
    <span class="icon-text">Search</span>
  </a>

  <a href="#" class="icon-with-text large blue-bg">
    <span class="material-icons" aria-hidden="true">person_outline</span>
    <span class="icon-text">Login</span>
  </a>

  <a href="#" class="icon-with-text large blue-bg">
    <span class="material-icons" aria-hidden="true">event</span>
    <span class="icon-text">Calendar</span>
  </a>

  <a href="#" class="icon-with-text large blue-bg">
    <span class="material-icons" aria-hidden="true">place</span>
    <span class="icon-text">Map</span>
  </a>
</div>
