/*------------------------------------------------------------------------------
Molecule: Image with Description
--------------------------------------------------------------------------------
1. Dark Mode
------------------------------------------------------------------------------*/
.block--image-with-description {
  @include breakpoint($medium) {
    grid-template-areas: none;
    grid-template-columns: 3fr var(--space--2xl) var(--space--lg) 4fr;
    grid-template-rows: var(--space--2xl) 1fr var(--space--xl);
  }
  display: grid;
  margin-bottom: var(--space--lg);

  grid-area: body;
  grid-template-areas:
    "image"
    "body";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;

  .block__title {
    margin-top: var(--space--sm);
  }

  .image {
    @include breakpoint($medium) {
      z-index: 1;

      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
    }

    grid-area: image;

    img {
      display: block;
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .body {
    @include breakpoint($medium) {
      padding-left: var(--space--3xl);

      grid-column: 2 / span 3;
      grid-row: 1 / span all;
    }
    padding: var(--space--sm);

    &:not([class$="-bg"]) {
      @include breakpoint(max-width $medium) {
        border-top: none;
      }
      border: solid var(--border-width--md) var(--blue);
      background: var(--white);
    }
  }

  &.mirror {
    @include breakpoint($medium) {
      grid-template-columns: 4fr var(--space--lg) var(--space--2xl) 3fr;

      .image {
        grid-column: 3 / span 2;
      }

      .body {
        padding-right: var(--space--3xl);
        padding-left: var(--space--md);

        grid-column: 1 / span 3;
      }
    }
  }
}

.dark-mode {
  .block--image-with-description {
    .body {
      &:not([class$="-bg"]) {
        background-color: var(--gray--darker--80);
      }
    }
  }
}
