/**
 * @file
 * organisms/sections/card-list/_card-4col.scss
 */

.card-4col,
.card-4col--view .view-header {
  display: -ms-grid;
  display: grid;

  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

  .card {
    .image {
      img {
        width: 100%;
      }
    }
  }
}
