/**
* @file
* organisms/blocks/block/_block-template.scss
*/
.block {
  position: relative;
  z-index: 0;
}

.block--full-page {
  @include breakpoint($small) {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
  @include breakpoint($large) {
    padding-right: $double-spacing * 4;
    padding-left: $double-spacing * 4;
  }
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  min-height: 100vh;
  margin-right: -$standard-spacing;
  margin-left: -$standard-spacing;
}

.block--half-page {
  @include breakpoint($small) {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
  @include breakpoint($large) {
    padding-right: $double-spacing * 4;
    padding-left: $double-spacing * 4;
  }
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  min-height: 45vh;
  margin-right: -$standard-spacing;
  margin-left: -$standard-spacing;
}
