/*------------------------------------------------------------------------------
Templates: Sites - MABEL
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.page-islandora {
  /* Hide WWU Search as it's confusing to have multiple searches -------------*/
  .western-header {
    .search {
      display: none;
    }

    .wrap {
      .site-name {
        text-transform: uppercase;
      }
    }
  }

  /* Fix contextual links in splash with no header image ---------------------*/
  .splash > div:nth-of-type(1) div {
    width: initial;
    height: initial;
  }

  /* Reorder so left sidebar goes below main content area on 25/75 layouts ---*/
  .layout--twocol-25-75 {
    .layout__region--top {
      order: 0;
    }
    .layout__region--first {
      @include breakpoint($medium) {
        order: 1;
      }
      order: 2;
    }
    .layout__region--second {
      @include breakpoint($medium) {
        order: 2;
      }
      order: 1;
    }
    .layout__region--bottom {
      order: 3;
    }
  }

  /* Style sidebar blocks */
  .layout__region--first {
    .panel-pane {
      @include lightest-gray-bg margin-bottom: var(--space--sm);
      padding: var(--space--sm);
      font-size: var(--font-size--sm);
    }

    h2 {
      margin-top: 0;
      padding-bottom: var(--space--sm);
      border-bottom-width: var(--border-width--lg);
      font-size: var(--font-size--md);
    }

    h3 {
      color: var(--dark-green);
      font-size: var(--font-size--sm);
    }

    input,
    select {
      border-width: var(--border-width--md);
    }

    input[type="submit"] {
      padding: var(--space--xs) var(--space--sm);
    }

    label {
      font-weight: normal;
    }
  }

  /* Date picker resets ------------------------------------------------------*/
  .ui-datepicker {
    a {
      margin: initial;
    }
    select {
      display: inline;
      padding: initial;
      border: initial;
      font-weight: normal;
    }
  }

  .site-footer {
    #block-user-login {
      text-align: right;

      .form-submit {
        width: 100%;
        font-size: 1em;
      }

      .item-list {
        display: none;
      }
    }

    #edit-cas-login-redirection-message {
      margin: 0;
    }

    #edit-actions {
      margin-bottom: 0;
    }
  }

  .form-select {
    max-width: 100%;
  }
}
