@use "../../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Templates: Layouts - Four column
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.layout--fourcol-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  > .layout__region {
    flex: 0 1 100%;
    font-size: var(--font-size--sm);
    @media (min-width: $small) {
      flex: 0 1 24%;
    }
  }
}
.layout--fourcol--page-width {
  display: flex;
  flex-wrap: wrap;
  max-width: 100cqw;
  margin-right: calc(-1 * var(--space--sm));
  margin-left: calc(-1 * var(--space--sm));
  @media (min-width: $large) {
    margin-right: calc((var(--content-area-max-width)/2) - 50cqw);
    margin-left: calc((var(--content-area-max-width)/2) - 50cqw);
  }
  > .layout__region {
    flex: 1 1 100%;
    max-width: none;
  }
  > .layout__region--first,
  > .layout__region--second,
  > .layout__region--third,
  > .layout__region--fourth {
    @media (min-width: $small) {
      flex: 1 1 25%;
    }
  }
}
