/*------------------------------------------------------------------------------
Sites: MABEL
--------------------------------------------------------------------------------
Custom styles for MABEL. These are not compiled, this is simply a backup of the
styles used in a custom block on the site.
------------------------------------------------------------------------------*/
:root {
  --content-area-max-width: 65rem;
}
h1 {
  --h1-size: var(--font-size--5xl);

  text-transform: none;
}
/*------------------------
Main Search Form & Results
------------------------*/
wwu-search {
  display: none;
}
.views-exposed-form.block--solr-search-content-ashlar-list,
.views-exposed-form.block--solr-search-content-ashlar-grid {
  padding-top: var(--space--xl);
  padding-bottom: var(--space--xl);
  background: var(--gradient--diagonal--blue-to-dark-blue);
}
.views-exposed-form.block--solr-search-content-ashlar-list form,
.views-exposed-form.block--solr-search-content-ashlar-grid form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--space--xs);
  width: calc(100% - var(--space--lg));
  max-width: var(--content-area-max-width--sm);
  margin: auto;
}
.views-exposed-form.block--solr-search-content-ashlar-list label,
.views-exposed-form.block--solr-search-content-ashlar-grid label {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
}
.views-exposed-form.block--solr-search-content-ashlar-list .search_api_autocomplete,
.views-exposed-form.block--solr-search-content-ashlar-grid .search_api_autocomplete,
.views-exposed-form.block--solr-search-content-ashlar-list .form-actions,
.views-exposed-form.block--solr-search-content-ashlar-grid .form-actions {
  display: inline;
  margin: 0;
}
.views-exposed-form.block--solr-search-content-ashlar-list .search_api_autocomplete input,
.views-exposed-form.block--solr-search-content-ashlar-grid .search_api_autocomplete input,
.views-exposed-form.block--solr-search-content-ashlar-list .form-actions input,
.views-exposed-form.block--solr-search-content-ashlar-grid .form-actions input {
  width: 100%;
  margin: 0;
}
details pre {
  font-size: var(--font-size--xs);
}
/*------------------------
Search in Collections
------------------------*/
.views-exposed-form {
  display: inline-flex;
}
.views-exposed-form + .views-exposed-form {
  transform: translatey(-0.8rem);
}
/*------------------------
Card Tweaks
------------------------*/
.card {
  --h2-size: var(--font-size--md);
  --h3-size: var(--font-size--md);
}
.card h3 {
  font-family: var(--font--sans-serif);
}
.card .image {
  overflow: hidden;
  max-width: 400px;
  max-height: 200px;
  text-align: center;
}
.card .material-icons {
  font-size: var(--icon-size--2xs);
}
.card a {
  text-underline-offset: unset;
}
.horizontal.card {
  grid-template-columns: auto 1fr;
}
.view--header,
.pager {
  grid-column: 1/span 4;
  width: 100%;
}
/*------------------------
Object page tweaks
------------------------*/
.material-icons.thumbnail {
  font-size: 8rem;
}
.page-footer {
  margin-top: var(--space--md);
}
.exposed-detail {
  padding: var(--space--sm);
  border: solid var(--link-decoration-color) var(--border-width--md);
}
.exposed-detail .material-icons {
  position: relative;
  top: 4px;
  font-size: var(--icon-size--xs);
}
.exposed-detail + wwu-accordion-item .expand {
  border-top: none;
}
.exposed-detail h3 {
  --h3-size: var(--font-size--lg);
}
.object-details {
  --h3-color: var(--blue--darker--40);
  --h3-size: var(--font-size--md);
  --h4-color: var(--blue--darker--40);
  --h4-size: var(--font-size--md);
  --h5-size: var(--font-size--md);
}
.object-details h3,
.object-details h4,
.object-details h5 {
  margin-bottom: 0;
}
[data-theme="dark"] .object-details {
  --h3-color: var(--blue--lighter--20);
  --h4-color: var(--blue--lighter--20);
}
/*------------------------
Transcripts
------------------------*/
.transcript {
  margin-top: var(--space--md);
}
.transcript h2 {
  --h2-size: var(--font-size--lg);

  display: inline;
}
.transcript-file {
  width: 100%;
  margin: 0;
  font-family: var(--font--sans-serif);
  font-size: var(--font-size--xl);
}
[data-theme="dark"] object {
  background-color: var(--gray--lighter--20);
}
/*------------------------
Mirador Viewer Customizations
------------------------*/
.mirador-window-close {
  display: none;
}
.MuiIconButton-root {
  box-shadow: none;
}
.MuiIconButton-root:hover {
  background-color: var(--blue);
}
/*------------------------
AMI Set User Interface
------------------------*/
.path-amiset table,
.path-metadatadisplay table {
  font-size: var(--font-size--xs);
}
.path-amiset table td,
.path-metadatadisplay table td {
  padding: var(--space--2xs);
}
.path-amiset .block--local-tasks-block,
.path-metadatadisplay .block--local-tasks-block {
  font-size: var(--font-size--xs);
}
.path-amiset input[type="checkbox"] + label,
.path-amiset input[type="radio"] + label,
.path-metadatadisplay input[type="checkbox"] + label,
.path-metadatadisplay input[type="radio"] + label {
  font-weight: var(--font-weight--semibold);
}
.path-amiset input[type="checkbox"] + label + .description,
.path-amiset input[type="radio"] + label + .description,
.path-metadatadisplay input[type="checkbox"] + label + .description,
.path-metadatadisplay input[type="radio"] + label + .description {
  padding: var(--space--xs);
  font-size: var(--font-size--sm);
}
.path-amiset .layout--onecol .layout__region {
  max-width: none;
  margin-top: var(--space--md);
}
.path-amiset .page-title .field-label,
.path-metadatadisplay .page-title .field-label {
  display: none;
}
.path-amiset .form-select,
.path-metadatadisplay .form-select {
  max-height: 15rem;
}
.dropbutton-widget {
  width: 100%;
}
.dropbutton {
  background: var(--page-background);
}
.dropbutton button {
  border-radius: 0;
  background: var(--gray--lighter--80);
}
.dropbutton a {
  padding: var(--space--2xs);
  text-decoration: none;
}
.dropbutton-arrow {
  color: var(--default-text-color);
}
.webform-metadata-loc--wrapper {
  border: none;
}
#edit-mapping-lod-columns {
  font-size: var(--font-size--xs);
}
#edit-lod-cleanup table {
  display: block;
  overflow: scroll;
  max-width: calc(100vw);
}
@media (min-width: 1301px) {
  #edit-lod-cleanup {
    margin-left: calc((-1 * ((100vw - var(--content-area-max-width)))/2) + var(--space--md));
  }
  #edit-lod-cleanup table {
    max-width: calc(100vw - var(--space--2xl));
  }
}
#edit-lod-cleanup table table {
  overflow: hidden;
  margin: 0;
}
#edit-lod-cleanup input[type="checkbox"] + label:after,
#edit-lod-cleanup input[type="radio"] + label:after {
  display: none;
}
