@use "../../00-utilities/utilities" as *;
/**
* @file
* organisms/profile_profile.scss
*/
.view--profile-page {
  .tagline {
    margin-left: 0;
  }
}
.user-profile {
  --h2-size: var(--font-size--2xl);
  --h3-size: var(--font-size--xl);

  display: grid;
  gap: var(--space--sm);
  @media (min-width: $small) {
    grid-template-columns: 1fr 2fr;
  }
  h2 {
    border-bottom: var(--border-width--md) solid;
  }
}
.profile-photo {
  width: 20rem;
  height: 20rem;
  margin: auto;
}
.profile-right {
  h2,
  h3 {
    margin-top: 0;
  }
}
.office,
.contact {
  display: flex;
  flex-flow: row wrap;
  h2 {
    flex: 0 0 100%;
  }
  div {
    flex: 0 0 50%;
  }
}
.social-links {
  display: none;
}
