/**
* @file
* 02-molecules/org-charts/_flowcharts.scss
*/
$flowchart-item-width: 22.5rem;

.flowchart {
  figcaption {
    text-align: center;
  }
  
  ol {
    @include breakpoint($small) {
      flex-flow: row wrap;
      justify-content: center;
    }
    display: flex;
    flex-flow: column;
    padding: 0;
    list-style-type: none;
  }

  li {
    @include breakpoint($small) {
      flex-flow: row nowrap;
      margin: $standard-spacing 0 0;
    }
    display: flex;
    flex-flow: column;
    max-width: $flowchart-item-width;
    margin: auto;

    &:last-of-type {
      .flow-right,
      .flow-left {
        display: none;
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    padding: $standard-spacing;
  }

  .material-icons {
    display: block;
  }

  .flow-down {
    @include breakpoint($small) {
      display: none;
    }
    display: block;
    margin: auto;
    padding: $standard-spacing;
  }

  .flow-right {
    @include breakpoint($small) {
      display: block;
    }
    display: none;
    align-self: center;
    padding: $standard-spacing;
  }
}
