<form autocomplete="off" id="quick-search-form">
  <label for="quick-search-input">Enter a search term to filter results</label>
  <input id="quick-search-input" type="search" />
</form>

<div id="quick-search-list-nav"></div>
