/**
 * @file
 * helpers/_align.scss
 * Helper classes to adjust alignments
 */


/* For align classes, added by drupal to float block elements, add spacing from text */
figure .align-right {
  margin-left: 0px;
}
figure .align-left {
  margin-right: 0px;
}
.align-center {
  margin-right: auto;
  margin-left: auto;

  &.button {
    margin-left: 50%;
    transform: translatex(-50%);
  }

  .image-button {
    margin-right: auto;
    margin-left: auto;
  }
}

/* Adjust text-align properties */
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
