/*------------------------------------------------------------------------------
Helpers: Align
--------------------------------------------------------------------------------
For adjusting alignments.
------------------------------------------------------------------------------*/
.align-right {
  margin-left: var(--space--sm);
}
.align-left {
  margin-right: var(--space--sm);
}
.align-center {
  margin-right: auto;
  margin-left: auto;

  &.button {
    margin-left: 50%;
    transform: translatex(-50%);
  }

  .image-link {
    margin-right: auto;
    margin-left: auto;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
