/*------------------------------------------------------------------------------
Helpers: Borders
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.round-edges {
  border-radius: var(--border-radius--rounder);
}

.border-bottom {
  &--small {
    border-bottom: var(--border-width--sm) solid var(--gray--lighter--80);
  }
  &--medium {
    border-bottom: var(--border-width--md) solid var(--gray--lighter--80);
  }
  &--large {
    border-bottom: var(--border-width--lg) solid var(--gray--lighter--80);
  }
}