.covid-attestation {
  text-align: center;
  background-color: $yellow;

  h2 {
    margin: 0;
    font-weight: $font-weight--regular;
    line-height: 1em;
  }

  a {
    color: $dark-blue;
    font-family: $sans-serif;
    font-size: $p-font-size;
  }

  @media print {
    display: none;
  }
}

.dark-mode {
  .covid-attestation {
    a {
      color: $dark-blue;

      &:active,
      &:hover,
      &:focus {
        color: $white;
      }
    }
  }
}

.opendyslexic {
  .covid-attestation {
    a {
      font-family: $opendyslexic;
    }
  }
}

.atkinson {
  .covid-attestation {
    a {
      font-family: $atkinson;
    }
  }
}
