/*------------------------------------------------------------------------------
Helpers: Display
--------------------------------------------------------------------------------
1. Visually hidden
------------------------------------------------------------------------------*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  
  &.space-before {
    &:before {
      content: '\00A0';
    }
  }

  &.space-after {
    &:after {
      content: '\00A0';
    }
  }
}
