/* Darken bg image to improve contrast as needed, 
mainly for image buttons and banner images with overlays on top */

.image-darker--10 {
  .image,
  .background-image {
    filter: brightness(90%);
  }
}

.image-darker--20 {
  .image,
  .background-image {
    filter: brightness(80%);
  }
}

.image-darker--30 {
  .image,
  .background-image {
    filter: brightness(70%);
  }
}

.image-darker--40 {
  .image,
  .background-image {
    filter: brightness(60%);
  }
}

.image-darker--50 {
  .image,
  .background-image {
    filter: brightness(50%);
  }
}

.image-darker--60 {
  .image,
  .background-image {
    filter: brightness(40%);
  }
}

.image-darker--70 {
  .image,
  .background-image {
    filter: brightness(30%);
  }
}

.image-darker--80 {
  .image,
  .background-image {
    filter: brightness(20%);
  }
}

.image-darker--90 {
  .image,
  .background-image {
    filter: brightness(10%);
  }
}
