/*------------------------------------------------------------------------------
Helpers: Space
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.standard-margin {
  margin: var(--space--sm);
}

.standard-margin--top {
  margin-top: var(--space--sm);
}

.standard-margin--right {
  margin-right: var(--space--sm);
}

.standard-margin--bottom {
  margin-bottom: var(--space--sm);
}

.standard-margin--left {
  margin-left: var(--space--sm);
}

.double-margin {
  margin: var(--space--md);
}

.double-margin--top {
  margin-top: var(--space--md);
}

.double-margin--right {
  margin-right: var(--space--md);
}

.double-margin--bottom {
  margin-bottom: var(--space--md);
}

.double-margin--left {
  margin-left: var(--space--md);
}

.no-margin {
  margin: 0;
}

.no-margin--top {
  margin-top: 0;
}

.no-margin--right {
  margin-right: 0;
}

.no-margin--bottom {
  margin-bottom: 0;
}

.no-margin--left {
  margin-left: 0;
}

.standard-padding {
  padding: var(--space--sm);
}

.standard-padding--top {
  padding-top: var(--space--sm);
}

.standard-padding--right {
  padding-right: var(--space--sm);
}

.standard-padding--bottom {
  padding-bottom: var(--space--sm);
}

.standard-padding--left {
  padding-left: var(--space--sm);
}

.double-padding {
  padding: var(--space--md);
}

.double-padding--top {
  padding-top: var(--space--md);
}

.double-padding--right {
  padding-right: var(--space--md);
}

.double-padding--bottom {
  padding-bottom: var(--space--md);
}

.double-padding--left {
  padding-left: var(--space--md);
}

.no-padding {
  padding: 0;
}

.no-padding--top {
  padding-top: 0;
}

.no-padding--right {
  padding-right: 0;
}

.no-padding--bottom {
  padding-bottom: 0;
}

.no-padding--left {
  padding-left: 0;
}

/* space creating blocks */
.vertical-space--1x {
  @include breakpoint($medium) {
    height: var(--space--sm);
  }
}

.vertical-space--2x {
  @include breakpoint($medium) {
    height: calc(var(--space--sm) * 2);
  }
}

.vertical-space--3x {
  @include breakpoint($medium) {
    height: calc(var(--space--sm) * 3);
  }
}

.vertical-space--4x {
  @include breakpoint($medium) {
    height: calc(var(--space--sm) * 4);
  }
}

.vertical-space--5x {
  @include breakpoint($medium) {
    height: calc(var(--space--sm) * 5);
  }
}

.vertical-space--6x {
  @include breakpoint($medium) {
    height: calc(var(--space--sm) * 6);
  }
}

.vertical-space--7x {
  @include breakpoint($medium) {
    height: calc(var(--space--sm) * 7);
  }
}

.vertical-space--8x {
  @include breakpoint($medium) {
    height: calc(var(--space--sm) * 8);
  }
}
