/**
 * @file
 * helpers/_space.scss
 * Helper classes to adjust spacing
 */

.standard-margin {
  margin: $standard-spacing;
}

.standard-margin--top {
  margin-top: $standard-spacing;
}

.standard-margin--right {
  margin-right: $standard-spacing;
}

.standard-margin--bottom {
  margin-bottom: $standard-spacing;
}

.standard-margin--left {
  margin-left: $standard-spacing;
}

.double-margin {
  margin: $double-spacing;
}

.double-margin--top {
  margin-top: $double-spacing;
}

.double-margin--right {
  margin-right: $double-spacing;
}

.double-margin--bottom {
  margin-bottom: $double-spacing;
}

.double-margin--left {
  margin-left: $double-spacing;
}

.no-margin {
  margin: 0;
}

.no-margin--top {
  margin-top: 0;
}

.no-margin--right {
  margin-right: 0;
}

.no-margin--bottom {
  margin-bottom: 0;
}

.no-margin--left {
  margin-left: 0;
}

.standard-padding {
  padding: $standard-spacing;
}

.standard-padding--top {
  padding-top: $standard-spacing;
}

.standard-padding--right {
  padding-right: $standard-spacing;
}

.standard-padding--bottom {
  padding-bottom: $standard-spacing;
}

.standard-padding--left {
  padding-left: $standard-spacing;
}

.double-padding {
  padding: $double-spacing;
}

.double-padding--top {
  padding-top: $double-spacing;
}

.double-padding--right {
  padding-right: $double-spacing;
}

.double-padding--bottom {
  padding-bottom: $double-spacing;
}

.double-padding--left {
  padding-left: $double-spacing;
}

.no-padding {
  padding: 0;
}

.no-padding--top {
  padding-top: 0;
}

.no-padding--right {
  padding-right: 0;
}

.no-padding--bottom {
  padding-bottom: 0;
}

.no-padding--left {
  padding-left: 0;
}

/* space creating blocks */
.vertical-space--1x {
  @include breakpoint($medium) {
    height: $standard-spacing;
  }
}

.vertical-space--2x {
  @include breakpoint($medium) {
    height: $standard-spacing * 2;
  }
}

.vertical-space--3x {
  @include breakpoint($medium) {
    height: $standard-spacing * 3;
  }
}

.vertical-space--4x {
  @include breakpoint($medium) {
    height: $standard-spacing * 4;
  }
}

.vertical-space--5x {
  @include breakpoint($medium) {
    height: $standard-spacing * 5;
  }
}

.vertical-space--6x {
  @include breakpoint($medium) {
    height: $standard-spacing * 6;
  }
}

.vertical-space--7x {
  @include breakpoint($medium) {
    height: $standard-spacing * 7;
  }
}

.vertical-space--8x {
  @include breakpoint($medium) {
    height: $standard-spacing * 8;
  }
}

.close-menu-gap {
  margin-top: -$standard-spacing;

  @include breakpoint($medium) {
    margin-top: -$toggle-size;
  }
  @include breakpoint($large) {
    margin-top: -$toggle-size;
  }
}
