/*------------------------------------------------------------------------------
Helpers: Unset
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.after-unset:after {
  content: "";
  display: none;
}

.before-unset:before {
  content: "";
  display: none;
}
