/*------------------------------------------------------------------------------
Atom: Page
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
html {
  --default-text-color: var(--black);
  --midtone-text-color: var(--gray);
  /* using "oline" for overwriteable props because csscomb doesn't handle sorting css variables well, this keeps them at the top */
  --oline-color: var(--dark-blue);
  --oline-offset: var(--outline-offset--outset);
  --page-background: var(--white);
  --text-accent-color: var(--gray--lighter--80);

  scroll-behavior: smooth;
  color: var(--default-text-color);
  * {
    box-sizing: border-box;
    &:focus-visible {
      outline: var(--outline--focus);
      outline-offset: var(--oline-offset);;
    }
  }
}
html[data-theme="dark"] {
  --default-text-color: var(--white);
  --oline-color: var(--white);
  --page-background: var(--gray--darker--80);
}
iframe {
  border: 0;
}
body {
  position: relative;
  z-index: 0;
  padding-top: var(--drupal-displace-offset-top);
  color: var(--default-text-color);
  background-color: var(--page-background);
}
.page-content,
.content-sidebar-wrap {
  display: grid;
  grid-template-areas: " . skip_to_content . "
  " . content         . ";
  grid-template-columns: var(--grid-columns--sm);
  grid-template-rows: auto;
  @media (min-width: $large) {
    grid-template-columns: var(--grid-columns--lg);
  }
  #main-content,
  main.content {
    grid-area: skip_to_content;
    margin: 0;
    padding: 0;
    border: none;
  }
  .region-wrapper {
    grid-area: content;
  }
}
.page {
  position: relative;
}
