/**
* @file
* 02-molecules/banner/_banner.scss
*/
.block--banner {
  position: relative;
  display: grid;
  align-content: center;
  padding: $triple-spacing;
  text-align: center;

  .body {
    position: relative;
    max-width: $max-content-width;
    margin: auto;
  }

  .body,
  .block__title {
    z-index: 1;
  }

  &.blue-overlay,
  &.dark-blue-overlay {
    .background-image {
      filter: brightness(0.5);
    }
  }
}

.dark-mode {
  .block--banner {
    &:not([class*="-overlay"]) {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $dark-blue;
      }

      a:not([class]) {
        color: $link-blue--darker;

        &:hover,
        &:focus,
        &:active {
          color: $lightest-green;
        }

        &:focus {
          outline-color: $darkest-blue;
        }
      }
    }

    &.gray-overlay {
      a:not([class]) {
        &:focus {
          outline-color: $darkest-blue;
        }
      }
    }
  }
}

/* Retrofit for existing pages with beyond basic block banners */
.block--half-page,
.block--full-page {
  h1,
  h2 {
    z-index: 1;
  }
}

@media print {
  .block--banner {
    min-height: none;

    .background-image {
      display: none;
    }
    .block__title {
      font-size: 40pt;
    }
    .body {
      max-width: none;
    }
  }
}
