/**
* @file
* 02-molecules/banner/_banner.scss
*/
.block--banner {
  position: relative;
  display: grid;
  align-content: center;
  padding: $triple-spacing;
  text-align: center;

  .body {
    position: relative;
    z-index: 1;
    max-width: $max-content-width;
    margin: auto;
  }

  &.blue-overlay,
  &.dark-blue-overlay {
    .background-image {
      filter: brightness(50%);
    }
  }
}

.dark-mode {
  .block--banner {
    color: $black;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $dark-blue;
    }

    a:not([class]) {
      color: $link-blue--darker;

      &:hover,
      &:focus,
      &:active {
        color: $lightest-green;
      }
    }
  }
}

/* Retrofit for existing pages with beyond basic block banners */
.block--half-page,
.block--full-page {
  h1,
  h2 {
    z-index: 1;
  }
}

@media print {
  .block--banner {
    min-height: none;

    .background-image {
      display: none;
    }
    .block__title {
      font-size: 40pt;
    }
    .body {
      max-width: none;
    }
  }
}
