<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {% block title %}
      {% include "@atoms/text/label/label.twig" %}
    {% endblock %}
    
    {% block image %}
      <div class="background-image">
        {{ content.field_image }}
      </div>
    {% endblock %}

    {% block body %}
      <div {{ body_attributes }}>
        {{ content.body }}
      </div>
    {% endblock %}
  {% endblock %}
</div>
