/*------------------------------------------------------------------------------
Molecule: Banner
--------------------------------------------------------------------------------
1. Print styles
------------------------------------------------------------------------------*/
.block--banner,
.paragraph--type--banner {
  position: relative;
  display: grid;
  align-content: center;
  padding: var(--space--xl);
  text-align: center;
  .body {
    position: relative;
    max-width: var(--content-area-max-width);
    margin: auto;
  }
  .body,
  .block__title {
    z-index: 1;
  }
}
/*------------------------------------------------------------------------------
1. Print styles
------------------------------------------------------------------------------*/
@media print {
  .block--banner,
  .paragraph--type--banner {
    min-height: none;
    .background-image {
      display: none;
    }
    .block__title {
      font-size: 40pt;
    }
    .body {
      max-width: none;
    }
  }
}
