/*------------------------------------------------------------------------------
Molecule: Statistic
--------------------------------------------------------------------------------
1. Default
2. Stacked
3. With Icons
------------------------------------------------------------------------------*/
.wwu-statistic-collection {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space--sm);
  justify-content: center;
  .title {
    flex: 0 0 100%;
  }
}
/*------------------------------------------------------------------------------
1. Default
------------------------------------------------------------------------------*/
.wwu-statistic {
  min-width: 11.25rem;
  max-width: 15rem;
  padding: var(--space--sm);
  text-align: center;
  border: var(--border-width--md) solid transparent;
  border-radius: var(--border-radius--rounder);
  .title {
    margin-top: 0;
  }
  .number {
    margin-bottom: var(--space--sm);
    font-size: var(--font-size--lg);
  }
  .text {
    margin-bottom: var(--space--sm);
    font-size: var(--font-size--sm);
  }
  .material-icons {
    font-size: var(--icon-size--lg);
  }
  .statistic-heading {
    position: relative;
    margin: 0 0 var(--space--sm) 0;
    padding-bottom: var(--space--md);
    font-size: var(--font-size--xl);
    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 50%;
      max-width: 12.5rem;
      content: "";
      transform: translatex(-50%);
      border-width: var(--border-width--lg);
      border-style: solid;
    }
  }
  .number {
    font-weight: var(--font-weight--bold);
  }
}
/*------------------------------------------------------------------------------
2. Stacked
------------------------------------------------------------------------------*/
.wwu-statistic-collection.stacked,
.wwu-statistic-collection.statistics-collection--stacked {
  flex-flow: column;
  .wwu-statistic {
    display: grid;
    grid-column-gap: var(--space--md);
    grid-template-areas: "heading heading heading" "icon number text";
    align-items: center;
    justify-content: left;
    min-width: unset;
    max-width: unset;
    padding: var(--space--sm) var(--space--md);
    border: var(--border-width--md) solid transparent;
    border-radius: var(--border-radius--rounder);
    .statistic-heading {
      grid-area: heading;
      padding-bottom: 0;
      text-align: left;
      text-transform: uppercase;
      &:after {
        display: none;
      }
    }
    .material-icons {
      grid-area: icon;
    }
    .number {
      grid-area: number;
      margin: 0;
      font-size: var(--font-size--3xl);
    }
    .text {
      grid-area: text;
      margin: 0;
    }
  }
}
