/*------------------------------------------------------------------------------
Molecule: Statistic
--------------------------------------------------------------------------------
1. Default
2. Stacked
3. With Icons
------------------------------------------------------------------------------*/
.wwu-statistic-collection {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space--sm);
  justify-content: space-evenly;
  .title {
    flex: 0 0 100%;
  }
}
/*------------------------------------------------------------------------------
1. Default
------------------------------------------------------------------------------*/
.wwu-statistic {
  flex: 1 0 20%;
  padding: var(--space--sm);
  border: var(--border-width--md) solid transparent;
  .material-icons {
    position: relative;
    top: var(--space--xs);
    margin-bottom: var(--space--sm);
    font-size: var(--icon-size--lg);
  }
  .statistic-heading {
    margin-top: 0;
    margin-bottom: var(--space--2xs);
    color: var(--text-color--default);
    font-family: var(--font--title);
    font-size: var(--font-size--lg);
    font-weight: var(--font-weight--bold);
  }
  .number {
    margin-bottom: var(--space--xs);
    text-transform: uppercase;
    font-family: var(--font--title);
    font-size: var(--font-size--8xl);
    font-weight: var(--font-weight--black);
    line-height: 1;
    p {
      margin: 0;
      line-height: 1;
    }
  }
}
/*------------------------------------------------------------------------------
2. Stacked
------------------------------------------------------------------------------*/
.wwu-statistic-collection.stacked,
.wwu-statistic-collection.statistics-collection--stacked {
  flex-flow: column;
  .wwu-statistic {
    display: grid;
    grid-template-areas: "heading heading" "icon number" "text text";
    grid-template-columns: auto 1fr;
    padding: var(--space--sm) var(--space--md);
    border: var(--border-width--md) solid transparent;
    .statistic-heading {
      grid-area: heading;
      padding-bottom: 0;
      text-transform: uppercase;
      &:after {
        display: none;
      }
    }
    .material-icons {
      top: 0;
      grid-area: icon;
      ~ .number {
        margin-left: var(--space--sm);
      }
    }
    .number {
      grid-area: number;
      margin: 0;
    }
    .text {
      grid-area: text;
      margin: 0;
    }
  }
}
