/**
* @file
* 00-molecules/navigation/wwu-menu/_wwu-menu.scss
*/
$close-toggle-size: 64px;

.quick-links {
  &.mobile {
    @include breakpoint($medium) {
      display: none;
    }

    background-color: $dark-blue;

    .toggle-close-menu {
      position: absolute;
      right: 0;
      width: $close-toggle-size;
      height: $close-toggle-size;
    }

    .menu {
      display: grid;
      align-items: end;
      margin: 0;
      border-bottom: solid $border-width--thinner $white;

      grid-template-areas:
        "apply gift . ."
        "calendar directory map mywestern";
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: $close-toggle-size auto;
      justify-items: center;

      li {
        width: 100%;
        border-top: solid $border-width--thinner $white;

        a {
          width: 100%;
          padding: $half-spacing;
          color: $white;

          &:hover,
          &:focus,
          &:active {
            color: $black;
            outline: none;
            background-color: $light-green;
          }
        }

        &.apply {
          align-self: center;
          margin-left: $standard-spacing;
          border-top: none;

          grid-area: apply;

          .button {
            padding: ($standard-spacing * 0.75);
            border: solid $border-width $white;

            &:hover,
            &:focus,
            &:active {
              border-color: transparent;
            }
          }

          &.gift {
            align-self: center;
            margin-left: $standard-spacing;
            border-top: none;

            grid-area: gift;

            .button {
              padding: ($standard-spacing * 0.75);
              border: solid $border-width $white;

              &:hover,
              &:focus,
              &:active {
                border-color: transparent;
              }
            }
          }
        }

        &.calendar {
          grid-area: calendar;
        }

        &.directory {
          grid-area: directory;
        }

        &.map {
          grid-area: map;
        }

        &.mywestern {
          grid-area: mywestern;
        }
      }
    }
  }
}
