<nav class="quick-links mobile" aria-label="Western Quick Links">
  <div class="top-links">
      <button class="toggle toggle-menu toggle-close-menu dark-blue" aria-label="Close the menu"><i class="material-icons">close</i></button>

      <a class="apply button white alt" href="https://admissions.wwu.edu/">Apply</a>

      <a class="mywestern icon-with-text" href="https://websso.wwu.edu/cas/login?service=https://mywestern.wwu.edu/mywestern/Login">
      <i class="material-icons">person_outline</i>
      <span class="icon-text">myWestern</span>
    </a>

  </div>

  <ul class="menu">
    <li>
      <a href="http://www.wwu.edu/academic_calendar">Calendar</a>
    </li>
    <li>
      <a href="http://www.wwu.edu/directory">Directory</a>
    </li>
    <li>
      <a href="http://www.wwu.edu/campusmaps">Map</a>
    </li>
  </ul>
</nav>
