<nav class="quick-links mobile" role="navigation" aria-label="Western Quick Links">
  <div class="top-links">
    <button class="toggle toggle-menu dark-blue" aria-label="Close the menu"><i class="material-icons">close</i></button>
    <a class="apply button white alt" href="https://admissions.wwu.edu/">Apply</a>

    <span class="mywestern icon-link">
      <a href="https://websso.wwu.edu/cas/login?service=https://mywestern.wwu.edu/mywestern/Login">
        <i class="material-icons">person_outline</i>
        <span class="icon-text">MyWestern</span>
      </a>
    </span>
  </div>

  <ul class="menu">
    <li>
      <a href="http://www.wwu.edu/academic_calendar">Calendar</a>
    </li>
    <li>
      <a href="http://www.wwu.edu/directory">Directory</a>
    </li>
    <li>
      <a href="http://www.wwu.edu/campusmaps">Map</a>
    </li>
  </ul>
</nav>
