/*------------------------------------------------------------------------------
Templates: Sites - MABEL - Facets
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.pane-islandora-solr-basic-facets {
  --plus-minus-sizer: 0.533rem;
  /* Date range slider -------------------------------------------------------*/
  .islandora-solr-range-slider {
    text-align: right;

    .ui-slider-range {
      background: var(--dark-blue--darker--40);
    }

    .ui-slider-handle.ui-state-default {
      display: block;
      width: 0;
      height: 0;
      margin-right: 0;
      padding: 0;
      border-top: transparent solid 0;
      border-right: transparent solid var(--space--sm);
      border-bottom: var(--dark-blue--darker--40) solid var(--space--md);
      border-left: transparent solid var(--space--sm);
      border-radius: 0;
      background: none;
    }

    .ui-slider-horizontal {
      max-height: var(--border-width--md);
      margin-bottom: var(--space--md);
      border: none;
    }

    .slider-popup-from-wrapper,
    .slider-popup-to-wrapper {
      position: absolute;
      top: -1.875rem;
      left: 50%;
      width: 7.5rem;
      margin-left: -3.75rem;
      text-align: center;

      .slider-popup-from,
      .slider-popup-to {
        padding: 0 var(--space--sm) var(--border-width--md) var(--space--sm);
        color: var(--black);
        color: var(--white);
        border: none;
        border-radius: 0.625rem;
        background-color: var(--gray);
        font-size: 0.75rem;
      }
    }
  }

  #edit-range-slider-submit {
    margin-top: var(--space--xs);
  }

  .range-slider-fromto,
  .date-range-slider-gap {
    display: inline;
  }

  /* Facets */
  .islandora-solr-facet {
    padding-left: 0;
    list-style: none;

    li {
      display: grid;
      grid-template-areas:
        "plusminus link"
        "count    count";
      grid-template-columns: (var(--plus-minus-sizer) * 2 + var(--space--sm)) auto;
      grid-template-rows: auto auto;
      align-items: center;
      justify-items: start;

      > a {
        grid-area: link;
        margin: 0;
        padding: var(--space--xs) 0 var(--space--xs) var(--space--sm);
      }
    }

    .count {
      grid-area: count;
      justify-self: end;
    }

    .plusminus {
      grid-area: plusminus;

      a {
        display: inline-grid;
        align-content: center;
        justify-content: center;
        width: var(--plus-minus-sizer);
        height: var(--plus-minus-sizer);
        margin-right: var(--space--2xs);
        text-decoration: none;
        color: var(--white);
        background: var(--blue);

        &:hover,
        &:focus,
        &:active {
          color: var(--white);
          background-color: var(--dark-blue);
        }
      }
    }
  }
}
