/*------------------------------------------------------------------------------
Templates: Sites - MABEL - Video
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.islandora_videojs-dimensions {
  width: 100%;
  height: initial;
}

.video-js .vjs-tech {
  position: relative;
}
