/**
* @file
* sites/mabel/panes/_video.scss
*/

.islandora-video-content {
  padding: 0;
}

.islandora_videojs-dimensions {
  width: 100%;
  height: initial;
}

.video-js .vjs-tech {
  position: relative;
}
