/*------------------------------------------------------------------------------
Organism: Views - Views exposed form
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.views-exposed-form {
  display: flex;
  flex: 0 1 100%;
  flex-flow: row wrap;
  align-items: flex-end;
  margin-bottom: var(--space--sm);

  > div {
    margin-right: var(--space--xs);
  }

  input,
  select,
  label {
    @include font-size--smaller;
    margin-bottom: var(--space--xs);
  }

  .form-actions {
    margin-bottom: var(--space--xs);
  }
}
