<form>
  <div class="radio">
    <input type="radio" id="radio-option1" name="radio" value="First"> <label for="radio-option1">Option One</label>
  </div>
  <div class="radio">
    <input type="radio" id="radio-option2" name="radio" value="Second"> <label for="radio-option2">Option Two</label>
  </div>
  <div class="radio">
    <input type="radio" id="radio-option3" name="radio" value="Third"> <label for="radio-option3">Option Three</label>
  </div>
</form>
