<form>
 <input type="radio" id="radio-option1" name="option1" value="First"> <label for="radio-option1">Option One</label>
 <input type="radio" id="radio-option2" name="option2" value="Second"> <label for="radio-option2">Option Two</label>
 <input type="radio" id="radio-option3" name="option3" value="Third"> <label for="radio-option3">Option Three</label>
</form>
