/**
  * @file
  * 00-atoms/buttons/_main-nav-buttons.scss
  */
$max-button-width: 250px;

.nav--main,
#block-system-main-menu {
  & > .menu,
  .ultimenu--main,
  .ultimenu-main-menu {
    background-color: initial;

    & > li {
      @include breakpoint($medium) {
        width: inherit;
      }
      width: 100%;
      border: none;

      /* Keep borders even */
      &:first-of-type {
        a {
          border-left-width: $half-spacing;
        }
      }

      & > a {
        @include breakpoint($medium) {
          display: grid;
          align-content: center;
          max-width: $max-button-width;
          padding: 0 ($standard-spacing * 1.5);
          text-align: center;
          border-bottom: none;
        }
        @include breakpoint($large) {
          height: $toggle-size--larger;
        }
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: $toggle-size;
        padding: $standard-spacing;
        text-align: left;
        white-space: normal;
        color: $white;
        border-bottom: 1px solid $darkest-blue;
        background-color: $dark-blue;
        line-height: 1.4em;

        &:hover,
        &:focus {
          color: $black;
          outline: none;
          background-color: $light-green;
        }

        &.active {
          background-color: $light-green;
          color: $dark-blue;
        }
      }
    }
  }
}
