/**
* @file
* 01-molecules/buttons/image-buttons/_image-buttons.scss
*/
$button-size: 200px;

.block--image-button {
  @include breakpoint($medium) {
    flex: 1 1 auto;
  }
  display: inline-block;
  margin: 0 $standard-spacing;
  text-align: center;

  .button {
    min-width: initial;
    border: none;
    margin: $standard-spacing 0;

    &:focus {
      border: none;
    }
  }

  .stylized {
    &.image {
      -ms-grid-columns: $button-size;
      -ms-grid-rows: $button-size 2.5em;
      grid-template-columns: $button-size;
      grid-template-rows: $button-size 2.5em;

      .text {
        -ms-grid-row: 2;
        -ms-grid-row-align: end;
      }
    }

    &:after {
      width: $button-size;
      height: $button-size;
    }

    img {
      width: $button-size;
      height: $button-size;
    }
  }
}
