/**
* @file
* 01-molecules/buttons/image-buttons/_image-buttons.scss
*/
$button-size: 130px;
$button-size--larger: 200px;

.block--image-button {
  @include breakpoint($medium) {
    flex: 1 1 auto;
  }
  display: inline-block;
  margin: 0 $standard-spacing;
  text-align: center;

  .button {
    min-width: initial;
    margin: $standard-spacing 0;
    border: none;

    &:focus {
      border: none;
    }
  }

  .stylized {
    &.image {
      @include breakpoint($small) {
        -ms-grid-columns: $button-size;
        -ms-grid-rows: $button-size 2.5em;
        grid-template-columns: $button-size;
        grid-template-rows: $button-size 2.5em;
      }
      @include breakpoint($medium) {
        -ms-grid-columns: $button-size--larger;
        -ms-grid-rows: $button-size--larger 2.5em;
        grid-template-columns: $button-size--larger;
        grid-template-rows: $button-size--larger 2.5em;
      }

      -ms-grid-columns: $button-size--larger;
      -ms-grid-rows: $button-size--larger 2.5em;
      grid-template-columns: $button-size--larger;
      grid-template-rows: $button-size--larger 2.5em;

      .text {
        -ms-grid-row: 2;
        -ms-grid-row-align: end;
      }
    }

    &:after,
    img {
      @include breakpoint($small) {
        width: $button-size;
        height: $button-size;
      }
      @include breakpoint($medium) {
        width: $button-size--larger;
        height: $button-size--larger;
      }
      width: $button-size--larger;
      height: $button-size--larger;
    }
  }
}
