/**
* @file
* 01-molecules/buttons/image-buttons/_image-buttons.scss
*/
$button-size: 130px;
$button-size--medium: 180px;
$button-size--large: 240px;

.block--image-button {
  @include breakpoint($medium) {
    flex: 1 1 auto;
  }
  display: inline-block;
  margin: 0 $standard-spacing;
  text-align: center;

  .button {
    min-width: initial;
    margin: $standard-spacing 0;
    border: none;

    &:focus {
      border: none;
    }
  }

  .stylized {
    &.image {
      @include breakpoint($small) {
        -ms-grid-columns: $button-size;
        -ms-grid-rows: $button-size $double-spacing auto;
        grid-template-columns: $button-size;
        grid-template-rows: $button-size $double-spacing auto;
      }
      @include breakpoint($medium) {
        -ms-grid-columns: $button-size--medium;
        -ms-grid-rows: $button-size--medium $double-spacing auto;
        grid-template-columns: $button-size--medium;
        grid-template-rows: $button-size--medium $double-spacing auto;
      }
      @include breakpoint($large) {
        -ms-grid-columns: $button-size--large;
        -ms-grid-rows: $button-size--large $double-spacing auto;
        grid-template-columns: $button-size--large;
        grid-template-rows: $button-size--large $double-spacing auto;
      }

      -ms-grid-columns: $button-size--large;
      -ms-grid-rows: $button-size--large $double-spacing auto;
      grid-template-columns: $button-size--large;
      grid-template-rows: $button-size--large $double-spacing auto;

      .text {
        -ms-grid-row: 3;
        -ms-grid-row-align: end;
        grid-row: 3 / span 1;
      }
    }

    &:after,
    img {
      @include breakpoint($small) {
        width: $button-size;
        height: $button-size;
      }
      @include breakpoint($medium) {
        width: $button-size--medium;
        height: $button-size--medium;
      }
      @include breakpoint($large) {
        width: $button-size--large;
        height: $button-size--large;
      }
      width: $button-size--large;
      height: $button-size--large;
    }

    &:hover,
    &:focus {
      &:after {
        border-color: $blue;
      }

      img {
        transform: translate(0, 0);
      }
    }
  }
}
