<div{{ attributes }}>
  {% include "@atoms/global/label/label.twig" %}

  {% block content %}
    <a href="{{ url }}" class="image button stylized">
      {{ image }}
      <div class="text">{{ link_text }}</div>
    </a>
  {% endblock %}
</div>
