/**
* @file
* templates/front-page/_front-page.scss
*/
$light-shade-bg-1: mix($white, $light-gray, 60%);
$dark-shade-bg-1: mix($white, $light-gray, 10%);
$light-shade-bg-2: mix($white, $blue, 90%);
$dark-shade-bg-2: mix($white, $blue, 80%);

.path-frontpage,
.front {
  .site-name {
    font-size: $splash-font-size;
  }

  main {
    overflow-x: hidden;
    margin-bottom: 0;

    .block--page-title-block {
      position: absolute !important;
      overflow: hidden;
      clip: rect(1px,1px,1px,1px);
      width: 1px;
      height: 1px;
      word-wrap: normal;
    }

    h2 {
      text-align: center;
      text-transform: uppercase;
      color: $blue;
      border-bottom: none;
      font-family: $sans-serif;
      font-size: $title-font-size;
      font-weight: $font-weight--regular;
    }
  }

  .splash {
    @include breakpoint($medium) {
      min-height: 600px;
      max-height: 70vh;
    }
  }

  .layout--flex .layout__region,
  .layout__region--top,
  .layout__region--middle,
  .layout__region--bottom {
    @include breakpoint($medium) {
      padding-top: $standard-spacing * 2;
      padding-bottom: $standard-spacing * 2;
    }
    @include breakpoint($large) {
      padding-top: $double-spacing * 2;
      padding-bottom: $double-spacing * 2;
    }
    padding-top: $standard-spacing;
    padding-bottom: $double-spacing;
  }

  .layout--twocol-bricks {
    .layout__region {
      position: relative;
    }

    .layout__region--first-above {
      background-color: $light-shade-bg-1;

      &:before,
      &:after {
        background-color: $light-shade-bg-1;
      }
    }

    .layout__region--second-above {
      @include breakpoint($medium) {
        margin-top: $double-spacing;
      }
      background-color: $dark-shade-bg-1;

      &:before,
      &:after {
        background-color: $dark-shade-bg-1;
      }
    }

    .layout__region--first-below {
      background-color: $light-shade-bg-2;

      &:before,
      &:after {
        background-color: $light-shade-bg-2;
      }
    }
    .layout__region--second-below {
      @include breakpoint($medium) {
        margin-top: $double-spacing;
      }
      background-color: $dark-shade-bg-2;

      &:before,
      &:after {
        background-color: $dark-shade-bg-2;
      }
    }

    .layout__region--first-above,
    .layout__region--first-below,
    .layout__region--second-above,
    .layout__region--second-below {
      padding-bottom: $double-spacing;

      /* fake the full width background for color block bg sections */
      &:before,
      &:after {
        position: absolute;
        z-index: -1;
        top: 0;
        display: block;
        width: $standard-spacing + 3px;
        height: 100%;
        content: "";
      }
    }

    .layout__region--first-above,
    .layout__region--first-below {
      @include breakpoint($large) {
        padding-right: $double-spacing * 2;
        padding-bottom: $double-spacing * 4;
      }
      h2 {
        text-align: left;
        color: $dark-blue;
        font-size: $h2-font-size;
        font-weight: $font-weight--bold;
      }

      .block--block-contentimagefield-image {
        position: relative;

        img {
          @include breakpoint($medium) {
            width: calc(115% + (#{$standard-spacing} * 3));
            transform: translatex(-$standard-spacing);
          }
          @include breakpoint($large) {
            width: calc(125% + ((100vw - #{$max-content-width}) / 2));
            transform: translatex(calc((100vw - #{$max-content-width}) / -2));
          }
          display: block;
          width: 100vw;
          max-width: none;
          transform: translatex(-$standard-spacing);
        }
      }

      /* fake the full width background for color block bg sections */
      &:before {
        @include breakpoint($medium) {
          width: $standard-spacing + 3px;
        }
        @include breakpoint($large) {
          width: calc(((100vw - #{$max-content-width})/2) + 3px);
          transform: translatex(calc(-100% + 3px));
        }
        left: 0;
        transform: translatex(calc(-100% + 3px));
      }

      &:after {
        @include breakpoint($medium) {
          width: 0;
        }
        right: 0;
        transform: translatex(calc(100% - 3px));
      }
    }

    .layout__region--second-above,
    .layout__region--second-below {
      @include breakpoint($large) {
        padding-top: $standard-spacing * 2;
        padding-bottom: $double-spacing * 4;
        padding-left: $double-spacing * 2;
      }

      h2 {
        text-align: left;
        color: $dark-blue;
      }

      /* fake the full width background for color block bg sections */
      &:before {
        @include breakpoint($medium) {
          width: 0;
        }
        left: 0;
        transform: translatex(calc(-100% + 3px));
      }
      &:after {
        @include breakpoint($medium) {
          width: $standard-spacing + 3px;
        }
        @include breakpoint($large) {
          width: calc(((100vw - #{$max-content-width})/2) + 3px);
          transform: translatex(calc(100% - 3px));
        }
        right: 0;
        transform: translatex(calc(100% - 3px));
      }
    }
  }
}
