/*------------------------------------------------------------------------------
Atom: Text - Lists
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
ul,
ol {
  margin: 0 0 var(--space--md);
  &.spaced {
    li {
      margin-bottom: var(--space--sm);
    }
  }
}
li {
  line-height: 1.5;

  &:has(a) {
    min-height: var(--touch-target--aa);
  }
}
dl {
  margin-bottom: var(--space--xs);
  dt {
    margin-top: var(--space--xs);
    font-weight: var(--font-weight--semibold);
  }
  dd {
    margin: 0;
  }
}
