/*------------------------------------------------------------------------------
Atom: Icons - My Western Icons
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.my-western-links {
  .social-media-links {
    @include breakpoint($medium) {
      max-width: 37.5rem;
      margin-top: -3.375rem;
      margin-left: 50%;
      transform: translatex(-50%);
    }
    @include breakpoint(67.5rem) {
      margin-top: -4.5rem;
    }

    justify-content: center;
    width: 100%;
    max-width: none;
  }

  .social-icon {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: initial;
    height: initial;
    padding: var(--space--md);
    text-align: center;
    text-decoration: none;
    background: transparent;
    font-size: var(--font-size--xs);
    line-height: 1em;

    &:hover,
    &:active,
    &:focus {
      outline-color: var(--white);
      background: var(--blue);
    }

    svg {
      @include breakpoint($medium) {
        width: var(--toggle-size--md);
        height: var(--toggle-size--md);
      }

      width: var(--toggle-size--sm);
      height: var(--toggle-size--sm);
      margin-bottom: var(--space--xs);
    }

    .icon-text {
      margin-bottom: var(--space--md);
    }
  }
}

.dark-mode {
  .social-icon {
    .icon-text {
      color: var(--white);
    }
  }

  .my-western-links {
    .social-icon {
      svg {
        fill: var(--white);
      }

      .icon-text {
        color: var(--dark-blue);
      }
    }
  }
}
