.my-western-links {
  .social-media-links {
    @include breakpoint($medium) {
      max-width: 37.5rem;
      margin-top: -$triple-spacing * 1.5;
      margin-left: 50%;
      transform: translatex(-50%);
    }
    @include breakpoint(67.5rem) {
      margin-top: -$triple-spacing * 2;
    }
    justify-content: center;
    width: 100%;
    max-width: none;
  }

  .social-icon {
    @include breakpoint($medium) {
      font-size: $min-base-font-size;
    }
    display: flex;
    flex-flow: column;
    align-items: center;
    width: initial;
    height: initial;
    padding: $standard-spacing;
    text-align: center;
    text-decoration: none;
    background: transparent;
    font-size: 0.875rem;
    line-height: 1em;

    &:hover,
    &:active,
    &:focus {
      outline-color: var(--white);
      background: var(--blue);
    }

    svg {
      @include breakpoint($medium) {
        width: var(--icon-size--block--sm);
        height: var(--icon-size--block--sm);
      }
      width: var(--icon-size--block--sm);
      height: var(--icon-size--block--sm);
      margin-bottom: $half-spacing;
    }

    .icon-text {
      margin-bottom: $standard-spacing;
    }
  }
}


.dark-mode {
  .social-icon {
    .icon-text {
      color: var(--white);
    }
  }

  .my-western-links {
    .social-icon {
      svg {
        fill: var(--white);
      }

      .icon-text {
        color: var(--dark-blue);
      }
    }
  }
}
