{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{%
  set classes = [
    'block',
    'block--' ~ (derivative_plugin_id ? derivative_plugin_id|clean_class : plugin_id|clean_class),
  ]
%}
{% set attributes = attributes.addClass(classes) %}
{% set title_attributes = title_attributes.addClass('block__breadcrumb') %}
{% block template %}
    {% embed '@molecules/navigation/breadcrumb/breadcrumb.html.twig' %}
      {% block current %}
      <a href="{{ path('<current>') }}" class="bold" aria-current="page">{{ item.text }}</a>
      {% endblock %}
    {% endembed %}
{% endblock %}
