/*------------------------------------------------------------------------------
Templates: Sites - MABEL - Bookmarks
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
#islandora-bookmark {
  margin-bottom: var(--space--xs);
  font-size: var(--font-size--sm);
  h3 {
    display: none;
  }
  select {
    margin: 0;
  }
  input {
    margin: 0;
    padding: var(--space--sm);
    border-radius: 0;
  }
}

body.page-islandora-object {
  .layout__region--first {
    .pane-islandora-bookmark-islandora-bookmark {
      margin-bottom: 0;
    }
  }
}
