/*------------------------------------------------------------------------------
Templates: Sites - MABEL - Object jail
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
#block-islandora-compound-object-compound-jail-display {
  @media (min-width: $medium) {
    border: solid var(--gray--lighter--60) var(--border-width--lg);
  }

  display: flex;
  flex-flow: row wrap;
  align-content: start;
  justify-content: space-between;
  height: 46.875rem;
  padding: var(--space--sm);
  border: solid var(--gray--lighter--60) var(--border-width--md);
  font-size: var(--font-size--sm);

  .form-item {
    flex: 0 0 100%;
    max-width: none;
  }

  .form-type-item:nth-child(2) {
    margin: 0;
    border-bottom: none;
  }

  & > div {
    max-width: 50%;
    border: none;

    &:not(.form-item) {
      display: inline-block;
      vertical-align: top;

      a:first-of-type {
        margin-bottom: var(--space--xs);
      }
    }
  }
}
