/*------------------------------------------------------------------------------
Templates: Sites - MABEL - Oral histories
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.islandora-oralhistories-content {
  .ui-widget {
    font-size: var(--font-size--sm);
  }

  .ui-widget-header {
    border: none;
    border-bottom: solid var(--border-width--lg) var(--gray);
    background: transparent;
  }

  .ui-tabs {
    padding: var(--space--xs) 0 0 0;
    border: none;
  }

  .ui-tabs .ui-tabs-nav {
    margin-bottom: var(--space--xs);
  }

  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active {
    border: none;
    border-radius: 0;
    background: var(--gray);
  }

  .ui-state-active a,
  .ui-state-active a:link,
  .ui-state-active a:visited {
    color: var(--white);
  }

  .ui-tabs .ui-tabs-panel {
    padding: 0;
  }
}
