/*------------------------------------------------------------------------------
Templates: Sites - MABEL - Result limit
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.pane-islandora-solr-result-limit {
  @include breakpoint($medium) {
    width: 11.25rem;
  }
  @include breakpoint($large) {
    width: 12.5rem;
  }

  position: relative;
  top: calc(-1 * var(--space-xs));
  display: inline-block;
  width: calc(50% - var(--space--sm));
  margin-right: var(--space--sm);
  margin-bottom: var(--space--sm);

  .item-list {
    position: absolute;
    z-index: 1;
    display: none;
    width: 100%;
    padding: 0;
    background: var(--gray--lighter--80);
    font-size: var(--font-size--sm);

    ul {
      margin-bottom: 0;
    }

    li {
      margin: 0;
      padding: var(--space--xs) var(--space--sm);
      list-style: none;

      a {
        display: block;
        margin: (calc(-1 * var(--space-xs))) (-var(--space--sm));
        padding: var(--space--xs) var(--space--sm);
        text-decoration: none;
      }
    }
  }
}

#islandora_solr_results_limit {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
  list-style: none;

  li {
    margin: 0;
  }
}
