/*------------------------------------------------------------------------------
Templates: Sites - MABEL - Navigation
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.pane-islandora-solr-search-navigation {
  @include breakpoint($small) {
    display: grid;

    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: auto;
  }
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space--sm);

  div {
    display: inline-block;
    font-size: var(--font-size--sm);
  }

  .button {
    @include breakpoint($medium) {
      padding: var(--space--sm);
    }
    margin-bottom: 0;
    padding: var(--space--xs);
  }

  #islandora-solr-search-prev-link,
  #islandora-solr-search-next-link {
    justify-self: end;
  }

  #islandora-solr-search-return-link,
  #islandora-solr-search-prev-link {
    a {
      &:before {
        content: "\2039  ";
        font-size: 1em;
      }
    }
  }

  #islandora-solr-search-next-link {
    a {
      &:after {
        content: " \203A";
        font-size: 1em;
      }
    }
  }
}
