/*------------------------------------------------------------------------------
Templates: Sites - MABEL - Sort
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.pane-islandora-solr-sort {
  display: flex;
  align-items: center;
  margin-top: calc(-1 * var(--space--md));

  .pane-title {
    margin-right: var(--space--sm);
  }

  .item-list {
    flex: 1;

    ul {
      display: grid;
      grid-column-gap: var(--space--xs);
      grid-template-columns: repeat(4, 1fr);
      margin: 0;
      list-style: none;
    }

    li {
      flex: 1;
      margin: 0;
      text-align: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--space--2xs);
        text-decoration: none;
        color: var(--white);
        background: var(--blue);

        &:hover,
        &:focus,
        &:active {
          outline-color: var(--dark-blue);
          background: var(--dark-blue);
        }

        &.active {
          color: var(--dark-blue);
          background: var(--light-green);

          &:hover,
          &:focus,
          &:active {
            color: var(--light-green);
            background: var(--dark-blue);
          }
        }
      }
    }

    .sort-asc {
      margin-left: var(--space--sm);
      transform: rotate(-90deg);
      &.material-icons {
        font-size: var(--space--lg);
      }
    }

    .sort-desc {
      margin-left: var(--space--sm);
      transform: rotate(90deg);
      &.material-icons {
        font-size: var(--space--lg);
      }
    }
  }
}
