/**
* @file
* 00-atoms/01-text/_links.scss
*/

a {
  @include transition($fast-transition-speed, $standard-ease);
  transition-property: color;
  text-decoration: none;
  color: $blue;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: $red;
  }

  &:focus {
    outline: 2px dotted;
  }
}

.dark-bg {
  a {
    color: $light-blue;

    &:active,
    &:focus,
    &:hover {
      color: $light-green;
    }
  }
}

p {
  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    border-bottom: solid 2px;

    &:hover,
    &:focus {
      border-color: transparent;
    }
  }
}
