/**
* @file
* 01-molecules/content/search/mabel-search/_mabel-search.scss
*/
$simple-search-button--width: 120px;
$simple-search-button--height: 64px;
$advanced-search-button: 300px;
$mabel-label-min-font-size: 18px;
$mabel-label-max-font-size: 28px;
$mabel-label-font-size: calc(#{$mabel-label-min-font-size} + #{strip-unit($mabel-label-max-font-size - $mabel-label-min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));

#block-islandora-solr-simple {
  @include breakpoint($medium) {
    background: transparentize($black, 0.15);
  }
  background: $black;
  padding-bottom: $double-spacing;

  .block-title {
    display: block;
    margin: 0;
    padding: $standard-spacing $double-spacing;
    color: $text-color-light;
    border: none;
    text-align: left;
    font-family: $sans-serif;
    font-size: $mabel-label-font-size;
    font-weight: $font-weight--bold;
  }

  .form-wrapper {
    position: relative;
  }
}

#islandora-solr-simple-search-form {
  .form-item-islandora-simple-search-query {
    + .form-submit {
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline-block;
      width: $simple-search-button--width;
      height: $simple-search-button--height;
      margin: 0;
      margin-right: $double-spacing;
      padding: $standard-spacing;
      border-radius: 0;
      font-size: $p-font-size--smaller;
    }

    .form-text {
      width: calc(100% - #{$simple-search-button--width} - #{$double-spacing});
      height: $simple-search-button--height;
      margin: 0;
      margin-left: $double-spacing;
      padding: $standard-spacing;
      border-color: $blue;
    }
  }
}

#block-islandora-solr-advanced {
  @include breakpoint($medium) {
    background: linear-gradient(to bottom, #{transparentize($black, 0.15)} 0%, $black 25%);
  }
  padding: $standard-spacing $double-spacing;
  padding-top: 0;
  background: $black;
  color: $white;

  h2,
  .toggle-advanced-search {
    position: relative;
    display: block;
    margin: 0;
    margin-bottom: $standard-spacing;
    padding: $standard-spacing;
    transition: $button-transition-speed $standard-ease;
    color: $text-color-light;
    border: none;
    border-radius: 0;
    background: $dark-blue;
    font-size: $p-font-size--smaller;
    font-family: $sans-serif;
    text-align: left;
    width: 100%;

    .material-icons {
      position: absolute;
      top: 0;
      right: 0;
      display: grid;
      justify-content: center;
      align-content: center;
      width: $toggle-size;
      height: 100%;
      font-size: 18px;
    }

    &:hover,
    &:focus {
      background: $blue;
    }

    &:focus {
      @include breakpoint($medium) {
        outline: $focus-outline--thicker
      }
      outline: $focus-outline;
    }
  }

  #islandora-solr-advanced-search-form {
    display: none;
  }
}

#islandora-solr-advanced-terms {
  .form-item {
    display: inline-block;
    margin-right: $standard-spacing;
  }
}

input[title="Add field"],
input[title="Remove field"] {
  width: $toggle-size;
  height: $toggle-size;
  padding: 0;
  border-radius: 0;
  font-size: $p-font-size;
}

.islandora-solr-advanced-controls {
  position: relative;
  margin-top: $standard-spacing;

  .form-item,
  .form-submit {
    display: inline-block;
    margin-right: $standard-spacing;
  }

  .form-submit {
    width: $advanced-search-button;
    font-size: $p-font-size;
  }
}

/* Search box is positioned more prominently on front page */
.islandora-front-page {
  #islandora-search-container {
    width: 100%;
  }

  #block-islandora-solr-advanced {
    h2,
    .toggle-advanced-search {
      @include breakpoint($medium) {
        font-size: $p-font-size;
      }
    }
  }

  .form-item-islandora-simple-search-query {
    + .form-submit {
      @include breakpoint($medium) {
        font-size: $p-font-size;
      }
    }
  }
}
