<div class="timeline">
  <div class="timeline-block">
    <h3 class="timeline-header">Zoo Trip - August 2023</h3>
    <p class="timeline-item">Go to the zoo</p>
    <p class="timeline-item">Eat some <a href="#">ice cream</a></p>
    <aside class="timeline-item--highlighted">See a zebra!</asode>
    <p class="timeline-item">Visit the gift shop</p>
    <p class="timeline-item">Go home</p>
  </div>
  <div class="timeline-block">
    <h3 class="timeline-header">Library Visit - Winter 2023</h3>
    <p class="timeline-item">Browse the stacks</p>
    <p class="timeline-item">Pick out a book</p>
    <aside class="timeline-item--highlighted">Favorite new author found</asode>
    <p class="timeline-item">Checkout</p>
    <p class="timeline-item">Go home</p>
  </div>
</div>
