/*------------------------------------------------------------------------------
Organism: Cards
--------------------------------------------------------------------------------
1. Column layouts
  a. Grid
  b. Flex
  c. Section divider
2. Vertical layouts
3. Flex layouts
4. IE fix
--------------------------------------------------------------------------------
1. Column layouts
------------------------------------------------------------------------------*/
/* a. Grid -------------------------------------------------------------------*/
.card-2col,
.card-3col,
.card-4col,
.card-2col--view .view-content,
.card-3col--view .view-content,
.card-4col--view .view-content {
  display: grid;
  grid-column-gap: var(--space--sm);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.card-2col,
.card-2col--view .view-content {
  @include breakpoint($small) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
.card-3col,
.card-3col--view .view-content {
  @include breakpoint($small) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
.card-4col,
.card-4col--view .view-content {
  @include breakpoint($small) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
/* b. Flex -------------------------------------------------------------------*/
.card-2col--flex,
.card-3col--flex,
.card-4col--flex {
  gap: var(--space--xs);

  display: flex;
  flex-flow: row wrap;
  .card,
  .block--card,
  .pager,
  .event {
    flex: 1 1 100%;
  }
}
.card-2col--flex {
  .card,
  .block--card,
  .event,
  .hover-card {
    @include breakpoint($small) {
      flex: 1 1 calc(50% - var(--space--xs));
    }
  }
}
.card-3col--flex {
  .card,
  .block--card,
  .event,
  .hover-card {
    @include breakpoint($small) {
      flex: 1 1 calc(33.33% - var(--space--xs));
    }
  }
}
.card-4col--flex {
  .card,
  .block--card,
  .event,
  .hover-card {
    @include breakpoint($small) {
      flex: 1 1 calc(25% - var(--space--xs));
    }
  }
}
/* a. Section divider --------------------------------------------------------*/
.card--flex--section-divider {
  flex: 0 0 100%;
}
/*------------------------------------------------------------------------------
1. Vertical layouts
------------------------------------------------------------------------------*/
.card-list {
  .card,
  .block--card,
  .event {
    @include horizontal-card;
  }
}
/*------------------------------------------------------------------------------
1. Flex layouts
------------------------------------------------------------------------------*/
.layout--flex {
  .layout__region {
    .block--card {
      flex: 1;
      margin: 0 var(--space--xs);
    }
  }
}
/*------------------------------------------------------------------------------
1. IE fix
------------------------------------------------------------------------------*/
@media screen and (min-width: 0\0) {
  .card-2col,
  .card-2col--view,
  .card-2col--flex {
    display: initial;
    .card,
    .block--card,
    .event,
    .hover-card {
      float: left;
      width: 50%;
    }
  }
  .card-3col,
  .card-3col--view,
  .card-3col--flex {
    display: initial;
    .card,
    .block--card,
    .event,
    .hover-card {
      float: left;
      width: 33%;
    }
  }
  .card-4col,
  .card-4col--view,
  .card-4col--flex {
    display: initial;
    .card,
    .block--card,
    .event,
    .hover-card {
      float: left;
      width: 25%;
    }
  }
  .card-2col--view .view-content,
  .card-3col--view .view-content,
  .card-4col--view .view-content {
    display: initial;
  }
  .card--flex--section-divider {
    float: left;
    width: 100%;
  }
}
