/*------------------------------------------------------------------------------
Templates: Layouts - Retired Layouts - Two col
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.layout--twocol {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol > .layout__region {
  flex: 0 1 100%;
}

.layout--twocol > .layout__region--first {
  @include breakpoint($medium) {
    flex: 0 1 50%;
    max-width: 50%;
    padding-right: var(--space--sm);
  }
}

.layout--twocol > .layout__region--second {
  @include breakpoint($medium) {
    flex: 0 1 50%;
    max-width: 50%;
    padding-left: var(--space--sm);
  }
}
