<div style="background-color: #eee">
  <nav class="main-navigation" style="transform: translatey(0);">
    <ul class="menu">
      <li style="margin-bottom: 1em;"><a href="#">Home</a></li>
      <li style="margin-bottom: 1em;"><a href="#">Menu Button with a lot of text</a></li>
      <li style="margin-bottom: 1em;" class="menu-item--active-trail"><a href="#">Active Trail</a></li>
    </ul>
  </nav>
</div>
