@use "../../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Molecule: Charts - Flow Chart
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.flowchart {
  figcaption {
    text-align: center;
  }
  ol {
    display: flex;
    flex-flow: column;
    padding: 0;
    list-style-type: none;
    @media (min-width: $small) {
      flex-flow: row wrap;
      justify-content: center;
    }
  }
  li {
    display: flex;
    flex-flow: column;
    max-width: 22.5rem;
    margin: auto;
    @media (min-width: $small) {
      flex-flow: row nowrap;
      margin: var(--space--md) 0 0;
    }
    &:last-of-type {
      .flow-right,
      .flow-left {
        display: none;
      }
    }
  }
  .title {
    margin-top: 0;
  }
  .item {
    padding: var(--space--md);
    border: var(--border-width--md) solid transparent;
  }
  .material-icons {
    display: block;
  }
  .flow-down {
    display: block;
    margin: auto;
    padding: var(--space--md);
    @media (min-width: $small) {
      display: none;
    }
  }
  .flow-right {
    display: none;
    align-self: center;
    padding: var(--space--md);
    @media (min-width: $small) {
      display: block;
    }
  }
}
