/**
 * @file
 * 00-atoms/00-global/_structure-vars.scss
 */

/* Spacing */
$standard-spacing: 16px;
$half-spacing: $standard-spacing / 2;
$large-spacing: $standard-spacing * 2;

/* Borders and Lines */
$border-width: 3px;
$focus-shadow: 2px 2px 4px 2px transparentize($dark-blue, .5);
$focus-outline: $border-width dotted;

/* Content Area */
$max-content-width: 1200px;

/* Breakpoints */
$small: 581px;
$medium: 841px;
$large: $max-content-width;

/* Grid */
$small-screen-columns: $standard-spacing 1fr $standard-spacing;
$large-screen-columns: 1fr $max-content-width 1fr;

/* Toggle/Menu Button Sizes */
$toggle-size: 58px;
$toggle-size--larger: 72px;
