/*------------------------------------------------------------------------------
BREAKPOINTS
--------------------------------------------------------------------------------
Media queries don't allow you to use CSS variables, so they are SASS variables
for now.
------------------------------------------------------------------------------*/
$xsmall: 320px;
$small: 580px;
$medium: 950px;
$large: 1300px;
