/**
 * @file
 * organisms/global/site-header/_site-header.scss
 */
$header-columns: $logo-width 1fr $toggle-size;
$header-columns--larger: $logo-width--larger 1fr $toggle-size--larger;
$header-rows: $toggle-size;
$header-rows--larger: $toggle-size--larger;

// Ends of gradients
$white-gradient: transparentize($white, 0.2);
$dark-blue-gradient: transparentize($dark-blue, 0.2);

.western-header {
  @include breakpoint($medium) {
    display: grid;

    grid-template-columns: $small-screen-columns;
    grid-template-rows: auto;
  }
  @include breakpoint ($large) {
    grid-template-columns: $large-screen-columns;
  }
  background: linear-gradient(to left, $white 0%, $white-gradient 100%);
  font-size: $wwu-header-font-size;

  .wrap {
    @include breakpoint($medium) {
      display: grid;

      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      grid-template-areas: "logo quick-links search";
      grid-template-columns: $header-columns;
      grid-template-rows: $header-rows;
    }
    @include breakpoint($large) {
      grid-template-columns: $header-columns--larger;
      grid-template-rows: $header-rows--larger;
    }

    .western-logo {
      background-color: $dark-blue;

      grid-area: logo;

      a {
        @include breakpoint($medium) {
          padding-right: 0;
        }
        display: flex;
        justify-content: center;
        padding-right: $toggle-size--larger;
      }
    }

    .university-name {
      display: block;
      font-size: 0;
    }

    .site-name {
      @include breakpoint($medium) {
        border-top: 1px solid $blue;
        border-bottom: none;
      }
      display: block;
      padding: $half-spacing $standard-spacing;
      text-align: center;
      color: $white;
      border-top: 1px solid $lightest-green;
      border-bottom: 1px solid $lightest-green;
      background: linear-gradient(to right, $dark-blue 0%, $dark-blue-gradient 100%);
      font-size: $font-size--smaller;
      line-height: 1.5em;
    }

    .search {
      align-self: center;

      grid-area: search;
      justify-self: end;
    }

    .quick-links {
      align-self: center;

      grid-area: quick-links;
      justify-self: end;
    }

    .toggle-menu {
      @include breakpoint($medium) {
        display: none;
      }
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
