/**
 * @file
 * organisms/global/site-header/_site-header.scss
 */
$header-columns: $logo-width 1fr $toggle-size;
$header-columns--larger: $logo-width--larger 1fr $toggle-size--larger;
$header-rows: $toggle-size;
$header-rows--larger: $toggle-size--larger;

// gradients
$header-gradient-start: $white;
$header-gradient-end: transparentize($white, 0.2);
$site-name-gradient-start: $dark-blue;
$site-name-gradient-end: transparentize($dark-blue, 0.2);

.western-header {
  @include breakpoint($medium) {
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: $small-screen-columns;
    -ms-grid-rows: auto;
    grid-template-columns: $small-screen-columns;
    grid-template-rows: auto;
  }
  @include breakpoint ($large) {
    -ms-grid-columns: $large-screen-columns;
    grid-template-columns: $large-screen-columns;
  }
  position: relative;
  z-index: 1;
  background: linear-gradient(to left, $white 0%, $header-gradient-end 100%);
  font-size: $wwu-header-font-size;

  .wrap {
    @include breakpoint($medium) {
      position: relative;
      display: -ms-grid;
      display: grid;

      -ms-grid-column: 2;
      grid-column: 2 / span 1;
      -ms-grid-column-span: 1;
      -ms-grid-columns: $logo-width $standard-spacing 1fr $toggle-size;
      -ms-grid-row: 1;
      grid-row: 1 / span 1;
      -ms-grid-row-span: 1;
      -ms-grid-rows: $header-rows;
      grid-template-areas: "logo quick-links search";
      grid-template-columns: $header-columns;
      grid-template-rows: $header-rows;
    }
    @include breakpoint($large) {
      -ms-grid-columns: $logo-width--larger $standard-spacing 1fr $toggle-size--larger;
      -ms-grid-rows: $header-rows--larger;
      grid-template-columns: $header-columns--larger;
      grid-template-rows: $header-rows--larger;
    }

    .western-logo {
      background-color: $dark-blue;

      grid-area: logo;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;

      a {
        @include breakpoint($medium) {
          padding-right: 0;
        }
        display: flex;
        justify-content: center;
        padding-right: $toggle-size--larger;
      }
    }

    .university-name {
      display: block;
      font-size: 0;
    }

    .site-name {
      @include breakpoint($medium) {
        display: block !important;
        border-top: 1px solid $blue;
        border-bottom: none;
      }
      display: block;
      margin: 0;
      padding: $half-spacing $standard-spacing;
      text-align: center;
      color: $white;
      border-top: 1px solid $blue;
      border-bottom: 1px solid $blue;
      background: linear-gradient(to right, $site-name-gradient-start 0%, $site-name-gradient-end 100%);
      font-size: $font-size--smaller;
      font-weight: normal;
      line-height: 1.5em;
      text-transform: none;
    }

    .quick-links {
      @include breakpoint($medium) {
        display: block !important;
      }
      display: none;
      align-self: center;

      grid-area: quick-links;
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      justify-self: end;
    }

    .toggle-menu {
      @include breakpoint($medium) {
        display: none;
      }
      position: absolute;
      top: 0;
      right: 0;

      &:hover,
      &:focus {
        background-color: $darkest-blue;
      }
    }

    .search {
      @include breakpoint($medium) {
        top: 0;
        right: 0;
      }
      align-self: center;

      grid-area: search;
      justify-self: end;
    }
  }
}
