{#
/**
 * Western header - includes logo, campus links, search, and site name
 */
#}
<div class="western-header">
  <div class="wrap">
    <div class="western-logo">
      <a class="western-home-link" href="https://wwu.edu">
        <span class="university-name">Western Washington University</span>
        {% include "@atoms/logo/logo.twig" %}
      </a>
      {% if site_name != "Western Washington University" %}
      <a href="/" class="site-name">
          {{ site_name }}
      </a>
      {% endif %}
    </div>

    {% block quick_links %}
      <button class="toggle toggle-menu toggle-open-menu" aria-label="Open the menu"><span class="material-icons">menu</span></button>
      {% include "@molecules/navigation/wwu-menu/wwu-menu.html.twig" %}
      {{ page.quick_links }}
    {% endblock %}

    {% block search %}
      {% include "@molecules/search/search.html.twig" %}
    {% endblock %}
  </div>
</div>
