{#
/**
 * Western header - includes logo, campus links, search, and site name
 */
#}
<div class="western-header">
  <div class="wrap">
    <div class="western-logo">
      <a href="http://www.wwu.edu">
        <span class="university-name">Western Washington University</span>
        {% include "@atoms/logo/logo.twig" %}
      </a>
      <span class="site-name">
        {% if site_name %}
          {{ site_name }}
        {% endif %}
      </span>
    </div>

    {% block quick_links %}
      <button class="toggle toggle-menu toggle-open-menu" aria-label="Open the menu"><i class="material-icons">menu</i></button>
      {% include "@molecules/navigation/wwu-menu/wwu-menu.html.twig" %}
      {{ page.quick_links }}
    {% endblock %}

    {% include "@molecules/search/search.html.twig" %}
  </div>
</div>
