/**
  * @file
  * 01-atoms/buttons/toggles/_toggles.scss
  */
.toggle {
  width: $toggle-size;
  height: $toggle-size;
  padding: 0;
  color: $white;
  border: 0;
  border-radius: 0;
  background-color: $dark-blue;
  box-shadow: none;
  font-family: $condensed;
  font-weight: $font-weight--light;

  .toggle-text {
    @include breakpoint($large) {
      font-size: $menu-font-size--max;
    }
    position: relative;
    top: -$half-spacing;
    display: block;
    font-size: $menu-font-size;
  }

  &:active,
  &:hover,
  &:focus {
    transform: none;
    background-color: $blue;
    box-shadow: none;
  }

  .material-icons {
    top: inherit;
  }
}
