<button class="toggle" role="button">
  <span class="material-icons" aria-hidden="true">menu</span>
  <span class="toggle-text">Menu</span>
</button>

<button class="toggle" role="button">
  <span class="material-icons" aria-hidden="true">search</span>
  <span class="toggle-text">Search</span>
</button>

<button class="toggle" role="button">
  <span class="material-icons" aria-hidden="true">close</span>
  <span class="toggle-text">Close</span>
</button>

<button class="toggle" role="button">
  <span class="material-icons" aria-hidden="true">chevron_right</span>
  <span class="toggle-text">Next</span>
</button>
