/**
* @file
* molecules/headline/_headline--make-waves.scss
*/
.headline--make-waves {
  @include breakpoint($medium) {
    padding-top: $logo-height;
    padding-bottom: ($toggle-size * 0.5) + $standard-spacing;
  }
  @include breakpoint($large) {
    padding-top: $logo-height--larger;
    padding-bottom: ($toggle-size--larger * 0.5) + $standard-spacing;
  }
  display: grid;
  align-content: center;
  padding: $double-spacing;
  text-align: center;
  color: white;
  font-family: $copy-font--make-waves;

  h2 {
    margin: 0;
    text-transform: uppercase;
    color: white;
    font-family: $heading-font--make-waves;
    font-size: $title-font-size;
  }
}

.splash {
  > div:nth-of-type(2).headline--make-waves {
    grid-column: 1 / span all;
    grid-row: 1 / span all;
  }
}
