/**
 * @file
 * 01-atoms/icons/play-icon/_play-icon.scss
 */
$play-icon-size: 4.5rem;

.play-link {
  display: inline-block;

  svg {
    width: $play-icon-size;
    fill: $dark-blue;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;

    svg path {
      fill: $blue;
    }
  }
}

button.play-link {
  background-color: transparent;
  box-shadow: none;
  padding: 0;

  &:focus {
    border: $focus-outline;
    border-color: $dark-blue;
  }
}

/* Dark mode styles for play-icon on certain banner overlays */

.dark-mode {
  .block--banner {
    &.white-gradient-overlay,
    &.gray-overlay {
      .play-link {
        svg path {
          fill: $dark-blue;
        }
        &:hover,
        &:focus,
        &:active {
          svg path {
            fill: $blue;
          }
        }

        &:focus {
          border-color: $blue;
        }
      }
    }
  }
}
