/**
 * @file
 * organisms/sections/card-list/_card-list.scss
 */

.card-list {
  .card {
    display: grid;
    margin-bottom: $standard-spacing;

    grid-column-gap: $standard-spacing;
    grid-template-areas:
    "image title"
    "image body";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;

    .image {
      grid-area: image;
    }

    .title {
      margin-top: -0.35em;

      grid-area: title;
    }

    .body {
      grid-area: body;
    }
  }
}
