/**
* @file
* 01-atoms/text/_all.scss
*/

html {
  @include breakpoint($large) {
    font-size: calc(1rem + #{$max-content-width});
  }
  color: $text-color;
  font-family: $sans-serif;
  font-size: calc(1rem + 1vw);

  font-display: auto;
}

body {
  &.opendyslexic {
    font-family: $opendyslexic;

    font-feature-settings: unset;
  }

  &.atkinson {
    font-family: $atkinson;
  }

  @media print {
    font-size: 12pt;
  }
}
