/**
* @file
* 01-atoms/text/_all.scss
*/

html {
  color: $text-color;
  font-family: $sans-serif;
  font-display: auto;
}

body {
  @include breakpoint($large) {
    font-size: $p-font-size--max;
  }
  font-size: $p-font-size;

  &.opendyslexic {
    font-family: $opendyslexic;
    font-feature-settings: unset;
  }

  &.open-sans {
    font-family: $open-sans;
  }
}
