/**
* @file
* organisms/cards/_cards.scss
*/
$spotlight-height--medium: 200px;
$spotlight-height--large: 300px;

.spotlight {
  @include breakpoint($large) {
    height: $spotlight-height--large;
  }
  height: $spotlight-height--medium;
}

.card-2col,
.card-2col--view .view-content {
  display: -ms-grid;
  display: grid;

  grid-column-gap: $standard-spacing;
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  .card {
    .image {
      img {
        width: 100%;
      }
    }
  }
}

.card-3col,
.card-3col--view .view-content,
.card-row,
.card-row .view-content {
  @include breakpoint($small) {
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;

  .card {
    @include breakpoint($small) {
      flex: 0 1 33.333%;
      max-width: 33.333%;
    }
    margin: $half-spacing;
    padding: 0;
    padding-bottom: $standard-spacing;

    .image {
      overflow: hidden;
      width: 100%;

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    .taxonomy-terms {
      padding: 0 $half-spacing;
    }

    .title,
    .body {
      padding: 0 $half-spacing;

      a:hover,
      a:focus,
      &:active {
        color: $dark-blue;
        outline: none;
        background: none;
      }
    }

    .taxonomy-term {
      @extend .taxonomy-term;
    }
  }
}

.card-4col,
.card-4col--view .view-header {
  @include breakpoint($small) {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  display: -ms-grid;
  display: grid;

  grid-column-gap: $standard-spacing;
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  .card {
    .image {
      img {
        width: 100%;
      }
    }
  }
}

/* Vertical Card List */
.card-list {
  .card {
    display: -ms-grid;
    display: grid;

    grid-column-gap: $standard-spacing;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: auto 1fr;
    grid-template-areas: "image taxonomy"
    "image title"
    "image body";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;

    > div {
      @include breakpoint ($medium) {
        padding: $triple-spacing;
        padding-left: $double-spacing;
      }
      padding: $standard-spacing;
      padding-left: $half-spacing;
    }

    .image {
      margin-bottom: 0;
      padding: 0;

      grid-area: image;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;

      > div {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    .taxonomy-terms {
      margin-bottom: 0;
      padding-bottom: 0;

      grid-area: taxonomy;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
    }

    .title {
      margin-top: 0;
      padding-bottom: 0;

      grid-area: title;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
    }

    .body {
      grid-area: body;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
    }
  }
}
