@use "../../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Templates: Layouts - One column
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.layout--onecol .layout__region {
  width: 100%;
  margin: auto;
  @media (min-width: 62.5rem) {
    max-width: var(--content-area-max-width--sm);
  }
}
.layout--onecol--full .layout__region {
  width: 100%;
  @media (min-width: $large) {
    max-width: var(--content-area-max-width);
    margin: auto;
  }
}
.layout--onecol--page-width {
  max-width: 100vw;
  margin-right: calc(-1 * var(--space--sm));
  margin-left: calc(-1 * var(--space--sm));
  @media (min-width: $large) {
    margin-right: calc(50% - 50vw - var(--space--xs));
    margin-left: calc(50% - 50vw - var(--space--xs));
  }
  .layout__region {
    max-width: none;
    margin: 0;
  }
}
