/*------------------------------------------------------------------------------
Molecule: Accordion
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
wwu-accordion,
.accordion-set {
  display: block;
  margin-bottom: var(--space--md);
  .item,
  wwu-accordion-item {
    display: block;
    &:last-of-type {
      .expand {
        margin-bottom: 0;
      }
    }
  }
  .expand {
    display: flex;
    gap: var(--space--2xs);
    align-items: center;
    width: 100%;
    margin-bottom: calc(-1 * var(--border-width--md));
    padding: var(--space--xs);
    cursor: default;
    text-align: left;
    color: var(--link-color);
    border: solid var(--border-width--md) var(--link-decoration-color);
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    .material-icons {
      font-size: var(--icon-size--xs);
    }
    .component-icon {
      fill: var(--link-color);
    }
    &:active,
    &:focus,
    &:hover {
      --oline-color: var(--link-color--focus);

      color: var(--link-color--focus);
      outline-offset: var(--outline-offset--inset);
      background-color: var(--link-decoration-color--active);
      .component-icon {
        fill: var(--link-color--active);
      }
    }
  }
  .title {
    margin: 0;
    padding-bottom: 0;
    font-size: var(--font-size--md);
    & + .content {
      visibility: hidden;
      overflow: hidden;
      max-height: 0;
      padding: 0;
      transition: var(--transition-speed--md) ease;
      transition-property: max-height, opacity;
      opacity: 0;
      &.is-expanded {
        visibility: visible;
        padding: var(--space--sm);
        opacity: 1;
      }
    }
  }
}
.wwu-accordion[class*="-bg"] {
  padding: var(--space--sm);
  .title {
    margin-top: 0;
  }
  wwu-accordion {
    margin-bottom: 0;
  }
}
.accordion-controls-group {
  display: flex;
  margin-bottom: var(--space--xs);
  [class*="expand-all"] {
    grid-column: 1;
  }
  [class*="collapse-all"] {
    grid-column: 2;
  }
  + .title {
    margin-top: 0;
  }
  .expand-all,
  .collapse-all {
    --button-color: var(--link-color);
    --button-color--active: var(--link-color);

    min-height: var(--touch-target--aaa);
    margin-bottom: 0;
    padding: var(--space--2xs);
    color: var(--link-color);
    border: var(--border-width--md) solid var(--link-decoration-color);
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    font-size: var(--font-size--xs);
    &:hover,
    &:focus,
    &:active {
      background: var(--link-background--focus);
    }
    &[disabled] {
      --button-color: var(--gray--darker--20);
      --button-color--active: var(--gray--darker--20);

      text-decoration: line-through;
      color: var(--gray--darker--20);
      border-color: var(--gray--darker--20);
      background: transparent;
    }
    &:focus-visible {
      + p[class$="-hint"] {
        display: unset;
      }
    }
    + p[class$="-hint"] {
      display: none;
      margin: var(--space--xs) var(--space--xs) 0 0;
      font-size: calc(var(--font-size--xs) * 0.8);
      kbd {
        padding: var(--space--2xs);
        border: var(--border-width--sm) solid;
        border-radius: var(--border-radius--round);
      }
    }
  }
  .expand-all {
    margin-right: var(--space--xs);
  }
}
