/*------------------------------------------------------------------------------
Molecule: Accordion
--------------------------------------------------------------------------------
1.
------------------------------------------------------------------------------*/

wwu-accordion,
.accordion-set {
  margin-bottom: var(--space--md);
  .item,
  wwu-accordion-item {
    display: block;
    .title {
      margin: 0;
      padding-bottom: 0;
      font-size: var(--font-size--md);
      .expand {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
        padding: var(--space--sm);
        cursor: default;
        .material-icons {
          font-size: var(--icon-size--sm);
        }
      }
      & + .content {
        visibility: hidden;
        overflow: hidden;
        max-height: 0;
        padding: 0;
        transition: var(--transition-speed--md) ease;
        transition-property: max-height, opacity;
        opacity: 0;
        &.is-expanded {
          visibility: visible;
          padding: var(--space--sm);
          opacity: 1;
        }
      }
    }
  }
}
