/**
 * @file
 * molecules/media/splash/_headline.scss
 */
$headline-gradient-start: transparentize($black, 0.2);
$headline-gradient-end: transparentize($black, 0.5);

.headline {
  @include breakpoint($medium) {
    background: linear-gradient(to right, $headline-gradient-start 0%, $headline-gradient-end 100%);
  }
  padding: $standard-spacing;
  background-color: $blue;
  color: $text-color-light;

  h2 {
    margin-top: $standard-spacing;
    text-transform: uppercase;
    color: $text-color-light;
    border-bottom: none;
    font-family: $sans-serif;
  }

  .button {
    margin: $standard-spacing 0 0 0;
  }
}
