<div class="headline">
  <h2 class="block__title">Test headline block</h2>

  <div class="field__item"><p>We have a saboteur aboard. When has justice ever been as simple as a rule book? The look in your eyes, I recognize it. You used to have it for me. We know you're dealing in stolen ore. But I wanna talk about the assassination attempt on Lieutenant Worf.</p></div>

  <a class="button" href="/web/">Read the Story</a>

  <a class="button" data-featherlight="iframe" data-featherlight-iframe-allow="autoplay; encrypted-media" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-frameborder="0" data-featherlight-iframe-style="display:block;border:none;height:50vh;width:50vw;" href="https://player.vimeo.com/video/317603873?rel=0&amp;autoplay=1">Watch Video <i aria-hidden="true" class="material-icons" style="font-size: 18px">play_arrow</i></a>
</div>
