<div class="headline">
  <h2>A special title for this page</h2>
  <p>Much content</p>
  <p>Much content</p>
  <p>Much content</p>
  <p>Much content</p>
  <p>Much content</p>
  <p>Much content</p>
  <p>Much content</p>
  <p>Much content</p>
  <p>Much content</p>
  <p>Much content</p>
  <p>Much content</p>
  <p>Much content</p>
  <p>Much content</p>
  <p>Much content</p>
  <p>Much content</p>
  <p>No more content</p>
</div>
