{#
/**
 * @see templates/layout/region--footer.html.twig
 */
#}
<div class="wwu-footer dark-bg">
  {% include "@atoms/logo/logo.twig" %}

  <p class="western-info">516 High Street, Bellingham, WA 98225 | <a href="tel:3606503000">(360) 650-3000</a> | <a href="http://www.wwu.edu/wwucontact/">Contact Western</a></p>
  <p class="western-footer-links"><a href="http://www.wwu.edu/privacy/">Privacy Policy</a> | <a href="http://www.wwu.edu/content/commitment-accessibility">Accessibility Notice</a></p>

  {% include "@atoms/icons/social-media-icons/social-media-icons.twig" %}
</div>
