{#
/**
 * @see templates/layout/region--footer.html.twig
 */
#}
<div class="wwu-footer">
  {% include "@atoms/logo/logo.twig" %}

  <div class="western-info">
    <h2 class="visually-hidden">WWU Contact Info</h2>
    <p>516 High Street, Bellingham, WA 98225</p>
    <p><a href="tel:3606503000">(360) 650-3000</a></p>
    <nav aria-labelledby="footer-wwu-resources">
    <h2 class="visually-hidden" id="footer-wwu-resources">WWU Resources</h2>
    <p><a href="http://www.wwu.edu/wwucontact/">Contact Western</a> | <a href="http://www.wwu.edu/privacy/">Privacy Policy</a> | <a href="http://www.wwu.edu/commitment-accessibility">Accessibility Notice</a></p>
    </nav>
  </div>

  {% include "@molecules/social-media/social-media-icons-footer.html.twig" %}
</div>
