{#
/**
 * @see templates/layout/region--footer.html.twig
 */
#}
<div class="wwu-footer">
  {% include "@atoms/logo/logo.twig" %}

  <div class="western-info">
    <p>516 High Street, Bellingham, WA 98225</p>
    <p><a href="tel:3606503000">(360) 650-3000</a></p>
    <p><a href="http://www.wwu.edu/wwucontact/">Contact Western</a> | <a href="http://www.wwu.edu/privacy/">Privacy Policy</a> | <a href="http://www.wwu.edu/content/commitment-accessibility">Accessibility Notice</a></p>
  </div>

  {% include "@atoms/icons/social-media-icons/social-media-icons.twig" %}
</div>
