/**
 * @file
 * 01-atoms/forms/webform/_webform.scss
 * Styles specifically for the Drupal Webform module
 */

$checkmark-size: 60px;

/* File Input */
.form-managed-file {
  .form-file {
    display: inline-block;
    margin-right: $standard-spacing;
    margin-bottom: $standard-spacing;
  }
}

/* Grids */
// Overwrite our radio button styles for default radio buttons
.webform-grid {
  input[type="radio"] {
    position: relative;
    width: inherit;
    height: inherit;
    margin: auto;
    opacity: 1;
  }
}

// Make the whole table cell clickable
.webform-grid {
  .checkbox {
    label {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      clip: inherit;
      height: 100%;
      opacity: 0;
    }
  }
}

form {
  .description {
    margin-bottom: $standard-spacing;
    color: $gray;
    font-size: $p-font-size--smaller;
  }

  .form-item {
    margin-bottom: $standard-spacing;
  }
}

/* Wizard page styles */
.webform-progress-tracker {

  .progress-step {

    &.is-complete {
      &:hover, &:focus {
        .progress-marker {
          @include default-link-hover-focus();
        }
      }

      .progress-title {
        &[role="link"] {
          color: $link-color;
          text-decoration: underline;

          &:active,
          &:focus,
          &:hover {
            @include default-link-hover-focus();
          }

          &:focus {
            @include default-link-focus-border();
          }
        }

        &:after {
          content: '';
          background-image: url("../images/forms/green-check.png");
          background-repeat: no-repeat;
          transform: scale(0.5);
          display: block;
          height: $checkmark-size;
          width: $checkmark-size + 10px;
          position: relative;
          left: $checkmark-size;
          top: -($standard-spacing);
        }
      }
    }

    &.is-active {

      &:hover .progress-marker {
        @include current-progress-hover();
      }

      .progress-marker {
        background-color: $blue;

        &:hover,
        &:active {
          @include current-progress-hover();
        }
      }
    }

    .progress-marker {
      &:hover, &:focus {
        background-color: $link-color;
      }
      &:focus {
        @include default-link-focus-border();
      }
    }
  }
}
