@use "../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Molecule: Aside
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.paragraph--type--aside {
  @include lightest-gray-bg;

  padding: var(--space--md);
  .title {
    margin-top: 0;
  }
}
[data-theme="dark"] {
  .paragraph--type--aside {
    @include gray-bg;
  }
}
