/**
* @file
* molecules/media/splash/_splash.scss
*/
$site-name-spacer: 120px;

.splash,
.featured-major-splash-area {
  @include breakpoint($medium) {
    margin-top: -$toggle-size;

    -ms-grid-rows: ($logo-height + $site-name-spacer) 1fr $toggle-size;
    grid-template-rows: ($logo-height + $site-name-spacer) 1fr $toggle-size;
  }
  @include breakpoint($large) {
    margin-top: -$toggle-size--larger;

    -ms-grid-columns: $large-screen-columns;
    -ms-grid-rows: ($logo-height--larger + $site-name-spacer) 1fr $toggle-size;
    grid-template-columns: $large-screen-columns;
    grid-template-rows: ($logo-height--larger + $site-name-spacer) 1fr $toggle-size;
  }
  display: -ms-grid;
  display: grid;
  max-height: 80vh;
  background-image: linear-gradient($dark-blue, $blue);

  -ms-grid-columns: $small-screen-columns;
  -ms-grid-rows: 25vh 1fr $double-spacing;
  grid-template-areas:
  ". ....... ."
  ". content ."
  ". ....... .";
  grid-template-columns: $small-screen-columns;
  grid-template-rows: $standard-spacing 1fr $standard-spacing;

  > div {
    &:nth-of-type(1) {
      -ms-grid-column: 1;
      grid-column: 1 / span all;
      -ms-grid-column-span: 3;
      -ms-grid-row: 1;
      grid-row: 1 / span all;
      -ms-grid-row-span: 3;

      div {
        height: 100%;
      }
    }

    &:nth-of-type(2) {
      grid-area: content;
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
    }
  }
}

/* Featured major pages have some overwrites */
.featured-major-splash-area {
  margin-top: 0;

  .featured-major-info {
    .headline {
      height: initial;
    }
  }
}

.page-node-type-article {
  .splash {
    grid-template-rows: 1fr;
  }
}
