/**
* @file
* organisms/profile_profile.scss
*/

.user-profile {
  display: flex;
  flex-flow: row wrap;

  .profile-left {
    flex: 1 1 33%;
  }

  .profile-right {
    @include breakpoint($medium) {
      padding-left: $double-spacing;
      text-align: left;
    }
    flex: 1 1 66%;
    text-align: center;
  }

  .profile-photo {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: $triple-spacing;
  }
  .social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: $double-spacing;
  }

  .social-icon {
    margin-right: $standard-spacing;
    margin-bottom: $standard-spacing;
  }
}
