<p>Sans-serif font: "Fira Sans", sans-serif;</p>
<p><em>Sans-serif font italic: "Fira Sans", sans-serif;</em></p>
<p><strong>Sans-serif font bold: "Fira Sans", sans-serif;</strong></p>
<p>&nbsp;</p>
<p class="serif">Serif font: "PT Serif", serif;</p>
<p class="serif"><em>Serif font italic: "PT Serif", serif;</em></p>
<p class="serif"><strong>Serif font bold: "PT Serif", serif;</strong></p>
<p>&nbsp;</p>
<p class="hyperlegible">Hyperlegible font: "Atkinson", serif;</p>
<p class="hyperlegible"><em>Hyperlegible font italic: "Atkinson", serif;</em></p>
<p class="hyperlegible"><strong>Hyperlegible font bold: "Atkinson", serif;</strong></p>
<p>&nbsp;</p>
<p class="opendyslexic">Dyslexia-friendly font: "Opendyslexic", serif;</p>
<p class="opendyslexic"><em>Dyslexia-friendly font italic: "Opendyslexic", serif;</em></p>
<p class="opendyslexic"><strong>Dyslexia-friendly font bold: "Opendyslexic", serif;</strong></p>
