/*------------------------------------------------------------------------------
Molecule: Fisher
--------------------------------------------------------------------------------
Fisher is our friendly little AI chatbot from Gecko Engage
------------------------------------------------------------------------------*/
.gecko-styles .gecko-chat-widget-app .gecko-chat-widget-app-header .avatar .avatar-body {
  width: 75px;
  height: 75px;
}
.gecko-styles .gecko-chat-widget-app .gecko-chat-widget-app-conversation-container-messages .avatar .avatar-body {
  width: 45px;
  height: 45px;
}
