/**
 * @file
 * 00-atoms/buttons/_buttons.scss
 */
$button-border-radius: 100px;
$button-border-radius-alt: 50%;
$button-border-radius-droplet: 40px 40px 0 40px;
$button-border-radius-alt-droplet: 50% 50% 0 50%;
$button-padding: $standard-spacing;

.button {
  @include breakpoint($small) {
    width: auto;
    min-width: 300px;
  }
  width: 100%;
}

.button,
button,
input[type="submit"] {
  display: inline-block;
  box-sizing: border-box;
  padding: $button-padding ($button-padding * 2);
  cursor: pointer;
  user-select: none;
  transition: $button-transition-speed $button-transition-ease background-color;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: $text-color-light;
  border: $border-width transparent solid;
  border-radius: $button-border-radius;
  background-color: $default-button-color;
  font-family: $body-font-family;
  font-weight: $regular;
  line-height: 1;

  appearance: none;
  -webkit-font-smoothing: antialiased;

  &:focus,
  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $dark-blue;
  }

  &:focus {
    border: $focus-outline;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    color: $light-gray;
    background-color: $gray;

    &:hover {
      background-color: darken($gray, 10%);
    }
  }
  /* Alternate Button Styles */
  &.alt {
    color: $dark-blue;
    border-width: $border-width;
    border-color: $dark-blue;
    background-color: transparent;

    &:focus,
    &:hover {
      color: $blue;
      border-color: $blue;
      background-color: $white;
    }
  }
  @each $color, $background, $text, $hover-color, $hover-text in $wwu-colors {
    &.#{$color} {
      color: $text;
      background-color: $background;

      &:focus,
      &:hover {
        color: $hover-text;
        background-color: $hover-color;
      }

      &:focus {
        outline: none;
      }
      /* Alternate Button Styles */
      &.alt {
        color: $background;
        border-color: $background;
        background-color: transparent;

        &:focus,
        &:hover {
          color: $blue;
          border-color: $blue;
          background-color: $white;
        }
      }
    }
  }
}
