/**
* @file
* 00-atoms/buttons/_buttons.scss
*/
$button-border-radius: 100px;
$button-border-radius-alt: 50%;
$button-border-radius-droplet: 40px 40px 0 40px;
$button-border-radius-alt-droplet: 50% 50% 0 50%;
$button-padding: $standard-spacing;

// (class-name, $color-variable, $text-color, $hover-color, $hover-text, $alt-hover-text)
$button-colors: (
(dark-blue, $dark-blue, $white, $blue, $white, $dark-blue),
(blue, $blue, $white, $dark-blue, $white, $blue),
(dark-green, $dark-green, $white, $green, $white, $dark-green),
(green, $green, $white, $dark-blue, $white, $green),
(light-green, $light-green, $black, $dark-blue, $white, $green),
(light-blue, $light-blue, $black, $white, $light-blue, $blue),
(white, $white, $white, $white, $dark-blue, $blue)
);

%button-structure {
  @include breakpoint($medium) {
    border-width: $border-width--thicker;
  }
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: $standard-spacing;
  padding: $button-padding ($button-padding * 2);
  cursor: pointer;
  user-select: none;
  transition: $button-transition-speed $button-transition-ease background-color;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-width: $border-width;
  border-color: transparent;
  border-style: solid;
  border-radius: $button-border-radius;
  font-family: $body-font-family;
  font-weight: $font-weight--regular;
  line-height: 1;

  appearance: none;
  -webkit-font-smoothing: antialiased;

  &:focus {
    @include breakpoint($medium) {
      border: $focus-outline--thicker;
    }
    border: $focus-outline;
    outline: none;
  }

  .material-icons {
    position: relative;
    top: 2px;
    font-size: inherit;
  }
}

%button-color {
  color: $text-color-light;
  background-color: $default-button-color;

  &:focus,
  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $dark-blue;
  }

  &:disabled {
    cursor: not-allowed;
    color: $light-gray;
    background-color: $gray;

    &:hover {
      background-color: darken($gray, 10%);
    }
  }
}

%button-alt-color {
  &.alt {
    color: $dark-blue;
    border-color: $dark-blue;
    background-color: transparent;

    &:focus,
    &:hover {
      color: $dark-blue;
      border-color: $dark-blue;
      background-color: $white;
    }
  }
}

.button,
button,
input[type="submit"],
.cas-login-link {
  @extend %button-structure;
  @extend %button-color;
  @extend %button-alt-color;

  @each $color, $background, $text, $hover-color, $hover-text, $alt-hover-text in $button-colors {
    &.#{$color} {
      color: $text;
      background-color: $background;
      border-color: transparent;

      &:focus,
      &:hover {
        color: $hover-text;
        background-color: $hover-color;
      }

      &:focus {
        outline: none;
      }
      /* Alternate Button Styles */
      &.alt {
        color: $background;
        border-color: $background;
        background-color: transparent;

        &:focus,
        &:hover {
          color: $alt-hover-text;
          border-color: $background;
          background-color: $white;
        }
      }
    }
  }
}
