/**
  * @file
  * 00-atoms/buttons/_menu-buttons.scss
  */

.nav--main {
  .menu {
    background-color: initial;

    li {
      border: none;

      a {
        position: relative;
        display: table-cell;
        box-sizing: border-box;
        max-width: 280px;
        height: $main-menu-height;
        padding: 0 $button-padding;
        text-align: center;
        vertical-align: middle;
        white-space: normal;
        text-transform: uppercase;
        color: $white;
        border-width: $menu-padding;
        border-style: solid;
        border-color: $white;
        border-radius: 0;
        outline: none;
        background-color: $blue;
        line-height: 1.4em;

        /* Triangular Tab */
        &:before,
        &:after {
          position: absolute;
          top: 100%;
          left: 50%;
          width: 0;
          height: 0;
          content: "";
          transition: border $fast-transition-speed $standard-ease;
          transform: translatex(-50%);
        }
        &:before {
          border-top: solid 36px transparent;
          border-right: solid 68px transparent;
          border-bottom: solid 0 transparent;
          border-left: solid 68px transparent;
        }
        &:after {
          border-top: solid 16px transparent;
          border-right: solid 36px transparent;
          border-bottom: solid 0 transparent;
          border-left: solid 36px transparent;
        }

        /* Button hover & focus styles */
        &:hover,
        &:focus {
          background-color: mix(black, $blue, 20%);
          box-shadow: none;

          &:before {
            border-top: solid 36px $white;
          }

          &:after {
            border-top: solid 16px mix(black, $blue, 20%);
          }
        }

        &.active-trail {
          background-color: $dark-blue;

          &:before {
            border-top: solid 36px $white;
          }

          &::after {
            border-top: solid 16px $dark-blue;
          }

          &:hover,
          &:focus {
            background-color: mix(white, $dark-blue, 10%);

            &::after {
              border-top: solid 16px mix(white, $dark-blue, 10%);
            }
          }
        }
      }
    }
  }
}
