<div style="padding:20px;">
<p><button>Default Button</button></p>
<p><button disabled>Disabled</button></p>
</div>

<div style="padding:20px;">
<p>Adding a color name as a class can change the color of the button</p>
<p><button class="dark-blue">Dark Blue</button></p>
<p><button class="dark-green">Dark Green</button></p>
<p><button class="green">Green</button></p>
</div>

<div style="padding:20px;">
  <p>Adding an "alt" class produces outline buttons</p>
  <p><button class="dark-blue alt">Dark Blue Alt</button></p>
  <p><button class="dark-green alt">Dark Green Alt</button></p>
</div>

<div class="dark-blue-bg" style="padding:20px;">
  <p style="color:#ffffff;">Here are alt button styles for a dark background</p>
  <p><button class="light-blue alt">Light Blue Alt</button></p>
  <p><button class="light-green alt">Light Green Alt</button></p>
  <p><button class="white alt">White Alt</button></p>
</div>

<div style="padding:20px;">
<p>Links can also be styled as buttons, with the same color and alt options</p>
<p><a href="#" class="button">Link Button</a></p>
<p><a href="#" class="dark-blue button">Blue Link Button</a></p>
<p><a href="#" class="alt button">Alt Link Button</a></p>
</div>

<div style="padding:20px;">
<p>Links styled as buttons will auto size for longer text, but have a minimum width of 300px at larger screen widths</p>
<p><a href="#" class="button">Explore our 160+ Majors</a></p>
</div>

<h2>Buttons with icons</h2>
<div style="padding: 20px">
  <a href="#" class="button"><span class="material-icons" aria-hidden="true">arrow_upward</span>Back to Top</a>
</div>

<div class="light-gray-bg" style="padding: 20px;">
  <a href="#" class="button alt">Watch the video <span class="material-icons" aria-hidden="true">play_arrow</span></a>
</div>

<div class="dark-blue-bg" style="padding: 20px;">
  <a href="#" class="button white alt">Read the story <span class="material-icons" aria-hidden="true">arrow_forward</span></a>
</div>
