<p><button>Button</button></p>
<p><button disabled>Disabled</button></p>

<p>Adding a color name as a class can change the color of the button</p>
<p><button class="blue">Blue</button></p>
<p><button class="dark-green">Dark Green</button></p>
<p><button class="red">Red</button></p>
<p><button class="yellow">Yellow</button></p>
<p><button class="light-green">Light Green</button></p>

<p>Adding an "alt" class produces outline buttons</p>
<p><button class="alt">Dark Blue Alt</button></p>
<p><button class="blue alt">Blue Alt</button></p>
<p><button class="dark-green alt">Dark Green Alt</button></p>
<p><button class="red alt">Red Alt</button></p>
<div style="background-color: #003f87;">
  <p><button class="yellow alt">Yellow Alt</button></p>
  <p><button class="light-green alt">Light Green Alt</button></p>
</div>

<p>Links can also be styled as buttons, with the same color and alt options</p>
<p><a href="#" class="button">Link Button</a></p>
<p><a href="#" class="blue button">Blue Link Button</a></p>
<p><a href="#" class="alt button">Alt Link Button</a></p>
