/*------------------------------------------------------------------------------
Templates: Layouts - Retired Layouts - Three col 33/34/33
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

.layout--threecol-33-34-33 {
  display: flex;
  flex-wrap: wrap;
}

.layout--threecol-33-34-33 > .layout__region {
  flex: 0 1 100%;
}

.layout--threecol-33-34-33 > .layout__region--first {
  @media (min-width: $medium) {
    flex: 0 1 33%;
    max-width: 33%;
    padding-right: var(--space--sm);
  }

  font-size: var(--font-size--sm);
}

.layout--threecol-33-34-33 > .layout__region--second {
  @media (min-width: $medium) {
    flex: 0 1 34%;
    max-width: 34%;
    padding: 0 var(--space--sm);
  }

  font-size: var(--font-size--sm);
}

.layout--threecol-33-34-33 > .layout__region--third {
  @media (min-width: $medium) {
    flex: 0 1 33%;
    max-width: 33%;
    padding-left: var(--space--sm);
  }

  font-size: var(--font-size--sm);
}
