/*------------------------------------------------------------------------------
Molecule: Quicksearch form
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
#quick-search-list-nav {
  .ln-letters {
    @include breakpoint($medium) {
      justify-content: space-between;
      margin: auto;
    }

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 auto;

    p {
      margin-bottom: 0;
    }

    a,
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: var(--touch-target--min);
      min-height: var(--touch-target--min);
      font-weight: var(--font-weight--semibold);
    }
  }

  .ln-disabled {
    @include breakpoint($medium) {
      margin-right: 0;
    }

    margin-right: var(--space--sm);
    font-weight: var(--font-weight--regular);
  }
}

.quicksearch-form-container {
  padding: var(--space--md);

  #quick-search-form {
    margin: var(--space--md) 0;
  }

  #quick-search-input {
    width: calc(100% - var(--space--sm));
  }
}
