/**
* @file
* 02-molecules/content/search/quicksearch-form/_search.scss
*/
/* style listnav letters */
#quick-search-list-nav {
  .ln-letters {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: 0 auto;

    @include breakpoint($medium) {
      margin: auto;
      justify-content: space-between;
    }

    a {
      color: $darkest-blue;
      font-weight: $font-weight--semibold;
      margin-right: $standard-spacing;
      margin-bottom: $half-spacing;

      &:hover,
      &:focus,
      &:active {
        color: $dark-blue;
        background-color: mix(white, $dark-blue, 60%);
      }

      &.ln-disabled {
        color: mix(black, $gray, 30%);
        font-weight: $font-weight--regular;
        text-decoration: none;
        border-bottom-color: transparent;

        &:hover,
        &:focus,
        &:active {
          background: transparent;
          outline: none;
        }
      }

        @include breakpoint($medium) {
          margin-right: 0;
          margin-bottom: 0;
        }
      }

    }
  }

/* Form block styles */
.quicksearch-form-container {
  padding: $double-spacing;

  h2 {
    margin-top: 0;
    border-bottom-color: $lightest-green;
  }

  #quick-search-form {
    margin: $double-spacing 0;
  }

  #quick-search-input {
    width: calc(100% - #{$standard-spacing});
    border-color: scale-color($gray, $lightness: 50%);

    &:focus, &:active {
      border-color: $light-blue;
    }
  }
}
