<div{{ attributes }}>
  {% include "@atoms/text/label/label.twig" %}

  {% block content %}
  <div class="body">
    {{ content.body }}
  </div>
  {% endblock %}

  {% block form %}
    <form autocomplete="off" id="quick-search-form">
      <label for="quick-search-input">{{ content.field_search_label }}</label>
      <input id="quick-search-input" type="search" />
      <input type="submit" aria-label="no need to submit, see updated results below" style="display: none;"></input>
    </form>
  {% endblock %}

  {% block list_nav %}
    <div id="quick-search-list-nav"></div>
  {% endblock %}
</div>

{% block results %}
  <div class="results-text" role="status">
  <p id="quick-search-results-text"></p>
  </div>
  <h3 class="visually-hidden results-text-heading">Search Results</h3>
{% endblock %}


<ul class="menu item-list quick-search-list" id="quick-search-list">

              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/accounting" hreflang="en" tabindex="-1">Accounting </a></li>
              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/american-cultural-studies" hreflang="en" tabindex="-1">American Cultural Studies </a></li>
              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/anthropology-ba" hreflang="en" tabindex="-1">Anthropology BA</a></li>
              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/anthropologybiology-ba" hreflang="en" tabindex="-1">Anthropology/Biology BA</a></li>
              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/anthropologysocial-studies-ba" hreflang="en" tabindex="-1">Anthropology/Social Studies BA</a></li>
              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/anthropology%E2%80%94archaeology-concentration-ba" hreflang="en" tabindex="-1">Anthropology—Archaeology Concentration BA</a></li>
              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/anthropology%E2%80%94biocultural-concentration-ba" hreflang="en" tabindex="-1">Anthropology—Biocultural Concentration BA</a></li>
              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/anthropology%E2%80%94elementary-bae" hreflang="en" tabindex="-1">Anthropology—Elementary BAE</a></li>
              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/applied-mathematics-bs" hreflang="en" tabindex="-1">Applied Mathematics BS</a></li>
              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/art-studio-ba" hreflang="en" tabindex="-1">Art  Studio BA</a></li>
              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/art-history" hreflang="en" tabindex="-1">Art History </a></li>
              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/art-studio-bfa" hreflang="en" tabindex="-1">Art Studio BFA</a></li>
              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/art%E2%80%94elementary-bae" hreflang="en" tabindex="-1">Art—Elementary BAE</a></li>
              <li class="ln-a listNavShow quickSearchShow"><a href="/majors/art%E2%80%94p-12-bae" hreflang="en" tabindex="-1">Art—P-12 BAE</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/behavioral-neuroscience" hreflang="en" tabindex="-1">Behavioral Neuroscience </a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/biochemistry" hreflang="en" tabindex="-1">Biochemistry </a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/biology-ba" hreflang="en" tabindex="-1">Biology BA</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/biologyanthropology-bs" hreflang="en" tabindex="-1">Biology/Anthropology BS</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/biologymathematics-bs" hreflang="en" tabindex="-1">Biology/Mathematics BS</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/biology%E2%80%94ecology-evolution-and-organismal-biology-eeo-emphasis-bs" hreflang="en" tabindex="-1">Biology— Ecology, Evolution, and Organismal Biology (EEO) Emphasis BS</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/biology%E2%80%94general-emphasis-bs" hreflang="en" tabindex="-1">Biology— General Emphasis BS</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/biology%E2%80%94marine-emphasis-bs" hreflang="en" tabindex="-1">Biology— Marine Emphasis BS</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/biology%E2%80%94molecular-and-cell-emphasis-bs" hreflang="en" tabindex="-1">Biology— Molecular and Cell Biology Emphasis BS</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/biology%E2%80%94secondary-teaching-emphasis-bs" hreflang="en" tabindex="-1">Biology— Secondary Teaching Emphasis BS</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/business-administration%E2%80%94finance-concentration-ba" hreflang="en" tabindex="-1">Business Administration—Finance Concentration BA</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/business-administration%E2%80%94general-business-ba" hreflang="en" tabindex="-1">Business Administration—General Business Concentration BA</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/business-administration%E2%80%94international-business-concentration-ba" hreflang="en" tabindex="-1">Business Administration—International Business Concentration BA</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/business-administration%E2%80%94management-concentration-ba" hreflang="en" tabindex="-1">Business Administration—Management Concentration BA</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/business-administration%E2%80%94management-information-systems-concentration-ba" hreflang="en" tabindex="-1">Business Administration—Management Information Systems Concentration BA</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/business-administration%E2%80%94marketing-concentration-ba" hreflang="en" tabindex="-1">Business Administration—Marketing Concentration BA</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/business-administration%E2%80%94operations-management-concentration-ba" hreflang="en" tabindex="-1">Business Administration—Operations Management Concentration BA</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/business-and-sustainability-ba" hreflang="en" tabindex="-1">Business and Sustainability BA</a></li>
              <li class="ln-b listNavShow quickSearchShow"><a href="/majors/business-and-sustainability-energy-studies-concentration" hreflang="en" tabindex="-1">Business and Sustainability — Energy Studies Concentration BA</a></li>
              <li class="ln-c listNavShow quickSearchShow"><a href="/majors/canadian-american-studies" hreflang="en" tabindex="-1">Canadian-American Studies </a></li>
              <li class="ln-c listNavShow quickSearchShow"><a href="/majors/chemistry-ba" hreflang="en" tabindex="-1">Chemistry BA</a></li>
              <li class="ln-c listNavShow quickSearchShow"><a href="/majors/chemistry-bs" hreflang="en" tabindex="-1">Chemistry BS</a></li>
              <li class="ln-c listNavShow quickSearchShow"><a href="/majors/chemistrybiology%E2%80%94secondary-bae" hreflang="en" tabindex="-1">Chemistry/Biology— Secondary BAE</a></li>
              <li class="ln-c listNavShow quickSearchShow"><a href="/majors/chemistrymathematics%E2%80%94secondary-bae" hreflang="en" tabindex="-1">Chemistry/Mathematics — Secondary BAE</a></li>
              <li class="ln-c listNavShow quickSearchShow"><a href="/majors/chemistryphysics%E2%80%94secondary-bae" hreflang="en" tabindex="-1">Chemistry/Physics—Secondary BAE</a></li>
              <li class="ln-c listNavShow quickSearchShow"><a href="/majors/chinese" hreflang="en" tabindex="-1">Chinese Language and Culture </a></li>
              <li class="ln-c listNavShow quickSearchShow"><a href="/majors/communication-sciences-and-disorders" hreflang="en" tabindex="-1">Communication Sciences and Disorders </a></li>
              <li class="ln-c listNavShow quickSearchShow"><a href="/majors/communication-studies" hreflang="en" tabindex="-1">Communication Studies </a></li>
              <li class="ln-c listNavShow quickSearchShow"><a href="/majors/computer-science" hreflang="en" tabindex="-1">Computer Science </a></li>
              <li class="ln-c listNavShow quickSearchShow"><a href="/majors/cybersecurity" hreflang="en" tabindex="-1">Cybersecurity </a></li>
              <li class="ln-d listNavShow quickSearchShow"><a href="/majors/dance" hreflang="en" tabindex="-1">Dance </a></li>
              <li class="ln-d listNavShow quickSearchShow"><a href="/majors/design" hreflang="en" tabindex="-1">Design </a></li>
              <li class="ln-e listNavShow quickSearchShow"><a href="/majors/early-childhood-education" hreflang="en" tabindex="-1">Early Childhood Education </a></li>
              <li class="ln-e listNavShow quickSearchShow"><a href="/majors/east-asian-studies" hreflang="en" tabindex="-1">East Asian Studies </a></li>
              <li class="ln-e listNavShow quickSearchShow"><a href="/majors/economics-ba" hreflang="en" tabindex="-1">Economics BA</a></li>
              <li class="ln-e listNavShow quickSearchShow"><a href="/majors/economicsaccounting-ba" hreflang="en" tabindex="-1">Economics/Accounting BA</a></li>
              <li class="ln-e listNavShow quickSearchShow"><a href="/majors/economicsmathematics-ba" hreflang="en" tabindex="-1">Economics/Mathematics BA</a></li>
              <li class="ln-e listNavShow quickSearchShow"><a href="/majors/economicssocial-studies-ba" hreflang="en" tabindex="-1">Economics/Social Studies BA</a></li>
              <li class="ln-e listNavShow quickSearchShow"><a href="/majors/electrical-engineering-bs" hreflang="en" tabindex="-1">Electrical and Computer Engineering BS</a></li>
              <li class="ln-e listNavShow quickSearchShow"><a href="/majors/elementary-education-professional-program-preprof" hreflang="en" tabindex="-1">Elementary Education Professional Program PreProf</a></li>
              <li class="ln-e listNavShow quickSearchShow"><a href="/majors/energy-studies" hreflang="en" tabindex="-1">Energy Studies </a></li>
              <li class="ln-e listNavShow quickSearchShow"><a href="/majors/english" hreflang="en" tabindex="-1">English </a></li>
              <li class="ln-e listNavShow quickSearchShow"><a href="/majors/environmental-science" hreflang="en" tabindex="-1">Environmental Science </a></li>
              <li class="ln-e listNavShow quickSearchShow"><a href="/majors/environmental-studies" hreflang="en" tabindex="-1">Environmental Studies </a></li>
              <li class="ln-e listNavShow quickSearchShow"><a href="/majors/exceptionality-disability" hreflang="en" tabindex="-1">Exceptionality &amp; Disability </a></li>
              <li class="ln-f listNavShow quickSearchShow"><a href="/majors/financial-economics-ba" hreflang="en" tabindex="-1">Financial Economics BA</a></li>
              <li class="ln-f listNavShow quickSearchShow"><a href="/majors/french" hreflang="en" tabindex="-1">French </a></li>
              <li class="ln-g listNavShow quickSearchShow"><a href="/majors/general-science%E2%80%94elementary-bae" hreflang="en" tabindex="-1">General Science—Elementary BAE</a></li>
              <li class="ln-g listNavShow quickSearchShow"><a href="/majors/general-science%E2%80%94middle-level-bae" hreflang="en" tabindex="-1">General Science—Middle Level BAE</a></li>
              <li class="ln-g listNavShow quickSearchShow"><a href="/majors/geographysocial-studies-ba" hreflang="en" tabindex="-1">Geography/Social Studies BA</a></li>
              <li class="ln-g listNavShow quickSearchShow"><a href="/majors/geography%E2%80%94elementary-bae" hreflang="en" tabindex="-1">Geography—Elementary BAE</a></li>
              <li class="ln-g listNavShow quickSearchShow"><a href="/majors/geology" hreflang="en" tabindex="-1">Geology </a></li>
              <li class="ln-g listNavShow quickSearchShow"><a href="/majors/geophysics-bs" hreflang="en" tabindex="-1">Geophysics BS</a></li>
              <li class="ln-g listNavShow quickSearchShow"><a href="/majors/german-ba" hreflang="en" tabindex="-1">German BA</a></li>
              <li class="ln-g listNavShow quickSearchShow"><a href="/majors/german-teaching-endorsement-ba" hreflang="en" tabindex="-1">German with a Teaching Endorsement BA</a></li>
              <li class="ln-g listNavShow quickSearchShow"><a href="/majors/germanspanish-ba" hreflang="en" tabindex="-1">German/Spanish BA</a></li>
              <li class="ln-g listNavShow quickSearchShow"><a href="/majors/german%E2%80%94elementary-bae" hreflang="en" tabindex="-1">German—Elementary BAE</a></li>
              <li class="ln-h listNavShow quickSearchShow"><a href="/majors/history-ba" hreflang="en" tabindex="-1">History BA</a></li>
              <li class="ln-h listNavShow quickSearchShow"><a href="/majors/historysocial-studies-ba" hreflang="en" tabindex="-1">History/Social Studies BA</a></li>
              <li class="ln-h listNavShow quickSearchShow"><a href="/majors/history%E2%80%94elementary-bae" hreflang="en" tabindex="-1">History—Elementary BAE</a></li>
              <li class="ln-h listNavShow quickSearchShow"><a href="/majors/human-services-ba" hreflang="en" tabindex="-1">Human Services BA</a></li>
              <li class="ln-h listNavShow quickSearchShow"><a href="/majors/humanities%E2%80%94history-culture-ba" hreflang="en" tabindex="-1">Humanities—History of Culture BA</a></li>
              <li class="ln-i listNavShow quickSearchShow"><a href="/majors/industrial-design" hreflang="en" tabindex="-1">Industrial Design </a></li>
              <li class="ln-i listNavShow quickSearchShow"><a href="/majors/interdisciplinary-concentration-ba" hreflang="en" tabindex="-1">Interdisciplinary Concentration BA</a></li>
              <li class="ln-i listNavShow quickSearchShow"><a href="/majors/interdisciplinary-concentration-law-diversity-justice-emphasis-ba" hreflang="en" tabindex="-1">Interdisciplinary Concentration: Law, Diversity &amp; Justice Emphasis BA</a></li>
              <li class="ln-j listNavShow quickSearchShow"><a href="/majors/japanese" hreflang="en" tabindex="-1">Japanese </a></li>
              <li class="ln-j listNavShow quickSearchShow"><a href="/majors/journalism" hreflang="en" tabindex="-1">Journalism </a></li>
              <li class="ln-k listNavShow quickSearchShow"><a href="/majors/kinesiology" hreflang="en" tabindex="-1">Kinesiology </a></li>
              <li class="ln-l listNavShow quickSearchShow"><a href="/majors/language-literacy-and-cultural-studies-bae" hreflang="en" tabindex="-1">Language, Literacy, and Cultural Studies BAE</a></li>
              <li class="ln-l listNavShow quickSearchShow"><a href="/majors/latin-american-studies" hreflang="en" tabindex="-1">Latin American Studies </a></li>
              <li class="ln-m listNavShow quickSearchShow"><a href="/majors/manufacturing-engineering-bs" hreflang="en" tabindex="-1">Manufacturing Engineering BS</a></li>
              <li class="ln-m listNavShow quickSearchShow"><a href="/majors/marine-coastal-science" hreflang="en" tabindex="-1">Marine and Coastal Science </a></li>
              <li class="ln-m listNavShow quickSearchShow"><a href="/majors/mathematics-ba" hreflang="en" tabindex="-1">Mathematics BA</a></li>
              <li class="ln-m listNavShow quickSearchShow"><a href="/majors/mathematics-bs" hreflang="en" tabindex="-1">Mathematics BS</a></li>
              <li class="ln-m listNavShow quickSearchShow"><a href="/majors/mathematics%E2%80%94elementary-education-bae" hreflang="en" tabindex="-1">Mathematics — Elementary Education BAE</a></li>
              <li class="ln-m listNavShow quickSearchShow"><a href="/majors/mathematics%E2%80%94secondary-education-bae" hreflang="en" tabindex="-1">Mathematics — Secondary Education BAE</a></li>
              <li class="ln-p listNavShow quickSearchShow"><a href="/majors/physical-education-and-health-p-12-bae" hreflang="en" tabindex="-1">Physical Education and Health P-12 BAE</a></li>
              <li class="ln-p listNavShow quickSearchShow"><a href="/majors/plastics-and-composites-engineering-bs" hreflang="en" tabindex="-1">Plastics and Composites Engineering BS</a></li>
              <li class="ln-p listNavShow quickSearchShow"><a href="/majors/chiropractic-preprof" hreflang="en" tabindex="-1">Pre-Chiropractic </a></li>
              <li class="ln-p listNavShow quickSearchShow"><a href="/majors/dentistry-preprof" hreflang="en" tabindex="-1">Pre-Dentistry </a></li>
              <li class="ln-p listNavShow quickSearchShow"><a href="/majors/law-preprof" hreflang="en" tabindex="-1">Pre-Law </a></li>
              <li class="ln-p listNavShow quickSearchShow"><a href="/majors/medicine-preprof" hreflang="en" tabindex="-1">Pre-Medicine </a></li>
              <li class="ln-p listNavShow quickSearchShow"><a href="/majors/nutrition-preprof" hreflang="en" tabindex="-1">Pre-Nutrition </a></li>
              <li class="ln-p listNavShow quickSearchShow"><a href="/majors/occupational-therapy-preprof" hreflang="en" tabindex="-1">Pre-Occupational Therapy </a></li>
              <li class="ln-p listNavShow quickSearchShow"><a href="/majors/pharmacy-preprof" hreflang="en" tabindex="-1">Pre-Pharmacy </a></li>
              <li class="ln-p listNavShow quickSearchShow"><a href="/majors/physical-therapy-preprof" hreflang="en" tabindex="-1">Pre-Physical Therapy </a></li>
              <li class="ln-p listNavShow quickSearchShow"><a href="/majors/veterinary-preprof" hreflang="en" tabindex="-1">Pre-Veterinary </a></li>
              <li class="ln-r listNavShow quickSearchShow"><a href="/majors/humanities%E2%80%94religion-and-culture-ba" hreflang="en" tabindex="-1">Religion and Culture BA</a></li>
              <li class="ln-s listNavShow quickSearchShow"><a href="/majors/secondary-education-preprof" hreflang="en" tabindex="-1">Secondary Education PreProf</a></li>
              <li class="ln-s listNavShow quickSearchShow"><a href="/majors/special-education-p-12-and-elementary-education-dual-endorsement-bae" hreflang="en" tabindex="-1">Special Education P-12 and Elementary Education (Dual Endorsement) BAE</a></li>
              <li class="ln-s listNavShow quickSearchShow"><a href="/majors/special-education%E2%80%94p-12-plus-content-endorsement-bae" hreflang="en" tabindex="-1">Special Education—P-12 Plus Content Endorsement BAE</a></li>
              <li class="ln-u listNavShow quickSearchShow"><a href="/majors/urban-sustainability" hreflang="en" tabindex="-1">Urban Sustainability </a></li>
              <li class="ln-w listNavShow quickSearchShow"><a href="/majors/women-gender-and-sexuality-studies" hreflang="en" tabindex="-1">Women, Gender, and Sexuality Studies </a></li>

    <li class="ln-no-match listNavHide listNavShow">No matching results.</li></ul>
