/**
 * @file
 * organisms/sections/card-list/_card-2col.scss
 */

.card-2col,
.card-2col--view .view-content {
  @include breakpoint($small) {
    grid-column-gap: $standard-spacing;
  }
  display: -ms-grid;
  display: grid;

  grid-column-gap: $half-spacing;
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
