/**
* @file
* 02-molecules/navigation/main-navigation/_main-navigation.scss
*/
.main-navigation,
#block-system-main-menu {
  @include breakpoint($medium) {
    position: initial;
    z-index: initial;
    width: initial;
    height: inherit;
    border-top: none;
  }
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  border-top: solid $darkest-blue $border-width--thinner;

  & > .menu,
  .ultimenu--horizontal,
  .ultimenu-main-menu {
    @include breakpoint($medium) {
      background-color: $blue;
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    background-color: initial;

    & > li {
      @include breakpoint($medium) {
        width: inherit;
        padding: $half-spacing;
        border-bottom: none;

        grid-template-columns: 1fr $icon-size--small;
      }
      display: grid;
      width: 100%;
      transition: $button-transition-speed background-color $standard-ease;
      border-bottom: $border-width--thinner solid $darkest-blue;
      border-left: none;

      grid-template-areas: "link icon"
      "flyout flyout";
      grid-template-columns: 1fr $toggle-size;
      grid-template-rows: auto auto;

      &:last-of-type {
        @include breakpoint($small) {
          margin-bottom: 0;
        }
        margin-bottom: 50vh;
      }

      & > a {
        @include breakpoint($large) {
          font-size: $menu-font-size--max;
        }
        @include breakpoint($medium) {
          display: flex;
          align-items: center;
          padding: $standard-spacing;
          padding-right: $icon-size--small + $standard-spacing;
          text-align: center;
          font-size: $menu-font-size;
        }
        position: relative;
        display: grid;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: $one-point-five-spacing;
        text-align: left;
        white-space: normal;
        text-decoration: none;
        color: $white;
        font-family: $condensed;
        font-size: $p-font-size;
        line-height: 1em;

        grid-column: 1 / span all;
        grid-row: 1 / span 1;

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          outline: none;
          background-color: transparent;
        }
      }


      &:hover,
      &:focus-within {
        @include breakpoint($medium) {
          background-color: $dark-blue;
        }
        background-color: $light-green;

        > a {
          @include breakpoint($medium) {
            color: $white;
          }
          color: $black;
        }

        .expand-icon.mobile {
          color: $black;
        }
      }

      &:focus-within {
        @include breakpoint($medium) {
          outline-color: $white;
        }
        outline: dotted $black $border-width;
        outline-offset: -$border-width;
      }

      .expand-icon {
        @include breakpoint($medium) {
          display: none;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $white;
        border: none;
        font-size: $icon-size--small;

        grid-area: icon;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;

        &.desktop {
          @include breakpoint($medium) {
            position: relative;
            right: $half-spacing;
            display: flex;
          }
          display: none;
        }

        &.mobile {
          @include breakpoint($medium) {
            display: none;
          }
        }
      }
    }
  }
}

#block-system-main-menu ul ul {
  display: none; // hide nested menus on non ultimenu main nav blocks
}
