/**
 * @file
 * 02-molecules/navigation/main-navigation/_main-navigation.scss
 */
.main-navigation,
#block-system-main-menu {
  @include breakpoint($medium) {
    position: initial;
    z-index: initial;
    height: inherit;
    min-height: 0;
    background: transparent;
    width: 100vw;
  }
  position: absolute;
  z-index: 2;
  height: 100vh;

  & > .menu,
  .ultimenu--horizontal,
  .ultimenu-main-menu {
    @include breakpoint($medium) {
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 0;
  }
}

#block-system-main-menu ul ul {
  display: none; // hide nested menus on non ultimenu main nav blocks
}
