/*------------------------------------------------------------------------------
Molecule: Main navigation/ultimenu custom styles
--------------------------------------------------------------------------------
1. Active link trail
2. Display preferences
------------------------------------------------------------------------------*/
.main-navigation,
#block-system-main-menu {
  @include breakpoint($small) {
    width: 100%;
    height: inherit;
  }

  grid-area: main-nav;
  border-top: solid var(--blue--darker--40) calc(0.4 * var(--border-width--sm));
  border-bottom: calc(0.4 * var(--border-width--sm)) solid transparent;
  font-family: var(--font--condensed);
  & > .menu,
  .ultimenu--horizontal {
    @include blue-bg;
    @include breakpoint($small) {
      background-color: var(--blue);
    }

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    background-color: var(--dark-blue);
    & > li {
      @include breakpoint($small) {
        flex: 1 1 min-content;
        grid-template-columns: 1fr var(--icon-size--xs);
        width: inherit;
        border-bottom: none;
      }
      @include breakpoint($medium) {
        flex: initial;
      }

      display: grid;
      grid-template-areas: "link icon"
      "flyout flyout";
      grid-template-columns: 1fr var(--toggle-size--sm);
      grid-template-rows: auto auto;
      width: 100%;
      border-bottom: var(--border-width--sm) solid var(--blue--darker--20);
      border-left: none;
      &:hover,
      &:focus-within {
        background-image: var(--gradient--vertical--light-blue);
        & > a,
        .expand-icon {
          color: var(--black);
        }
        .menu li {
          a:visited {
            &:hover,
            &:focus,
            &:active {
              color: var(--black);
            }
          }
        }
      }
      & > a {
        @include breakpoint($small) {
          display: flex;
          align-items: center;
          padding: var(--space--sm);
          padding-right: var(--icon-size--xs);
          text-align: center;
        }

        position: relative;
        grid-column: 1 / span all;
        grid-row: 1 / span 1;
        width: 100%;
        min-height: var(--touch-target--min);
        margin: 0;
        padding: var(--space--sm);
        transition: none;
        text-align: left;
        white-space: normal;
        text-decoration: none;
        font-weight: var(--font-weight--regular);
        line-height: 1;
        &:active,
        &:focus,
        &:hover {
          background-size: 0 0;
        }
      }
      .expand-icon {
        display: flex;
        grid-area: icon;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: none;
        font-size: var(--icon-size--xs);
        &.desktop {
          @include breakpoint($small) {
            display: flex;
          }

          display: none;
        }
        &.mobile {
          @include breakpoint($small) {
            display: none;
          }
        }
      }
      /*------------------------------------------------------------------------
      1. Active link trail
      ------------------------------------------------------------------------*/
      &.is-active-trail {
        @include breakpoint($small) {
          border-left: none;
          &:after {
            display: block;
            grid-column: 1 / span all;
            height: var(--border-width--lg);
            margin-top: calc(-1 * var(--border-width--lg));
            content: "";
            border-bottom: solid var(--border-width--md) transparent;
            background: var(--light-green--lighter--20);
            @media (forced-colors: active) {
              border-bottom-width: var(--border-width--lg);
            }
          }
        }

        border-left: solid var(--border-width--lg)
        var(--light-green--lighter--20);
      }
    }
  }
}
/*------------------------------------------------------------------------------
2. Display preferences
------------------------------------------------------------------------------*/
.font--dyslexia-friendly {
  .main-navigation,
  #block-system-main-menu {
    font-family: var(--font--dyslexia-friendly);
  }
}
.font--hyperlegible {
  .main-navigation,
  #block-system-main-menu {
    font-family: var(--font--hyperlegible);
  }
}
#block-system-main-menu ul ul {
  display: none; // hide nested menus on non ultimenu main nav blocks
}
