/**
* @file
* organisms/statistics-collection/statistics-collection.scss
*/

.statistics-collection--vertical,
.statistics-collection--side-by-side {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
