/*------------------------------------------------------------------------------
Atom: Text - Links
--------------------------------------------------------------------------------
1. Print Styles
------------------------------------------------------------------------------*/
a {
  padding: 0.1563rem 0;
  transition: background-size var(--transition-speed--fast)
      cubic-bezier(0.33, 0.66, 0.66, 1),
    text-decoration var(--transition-speed--fast) ease-out;
  text-decoration-color: var(--blue--lighter--60);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: var(--border-width--md);
  text-underline-offset: 0.3125rem;
  color: var(--blue--darker--20);
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 0;
  font-weight: var(--font-weight--semibold);

  &:visited {
    color: var(--purple);
  }

  &:active,
  &:focus,
  &:hover {
    text-decoration-color: var(--blue--lighter--60);
    color: var(--dark-blue);
    background-image: var(--gradient--vertical--light-blue);
    background-size: 100% 100%;

    &:visited {
      color: var(--dark-blue);
    }
  }

  &:focus {
    outline-style: dotted;
    outline-width: var(--border-width--md);
    outline-offset: var(--border-width--md);
  }

  @media (forced-colors: active) {
    &:hover,
    &:focus,
    &:active {
      outline-style: solid;
      outline-width: var(--border-width--md);
      outline-offset: calc(1.5 * var(--border-width--md));
    }

    &:focus {
      outline-style: dotted;
    }
 }

  &[target="_blank"],
  &[target="blank"] {
    .material-icons {
      position: relative;
      top: var(--space--md) / 3;
      left: 0.125rem;
      font-size: inherit;
    }
  }

  &[href$=".mp4"],
  &[href$=".mov"],
  &[href$=".flv"],
  &[href$=".mpg"],
  &[href$=".mpeg"] {
    &:after {
      content: " (video)";
    }
  }

  &[href$=".mp3"] {
    &:after {
      content: " (audio)";
    }
  }

  &[href$=".ai"] {
    &:after {
      content: " (Illustrator)";
    }
  }

  &[href$=".dwt"],
  &[href$=".css"],
  &[href$=".xml"] {
    &:after {
      content: " (web file)";
    }
  }

  &[href$=".psd"] {
    &:after {
      content: " (Photoshop)";
    }
  }

  &[href$=".eps"] {
    &:after {
      content: " (PostScript)";
    }
  }

  &[href$=".id"] {
    &:after {
      content: " (InDesign)";
    }
  }

  &[href$=".wmv"] {
    &:after {
      content: " (WMV)";
    }
  }

  &[href$=".swf"] {
    &:after {
      content: " (Flash)";
    }
  }

  &[href$=".doc"],
  &[href$=".docx"],
  &[href$=".dot"],
  &[href$=".docm"],
  &[href$=".dotx"],
  &[href$=".dotm"],
  &[href$=".odt"] {
    &:after {
      content: " (Word)";
    }
  }

  &[href$=".ppt"],
  &[href$=".pptx"],
  &[href$=".pptm"],
  &[href$=".potx"],
  &[href$=".potm"],
  &[href$=".ppam"],
  &[href$=".ppsx"],
  &[href$=".sldx"],
  &[href$=".sldm"],
  &[href$=".odp"] {
    &:after {
      content: " (PowerPoint)";
    }
  }

  &[href$=".xls"],
  &[href$=".xlsx"],
  &[href$=".xlsb"],
  &[href$=".xltm"],
  &[href$=".xlam"],
  &[href$=".xltx"],
  &[href$=".ods"] {
    &:after {
      content: " (Excel)";
    }
  }

  &[href$=".pdf"] {
    &:after {
      content: " (PDF)";
    }
  }
}

/*------------------------------------------------------------------------------
1. Print Styles
------------------------------------------------------------------------------*/
@media print {
  p a,
  ul a {
    word-break: break-all;
    page-break-inside: avoid;
    color: var(--dark-blue) !important;
  }
  p a[href^="http"]:after,
  ul a[href^="http"]:after {
    content: " [" attr(href) "] ";
    font-size: 10pt;
  }
}
