/*------------------------------------------------------------------------------
Molecule: Horizontal menus
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.menu {
  &.horizontal {
    display: flex;
    justify-content: center;

    li {
      border-left: none;
    }
  }
}
