<button class="toggle" role="button"><span class="material-icons">menu</span></button>
<button class="toggle" role="button"><span class="material-icons">search</span></button>
<button class="toggle" role="button"><span class="material-icons">close</span></button>
<button class="toggle" role="button"><span class="material-icons">chevron_right</span></button>
