<button class="toggle" role="button"><i class="material-icons">menu</i></button>
<button class="toggle" role="button"><i class="material-icons">search</i></button>
<button class="toggle" role="button"><i class="material-icons">close</i></button>
<button class="toggle" role="button"><i class="material-icons">chevron_right</i></button>
