/**
* @file
* 00-atoms/01-text/_asides.scss
*/

aside,
.aside,
.paragraph--type--majors-aside {
  margin: $standard-spacing 0;
  padding: $double-spacing;

  h2 {
    margin-bottom: $double-spacing;
    font-size: $h3-font-size;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0;
    }
  }  
}
