<aside>
  <h2>This is an aside</h2>

  <p>It has no background class, so it is a little boring =(</p>
</aside>

<aside class="light-blue-bg">
  <h2>This aside has a background class</h2>

  <p>You can use any of the following classes on your asides to highlight them: light-blue-bg, lightest-blue-bg, blue-bg, dark-blue-bg, light-gray-bg, lightest-gray-bg</p>
</aside>

<div class="aside dark-blue-bg">
  <h2>This aside is a faker</h2>

  <p>This aside is actually a div. It just has the class "aside." It can be used to get all of the padding of an aside, without causing semantic problems if the content is actually part of the main document information flow. It can still use the background classes! :D</p>
</div>
