<aside>
  <h2>This is an aside</h2>

  <p>I recommend you don't fire until you're within 40,000 kilometers. Smooth as an android's bottom, eh, Data? Talk about going nowhere fast.</p>
</aside>

<p>With class .dark-bg</p>

<aside class="dark-bg">
  <h2>This is an Aside</h2>

  <p>This should be interesting. Not if I weaken first. This is not about revenge. This is about justice.</p>
</aside>
