{% extends 'page.html.twig' %}

{% block content %}
<main id="main-content" tabindex="-1">
    <div class="text-align-center">
      <h1>403 Access Denied</h1>
      <p>You are not authorized to access this page. You may need to sign in, and/or use a secured connection.</p>    
  </div>
</main>
{% endblock %}