<h4>Call to Action Links</h4>
<p>To style a call to action link, add the class 'cta'</p>
<p>Note that we used to call this style, "links styled as buttons." We felt that this lead to confusion and miscommunication, especially with regards to accessibility, as buttons have a specific semantic role in HTML. The class 'button' will still work, but is deprecated. We</p>
<a href="#" class="cta">I'm a link!</a>

<h5>Style Options</h5>
<p>Links styled as calls to action have a number of classes that can be used to alter the style, shape, color, and size of the "cta". Defaults are filled, round, and blue. There are no classes for these defaults. Add any of the following classes to the &lt;a&gt; tag to customize your links. You can use any combination of these custom classes to produce a large number of possible link styles.</p>

<table style="width: initial;">
	<thead>
		<tr>
			<th scope="row">class(es) used</th>
      <th scope="col">(default)</th>
			<th scope="col">.outline</th>
			<th scope="col">.square</th>
			<th scope="col">.small</th>
			<th scope="col">.large</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">.light-blue</th>
      <td style="background-color: #002f5e"><a href="#" class="cta light-blue ">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="cta light-blue outline">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="cta light-blue square">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="cta light-blue small">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="cta light-blue large">Sample</a></td>
		</tr>
		<tr>
			<th scope="row">(default)</th>
      <td><a href="#" class="cta ">Sample <span class="material-icons" aria-hidden="true">spa</span></a></td>
			<td><a href="#" class="cta outline">Sample <span class="material-icons" aria-hidden="true">spa</span></a></td>
			<td><a href="#" class="cta square">Sample <span class="material-icons" aria-hidden="true">spa</span></a></td>
			<td><a href="#" class="cta small">Sample <span class="material-icons" aria-hidden="true">spa</span></a></td>
			<td><a href="#" class="cta large">Sample <span class="material-icons" aria-hidden="true">spa</span></a></td>
		</tr>
		<tr>
			<th scope="row">.dark-blue</th>
      <td><a href="#" class="cta dark-blue">Sample</a></td>
			<td><a href="#" class="cta dark-blue outline">Sample</a></td>
			<td><a href="#" class="cta dark-blue square">Sample</a></td>
			<td><a href="#" class="cta dark-blue small">Sample</a></td>
			<td><a href="#" class="cta dark-blue large">Sample</a></td>
		</tr>
		<tr>
			<th scope="row">.light-green</th>
      <td style="background-color: #002f5e"><a href="#" class="cta light-green">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="cta light-green outline">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="cta light-green square">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="cta light-green small">Sample</a></td>
			<td style="background-color: #002f5e"><a href="#" class="cta light-green large">Sample</a></td>
		</tr>
		<tr>
			<th scope="row">.green</th>
      <td><a href="#" class="cta green">Sample</a></td>
			<td><a href="#" class="cta green outline">Sample</a></td>
			<td><a href="#" class="cta green square">Sample</a></td>
			<td><a href="#" class="cta green small">Sample</a></td>
			<td><a href="#" class="cta green large">Sample</a></td>
		</tr>
		<tr>
			<th scope="row">.dark-green</th>
      <td><a href="#" class="cta dark-green">Sample</a></td>
			<td><a href="#" class="cta dark-green outline">Sample</a></td>
			<td><a href="#" class="cta dark-green square">Sample</a></td>
			<td><a href="#" class="cta dark-green small">Sample</a></td>
			<td><a href="#" class="cta dark-green large">Sample</a></td>
		</tr>
		<tr>
			<th scope="row">.white</th>
      <td style="background-color: #667986"><a href="#" class="cta white">Sample</a></td>
			<td style="background-color: #667986"><a href="#" class="cta white outline">Sample</a></td>
			<td style="background-color: #667986"><a href="#" class="cta white square">Sample</a></td>
			<td style="background-color: #667986"><a href="#" class="cta white small">Sample</a></td>
			<td style="background-color: #667986"><a href="#" class="cta white large">Sample</a></td>
		</tr>
	</tbody>
</table>
