/**
* @file
* sites/mabel/panes/_sort.scss
*/


.pane-islandora-solr-result-limit {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin-bottom: 8px;
}

.pane-islandora-solr-result-limit .pane-title {
  background: $lightest-gray;
  padding: 8px 16px;
  display: block;
}
.pane-islandora-solr-result-limit .pane-title:after {
  content: '›';
  float: right;
}

.pane-islandora-solr-result-limit .item-list {
  margin: 8px;
}



#islandora_solr_results_limit {
  margin-bottom: 0;
}



.pane-islandora-solr-sort {
  display: inline-block;
  vertical-align: top;
  width: 31%
}
.pane-islandora-solr-sort .pane-title {
  background: $lightest-gray;
  padding: 8px 16px;
  display: block;
  margin-bottom: 8px;
}

.pane-islandora-solr-sort .pane-title:after {
  content: '›';
  float: right;
}





.pane-islandora-solr-display-switch {
  display: inline-block;
  vertical-align: top;
  width: 31%
}

.pane-islandora-solr-display-switch .pane-title {
  background: $lightest-gray;
  padding: 8px 16px;
  display: block;
  margin-bottom: 8px;
}

.pane-islandora-solr-display-switch .pane-title:after {
  content: '›';
  float: right;
}
