/**
 * @file
 * atoms/forms/input/_input.scss
 */
$select-input-size: 28px;
$select-input-size--smaller: 24px;


input[type="search"] {
  appearance: none;
}

input[type="file"] {
  width: 100%;
  margin-bottom: $half-spacing;
}
