/**
 * @file
 * 01-atoms/icons/_icons.scss
 */

$icon-size: 2.25rem;
$icon-size--small: 1.125rem;
$icon-size--medium: 1.5rem;
$icon-size--large: 3rem;

html .material-icons {
  font-size: $icon-size;
}
