/**
 * @file
 * 00-atoms/00-global/color/_color-vars.scss
 */

// Shades of gray
$black: #1c2023;
$gray: #667986;
$light-gray: #e0e4e7;
$white: #fff;

// WWU brand colors
$dark-blue: #003f87;
$blue: #007ac8;
$dark-green: #006b3f;
$light-green: #bad80a;

// Almost brand colors
$darkest-blue: #002f5e;
$light-blue: #52bcff;
$green: #5da225;
$lightest-green: #d6e86c;

// Special Use Colors
$red: #cc2d30;
$yellow: #ffc61e;
$link-blue: #006EBB;
