/**
* @file
* 00-atoms/00-global/color/_color-used.scss
*/

// Text Colors
$text-color: $black;
$text-color-light: $white;

$link-color: $link-blue;
$link-color--hover: $green;
$link-color-light: $light-blue;
$link-color-light--hover: $light-green;

$heading-color: $dark-blue;
$heading-color-light: $light-green;

$default-button-color: $blue;

$warning-color: $yellow;
$alert-color: $red;

// An array of main wwu colors, useful for iterating over all colors
// contains (class-name, $color-variable, $text-color, $hover-color, $hover-text-color)
$wwu-colors: (
  (dark-blue, $dark-blue, $white, $blue, $white),
  (blue, $blue, $white, $dark-blue, $white),
  (dark-green, $dark-green, $white, $green, $white),
  (green, $green, $white, $dark-blue, $white),
  (light-green, $light-green, $black, $dark-blue, $white),
  (light-blue, $light-blue, $black, $white, $light-blue),
  (white, $white, $white, $white, $dark-blue)
);

// Amount to shade items by
$percent-change: 20%;
