/*------------------------------------------------------------------------------
Molecule: Schedule
--------------------------------------------------------------------------------
1. Dark mode
------------------------------------------------------------------------------*/

.block--schedule {
  .schedule-item {
    @include lightest-gray-bg;

    position: relative;
    margin-bottom: var(--space--sm);
    padding: var(--space--sm);
  }

  &.round-edges {
    .schedule-item {
      border-radius: var(--border-radius--rounder);

      a:hover:after,
      &:focus-within {
        border-radius: var(--border-radius--rounder);
      }

      a {
        color: inherit;
      }
    }
  }

  .schedule-heading {
    margin: var(--space--xs) 0;
    font-size: var(--font-size--lg);

    a {
      text-decoration: none;

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: calc(-1 * var(--border-radius--rounder));
        content: "";
        transition: var(--transition-speed--fast) var(--ease--standard)
          box-shadow;
        box-shadow: var(--shadow--soft);
      }

      &:active,
      &:hover,
      &:focus {
        color: inherit;
      }

      &:focus {
        outline: none;

        &:after {
          outline: dotted var(--border-width--md);
          outline-offset: var(--border-width--md);
        }
      }

      &:hover:after,
      &:focus-within {
        box-shadow: var(--shadow--soft--hover);
      }
    }
  }

  .time,
  .label {
    display: block;
    font-size: var(--font-size--lg);
    line-height: 1.2em;
  }

  .content {
    a {
      position: relative;
    }
  }

  div:nth-of-type(odd) .schedule-item {
    border-left: solid var(--blue) var(--border-radius--rounder);
  }

  div:nth-of-type(even) .schedule-item {
    border-left: solid var(--blue--lighter--40) var(--border-radius--rounder);
  }
}

/*------------------------------------------------------------------------------
1. Dark mode
------------------------------------------------------------------------------*/
.dark-mode {
  .block--schedule {
    .schedule-item {
      @include gray-bg;
    }

    .schedule-heading {
      a:active,
      a:focus,
      a:hover {
        color: var(--blue--lighter--80);
      }
    }
  }
}
