/**
* @file
* organisms/sections/card-list/_card-row.scss
*/
$card-height--medium: 200px;
$card-height--large: 300px;

.card-row,
.card-row .view-content {
  @include breakpoint($small) {
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;

  .card {
    @include breakpoint($small) {
      flex: 0 1 33.333%;
      max-width: 33.333%;
    }
    margin: $half-spacing;
    padding: 0;
    padding-bottom: $standard-spacing;

    .image {
      @include breakpoint($large) {
        height: $card-height--large;
      }
      width: 100%;
      height: $card-height--medium;

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    .taxonomy-terms {
      padding: 0 $half-spacing;
    }

    .title,
    .body {
      padding: 0 $half-spacing;

      a:hover,
      a:focus,
      &:active {
        color: $dark-blue;
        outline: none;
        background: none;
      }
    }

    &:nth-last-child(odd) {
      @extend %lightest-gray-bg;
      @include breakpoint($small) {
        background-color: $white;
      }
    }

    &:nth-last-child(even) {
      @extend %light-gray-bg;
    }

    .taxonomy-term {
      @extend .taxonomy-term;
    }
  }
}
