  /**
 * @file
 * organisms/sections/card-list/_card-row.scss
 */

.card-row,
.card-row .view-content {
  @include breakpoint($small) {
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;

  .card {
    flex: 1;
    padding-bottom: $half-spacing;

    .taxonomy-terms,
    .title,
    .body {
      padding: 0 $half-spacing;
    }

    &:nth-last-child(odd) {
      @include breakpoint($small) {
        background-color: $white;
      }
      background-color: mix($white, $light-gray, 70%);
    }

    &:nth-last-child(even) {
      background-color: $light-gray;
    }
  }
}
