/*------------------------------------------------------------------------------
Molecule: Forms - Checkbox
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.checkbox,
.radio {
  position: relative;
  margin-bottom: var(--space--xs);
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  margin: 0;
  padding: 0;
  opacity: 0;
  border: 0;
  outline: 0;

  + label {
    position: relative;
    display: inline-block;
    align-self: center;
    margin: 0;
    margin-left: var(--checkbox-size);
    padding-left: var(--space--xs);
    font-weight: var(--font-weight--regular);
    line-height: var(--checkbox-size);

    &:before {
      position: absolute;
      left: 0;
      display: grid;
      justify-items: center;
      align-items: center;
      box-sizing: border-box;
      width: var(--checkbox-size);
      height: var(--checkbox-size);
      content: "";
      transform: translatex(-100%);
      border-width: var(--border-width--md);
      border-style: solid;
      border-color: var(--gray--lighter--60);
      background-color: var(--gray--lighter--80);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: calc(var(--checkbox-size) / 1.5);
    }
  }

  &:focus {
    + label {
      &:before {
        border-color: var(--blue--lighter--40);
        box-shadow: var(--shadow--soft);
        outline: 3px dotted transparent;
        outline-offset: calc(0.2 * var(--space--sm));
      }
    }
  }
}

input[type="checkbox"] {
  &:checked {
    + label {
      &:before {
        background-image: var(--checkmark-image);
      }
    }

    @media (forced-colors: active) {
      border: 2px solid LinkText;

      + label {
        color: LinkText;

        &::before {
          background-color: LinkText;
        }
      }
    }
  }
}
