<div class="checkbox">
  <input type="checkbox" id="checkbox-option1" name="checkbox" value="First"> <label for="checkbox-option1">Option One</label>
</div>
<div class="checkbox">
  <input type="checkbox" id="checkbox-option2" name="checkbox" value="Second"> <label for="checkbox-option2">Option Two</label>
</div>
<div class="checkbox">
  <input type="checkbox" id="checkbox-option3" name="checkbox" value="Third"> <label for="checkbox-option3">Option Three</label>
</div>
