<div class="block--image-button">
  <a href="#" class="image button"><img src="../../images/pattern-lab/button-image-01.jpg" alt="a group of people stands in Red Square between the fountain and Miller Hall">Image Button</a>
</div>
<div class="block--image-button">
  <a href="#" class="image button icon"><img src="../../images/pattern-lab/button-image-01.jpg" alt="a group of people stands in Red Square between the fountain and Miller Hall">Image Button with Icon</a>
</div>
