/*------------------------------------------------------------------------------
Molecule: Forms - Radios
--------------------------------------------------------------------------------
Radios share most styles with Checkboxes, see checkbox.scss for more
------------------------------------------------------------------------------*/

input[type="radio"] {
  + label {
    &:before {
      border-radius: 50%;
    }
  }
  &:checked {
    + label {
      &:before {
        background-image: url("../images/forms/radio.png");
      }
    }
  }
}
