/*------------------------------------------------------------------------------
Molecule: Search
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
wwu-search {
  label {
    display: inline;
    padding: 0 var(--space--xs);
    font-weight: var(--font-weight--regular);
  }
}
