/*------------------------------------------------------------------------------
Molecule: Search
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.wwu-search {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  padding: var(--space--lg);
  background-color: var(--blue--lighter--80);
  .search-form {
    display: grid;
    grid-auto-flow: row;
    max-width: var(--content-area-max-width);
    margin: auto;
  }
  .search-label {
    margin-bottom: var(--space--md);
    text-align: center;
    color: var(--dark-blue);
    font-size: var(--font-size--xl);
  }
  #search-box {
    text-align: center;
    border: none;
    border-bottom: var(--dark-blue) var(--border-width--md) solid;
    border-radius: 0;
    background-color: transparent;
    font-size: var(--font-size--lg);
    &:focus {
      outline-color: var(--white);
      box-shadow: none;
    }
  }
  .search-selection {
    display: flex;
    flex-flow: row wrap;
    gap: var(--space--md);
    justify-content: center;
    border: none;
    font-size: var(--font-size--sm);
  }
  .submit-search {
    width: 6em;
    margin: auto;
    padding: var(--space--sm);
    border-radius: 0;
  }
}
.search-open {
  .wwu-search {
    display: block;
  }
}
.toggle-search {
  --button-background-color: transparent;
  --button-background-color--active: var(--blue);
  --button-color: var(--blue);

  position: relative;
  z-index: 2;
  display: grid;
  grid-auto-flow: row;
  width: var(--toggle-size);
  height: var(--toggle-size);
  margin: var(--space--md);
  margin-right: 0;
  border-radius: 50%;
  box-shadow: none;
  font-size: var(--font-size--xs);
  svg {
    width: 2rem;
    height: 2rem;
    margin: calc(-1 * var(--space--xs));
    margin-bottom: calc(-1 * var(--space--sm));
  }
  &[aria-expanded="true"] {
    color: var(--white);
    background-color: var(--blue);
  }
}
