/*------------------------------------------------------------------------------
Molecule: Search
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@import "../../01-atoms/background-color/_background-color-mixins.scss";
.wwu-search {
  @include lightest-blue-bg;

  position: absolute;
  top: calc(-1 * var(--space--xs));
  left: 0;
  display: none;
  width: 100vw;
  padding: var(--space--lg);
  .search-form {
    display: grid;
    grid-auto-flow: row;
    max-width: var(--content-area-max-width);
    margin: auto;
  }
  .search-label {
    margin-bottom: var(--space--md);
    text-align: center;
    color: var(--h2-color);
    font-size: var(--font-size--xl);
  }
  #search-box {
    text-align: center;
    border: none;
    border-bottom: var(--h2-color) var(--border-width--md) solid;
    border-radius: 0;
    background-color: transparent;
    font-size: var(--font-size--lg);
    &:focus {
      outline-color: var(--blue);
      box-shadow: none;
    }
  }
  .search-selection {
    display: flex;
    flex-flow: row wrap;
    gap: var(--space--md);
    justify-content: center;
    border: none;
    font-size: var(--font-size--sm);
  }
  .submit-search {
    width: 6em;
    margin: auto;
    padding: var(--space--sm);
    border-radius: 0;
  }
}
.search-open {
  .wwu-search {
    display: block;
  }
}
.toggle-search {
  --button-background-color: transparent;
  --button-background-color--active: var(--blue);
  --button-color: var(--blue);

  position: relative;
  z-index: 2;
  display: grid;
  grid-auto-flow: row;
  width: var(--toggle-size);
  height: var(--toggle-size);
  margin: var(--space--md);
  margin-right: 0;
  border-radius: 50%;
  box-shadow: none;
  font-size: var(--font-size--2xs);
  svg {
    width: 2rem;
    height: 2rem;
    margin: calc(-1 * var(--space--xs));
    margin-bottom: calc(-1 * var(--space--sm));
  }
  &[aria-expanded="true"] {
    color: var(--white);
    background-color: var(--blue);
  }
}
[data-theme="dark"] {
  .wwu-search {
    @include dark-blue-bg;
  }
  .toggle-search {
    --button-color: var(--white);
  }
}
