/*------------------------------------------------------------------------------
Molecule: Search
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.search-area {
  display: grid;
  grid-template-columns: 1fr 8rem;
  grid-template-rows: auto auto;
}
.search-label {
  grid-column: 1/span all;
  font-size: var(--font-size--lg);
}
#search-box {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: var(--space--sm);
  border-width: var(--border-width--lg);
  border-radius: 0;
  font-size: var(--font-size--xl);
}
.submit-search {
  place-content: center;
  height: 100%;
  border-radius: 0;
  font-size: var(--font-size--2xl);
}
.search-selection {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--space--lg);
  margin-top: var(--space--md);
  font-size: var(--font-size--sm);
}
