/*------------------------------------------------------------------------------
Atom: Buttons
--------------------------------------------------------------------------------
These are true buttons. For links that are styled to look similar to buttons,
see Atom - Links - Button Styled
------------------------------------------------------------------------------*/
button,
input[type="submit"] {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: var(--space--xs);
  place-items: center;
  margin: 0 var(--space--sm) var(--space--sm) 0;
  padding: var(--space--xs);
  transition: background var(--transition-speed--fast),
  color var(--transition-speed--fast);
  color: var(--black);
  border: none;
  border-radius: var(--border-radius--rounder);
  outline: var(--border-width--md) solid transparent;
  background: var(--gray--lighter--80);
  box-shadow: var(--shadow--soft);
  font-family: var(--font--sans-serif);
  font-size: var(--font-size--md);
  &:active,
  &:hover,
  &:focus {
    color: var(--white);
    background: var(--gray);
    box-shadow: var(--shadow--soft--hover);
  }
  &:active,
  &:focus {
    outline: var(--border-width--md) dotted;
    outline-color: var(--link-color);
    outline-offset: var(--border-width--md);
  }
  &.alt {
    color: var(--white);
    background: var(--blue);
    &:hover,
    &:focus {
      background: var(--dark-blue);
    }
  }
  &.warning {
    color: var(--black);
    background: var(--yellow);
    &:active,
    &:hover,
    &:focus {
      background: var(--yellow--lighter--40);
    }
  }
  &:disabled {
    color: var(--gray--darker--40);
    background: var(--gray--lighter--60);
  }
  .material-icons {
    font-size: var(--font-size--md);
  }
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: default;
}
