/**
* @file
* 01-atoms/logo/_logo.scss
*/
$logo-size: 150px;
$logo-size--larger: 246px;

$logo-width--horizontal: 400px;
$logo-height--horizontal: 100px;

.logo {
  @include breakpoint($medium) {
    width: $logo-size;
    height: $logo-size;
  }
  width: $logo-size;
  height: $logo-size;
  padding: $standard-spacing;
  background-color: $dark-blue;

  &.horizontal {
    width: $logo-width--horizontal;
    height: $logo-height--horizontal;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &.full-color,
  &.grayscale,
  &.black {
    background-color: $white;
  }

  &.reversed {
    background-color: $black;
  }

  &.make-waves {
    @include breakpoint($medium) {
      width: $logo-size;
      height: $logo-size;
    }
    width: $logo-size;
    height: $logo-size;
  }

  .cls-1 {
    fill: $dark-blue;
  }

  .cls-2 {
    fill: $blue;
  }

  .cls-3 {
    fill: $black;
  }

  .cls-4 {
    fill: #808285;
  }

  .cls-5 {
    fill: $white;
  }
}
