/*------------------------------------------------------------------------------
Atom: Logo
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.logo {
  width: var(--logo-size);
  height: var(--logo-size);

  &.horizontal {
    width: var(--logo--horizontal--width);
    height: var(--logo--horizontal--height);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
