/*------------------------------------------------------------------------------
Templates: Sites - Catalog
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.acalog {
  body {
    margin: 0;
  }

  #acalog-client-header {
    .display-settings {
      display: none;
    }
  }
}
