<div class="region region--footer_right">
  <h2>University Online Catalog</h2>
  <p>
    <span>Jamie Lawson</span><br>
    <span>Catalog and Curriculum Coordinator</span><br>
    <a href="tel:+3606506238">360-650-6238</a><br>
    <a href="mailto:Jamie.Lawson@wwu.edu">Jamie.Lawson@wwu.edu</a>
  </p>
</div>
