<nav class="main-navigation" aria-label="Main">
  <ul class="ultimenu ultimenu--horizontal ultimenu--htb ultimenu--basic">
    <li class="ultimenu__item">
      <a href="https://catalog.wwu.edu/" class="ultimenu__link">Home</a>
    </li>

    <li class="ultimenu__item">
      <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4809" class="ultimenu__link">Courses</a>
    </li>

    <li class="ultimenu__item has-ultimenu">
      <span class="material-icons expand-icon mobile" aria-hidden="true">
        keyboard_arrow_right
      </span>
      <span class="material-icons expand-icon desktop" aria-hidden="true">
        keyboard_arrow_down
      </span>
      <a href="#" class="ultimenu__link">
        Programs/Majors
      </a>

      <section class="ultimenu__flyout">
        <div class="ultimenu__region">
          <div class="ultimenusub">
            <ul class="menu">
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4807">
                  Programs of Study
                </a>
              </li>
              <li class="menu-item">
                <a href="">
                  Programs by Degree Type
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4833">
                  Health Professions
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4784">
                  All-University Programs
                </a>
            </ul>
          </div>
        </div>
      </section>
    </li>

    <li class="ultimenu__item">
      <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4785" class="ultimenu__link">Departments</a>
    </li>

    <li class="ultimenu__item has-ultimenu">
      <span class="material-icons expand-icon mobile" aria-hidden="true">
        keyboard_arrow_right
      </span>
      <span class="material-icons expand-icon desktop" aria-hidden="true">
        keyboard_arrow_down
      </span>
      <a href="#" class="ultimenu__link">
        Colleges
      </a>

      <section class="ultimenu__flyout">
        <div class="ultimenu__region">
          <div class="ultimenusub">
            <ul class="menu">
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4810">
                  College of Business & Economics
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4812">
                  College of Fine & Performing Arts
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4814">
                  College of Humanities & Social Sciences
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4816">
                  College of Science & Engineering
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4816">
                  Fairhaven College of Interdisciplinary Studies
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4815">
                  Huxley College of the Environment
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4817">
                  Woodring College of Education
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4808">
                  University Interdisciplinary Programs
                </a>
              </li>
            </ul>
          </div>

          <div class="block--menu">
            <ul class="menu">
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4805">
                  Outreach and Continuing Education
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4787">
                  Western Libraries
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4813">
                  Graduate School
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </li>

    <li class="ultimenu__item">
      <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4783" class="ultimenu__link">Academic Policies</a>
    </li>

    <li class="ultimenu__item has-ultimenu">
      <span class="material-icons expand-icon mobile" aria-hidden="true">
        keyboard_arrow_right
      </span>
      <span class="material-icons expand-icon desktop" aria-hidden="true">
        keyboard_arrow_down
      </span>
      <a href="#" class="ultimenu__link">
        General Education
      </a>
      <section class="ultimenu__flyout">
        <div class="ultimenu__region">

          <div class="ultimenusub">
            <ul class="menu">
              <li class="menu-item">
                <a href="">
                  2021-2022 General University Requirements
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4802#General_University_Requirements__GURs__at_Western_Washington_University">
                  GURs at Western
                </a>
              </li>
            </ul>
          </div>


        </div>
      </section>
    </li>

    <li class="ultimenu__item has-ultimenu">
      <span class="material-icons expand-icon mobile" aria-hidden="true">
        keyboard_arrow_right
      </span>
      <span class="material-icons expand-icon desktop" aria-hidden="true">
        keyboard_arrow_down
      </span>
      <a href="#" class="ultimenu__link">
        Student Services
      </a>
      <section class="ultimenu__flyout">
        <div class="ultimenu__region">

          <div class="ultimenusub">
            <ul class="menu">
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4802">
                  University Graduation Requirements
                </a>
              </li>
              <li class="menu-item">
                <a href="https://admissions.wwu.edu/cost">
                  Tuition and Fees
                </a>
              </li>
              <li class="menu-item">
                <a href="https://www.wwu.edu/financial-aid">
                  Financial Aid
                </a>
              </li>
              <li class="menu-item">
                <a href="https://admissions.wwu.edu/">
                  Undergraduate Admission
                </a>
              </li>
              <li class="menu-item">
                <a href="https://registrar.wwu.edu/">
                  Registration
                </a>
              </li>
              <li class="menu-item">
                <a href="https://vpess.wwu.edu/">
                  Enrollment and Student Services
                </a>
              </li>
              <li class="menu-item">
                <a href="https://housing.wwu.edu/">
                  University Residences
                </a>
              </li>
            </ul>
          </div>

        </div>
      </section>
    </li>

    <li class="ultimenu__item has-ultimenu">
      <span class="material-icons expand-icon mobile" aria-hidden="true">
        keyboard_arrow_right
      </span>
      <span class="material-icons expand-icon desktop" aria-hidden="true">
        keyboard_arrow_down
      </span>
      <a href="#" class="ultimenu__link">
        Tools
      </a>

      <section class="ultimenu__flyout">
        <div class="ultimenu__region">
          <div class="ultimenusub">
            <ul class="menu">
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4774">
                  About
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4804">
                  Appendices
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/content.php?catoid=18&navoid=4803">
                  Archived Catalogs
                </a>
              </li>
              <li class="menu-item">
                <a href="https://catalog.wwu.edu/portfolio_nopop.php?catoid=18">
                  My Portfolio
                </a>
              </li>
              <li class="menu-item">
                <a href="https://admin.wwu.edu/pls/wwis/wwsktime.SelClass">
                  Classfinder
                </a>
              </li>
              <li class="menu-item">
                <a href="https://mywestern.wwu.edu/mywestern/f/u17l1s4/normal/render.uP">
                  myWestern
                </a>
              </li>
              <li class="menu-item">
                <a href="https://admin.wwu.edu/pls/wwis/wwskcfnd.TimeTable">
                  Timetable
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </li>

  </ul>
</nav>
