/*------------------------------------------------------------------------------
Molecule: Forms - User Login
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.user-login-form {
  display: flex;
  flex-flow: column;
  width: 50%;
  margin: auto;
  padding: var(--space--md);

  .cas-login-link {
    @extend .cta, .square;

    margin: 0;
    order: -1;
  }

  .manual-login {
    margin-bottom: var(--space--md);
    width: 50%;
  }

  .textfield,
  .password,
  .form-actions {
    display: none;
  }
}

.dark-mode {
  .user-login-form {
    .cas-login-link:not([class*="cta"]):not([class*="button"]) {
      color: var(--white);
    }
  }
}
