/**
* @file
* molecules/forms/user-login/_user-login.scss
* Additional styles for the user login form
*/
.user-login-form {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-areas:
  "login manual ."
  "username  username ."
  "password  password ."
  "submit  submit .";

  grid-column-gap: $double-spacing;

  -ms-grid-rows: auto auto auto auto;
  -ms-grid-columns: 2fr $double-spacing 1fr $double-spacing 2fr;

  .manual-login {
    background-color: $dark-blue;
    color: $white;
    grid-area: manual;

    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;

    &:focus, &:hover, &:active {
      @include button-box-shadow($blue);
      background-color: $white;
      color: $blue;
      border-color: $blue;
    }
  }
  .cas-login-link {
    margin: 0;
    @extend
      .button,
      .dark-blue,
      .square;
    grid-area: login;

    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
  }
  .cancel-cas {
    grid-area: cancel;

    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
  }

  .textfield {
    grid-area: username;

    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
  }
  .password {
    grid-area: password;

    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
  }
  .form-actions {
    grid-area: submit;
    justify-self: end;

    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
  }

  .textfield,
  .password,
  .form-actions {
    display: none;
  }
}
