{#
/**
 * @see templates/form/form.html.twig
 */
#}
<form{{ attributes }}>
  <button class="manual-login dark-blue" aria-label="Show the Drupal login form">Manual Login</button>
  {{ children }}
</form>
