/*------------------------------------------------------------------------------
Molecule: Breadcrumbs
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.breadcrumb {
  margin-top: var(--space--sm);
  font-size: var(--font-size--sm);

  ol {
    padding: 0;
    list-style: none;

    li {
      display: inline-flex;
      align-items: center;
      gap: var(--space--xs);

      &:last-child {
        font-weight: var(--font-weight--bold);
      }

      .material-icons {
        font-size: inherit;
        margin-right: var(--space--2xs);
      }
    }
  }
}
