/*------------------------------------------------------------------------------
Atom: Tables
--------------------------------------------------------------------------------
1. Base Styles
2. Responsive table container
3. Alternates
4. Dark Mode
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
1. Base Styles
------------------------------------------------------------------------------*/
@mixin color-table($light-rows, $dark-rows, $light-headers, $dark-headers) {
  tr {
    &:nth-of-type(odd) {
      background-color: $light-rows;
    }
    &:nth-of-type(even) {
      background-color: $dark-rows;
    }
  }

  td {
    border-left-color: $light-rows;
  }

  th {
    background-color: $light-headers;

    &[colspan],
    &[rowspan] {
      background-color: $dark-headers;
    }

    &:after {
      background-color: $light-headers;
    }
  }
}

[class$="-bg"] table,
table {
  --table-blue: #cce4f4;
  --table-blue--darker--10: #b1cfe6;
  --table-blue--darker--15: #99bbd9;
  --table-blue--darker--5: #e6f2fa;
  --table-gray: #f5f6f7;
  --table-gray--darker--10: #dcddde;
  --table-gray--darker--15: #d0d1d2;
  --table-gray--darker--20: #c4c5c6;
  --table-gray--darker--25: #b8b8b9;
  --table-gray--darker--5: #e9e9ea;
  --table-gray--darker--50: #7a7b7b;
  --table-gray--darker--55: #6e6f6f;
  --table-gray--darker--60: #626263;
  --table-gray--darker--65: #565656;
  --table-gray--darker--70: #49494a;
  --table-gray--darker--75: #3d3e3e;

  @include light-gray-bg;
  @include color-table(
    var(--table-gray),
    var(--table-gray--darker--5),
    var(--table-gray--darker--10),
    var(--table-gray--darker--15)
  );

  grid-template-columns: auto;
  width: 100%;
  margin: var(--space--md) 0;
  table-layout: auto;
  word-wrap: break-word;
  color: var(--black);
  border-collapse: collapse;

  &.fixed {
    table-layout: auto;
  }

  a {
    line-height: 1.2rem;

    &:hover,
    &:focus,
    &:active {
      &:visited {
        color: var(--purple--lighter--80);
      }
    }
  }
}

.fixed {
  table {
    table-layout: fixed;
  }
}

caption {
  padding-bottom: var(--space--md);
  font-size: var(--font-size--sm);
  font-weight: var(--font-weight--bold);
}

tr,
td,
th {
  vertical-align: middle;
}

tr {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;

  &.even,
  &.odd {
    border-bottom: none;
  }
}

th {
  padding: var(--space--xs);
  text-align: left;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  font-size: var(--font-size--sm);

  &[colspan],
  &[rowspan] {
    position: relative;

    &:after {
      position: absolute;
      z-index: 1;
      height: 100%;
      content: "";
    }
  }

  &[colspan] {
    text-align: center;
    &:after {
      @include breakpoint($medium) {
        right: -var(--border-width--md) --thicker - 0.0625rem;
        width: var(--border-width--md) --thicker;
      }

      top: 0;
      right: -var(--border-width--md) - 0.0625rem;
      width: var(--border-width--md);
    }
  }

  &[rowspan] {
    &:after {
      @include breakpoint($medium) {
        bottom: 0;
        height: var(--border-width--md) --thicker;
      }

      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--border-width--md);
    }
  }
}

td {
  @include breakpoint($medium) {
    border-width: var(--border-width--md) --thicker;
  }

  padding: var(--space--xs);
  border-width: var(--border-width--md);
  border-top: none;
  border-bottom: none;
  border-left: solid;
  font-size: var(--font-size--sm);
  line-height: 1.45rem;

  &:first-of-type {
    border-left: none;
  }

  &:last-of-type {
    border-right: var(--border-width--md) solid var(--table-gray--lighter);
  }
}

/*------------------------------------------------------------------------------
2. Responsive table container
------------------------------------------------------------------------------*/
.responsive-table {
  @include breakpoint($medium) {
    overflow-x: revert;
  }

  overflow-x: scroll;

  table {
    @include breakpoint($medium) {
      width: 100%;
    }

    width: auto;
  }

  caption {
    @include breakpoint($medium) {
      text-align: center;
    }

    text-align: left;
  }
}

/*------------------------------------------------------------------------------
3. Alternates
------------------------------------------------------------------------------*/
.light-blue {
  @include color-table(
    var(--table-blue),
    var(--table-blue--darker--5),
    var(--table-blue--darker--10),
    var(--table-blue--darker--15)
  );
}

.lightest-gray {
  @include color-table(
    var(--white),
    var(--table-gray),
    var(--table-gray--darker--5),
    var(--table-gray--darker--10)
  );
}

.align-top {
  td,
  th {
    vertical-align: top;
  }
}

.align-bottom {
  td,
  th {
    vertical-align: bottom;
  }
}

.font-size--smaller {
  td {
    padding: var(--space--2xs);
    font-size: var(--font-size--sm);
  }

  th {
    padding: var(--space--2xs);
    font-size: var(--font-size--md);
  }
}

/*------------------------------------------------------------------------------
4. Dark Mode
------------------------------------------------------------------------------*/
.dark-mode {
  @include color-table(
    var(--table-gray--darker--60),
    var(--table-gray--darker--65),
    var(--table-gray--darker--70),
    var(--table-gray--darker--75)
  );

  table {
    @include gray-bg;

    &.lightest-gray {
      @include gray-bg;
      @include color-table(
        var(--table-gray--darker--50),
        var(--table-gray--darker--55),
        var(--table-gray--darker--60),
        var(--table-gray--darker--65)
      );
    }

    &.light-blue {
      @include blue-bg;
      @include color-table(
        var(--blue),
        var(--blue--darker--20),
        var(--blue--darker--40),
        var(--blue--darker--60)
      );

      td:last-of-type {
        border-right: none;
      }
    }
  }
}
