/**
* @file
* 01-atoms/tables/_tables.scss
*/

@mixin color-table($light-headers, $dark-headers, $light-rows, $dark-rows) {
  tr {
    &:nth-of-type(odd) {
      background-color: $light-rows;
    }
    &:nth-of-type(even) {
      background-color: $dark-rows;
    }
  }

  td {
    border-left-color: $light-rows;
  }

  th {
    background-color: $light-headers;

    &[colspan],
    &[rowspan] {
      background-color: $dark-headers;
    }

    &:after {
      background-color: $light-headers;
    }
  }
}

table {
  @include color-table(mix(black, $light-gray, 13%), mix(black, $light-gray, 25%), $light-gray, $lightest-gray);
  width: 100%;
  margin: $standard-spacing 0;
  table-layout: fixed;
  word-wrap: break-word;
  border-collapse: collapse;

  a:not([class]) {
    color: $darkest-blue;

    &:hover,
    &:active,
    &:focus {
      color: $darkest-blue;
    }
  }

  &.auto-layout {
    table-layout: auto;
  }
}

.auto-layout {
  table {
    table-layout: auto;
  }
}

caption {
  padding-bottom: $standard-spacing;
  font-size: $p-font-size--smaller;
  font-weight: $font-weight--bold;
}

tbody {
  border: none;
}

tr,
td,
th {
  vertical-align: middle;
}

tr {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  &.even,
  &.odd {
    border-bottom: none;
  }
}

th {
  padding: $half-spacing;
  text-align: left;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  font-size: $p-font-size--smaller;

  &[colspan],
  &[rowspan] {
    position: relative;

    &:after {
      position: absolute;
      z-index: 1;
      height: 100%;
      content: "";
    }
  }

  &[colspan] {
    text-align: center;
    &:after {
      @include breakpoint($medium) {
        right: -$border-width--thicker - 0.0625rem;
        width: $border-width--thicker;
      }
      top: 0;
      right: -$border-width - 0.0625rem;
      width: $border-width;
    }
  }

  &[rowspan] {
    &:after {
      @include breakpoint($medium) {
        bottom: 0;
        height: $border-width--thicker;
      }
      bottom: 0;
      left: 0;
      width: 100%;
      height: $border-width;
    }
  }
}

td {
  @include breakpoint($medium) {
    border-width: $border-width--thicker;
  }
  padding: $half-spacing;
  border-width: $border-width;
  border-top: none;
  border-bottom: none;
  border-left: solid;
  font-size: $p-font-size--smaller;

  &:first-of-type {
    border-left: none;
  }

  &:last-of-type {
    border-right: $border-width solid $lightest-gray;
  }
}

.align-top {
  td,
  th {
    vertical-align: top;
  }
}

.align-bottom {
  td,
  th {
    vertical-align: bottom;
  }
}

.font-size--smaller {
  td {
    font-size: $min-base-font-size;
  }

  th {
    font-size: $max-base-font-size--smaller;
  }
}

.light-blue {
  @include color-table(mix($dark-blue, $light-bg-blue, 13%), mix($dark-blue, $light-bg-blue, 25%), $light-bg-blue, $lightest-bg-blue);
}

.lightest-gray {
  @include color-table(mix($black, $lightest-gray, 10%), mix($black, $lightest-gray, 15%), $white, $lightest-gray);
}


/* Responsive table on small devices */
.responsive-table {
  @include breakpoint($medium) {
    overflow-x: revert;
  }
  overflow-x: scroll;

  table {
    @include breakpoint($medium) {
      width: 100%;
    }
    width: auto;
  }

  caption {
    @include breakpoint($medium) {
      text-align: center;
    }
    text-align: left;
  }
}
