<table class="light-blue auto-layout align-top">
  <caption>Custom classes applied to this table: light-blue fixed align-top</caption>
  <tr>
    <th scope="col"><a>Row Group</a></th>
    <th scope="col">Col Header</th>
    <th colspan="2" scope="col"><a>Col Group</a></th>
    <th colspan="3" scope="col">Col Group</th>
  </tr>
  <tr>
    <th rowspan="3" scope="row">Row Group</th>
    <th scope="row">Row Header</th>
    <th scope="col">Col Header</th>
    <th scope="col">Col Header</th>
    <th scope="col">Col Header</th>
    <th scope="col">Col Header</th>
    <th scope="col">Col Header</th>
  </tr>
  <tr>
    <th scope="row">Row Header</th>
    <td><a href="#">Link</a></td>
    <td><a href="#">Link</a></td>
    <td>Many </br>Lines </br>of </br>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
  <tr>
    <th scope="row">Row Header</th>
    <td>More words taking up a single cell on table</td>
    <td>Supercalifragilisticexpialidocious</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
  <tr>
    <th rowspan="3" scope="row">Row Group</th>
    <th scope="row">Row Header</th>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
  <tr>
    <th scope="row">Row Header</th>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
  <tr>
    <th scope="row">Row Header</th>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
</table>

<table class="lightest-gray align-bottom font-size--smaller">
  <caption>Custom classes applied to this table: lightest-gray align-bottom font-size--smaller</caption>
  <tr>
    <th scope="col"><a>Row Group</a></th>
    <th scope="col">Col Header</th>
    <th colspan="2" scope="col"><a>Col Group</a></th>
    <th colspan="3" scope="col">Col Group</th>
  </tr>
  <tr>
    <th rowspan="3" scope="row">Row Group</th>
    <th scope="row">Row Header</th>
    <th scope="col">Col Header</th>
    <th scope="col">Col Header</th>
    <th scope="col">Col Header</th>
    <th scope="col">Col Header</th>
    <th scope="col">Col Header</th>
  </tr>
  <tr>
    <th scope="row">Row Header</th>
    <td><a href="#">Link</a></td>
    <td><a href="#">Link</a></td>
    <td>Many </br>Lines </br>of </br>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
  <tr>
    <th scope="row">Row Header</th>
    <td>More words taking up a single cell on table</td>
    <td>Supercalifragilisticexpialidocious</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
  <tr>
    <th rowspan="3" scope="row">Row Group</th>
    <th scope="row">Row Header</th>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
  <tr>
    <th scope="row">Row Header</th>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
  <tr>
    <th scope="row">Row Header</th>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
    <td>Data</td>
  </tr>
</table>
