/**
* @file
* 00-utilities/color/_scheme.scss
*/

// Text Colors
$text-color: $black;
$text-color-light: $white;

// Link Colors
$link-color: $link-blue;
$link-color--hover: $dark-blue;
$link-color-light: $light-blue;
$link-color-light--hover: $light-green;

// State Colors
$unfocus-shadow: 0 1px 3px transparentize($black, 0.88), 0 1px 2px transparentize($black, 0.86);
$focus-shadow: 0 5px 10px transparentize($blue, 0.84), 0 3px 6px transparentize($black, 0.77);
$hover-opacity: 0.85;

// Accent Colors
$warning-color: $yellow;
$alert-color: $red;

// Additional shades of blue use as backgrounds only
$light-bg-blue: mix($white, $blue, 80%);
$lightest-bg-blue: mix($white, $blue, 90%);
