/*------------------------------------------------------------------------------
Atom: Icons - My Western Icons
--------------------------------------------------------------------------------
1. Dark mode
------------------------------------------------------------------------------*/
.my-western-icon {
  display: block;
  padding: var(--space--xs);
  text-align: center;
  color: var(--dark-blue);
  background-size: 100%;
  svg {
    fill: currentColor;

    display: block;
    width: var(--toggle-size--md);
    margin: auto;
    margin-bottom: var(--space--xs);
    transition: var(--ease-standard) var(--transition-speed--fast) fill;
    @media print {
      fill: var(--black);
    }
  }
  @media (forced-colors: active) {
    &:hover,
    &:focus,
    &:active {
      text-decoration-line: none;
    }
  }
}
/*------------------------------------------------------------------------------
1. Dark mode
------------------------------------------------------------------------------*/
[data-theme="dark"] {
  .my-western-icon {
    color: var(--blue--lighter--40);
    svg {
      fill: currentColor;
    }
    &:active,
    &:focus,
    &:hover {
      color: var(--dark-blue--darker--60);
      svg {
        fill: currentColor;
      }
    }
  }
}
