/*------------------------------------------------------------------------------
Atom: Text - Blockquotes
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

blockquote {
  @include lightest-gray-bg;
  margin: var(--space--md) 0;
  padding: var(--space--xl);
}

.pullquote,
.paragraph--type--majors-pull-quote {
  margin: 0 var(--space--md);
  padding: var(--space--md);
  font-style: italic;
  border-left: solid var(--border-width--lg) var(--green);

  &.style-thin-border {
    border: 0;

    &:before {
      border-top: solid var(--border-width--lg) var(--blue);
    }

    &:after {
      border-top: solid var(--border-width--lg) var(--blue);
    }
  }
}

.dark-mode {
  blockquote:not([class]) {
    @include gray-bg;
  }

  blockquote.pullquote {
    @include black-bg;
  }
}
