/*------------------------------------------------------------------------------
Atom: Figures
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

figcaption {
  padding: var(--space--md);
  margin-bottom: var(--space--xl);
}

figure {
  margin: 0;
}
