/*------------------------------------------------------------------------------
Atom: Figures
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
figcaption {
  margin-bottom: var(--space--xl);
  padding: var(--space--md);
}

figure {
  margin: 0;
}
