/*------------------------------------------------------------------------------
Atom: Text - Horizontal Rule
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
hr {
  @include breakpoint(var(--breakpoint--md)) {
    border-width: var(--border-width-lg);
  }
  margin: var(--space--md) 0;
  border: 0;
  border-bottom: var(--border-width--md) solid var(--gray--lighter-80);
}
