/*------------------------------------------------------------------------------
Atom: Text - Links - Button Styled
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.button {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: var(--space--md);
  padding: var(--space--sm) var(--space--md);
  user-select: none;
  transition: background-color var(--transition-speed--fast), color var(--transition-speed--fast), border-color var(--transition-speed--fast), box-shadow var(--transition-speed--fast);
  text-align: center;
  text-decoration: none;
  color: var(--white);
  border-radius: $border-radius--round;
  background: var(--blue);
  box-shadow: var(--shadow--button--soft);
  font-size: var(--font-size--md);
  line-height: 1;

  .material-icons {
    position: relative;
    top: 2px;
    font-size: var(--font-size--md);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--white);
    background: var(--dark-blue--darker--40);
    box-shadow: var(--shadow--button--soft--hover);
  }

  &.square {
    border-radius: $border-radius--square;
  }

  &.small {
    padding: var(--space--xs) var(--space--sm);
    font-size: var(--font-size--sm);

    .material-icons {
      font-size: var(--font-size--sm);
    }
  }

  &.large {
    padding: var(--space--md) var(--space--lg);
    font-size: var(--font-size--2xl);
  }

  &.light-blue {
    color: var(--black);
    background: var(--blue--lighter--40);

    &:active,
    &:hover,
    &:focus {
      color: var(--white);
      background: var(--blue);
    }
  }

  &.dark-blue {
    background: $dark-blue;

    &:active,
    &:hover,
    &:focus {
      background: var(--blue);
    }
  }

  &.light-green {
    color: $dark-blue;
    background: $light-green;

    &:active,
    &:hover,
    &:focus {
      color: $lightest-green;
      background: $darkest-blue;
    }

    &:active {
      box-shadow: none;
    }
  }

  &.green {
    background: $green;

    &:active,
    &:hover,
    &:focus {
      color: var(--black);
      background: $light-green;
    }

    &:focus {
      border-color: $dark-green;
    }
  }

  &.dark-green {
    background: $dark-green;

    &:active,
    &:hover,
    &:focus {
      color: var(--black);
      background: $light-green;
    }

    &:focus {
      border-color: $dark-green;
    }
  }

  &.white {
    color: var(--blue);
    background: var(--white);

    &:active,
    &:hover,
    &:focus {
      color: var(--white);
      background: var(--blue);
    }
  }

  &.outline {
    color: var(--blue);
    border-width: $border-width;
    border-style: solid;
    border-color: var(--blue);
    background: var(--white);


    &:active,
    &:hover,
    &:focus {
      color: var(--white);
      border-color: transparent;
      background: $dark-blue;
    }

    &:focus {
      border-color: var(--white);
    }

    &.light-blue {
      color: $light-blue;
      border-color: $light-blue;
      background-color: transparent;

      &:active,
      &:hover,
      &:focus {
        color: $dark-blue;
        border-color: $light-gray;
        background: $light-gray;
      }
    }

    &.dark-blue {
      color: $dark-blue;
      border-color: $dark-blue;

      &:active,
      &:hover,
      &:focus {
        color: var(--white);
        border-color: transparent;
        background: var(--blue);
      }
    }

    &.light-green {
      color: $green;
      border-color: $light-green;

      &:active,
      &:hover,
      &:focus {
        color: $dark-blue;
        border-color: transparent;
        background: $lightest-green;
      }

      &:focus {
        border-color: $green;
      }
    }

    &.green {
      color: $green;
      border-color: $green;

      &:active,
      &:hover,
      &:focus {
        color: var(--white);
        border-color: transparent;
        background: $dark-green;
      }
    }

    &.dark-green {
      color: $dark-green;
      border-color: $dark-green;

      &:active,
      &:hover,
      &:focus {
        color: var(--white);
        border-color: transparent;
        background: $green;
      }
    }

    &.white {
      color: var(--white);
      border-color: var(--white);
      background: transparent;

      &:active,
      &:hover,
      &:focus {
        color: $dark-blue;
        border-color: transparent;
        background: $light-gray;
      }
    }
  }

  &.dark-blue,
  &.green,
  &.dark-green,
  &.white {
    &:active {
      box-shadow: none;
    }
    &.outline {
      &:active {
        box-shadow: none;
      }
      &:focus {
        border: dotted $border-width var(--white);
      }
    }
  }

  &:after {
    @media print {
      content: " [" attr(href) "] ";
      font-size: 10pt;
    }
  }
}
