To use an image a background, use a wrapper with the class "background-image". Note: This will only work if the containing element has the position and z-index set.

<div style="position: relative; z-index: 0; width: 18.75rem; height: 100%; padding: 1.5rem;">
  <p>This block is using a gray image as it's background. Also check out Overlays, as they work well with background images.</p>
  <p class="background-image">
    <img src="../../images/pattern-lab/placeholder.png" alt="gray placeholder">
  </p>
</div>
