/**
* @file
* 03-organisms/navigation/ulti-menu/_ulti-menu.scss
*/

/* Overrides for ultimenu styles & functionality */
.ultimenu {
  overflow: visible;

  > li {
    min-width: initial;
  }

  section.ultimenu__flyout {
    @include breakpoint($medium) {
      top: 100%;
      right: 0 !important;
      display: none !important;
    }
    display: block;
    visibility: hidden;
    max-height: 0;
    margin: 0;
    padding: 0;
    transition: $medium-transition-speed $standard-ease;
    opacity: 0;
    border-radius: 0;
    box-shadow: none;

    grid-area: flyout;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;

    &.open {
      @include breakpoint($medium) {
        position: absolute;
        display: block !important;
      }
      visibility: visible;
      opacity: 1;
    }
  }
}

.ultimenu--basic {
  .region {
    padding: 0;
  }
}

.ultimenu--horizontal {
  .ultimenu__link {
    &.is-active {
      background: transparent;

      &.open {
        color: $white;
        background: transparent;
      }
    }
    .caret {
      display: none;
    }
  }
}

.ultimenu__region,
.ultimenu--htb .ultimenu__flyout,
.ultimenu--htb .ultimenu__region {
  border-radius: 0;
  box-shadow: none;
}

.ultimenu--hover li:hover > .ultimenu__flyout,
.ultimenu--hover li a:active + .ultimenu__flyout,
.ultimenu--hover li a:focus + .ultimenu__flyout,
.ultimenu--hover li .ultimenu__flyout:focus-within {
  padding: 0;
}

.open {
  visibility: visible;
  opacity: 1;
}

/* Prevent a region in Drupal from getting position relative, which pushes menu below header area */
#block-ultimenumainnavigation {
  &.contextual-region {
    position: inherit;
  }
}

/* Hide the default ultimenu mobile menu toggle */
.button {
  &.button--ultimenu {
    display: none;
  }
}
