/*------------------------------------------------------------------------------
Organism: Content - Content region
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.page-content {
  @include breakpoint($large) {
    -ms-grid-columns: var(--grid-columns--lg);
    grid-template-columns: var(--grid-columns--lg);
  }
  display: -ms-grid;
  display: grid;

  -ms-grid-columns: var(--grid-columns--sm);
  -ms-grid-rows: auto;
  grid-template-areas:
    " . skip_to_content . "
    " . content         . ";
  grid-template-columns: var(--grid-columns--sm);
  grid-template-rows: auto;

  #main-content {
    margin: 0;
    padding: 0;
    border: none;

    grid-area: skip_to_content;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
  }

  .region-wrapper {
    grid-area: content;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
  }
}
