<div class = "select-language">
  <div class = "language-Button-Container">
    <button class="toggle" id="dropMenu">
      <span class="material-icons" alt="Languages">language</span>
      <p>Language</p>
    </button>
  </div>
  <ul id="langMenu" class = "menu select-Language" style="display:none;">
    <li>
      <a class = "language-Option" href="#">English</a>
    </li>
    <li>
      <a class="language-Option" href="#">Español</a>
    </li>
  </ul>
</div>
