{#
/**
 * @see templates/layout/region--content.html.twig
 */
#}
<main class="page-content">
  <span id="main-content" tabindex="-1"></span>{# link is in html.html.twig #}
  <div class="region-wrapper">
    {% block page_content %}
      <div{{ attributes }}>
          {{ content }}
      </div>
    {% endblock %}
  </div>
</main>
