/*------------------------------------------------------------------------------
Templates: Layouts - Flex
--------------------------------------------------------------------------------
1. Ie fix
------------------------------------------------------------------------------*/
.layout--flex .layout__region {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/*------------------------------------------------------------------------------
1. Ie fix
------------------------------------------------------------------------------*/
@media screen and (min-width: 0\0) {
  .layout--flex .layout__region {
    justify-content: center;
  }
}
