/**
* @file
* 01-atoms/01-text/_headings.scss
*/

$heading-line-height: 1.2em;
$heading-margin-top: $triple-spacing;
$heading-margin-bottom: $standard-spacing;
$max-heading-underline-width: 12.5rem;

/* Default heading styles, serif with blues */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $heading-margin-top 0 $heading-margin-bottom;
  color: $blue;
  font-family: $heading-font-family;
  line-height: $heading-line-height;

  font-display: fallback;
}

h1 {
  @include breakpoint($large) {
    font-size: $h1-font-size--max;
  }
  position: relative;
  display: inline-block;
  padding-bottom: $double-spacing;
  color: $darkest-blue;
  font-family: $title-font;
  font-size: $h1-font-size;
  font-weight: $font-weight--bold;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    content: "";
    border-width: 0.12em;
    border-style: solid;
  }
}

h2 {
  @include breakpoint($large) {
    font-size: $h2-font-size--max;
  }
  color: $dark-blue;
  font-size: $h2-font-size;
  font-weight: $font-weight--bold;
}
h3 {
  @include breakpoint($large) {
    font-size: $h3-font-size--max;
  }
  color: mix($blue, $dark-blue, 50%);
  font-size: $h3-font-size;
  font-weight: $font-weight--semibold;
}
h4 {
  @include breakpoint($large) {
    font-size: $h4-font-size--max;
  }
  font-size: $h4-font-size;
  font-weight: $font-weight--regular;
}
h5 {
  @include breakpoint($large) {
    font-size: $h5-font-size--max;
  }
  font-size: $h5-font-size;
  font-weight: $font-weight--regular;
}
h6 {
  @include breakpoint($large) {
    font-size: $h6-font-size--max;
  }
  font-size: $h6-font-size;
}

h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}

main {
  h2 {
    padding-bottom: $one-point-five-spacing;
  }
}

.sans-serif-headings {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $sans-serif;
  }
}

.sans-serif-alternate-headings {
  h1 {
    text-transform: uppercase;

    &:after {
      display: none;
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $title-font;
  }
}

.underlined-headings {
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    padding-bottom: $one-point-five-spacing;
    font-family: $title-font;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      max-width: $max-heading-underline-width;
      content: "";
      border-width: $border-width--thicker;
      border-style: solid;
    }
  }
}

.text-align-center .underlined-headings,
.text-align-center.underlined-headings,
.underlined-headings .text-align-center {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:after {
      left: 50%;
      transform: translatex(-50%);
    }
  }
}

.text-align-right .underlined-headings,
.text-align-right.underlined-headings,
.underlined-headings .text-align-right {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:after {
      left: initial;
      right: 0;
    }
  }
}

.big-bold-headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $sans-serif;
  }

  h1 {
    @include breakpoint($large) {
      font-size: $h1-font-size--max--largest;
    }
    text-transform: uppercase;
    border-bottom: none;
    font-family: $title-font;
    font-size: $h1-font-size--largest;
    font-weight: $font-weight--black;

    &:after {
      display: none;
    }
  }

  h2 {
    @include breakpoint($large) {
      font-size: $h2-font-size--max--largest;
    }
    text-transform: uppercase;
    border-bottom: none;
    font-family: $title-font;
    font-size: $h2-font-size--largest;
    font-weight: $font-weight--black;
  }

  h3 {
    @include breakpoint($large) {
      font-size: $h3-font-size--max--larger;
    }
    display: inline-block;
    font-size: $h3-font-size--larger;
  }

  h4 {
    @include breakpoint($large) {
      font-size: $h4-font-size--max--larger;
    }
    text-transform: uppercase;
    font-size: $h4-font-size--larger;
  }

  h5 {
    @include breakpoint($large) {
      font-size: $h5-font-size--max--larger;
    }
    font-size: $h5-font-size--larger;
  }
}

/* Helper to resize headings. Only applies at medium breakpoints. */
.font-size--smaller {
  h1 {
    @include breakpoint($large) {
      font-size: $h1-font-size--max--smaller;
    }
    font-size: $h1-font-size--smaller;
  }

  h2 {
    @include breakpoint($large) {
      font-size: $h2-font-size--max--smaller;
    }
    padding-bottom: none;
    border-bottom: none;
    font-size: $h2-font-size--smaller;
  }

  h3 {
    @include breakpoint($large) {
      font-size: $h3-font-size--max--smaller;
    }
    font-size: $h3-font-size--smaller;
  }

  h4 {
    @include breakpoint($large) {
      font-size: $h4-font-size--max--smaller;
    }
    font-size: $h4-font-size--smaller;
  }

  h5 {
    @include breakpoint($large) {
      font-size: $h5-font-size--max--smaller;
    }
    font-size: $h5-font-size--smaller;
  }

  h6 {
    @include breakpoint($large) {
      font-size: $h6-font-size--max--smaller;
    }
    font-size: $h6-font-size--smaller;
  }
}

.opendyslexic {
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $opendyslexic;
  }

  .big-bold-headings {    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $opendyslexic;
    }
  }
}

.atkinson {
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $atkinson;
  }

  .big-bold-headings {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $atkinson;
    }
  }
}