/*------------------------------------------------------------------------------
Atom: Text - Headings
--------------------------------------------------------------------------------
1. Default
2. Alternate Styles
3. Display Preferences
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
1. Default
------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--space--xl) 0 var(--space--xs);
  font-display: fallback;
  line-height: 1.2em;

  @media print {
    margin-bottom: 0;
    page-break-inside: avoid;
  }
}

h1 {
  position: relative;
  display: block;
  padding-bottom: var(--space--md);
  color: var(--blue--darker--80);
  font-family: var(--font--title);
  font-size: var(--font-size--5xl);
  font-weight: var(--font-weight--bold);

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    max-width: 6em;
    content: "";
    border-width: 0.12em;
    border-style: solid;
  }
}

h2 {
  color: var(--blue--darker--60);
  font-size: var(--font-size--4xl);
  font-weight: var(--font-weight--bold);
}
h3 {
  color: var(--blue--darker--40);
  font-size: var(--font-size--3xl);
  font-weight: var(--font-weight--semibold);
}
h4 {
  color: var(--blue--darker--20);
  font-size: var(--font-size--2xl);
  font-weight: var(--font-weight--regular);
}
h5 {
  color: var(--blue);
  font-size: var(--font-size--xl);
  font-weight: var(--font-weight--regular);
}
h6 {
  color: var(--blue);
  font-size: var(--font-size--lg);
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}

/*------------------------------------------------------------------------------
2. Alternate Styles
------------------------------------------------------------------------------*/
.headings--serif,
.serif-headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font--serif);
  }
}

.headings--sans-serif,
.sans-serif-headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font--sans-serif);
  }
}

.headings--sans-serif--alt {
  h1 {
    padding-bottom: 0;
    text-transform: uppercase;

    &:after {
      display: none;
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font--title);
  }
}

.headings--uppercase {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
  }
}

.headings--underlined {
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    display: block;
    padding-bottom: var(--space--lg);
    font-family: var(--font--title);

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      max-width: 6em;
      content: "";
      border-width: 0.12em;
      border-style: solid;
    }
  }
}
.text-align-center .headings--underlined,
.text-align-center.headings--underlined,
.headings--underlined .text-align-center {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:after {
      left: 50%;
      transform: translatex(-50%);
    }
  }
}
.text-align-right .headings--underlined,
.text-align-right.headings--underlined,
.headings--underlined .text-align-right {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:after {
      right: 0;
      left: initial;
    }
  }
}

.big-bold-headings,
.headings--big-and-bold {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font--title);
  }

  h1 {
    padding-bottom: 0;
    text-transform: uppercase;
    border-bottom: none;
    font-size: var(--font-size--7xl);
    font-weight: var(--font-weight--black);

    &:after {
      display: none;
    }

    @include breakpoint($medium) {
      font-size: var(--font-size--9xl);
    }
  }

  h2 {
    text-transform: uppercase;
    border-bottom: none;
    font-size: var(--font-size--6xl);
    font-weight: var(--font-weight--black);

    @include breakpoint($medium) {
      font-size: var(--font-size--8xl);
    }
  }

  h3 {
    display: inline-block;
    font-size: var(--font-size--5xl);

    @include breakpoint($medium) {
      font-size: var(--font-size--7xl);
    }
  }

  h4 {
    font-size: var(--font-size--4xl);

    @include breakpoint($medium) {
      font-size: var(--font-size--6xl);
    }
  }

  h5 {
    font-size: var(--font-size--3xl);

    @include breakpoint($medium) {
      font-size: var(--font-size--5xl);
    }
  }
}

.font-size--smaller {
  h1 {
    font-size: var(--font-size--3xl);
  }

  h2 {
    padding-bottom: none;
    border-bottom: none;
    font-size: var(--font-size--2xl);
  }

  h3 {
    font-size: var(--font-size--xl);
  }

  h4 {
    font-size: var(--font-size--lg);
  }

  h5 {
    font-size: var(--font-size--md);
  }

  h6 {
    font-size: var(--font-size--sm);
  }
}

/*------------------------------------------------------------------------------
3. Display Preferences
------------------------------------------------------------------------------*/
.font--dyslexia-friendly {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font--dyslexia-friendly);
  }

  [class^="headings--"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font--dyslexia-friendly);
    }
  }
}

.font--hyperlegible {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font--hyperlegible);
  }

  [class^="headings"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font--hyperlegible);
    }
  }
}
