<main>
  <div class="default-headings">
    <p>Default heading styles</p>
    <h1>Heading Level 1</h1>
    <h2>Heading Level 2</h2>
    <h3>Heading Level 3</h3>
    <h4>Heading Level 4</h4>
    <h5>Heading Level 5</h5>
  </div>

  <div class="sans-serif-headings">
    <p>With .sans-serif-headings class</p>

    <h1>Heading Level 1</h1>
    <h2>Heading Level 2</h2>
    <h3>Heading Level 3</h3>
    <h4>Heading Level 4</h4>
    <h5>Heading Level 5</h5>
  </div>

  <div class="underlined-headings">
    <p>With .underlined-headings class</p>

    <h1>Heading Level 1</h1>
    <h2>Heading Level 2</h2>
    <h3>Heading Level 3</h3>
    <h4>Heading Level 4</h4>
    <h5>Heading Level 5</h5>
  </div>

  <div class="sans-serif-alternate-headings">
    <p>With .sans-serif-alternate-headings class. Uses Montserrat instead of Fira Sans for H2-H6.</p>

    <h1>Heading Level 1</h1>
    <h2>Heading Level 2</h2>
    <h3>Heading Level 3</h3>
    <h4>Heading Level 4</h4>
    <h5>Heading Level 5</h5>
  </div>

  <div class="big-bold-headings">
    <p>With .big-bold-headings class</p>

    <h1>Heading Level 1</h1>
    <h2>Heading Level 2</h2>
    <h3>Heading Level 3</h3>
    <h4>Heading Level 4</h4>
    <h5>Heading Level 5</h5>
  </div>
</main>
