{#
/**
 * @see templates/layout/page.html.twig
 */
#}
<div class="page">
  {% block top %}
  {% endblock %}

  {% block header %}
    {% include "@organisms/headers/site-header/site-header.html.twig" %}
  {% endblock %}

  {% block content %}
    {{ page.content }}
  {% endblock %}

  {% block footer %}
    <footer class="page-footer region region--footer">
      {% include "@organisms/footers/site-footer/site-footer.html.twig" %}
      {% include "@organisms/footers/wwu-footer/wwu-footer.html.twig" %}
    </footer>
  {% endblock %}

  {% block bottom %}
  {% endblock %}
</div>
