{#
/**
 * @see templates/layout/page.html.twig
 */
#}
<div class="page">
  {% include "@organisms/headers/site-header/site-header.html.twig" %}

  {{ page.content }}

  <footer class="page-footer region region--footer">
    {{ page.site_footer }}
    {% include "@organisms/footers/wwu-footer/wwu-footer.html.twig" %}
  </footer>
</div>
