{#
/**
 * @see templates/layout/page.html.twig
 */
#}
<div class="page">
  <header class="site-header">
    {% include "@organisms/headers/wwu-header/wwu-header.html.twig" %}

    <div class="splash">
      {{ page.header }}
    </div>

    {% block main_navigation %}
      {{ page.main_navigation }}
    {% endblock %}
  </header>

  {{ page.content }}

  {% block footer %}
  <footer class="page-footer region region--footer">
    {% include "@organisms/footers/site-footer/site-footer.html.twig" %}
    {% include "@organisms/footers/wwu-footer/wwu-footer.html.twig" %}
  </footer>
  {% endblock %}
</div>
