{#
/**
 * @see templates/layout/page.html.twig
 */
#}
<div class="page">
  {% if page.header %}
    {{ page.header }}
  {% endif %}
  {{ page.content }}
  <footer role="contentinfo" class="page-footer region region--footer">
    {% include "@organisms/footers/site-footer/site-footer.html.twig" %}
    {% include "@organisms/footers/wwu-footer/wwu-footer.html.twig" %}
  </footer>
</div>
