<div class="wwu-menu mobile">
  <button class="toggle toggle-menu toggle-close-menu dark-blue"><span class="material-icons" aria-hidden="true">close</span><span class="button-text visually-hidden">Close the menu</span></button>

  <div role="group" aria-label="Western Quick Links">
  <ul class="menu">
    <li class="apply" >
      <a class="button white outline" href="https://admissions.wwu.edu/">Apply</a>
    </li>
    <li class = "language">
      <button id="langOptionButton" > Language </button>
    </li>
    <li class="calendar">
      <a class="icon-with-text" href="https://calendar.wwu.edu/">
        <span class="material-icons" aria-hidden="true">today</span>
        <span class="icon-text">Calendar</span>
      </a>
    </li>
    <li class="directory">
      <a class="icon-with-text" href="https://www.wwu.edu/directory">
        <span class="material-icons" aria-hidden="true">contact_mail</span>
        <span class="icon-text">Directory</span>
      </a>
    </li>
    <li class="map">
      <a class="icon-with-text" href="https://www.wwu.edu/campus-maps">
        <span class="material-icons" aria-hidden="true">place</span>
        <span class="icon-text">Map</span>
      </a>
    </li>
    <li class="mywestern">
      <a class="icon-with-text" href="https://mywestern.wwu.edu/mywestern/f/u17l1s4/normal/render.uP">
        <span class="material-icons" aria-hidden="true">person</span>
        <span class="icon-text">myWestern</span>
      </a>
    </li>
  </ul>
  </div>

  <div class="language-options" id="dropLangMenu" style="display:none;">
    <div>
      <span class="select-language">
        <ul>
          <li>
            <a class="button outline square dark-blue large" href='#'>English</a>
          </li>
          <li>
            <a class="button outline square dark-blue large" href="#">Español</a>
          </li>
        </ul>
      </span>
    </div>
  </div>
</div>
