<div class="quick-links mobile">
  <button class="toggle toggle-menu toggle-close-menu dark-blue"><span class="material-icons" aria-hidden="true">close</span><span class="button-text visually-hidden">Close the menu</span></button>

  <div role="group" aria-label="Western Quick Links">
    <ul class="menu">
      <li class="apply" >
        <a class="button white outline" href="https://admissions.wwu.edu/">Apply</a>
      </li>
      <li class="gift" >
        <a class="button white outline" href="https://securelb.imodules.com/s/1710/17give/giving.aspx?sid=1710&gid=2&pgid=1816&cid=3291appealcode%3dfront">Give</a>
      </li>
      <li class="calendar">
        <a class="icon-with-text" href="https://calendar.wwu.edu/">
          <span class="material-icons" aria-hidden="true">today</span>
          <span class="icon-text">Calendar</span>
        </a>
      </li>
      <li class="directory">
        <a class="icon-with-text" href="https://www.wwu.edu/directory">
          <span class="material-icons" aria-hidden="true">contact_mail</span>
          <span class="icon-text">Directory</span>
        </a>
      </li>
      <li class="map">
        <a class="icon-with-text" href="https://www.wwu.edu/campus-maps">
          <span class="material-icons" aria-hidden="true">place</span>
          <span class="icon-text">Map</span>
        </a>
      </li>
      <li class="mywestern">
        <a class="icon-with-text" href="https://mywestern.wwu.edu/mywestern/fu17l1s4/normal/render.uP">
          <span class="material-icons" aria-hidden="true">person</span>
          <span class="icon-text">myWestern</span>
        </a>
      </li>
    </ul>
  </div>
</div>
