/*------------------------------------------------------------------------------
Molecule: Breadcrumbs
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.breadcrumb {
  margin-top: var(--space--sm);
  font-size: var(--font-size--sm);

  ol {
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-right: var(--space--xs);

      &:last-child {
        font-weight: var(--font-weight--bold);

        &::before {
          font-weight: initial;
        }
      }

      &:before {
        margin-right: var(--space--xs);
      }
    }
  }
  li + li::before {
    content: ">";
  }
}
