/*------------------------------------------------------------------------------
Molecule: Forms - Form
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

.form {
  .form-item {
    margin-bottom: var(--space--xs);
  }
  .description {
    color: var(--gray);
  }
}
