/**
 * @file
 * molecules/messaging/announcement/_announcement.scss
 */

.block--announcement {
  @include breakpoint($medium) {
    max-width: 50%;
  }
  display: -ms-grid;
  display: grid;
  align-items: center;
  margin: auto;
  background-color: $light-green;

  -ms-grid-columns: 1fr 5fr;
  -ms-grid-rows: auto;
  grid-template-areas: "image text";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  justify-items: center;

  .image {
    width: 100%;
    height: 100%;
    background-color: $dark-blue;

    grid-area: image;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    img {
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0.3;

      object-fit: cover;
    }
  }

  .material-icons {
    @include breakpoint($medium) {
      font-size: 48px;
    }
    color: $light-green;

    grid-area: image;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
  }

  .body {
    padding: $half-spacing;

    grid-area: text;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
  }
}
