/**
* @file
* 02-organisms/navigation/erm-menu/_erm-menu.scss
* Specialized menu for external relations and marketing pages
*/

.toggle-erm-menu {
  @include breakpoint($medium) {
    position: relative;
    grid-area: search;
  }
  position: absolute;
  top: 0;
  right: 0;
}

#block-ermmenu {
  z-index: 4;
  background-color: $blue;
  background-image: url('https://www.wwu.edu/sites/wwwprod8x210.wwu.edu/files/inline-images/water-bg.jpg');
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  display: none;
}

#block-ermmenu a {
  @include breakpoint($medium) {
    font-size: $title-font-size--larger;
  }
  color: white;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: $title-font-size--smaller;
  line-height: 1em;
  transition: $standard-ease $fast-transition-speed opacity;
}

#block-ermmenu a:hover,
#block-ermmenu a:focus,
#block-ermmenu a:active {
  background: none;
  opacity: 0.85;
}
