/**
* @file
* 02-organisms/navigation/erm-menu/_erm-menu.scss
* Specialized menu for external relations and marketing pages
*/
$hover-opacity: 0.85;

.toggle-erm-menu {
  @include breakpoint($medium) {
    right: $standard-spacing;
  }
  @include breakpoint($large) {
    right: calc((100vw - #{$max-content-width})/2);
  }
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  background: transparent;

  &:hover,
  &:focus,
  &:active {
    opacity: $hover-opacity;
    background: transparent;
  }
}

#block-ermmenu {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: $blue;
  background-image: url("https://www.wwu.edu/sites/wwwprod8x210.wwu.edu/files/inline-images/water-bg.jpg");


  a {
    @include breakpoint($medium) {
      font-size: $title-font-size--larger;
    }
    transition: $standard-ease $fast-transition-speed opacity;
    text-transform: uppercase;
    color: white;
    font-family: Montserrat;
    font-size: $title-font-size--smaller;
    line-height: 1em;

    &:hover,
    &:focus,
    &:active {
      opacity: $hover-opacity;
      background: none;
    }
  }
}
