<div aria-labelledby="block-ermmenu-menu" id="block-ermmenu" class="contextual-region block--menu menu--erm-menu">

  <div class="visually-hidden">
    <h2 id="block-ermmenu-menu">ERM Menu</h2>
  </div>

  <ul class="menu">
    <li class="menu-item">
      <a href="#apply">Apply</a>
    </li>
    <li class="menu-item">
      <a href="#explore">Explore</a>
    </li>
    <li class="menu-item">
      <a href="#visit">Visit</a>
    </li>
  </ul>
</div>
