/**
* @file
* 01-molecules/charts/donut-chart/_donut-chart.scss
*/

$chart-size: 300px;
$chart-blues: (#002f5e,#003f87,#0060ab,#007ac8,#429ad2,#7ab4da,#afcee1,#e3e7e9);
$chart-greens: (#006b3f,#358a30,#6aa921,#9fc812,#c2dc2c,#d3e570,#e4edb3,#f5f6f7);

.donut-chart {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .block__title {
    flex: 0 0 100%;
  }

  svg {
    width: $chart-size;
    height: $chart-size;
    transform: rotate(-90deg);
    background: transparent;
    border-radius: 50%;
    margin: $double-spacing;
  }

  circle {
    fill: transparent;
    stroke-width: 15.915;

    @for $i from 1 through length($chart-blues) {
      &:nth-of-type(#{$i}) {
        stroke: nth($chart-blues, $i);
      }
    }
  }

  .data {
    li {
      list-style: none;

      &:before {
        position: relative;
        top: 3px;
        display: inline-block;
        width: $double-spacing;
        height: $double-spacing;
        margin-right: $half-spacing;
        content: "";
      }

      @for $i from 1 through length($chart-blues) {
        &:nth-of-type(#{$i}) {
          &:before {
            background: nth($chart-blues, $i);
          }
        }
      }
    }
  }

  &.green{
    circle {
      @for $i from 1 through length($chart-greens) {
        &:nth-of-type(#{$i}) {
          stroke: nth($chart-greens, $i);
        }
      }
    }

    .data {
      li {
        @for $i from 1 through length($chart-greens) {
          &:nth-of-type(#{$i}) {
            &:before {
              background: nth($chart-greens, $i);
            }
          }
        }
      }
    }
  }

  &.pie {
    circle {
      fill: transparent;
      stroke-width: 31.83;
    }
  }
}
