<!-- Create a div where the graph will take place -->
<div class="donut-chart">
  <svg viewBox="0 0 32 32">
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: 0; stroke-dasharray: 10;"/>
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: -10; stroke-dasharray: 14 100;"/>
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: -24; stroke-dasharray: 22 100;"/>
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: -46; stroke-dasharray: 35 100;"/>
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: -81; stroke-dasharray: 7 100;"/>
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: -88; stroke-dasharray: 2 100;"/>
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: -90; stroke-dasharray: 10 100;"/>
  </svg>
  <ul class="data">
    <li><span class="percent">10</span>% <span class="label">Freshman</span></li>
    <li><span class="percent">14</span>% <span class="label">Sophomore</span></li>
    <li><span class="percent">22</span>% <span class="label">Junior</span></li>
    <li><span class="percent">35</span>% <span class="label">Senior</span></li>
    <li><span class="percent">7</span>% <span class="label">Post Bac</span></li>
    <li><span class="percent">2</span>% <span class="label">Grad Student</span></li>
    <li><span class="percent">10</span>% <span class="label">Alumni</span></li>
  </ul>
</div>
