<!-- Create a div where the graph will take place -->
<div class="donut-chart">
  <svg viewBox="0 0 32 32">
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: 0; stroke-dasharray: 10;"/>
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: -10; stroke-dasharray: 14 100;"/>
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: -24; stroke-dasharray: 22 100;"/>
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: -46; stroke-dasharray: 35 100;"/>
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: -81; stroke-dasharray: 7 100;"/>
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: -88; stroke-dasharray: 2 100;"/>
    <circle r="16" cx="16" cy="16" style="stroke-dashoffset: -90; stroke-dasharray: 10 100;"/>
  </svg>
  <ul class="data">
    <li>10% Freshman</li>
    <li>14% Sophomore</li>
    <li>22% Junior</li>
    <li>35% Senior</li>
    <li>7<% Post Bac</li>
    <li>2<% Grad Student</li>
    <li>10% Alumni</li>
  </ul>
</div>
