/*------------------------------------------------------------------------------
Molecule: Countdown
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@use "../../00-utilities/breakpoints.scss" as *;
wwu-countdown {
  padding: var(--space--xl);
  .timer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: var(--space--xl);
    list-style: none;
    @media (min-width: $medium) {
      flex-flow: row wrap;
    }
    p {
      padding: var(--space--2xl) var(--space--3xl);
      text-align: center;
      font-size: var(--font-size--3xl);
      @media (min-width: $medium) {
        border-right: var(--border-width--md) solid;
      }
      &:last-of-type {
        border: none;
      }
      .number {
        display: block;
        margin-bottom: var(--space--md);
        font-size: 2.5em;
      }
    }
  }
  .hidden {
    display: none;
  }
}
