<h2 class="visually-hidden">Western social media links</h2>
<ul class="social-media-links">
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--facebook.twig" with {"facebook": "https://www.facebook.com/westernwashingtonuniversity"} %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--instagram.twig" with {"instagram": "https://www.instagram.com/westernwashingtonuniversity/"} %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--youtube.twig" with {"youtube": "https://www.youtube.com/wwu"} %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--flickr.twig" with {"flickr": "https://www.flickr.com/photos/wwu"} %}
  </li>
  <li>
    {% include "@atoms/icons/social-media-icons/social-icon--western-today.twig" with {"western_today": "https://westerntoday.wwu.edu/"} %}
  </li>
</ul>
