/*------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
1. Color
  a. Brand
  b. Special use
  c. RGB values
  d. Gradients
2. Typography
  a. Font families
  b. Font weights
3. Page layout
  a. Spacing
  b. Content areas
  c. Content area grids
4. Decoration
  a. Borders and outlines
  b. Shadows
  c. Icons
  d. Toggles
  e. Logo
  f. Forms
e. Logo
  5. Animation
------------------------------------------------------------------------------*/
/* Breakpoints, which don't mesh well with CSS variables ---------------------*/
$xsmall: 320px;
$small: 580px;
$medium: 950px;
$large: 1300px;

:root {
/*------------------------------------------------------------------------------
1. Color
------------------------------------------------------------------------------*/
/* a. Brand ------------------------------------------------------------------*/
--black: #1c2023;

--gray--darker--80: #14181b;
--gray--darker--60: #293036;
--gray--darker--40: #3d4950;
--gray--darker--20: #52616b;
--gray: #667986;
--gray--lighter--20: #8394a0;
--gray--lighter--40: #a2afb8;
--gray--lighter--60: #c1cad0; 
--gray--lighter--80: #e0e4e7; 
--gray--lighter--90: #f0f2f3;

--white: #FFF;

--dark-blue: #003f87;
--dark-blue--darker--20: #00326c; 
--dark-blue--darker--40: #002651;
--dark-blue--darker--60: #001936;
--dark-blue--darker--80: #000d1b;

--blue: #007ac8;
--blue--lighter--20: #3890c9;
--blue--lighter--40: #6cb3e1; 
--blue--lighter--60: #a6d3f0;
--blue--lighter--80: #deeff9;

--dark-green: #006b3f;
--light-green: #bad80a;
--red: #cc2d30;
--yellow: #ffc61e;


/* b. Special use ------------------------------------------------------------*/
--yellow--lighter--40: #ffe38f;
--blue--darker--20: #0062a0;

--purple: #9a0fa8;
--purple--lighter--20: #ae3fb9;
--purple--lighter--40: #c26fcb;
--purple--lighter--60: #d79fdc;
--purple--lighter--80: #ebcfee;

--table-blue: #edf8ff;
--table-blue--darker--10: #daecf8;
--table-blue--darker--15: #c5dff0;
--table-blue--darker--5: #e4f2fb;
--table-gray: var(--white);
--table-gray--darker--10: #eeeeee;
--table-gray--darker--15: #e4e4e4;
--table-gray--darker--5: #f5f5f6;

/* c. RGB Values (for easy use with rgba/transparency, added only as needed) -*/
--black--rgb: 28, 32, 35;
--blue--rgb: 0, 122, 200;
--dark-blue--darker--40--rgb: 0, 38, 81;
--blue--lighter--80--rgb: 222, 239, 249;
--green--rgb: 93, 162, 37;
--light-green--rgb: 186, 216, 10;
--red--rgb: 204, 45, 48;
--yellow--rgb: 255, 198, 30;
--white--rgb: 255, 255, 255;

/* d. Gradients --------------------------------------------------------------*/
--gradient--vertical--light-blue: linear-gradient(
  to bottom,
  var(--blue--lighter--40) 0,
  var(--blue--lighter--60) 100%
);

--gradient--vertical--dark-blue: linear-gradient(
  to bottom,
  var(--dark-blue--darker--40) 0,
  var(--dark-blue) 100%
);

--gradient--vertical--light-green: linear-gradient(
  to bottom,
  var(--light-green) 0,
  var(--light-green) 100%
);

--gradient--vertical--blue-to-dark-blue: linear-gradient(
  to bottom,
  var(--blue),
  rgba(var(--dark-blue--darker--40--rgb), 0.9)
);

--gradient--horizontal--dark-blue-to-transparent: linear-gradient(
  to right,
  rgba(var(--dark-blue--darker--40--rgb), 1) 0%,
  rgba(var(--dark-blue--darker--40--rgb), 0.5) 100%
);

--gradient--vertical--dark-blue-to-transparent: linear-gradient(
  to bottom,
  rgba(var(--dark-blue--darker--40--rgb), 1) 0%,
  transparent 100%
);

--gradient--diagonal--blue-to-dark-blue: linear-gradient(
  to right bottom,
  #002f5e,
  #003266,
  #00356d,
  #003875,
  #003b7d,
  #004186,
  #01478e,
  #004d97,
  #0058a3,
  #0063b0,
  #006ebc,
  #007ac8
);
--gradient--diagonal--dark-blue-to-black: linear-gradient(
  to left bottom,
  #1c2023,
  #18242d,
  #122738,
  #0a2a44,
  #022d4f,
  #00335c,
  #013a69,
  #044077,
  #074e8b,
  #085c9f,
  #066bb3,
  #007ac8
);

/*------------------------------------------------------------------------------
2. Typography
------------------------------------------------------------------------------*/
/* a. Font families ----------------------------------------------------------*/
--font--sans-serif: "Fira Sans", sans-serif;
--font--serif: "PT Serif", serif;
--font--hyperlegible: "Atkinson Hyperlegible", sans-serif;
--font--dyslexia-friendly: "Open Dyslexic", sans-serif;
--font--title: "Montserrat", sans-serif;

/* b. Font weights -----------------------------------------------------------*/
--font-weight--regular: 400;
--font-weight--semibold: 600;
--font-weight--bold: 700;
--font-weight--black: 900;

/* c. Font sizes (mostly based on major second scale) ------------------------*/
--font-size--2xs: 0.6em;
--font-size--xs: 0.75em;
--font-size--sm: 0.9em;
--font-size--md: 1em;
--font-size--lg: 1.125em;
--font-size--xl: 1.266em;
--font-size--2xl: 1.424em;
--font-size--3xl: 1.602em;
--font-size--4xl: 1.802em;
--font-size--5xl: 2.027em;
--font-size--6xl: 2.281em;
--font-size--7xl: 2.566em;
--font-size--8xl: 3.653em;
--font-size--9xl: 4.11em;

/*------------------------------------------------------------------------------
3. Page layout
------------------------------------------------------------------------------*/
/* a. Spacing ----------------------------------------------------------------*/
--space--2xs: 0.25rem;
--space--xs: 0.5rem;
--space--sm: 0.75rem;
--space--md: 1rem;
--space--lg: 1.5rem;
--space--xl: 2rem;
--space--2xl: 3rem;
--space--3xl: 4rem;

/* b. Content areas ---------------------------------------------------------*/
--content-area-max-width: 60rem; 
--content-area-max-width--sm: 40rem;
--content-area--negative-space: calc((100vw - var(--content-area-max-width))/2);
--content-area--negative-space--sm: calc((100vw - var(--content-area-max-width--sm))/2);

/* c. Content area grids ----------------------------------------------------*/
--grid-columns--sm: var(--space--sm) 1fr var(--space--sm);
--grid-columns--lg: 1fr var(--content-area-max-width) 1fr;

/*------------------------------------------------------------------------------
4. Decoration
------------------------------------------------------------------------------*/
/* a. Borders and outlines----------------------------------------------------*/
--border-width--sm: 0.0625rem; 
--border-width--md: 0.1rem; 
--border-width--lg: 0.15rem;
--border-radius--roundest: 6.25rem;
--border-radius--rounder: 0.625rem;
--border-radius--round: 0.125rem;
--oline-color: var(--link-color);
--outline-offset--outset: 0.1rem;
--outline-offset--inset: -0.2rem;
--outline-width: 0.1rem;
--outline--focus: solid var(--oline-color) var(--outline-width);
--outline--forced-colors: solid LinkText var(--outline-width);
--outline--unset: solid transparent var(--outline-width);

/* b. Shadows ----------------------------------------------------------------*/
--shadow--hard: rgb(var(--dark-blue--darker--40--rgb)) var(--space--xs) var(--space--xs) 0;
--shadow--hard--hover: rgb(var(--dark-blue--darker--40--rgb)) var(--space--2xs) var(--space--2xs) 0;
--shadow--soft: 0 0.1875rem 0.375rem rgba(var(--black--rgb), 0.16),
  0 0.1875rem 0.375rem rgba(var(--black--rgb), 0.23);
--shadow--soft--hover: 0 0.0625rem 0.1875rem rgba(var(--black--rgb), 0.12),
  0 0.0625rem 0.125rem rgba(var(--black--rgb), 0.24);  

/* c. Icons ------------------------------------------------------------------*/
--icon-size--2xs: 1rem;
--icon-size--xs: 1.125rem;
--icon-size--sm: 1.5rem;
--icon-size--md: 2.25rem; 
--icon-size--lg: 3rem;
--icon-size--xl: 3.5rem;
--icon-size--2xl: 4rem;

/* d. Touch targets ----------------------------------------------------------------*/
--touch-target--aa: 24px;
--touch-target--aaa: 44px;
--toggle-size: 3.25rem;

/* e. Logo  ------------------------------------------------------------------*/
--logo-size: 5.5rem;
--logo--horizontal--width: 25rem;
--logo--horizontal--height: 6.25rem;

/*------------------------------------------------------------------------------
5. Animation
------------------------------------------------------------------------------*/
--transition-speed--slow: 800ms;
--transition-speed--md: 400ms;
--transition-speed--fast: 200ms;
--ease--standard: ease;
}