/*------------------------------------------------------------------------------
Resets and styles for things in the docusaurus theme that are troublesome
------------------------------------------------------------------------------*/
:root {
  --ifm-blockquote-color: inherit;
  --ifm-color-primary: var(--dark-blue);
  --ifm-container-width-xl: 100rem;
  --ifm-font-color-base-inverse: var(--white);
  --ifm-menu-color-active: var(--blue);
  --ifm-navbar-link-hover-color: initial;
}
.docs-wrapper {
  scroll-padding: var(--ifm-navbar-height);
  body:not(.navigation-with-keyboard) :not(input):focus {
    outline: none;
  }
  body:not(.navigation-with-keyboard) :not(input):focus-visible {
    outline: var(--outline--focus);
    outline-offset: var(--oline-offset);
  }
}
.markdown li + li {
  margin: unset;
}
.prism-code {
  outline: var(--outline--unset);
}
.menu {
  overflow-x: unset;
  &.thin-scrollbar {
    overflow-x: hidden;
  }
  .menu__list {
    a {
      border: none;
    }
  }
}
.menu__link--active,
.menu__link--active:not(.menu__link--sublist) {
  background: var(--link-background);
}
/*------------------------------------------------------------------------------
Additional styles to theme the docusaurus pages
------------------------------------------------------------------------------*/
.hero__title {
  --h1-color: var(--light-green);
}
.footer__bottom img {
  width: var(--logo-size);
}
.menu__caret {
  margin: 0;
}
