/*------------------------------------------------------------------------------
Atom: Buttons - Play Button
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.play-link,
.play-button {
  width: var(--toggle-size--sm);
  height: var(--toggle-size--sm);
  padding: var(--space--sm) var(--space--sm) var(--space--md) var(--space--md);
  color: var(--white);
  border-style: none;
  border-radius: 50%;
  background-color: var(--blue);

  svg {
    fill: var(--white);
  }

  &:active,
  &:focus,
  &:hover {
    background-color: var(--dark-blue);
  }

  .play-icon {
    position: relative;
    left: 0.14rem;
  }
}
