/*------------------------------------------------------------------------------
Atom: Buttons - Play Button
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.play-link,
.play-button {
  width: var(--toggle-size--sm);
  height: var(--toggle-size--sm);
  padding: var(--space--sm) var(--space--sm) var(--space--md) var(--space--md);
  color: var(--white);
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  background-color: var(--blue);

  svg {
    fill: var(--white);
    width: 100%;

  }

  @media (forced-colors: active) {
    transition: none;

    svg {
      fill: ButtonText;
    }
  }
  
  &:active,
  &:focus,
  &:hover {
    background-color: var(--dark-blue);

    @media (forced-colors: active) {
      background-color: ButtonText;
      outline-color: ButtonText;
      border-color: ButtonText;

      svg {
        fill: ButtonFace;
      }
    }
  }

  .play-icon {
    position: relative;
    left: 0.14rem;
  }
}
