/**
* @file
* 00-atoms/images/image-stylized/_image-stylized.scss
*/
$image-size: 300px;

.stylized {
  &.image {
    position: relative;
    display: inline-grid;
    align-items: end;
    padding: 0;
    color: $link-color;
    background: none;

    grid-template-columns: $image-size;
    grid-template-rows: $image-size 2.5em;
    justify-items: center;

    &:before {
      transition: $button-transition-speed $button-transition-ease;

      grid-column-start: 1;
      grid-row-start: 1;
      justify-self: right;
    }

    &:after {
      box-sizing: border-box;
      width: $image-size;
      height: $image-size;
      content: "";
      transition: $button-transition-speed $button-transition-ease;
      border: solid $dark-blue $border-width;
      border-radius: $button-border-radius-alt;

      grid-column-start: 1;
      grid-row-start: 1;
    }

    img {
      z-index: -1;
      width: $image-size;
      height: $image-size;
      transition: $button-transition-speed $button-transition-ease;
      transform: translate(5%, 5%);
      border-radius: $button-border-radius-alt;

      grid-column-start: 1;
      grid-row-start: 1;
    }

    &:hover,
    &:focus {
      color: $link-color--hover;
      background: none;
      box-shadow: none;

      &:after {
        border-color: $blue;
      }

      img {
        transform: translate(0, 0);
      }
    }
  }
}
