/**
* @file
* sites/mabel/pages/_search-results.scss
*/

.page-islandora-search {
  .pane-page-title {
    h1 {
      display: inline-block;
      margin-right: $standard-spacing;
    }
  }

  .page-content {
    margin-bottom: 0;
  }

  .islandora-solr-search-result {
    padding: 0 $standard-spacing $double-spacing;
    border-bottom: solid 1px $gray;

    &:last-of-type {
      border-bottom: none;
    }

    a {
      margin: initial;
      padding: 0;
      border-bottom: none;
    }

    dl.solr-fields {
      border: none;
    }
    .solr-fields dt,
    .solr-fields dd {
      border-color: $light-gray;
    }

    dl {
      &.solr-thumb,
      &.solr-fields {
        @include breakpoint(max-width $medium) {
          float: none;
          width: 100%;
        }

        &.solr-thumb {
          text-align: center;
        }
      }
    }

    .islandora-inline-metadata {
      dt {
        font-weight: $font-weight--regular;
      }
    }
  }

  .islandora-solr-grid {
    a {
      margin: 0;
      padding: 0;
      border: none;
      font-size: $p-font-size--smaller;
    }
  }

  .layout__region--second {
    position: relative;
    padding-top: $double-spacing;
  }
}

/* The following are for the resul limit/sort/display options, which also affect object 'result' pages, ie 'browse the collection' */
.page-islandora {
  .search-options-container {
    @include breakpoint($small) {
      position: absolute;
      top: 0;
      flex-flow: row nowrap;
      margin-top: 0;
    }
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-top: -$double-spacing;

    > div {
      @include breakpoint($small) {
        flex: 0 1 33%;
        margin-bottom: none;
      }
      display: inline-block;
      width: 100%;
      margin-bottom: $half-spacing;
      vertical-align: top;
      background: $lightest-gray;

      .pane-title {
        display: block;
        padding: $half-spacing $standard-spacing;
        background: $light-gray;
      }

      .item-list {
        display: none;
        padding: $half-spacing;
        padding: 0 !important;
        font-size: $p-font-size--smaller;


        ul {
          margin-bottom: 0;
        }

        li {
          margin: 0;
          padding: $half-spacing $standard-spacing;
          list-style: none;

          a {
            display: block;
            margin: (-$half-spacing) (-$standard-spacing);
            padding: $half-spacing $standard-spacing;
            border-bottom: none;
          }
        }
      }
    }
  }
}

.expand-solr-panel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: $half-spacing $standard-spacing;
  text-align: left;
  color: $black;
  color: $white;
  border-radius: 0;
  background-color: $green;

  &:hover,
  &:focus {
    background-color: $dark-green;
  }

  .material-icons {
    position: absolute;
    top: $quarter-spacing;
    top: 50%;
    right: 0;
    transform: translate(-4px, -50%);
    font-size: 18px;
  }
}
#islandora-solr-result-count {
  display: inline-block;
}
#secondary-display-profiles {
  display: none;
}
