<h2>Primary Brand Colors</h2>

<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #003f87;"></span>
    <span class="sg-label">Dark Blue <br>#003f87<br>rgba(0, 63, 135, 1)</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #007ac8;"></span>
    <span class="sg-label">Blue <br> #007ac8<br>rgba(0, 122, 200, 1)</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #006b3f;"></span>
    <span class="sg-label">Dark Green <br>#006b3f<br>rgba(0, 107, 63, 1)</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #bad80a;"></span>
    <span class="sg-label">Light Green <br>#bad80a<br>rgba(186, 216, 10, 1)</span>
  </li>
</ul>

<h2>Secondary Brand Colors</h2>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #002f5e;"></span>
    <span class="sg-label">Darkest Blue <br>#002f5e<br>rgba(0, 47, 94, 1)</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #63c2ff;"></span>
    <span class="sg-label">Light Blue <br> #63c2ff <br> rgba(99,194,255, 1)</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #5da225;"></span>
    <span class="sg-label">Green <br>#5da225<br>rgba(93, 162, 37, 1)</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #d6e86c;"></span>
    <span class="sg-label">Lightest Green <br>#d6e86c;<br>rgba(214, 232, 108, 1)</span>
  </li>
</ul>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #1c2023;"></span>
    <span class="sg-label">Black <br>#1c2023<br>rgba(28, 32, 35, 1)</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #667986;"></span>
    <span class="sg-label">Gray <br>#667986<br>rgba(102, 121, 134, 1)</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #e3e7e9;"></span>
    <span class="sg-label">Light Gray <br>#e3e7e9<br> rgba(234, 237, 239, 1)</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f5f6f7;"></span>
    <span class="sg-label">Lightest Gray <br>#f5f6f7<br> rgba(245, 246, 247, 1)</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #fff;"></span>
    <span class="sg-label">White <br>#ffffff<br> rgba(255, 255, 255, 1)</span>
  </li>
</ul>

<h2>Special Use Colors</h2>
<p>Use of these colors should be limited to warnings, cautions, alerts, and other cases where special attention is needed.</p>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #cc2d30;"></span>
    <span class="sg-label">Red<br>#cc2d30<br>rgba(204, 45, 48, 1)</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffc61e;"></span>
    <span class="sg-label">Yellow<br>#ffc61e <br> rgba(255, 198, 30, 1)</span>
  </li>
</ul>

<h2>Background colors</h2>
<p>These colors can be used as backgrounds by adding the associated class name to a parent element. Things like text, links, menus, and headings may receive special styling in these cases. (Note that white backgrounds and associated styles are the default, and are not included here.)</p>

<div class="dark-blue-bg">
  <h1>.dark-blue-bg <a href="#">and link</a></h1>
  <h2>H2 Heading <a href="#">and link</a></h2>
  <h3>H3 Heading <a href="#">and link</a></h3>
  <h4>H4 Heading <a href="#">and link</a></h4>
  <h5>H5 Heading <a href="#">and link</a></h5>

  <p>Regular Text with <a href="#">a regular link</a></p>

  <ul>
    <li><a href="#">Regular</a></li>
    <li><a href="#">list with this</a></li>
    <li>background, and a <a href="#">bunch of links</a></li>
  </ul>

  <ul class="menu">
    <li><a href="#">List of links</a></li>
    <li><a href="#">with of links</a></li>
    <li><a href="#">.menu class of links</a></li>
  </ul>
</div>
<div class="blue-bg">
  <h1>.blue-bg <a href="#">and link</a></h1>
  <h2>H2 Heading <a href="#">and link</a></h2>
  <h3>H3 Heading <a href="#">and link</a></h3>
  <h4>H4 Heading <a href="#">and link</a></h4>
  <h5>H5 Heading <a href="#">and link</a></h5>

  <p>Regular Text with <a href="#">a regular link</a></p>

  <ul>
    <li><a href="#">Regular</a></li>
    <li><a href="#">list with this</a></li>
    <li>background, and a <a href="#">bunch of links</a></li>
  </ul>

  <ul class="menu">
    <li><a href="#">List of links</a></li>
    <li><a href="#">with of links</a></li>
    <li><a href="#">.menu class of links</a></li>
  </ul>
</div>
<div class="light-blue-bg">
  <h1>.light-blue-bg <a href="#">and link</a></h1>
  <h2>H2 Heading <a href="#">and link</a></h2>
  <h3>H3 Heading <a href="#">and link</a></h3>
  <h4>H4 Heading <a href="#">and link</a></h4>
  <h5>H5 Heading <a href="#">and link</a></h5>

  <p>Regular Text with <a href="#">a regular link</a></p>

  <ul>
    <li><a href="#">Regular</a></li>
    <li><a href="#">list with this</a></li>
    <li>background, and a <a href="#">bunch of links</a></li>
  </ul>

  <ul class="menu">
    <li><a href="#">List of links</a></li>
    <li><a href="#">with of links</a></li>
    <li><a href="#">.menu class of links</a></li>
  </ul>
  </>
</div>
<div class="lightest-blue-bg">
  <h1>.lightest-blue-bg <a href="#">and link</a></h1>
  <h2>H2 Heading <a href="#">and link</a></h2>
  <h3>H3 Heading <a href="#">and link</a></h3>
  <h4>H4 Heading <a href="#">and link</a></h4>
  <h5>H5 Heading <a href="#">and link</a></h5>

  <p>Regular Text with <a href="#">a regular link</a></p>

  <ul>
    <li><a href="#">Regular</a></li>
    <li><a href="#">list with this</a></li>
    <li>background, and a <a href="#">bunch of links</a></li>
  </ul>

  <ul class="menu">
    <li><a href="#">List of links</a></li>
    <li><a href="#">with of links</a></li>
    <li><a href="#">.menu class of links</a></li>
  </ul>
</div>
<div class="black-bg">
  <h1>.black-bg <a href="#">and link</a></h1>
  <h2>H2 Heading <a href="#">and link</a></h2>
  <h3>H3 Heading <a href="#">and link</a></h3>
  <h4>H4 Heading <a href="#">and link</a></h4>
  <h5>H5 Heading <a href="#">and link</a></h5>

  <p>Regular Text with <a href="#">a regular link</a></p>

  <ul>
    <li><a href="#">Regular</a></li>
    <li><a href="#">list with this</a></li>
    <li>background, and a <a href="#">bunch of links</a></li>
  </ul>

  <ul class="menu">
    <li><a href="#">List of links</a></li>
    <li><a href="#">with of links</a></li>
    <li><a href="#">.menu class of links</a></li>
  </ul>
</div>
<div class="gray-bg">
  <h1>.gray-bg <a href="#">and link</a></h1>
  <h2>H2 Heading <a href="#">and link</a></h2>
  <h3>H3 Heading <a href="#">and link</a></h3>
  <h4>H4 Heading <a href="#">and link</a></h4>
  <h5>H5 Heading <a href="#">and link</a></h5>

  <p>Regular Text with <a href="#">a regular link</a></p>

  <ul>
    <li><a href="#">Regular</a></li>
    <li><a href="#">list with this</a></li>
    <li>background, and a <a href="#">bunch of links</a></li>
  </ul>

  <ul class="menu">
    <li><a href="#">List of links</a></li>
    <li><a href="#">with of links</a></li>
    <li><a href="#">.menu class of links</a></li>
  </ul>
</div>
<div class="light-gray-bg">
  <h1>.light-gray-bg <a href="#">and link</a></h1>
  <h2>H2 Heading <a href="#">and link</a></h2>
  <h3>H3 Heading <a href="#">and link</a></h3>
  <h4>H4 Heading <a href="#">and link</a></h4>
  <h5>H5 Heading <a href="#">and link</a></h5>

  <p>Regular Text with <a href="#">a regular link</a></p>

  <ul>
    <li><a href="#">Regular</a></li>
    <li><a href="#">list with this</a></li>
    <li>background, and a <a href="#">bunch of links</a></li>
  </ul>

  <ul class="menu">
    <li><a href="#">List of links</a></li>
    <li><a href="#">with of links</a></li>
    <li><a href="#">.menu class of links</a></li>
  </ul>
</div>
<div class="lightest-gray-bg">
  <h1>.lightest-gray-bg <a href="#">and link</a></h1>
  <h2>H2 Heading <a href="#">and link</a></h2>
  <h3>H3 Heading <a href="#">and link</a></h3>
  <h4>H4 Heading <a href="#">and link</a></h4>
  <h5>H5 Heading <a href="#">and link</a></h5>

  <p>Regular Text with <a href="#">a regular link</a></p>

  <ul>
    <li><a href="#">Regular</a></li>
    <li><a href="#">list with this</a></li>
    <li>background, and a <a href="#">bunch of links</a></li>
  </ul>

  <ul class="menu">
    <li><a href="#">List of links</a></li>
    <li><a href="#">with of links</a></li>
    <li><a href="#">.menu class of links</a></li>
  </ul>
</div>
