<h2>Primary Brand Colors</h2>

<ul class="sg-colors">
  <li>
    <div class="sg-swatch dark-blue"></div>
    <div class="sg-label">Dark Blue</div>
    <div class="sg-label">Pantone 294</div>
    <div class="sg-label">CMYK(100, 58, 0, 21)</div>
    <div class="sg-label">#003f87</div>
    <div class="sg-label">rgba(0, 63, 135, 1)</div>
  </li>
  <li>
    <div class="sg-swatch blue"></div>
    <div class="sg-label">Blue</div>
    <div class="sg-label">Pantone 2925</div>
    <div class="sg-label">CMYK(85, 24, 0, 0)</div>
    <div class="sg-label">#007ac8</div>
    <div class="sg-label">rgba(0, 122, 200, 1)</div>
  </li>
  <li>
    <div class="sg-swatch dark-green"></div>
    <div class="sg-label">Dark Green</div>
    <div class="sg-label">Pantone 349</div>
    <div class="sg-label">CMYK(100, 0, 95, 55)</div>
    <div class="sg-label">#006b3f</div>
    <div class="sg-label">rgba(0, 107, 63, 1)</div>
  </li>
  <li>
    <div class="sg-swatch light-green"></div>
    <div class="sg-label">Light Green</div>
    <div class="sg-label">Pantone 382</div>
    <div class="sg-label">CMYK(29, 0, 100, 0)</div>
    <div class="sg-label">#bad80a</div>
    <div class="sg-label">rgba(186, 216, 10, 1)</div>
  </li>
</ul>

<h2>Secondary Brand Colors</h2>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch darkest-blue"></span>
    <span class="sg-label">Darkest Blue <br>#002f5e<br>rgba(0, 47, 94, 1)</span>
  </li>
  <li>
    <span class="sg-swatch light-blue"></span>
    <span class="sg-label">Light Blue <br> #63c2ff <br> rgba(99,194,255, 1)</span>
  </li>
  <li>
    <span class="sg-swatch green"></span>
    <span class="sg-label">Green <br>#5da225<br>rgba(93, 162, 37, 1)</span>
  </li>
  <li>
    <span class="sg-swatch lightest-green"></span>
    <span class="sg-label">Lightest Green <br>#d6e86c;<br>rgba(214, 232, 108, 1)</span>
  </li>
</ul>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch black"></span>
    <span class="sg-label">Black <br>#1c2023<br>rgba(28, 32, 35, 1)</span>
  </li>
  <li>
    <span class="sg-swatch gray"></span>
    <span class="sg-label">Gray <br>#667986<br>rgba(102, 121, 134, 1)</span>
  </li>
  <li>
    <span class="sg-swatch light-gray"></span>
    <span class="sg-label">Light Gray <br>#e3e7e9<br> rgba(234, 237, 239, 1)</span>
  </li>
  <li>
    <span class="sg-swatch lightest-gray"></span>
    <span class="sg-label">Lightest Gray <br>#f5f6f7<br> rgba(245, 246, 247, 1)</span>
  </li>
  <li>
    <span class="sg-swatch white"></span>
    <span class="sg-label">White <br>#ffffff<br> rgba(255, 255, 255, 1)</span>
  </li>
</ul>

<h2>Special Use Colors</h2>
<p>Use of these colors should be limited to warnings, cautions, alerts, and other cases where special attention is needed.</p>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch red"></span>
    <span class="sg-label">Red<br>#cc2d30<br>rgba(204, 45, 48, 1)</span>
  </li>
  <li>
    <span class="sg-swatch yellow"></span>
    <span class="sg-label">Yellow<br>#ffc61e <br> rgba(255, 198, 30, 1)</span>
  </li>
</ul>

<h2>Background colors</h2>
<p>These colors can be used as backgrounds by adding the associated class name to a parent element. Things like text, links, menus, and headings may receive special styling in these cases. (Note that white backgrounds and associated styles are the default, and are not included here.)</p>
<main>
  <div class="dark-blue-bg">
    <h1>.dark-blue-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>

    <a class="button">Button</a>
    <a class="button dark-blue">Button</a>
    <a class="button green">Button</a>
    <a class="button dark-green">Button</a>
    <a class="button alt">Button</a>
    <a class="button light-blue alt">Button</a>
    <a class="button light-green alt">Button</a>
    <a class="button white alt">Button</a>
  </div>
  <div class="blue-bg">
    <h1>.blue-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>

    <a class="button">Button</a>
    <a class="button dark-blue">Button</a>
    <a class="button green">Button</a>
    <a class="button dark-green">Button</a>
    <a class="button alt">Button</a>
    <a class="button light-blue alt">Button</a>
    <a class="button light-green alt">Button</a>
    <a class="button white alt">Button</a>
  </div>
  <div class="light-blue-bg">
    <h1>.light-blue-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>

    <a class="button">Button</a>
    <a class="button dark-blue">Button</a>
    <a class="button green">Button</a>
    <a class="button dark-green">Button</a>
    <a class="button alt">Button</a>
    <a class="button light-blue alt">Button</a>
    <a class="button light-green alt">Button</a>
    <a class="button white alt">Button</a>
    </>
  </div>
  <div class="lightest-blue-bg">
    <h1>.lightest-blue-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>

    <a class="button">Button</a>
    <a class="button dark-blue">Button</a>
    <a class="button green">Button</a>
    <a class="button dark-green">Button</a>
    <a class="button alt">Button</a>
    <a class="button light-blue alt">Button</a>
    <a class="button light-green alt">Button</a>
    <a class="button white alt">Button</a>
  </div>
  <div class="black-bg">
    <h1>.black-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>

    <a class="button">Button</a>
    <a class="button dark-blue">Button</a>
    <a class="button green">Button</a>
    <a class="button dark-green">Button</a>
    <a class="button alt">Button</a>
    <a class="button light-blue alt">Button</a>
    <a class="button light-green alt">Button</a>
    <a class="button white alt">Button</a>
  </div>
  <div class="gray-bg">
    <h1>.gray-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>

    <a class="button">Button</a>
    <a class="button dark-blue">Button</a>
    <a class="button green">Button</a>
    <a class="button dark-green">Button</a>
    <a class="button alt">Button</a>
    <a class="button light-blue alt">Button</a>
    <a class="button light-green alt">Button</a>
    <a class="button white alt">Button</a>
  </div>
  <div class="light-gray-bg">
    <h1>.light-gray-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>

    <a class="button">Button</a>
    <a class="button dark-blue">Button</a>
    <a class="button green">Button</a>
    <a class="button dark-green">Button</a>
    <a class="button alt">Button</a>
    <a class="button light-blue alt">Button</a>
    <a class="button light-green alt">Button</a>
    <a class="button white alt">Button</a>
  </div>
  <div class="lightest-gray-bg">
    <h1>.lightest-gray-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>

    <a class="button">Button</a>
    <a class="button dark-blue">Button</a>
    <a class="button green">Button</a>
    <a class="button dark-green">Button</a>
    <a class="button alt">Button</a>
    <a class="button light-blue alt">Button</a>
    <a class="button light-green alt">Button</a>
    <a class="button white alt">Button</a>
  </div>
</main>
