<h2>Background colors</h2>
<p>These colors can be used as backgrounds by adding the associated class name to a parent element. Things like text, links, menus, and headings may receive special styling in these cases. (Note that white backgrounds and associated styles are the default, and are not included here.)</p>
<main>
  <div class="dark-blue-bg">
    <h1>.dark-blue-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>
{% include "@molecules/social-media/social-media-icons.html.twig" %}
  </div>
  <div class="blue-bg">
    <h1>.blue-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>
{% include "@molecules/social-media/social-media-icons.html.twig" %}
  </div>
  <div class="light-blue-bg">
    <h1>.light-blue-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>
{% include "@molecules/social-media/social-media-icons.html.twig" %}
    </>
  </div>
  <div class="lightest-blue-bg">
    <h1>.lightest-blue-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>
{% include "@molecules/social-media/social-media-icons.html.twig" %}
  </div>
  <div class="black-bg">
    <h1>.black-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>
{% include "@molecules/social-media/social-media-icons.html.twig" %}
  </div>
  <div class="gray-bg">
    <h1>.gray-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>
{% include "@molecules/social-media/social-media-icons.html.twig" %}
  </div>
  <div class="light-gray-bg">
    <h1>.light-gray-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>
{% include "@molecules/social-media/social-media-icons.html.twig" %}
  </div>
  <div class="lightest-gray-bg">
    <h1>.lightest-gray-bg <a href="#">and link</a></h1>
    <h2>H2 Heading <a href="#">and link</a></h2>
    <h3>H3 Heading <a href="#">and link</a></h3>
    <h4>H4 Heading <a href="#">and link</a></h4>
    <h5>H5 Heading <a href="#">and link</a></h5>

    <p>Regular Text with <a href="#">a regular link</a></p>

    <ul>
      <li><a href="#">Regular</a></li>
      <li><a href="#">list with this</a></li>
      <li>background, and a <a href="#">bunch of links</a></li>
    </ul>

    <ul class="menu">
      <li><a href="#">List of links</a></li>
      <li><a href="#">with of links</a></li>
      <li><a href="#">.menu class of links</a></li>
    </ul>
{% include "@molecules/social-media/social-media-icons.html.twig" %}
  </div>
</main>
