/*------------------------------------------------------------------------------
Organism: Block template
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.block--full-page,
.block--half-page {
  position: relative;
  z-index: 0;

  .block__title {
    margin: 0;
    padding: 0;
  }
}

.block--full-page {
  @include breakpoint($small) {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
  @include breakpoint($large) {
    padding-right: var(--space--3xl);
    padding-left: var(--space--3xl);
  }
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0 calc(-1 * var(--space--sm));
}

.block--half-page {
  @include breakpoint($small) {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
  @include breakpoint($large) {
    padding-right: var(--space--3xl);
    padding-left: var(--space--3xl);
  }
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  min-height: 45vh;
  margin: 0 calc(-1 * var(--space--sm));
}

.layout--twocol-section--50-50 {
  .block--half-page {
    @include breakpoint($small) {
      width: 50vw;
    }
  }

  .layout__region--first {
    .block--half-page {
      @include breakpoint($medium) {
        margin-left: calc(-1 * var(--space--sm));
      }
      @include breakpoint($large) {
        margin-left: calc((100vw - var(--content-area-max-width)) / -2);
      }
    }
  }

  .layout__region--second {
    .block--half-page {
      @include breakpoint($medium) {
        margin-right: calc(-1 * var(--space--sm));
      }
      @include breakpoint($large) {
        margin-right: calc((100vw - var(--content-area-max-width)) / -2);
      }
    }
  }
}
