{#
/**
 * @see templates/block/block.html.twig
 */
#}
<div{{ attributes }}>
  {% block title %}
    {% include "@atoms/global/label/label.twig" %}
  {% endblock %}

  {% block content %}
    {{ content }}
  {% endblock %}
</div>
