{#
/**
 * @see templates/layout/region--footer.html.twig
 */
#}
<div class="site-footer">
  {% if footer_left %}
    {{ footer_left }}
  {% endif %}
  {% if footer_center %}
    {{ footer_center }}
  {% endif %}
  {% if footer_right %}
    {{ footer_right }}
  {% endif %}
</div>
