/**
 * @file
 * 00-atoms/space/_space.scss
 */
.vertical-space--1x {
  @include breakpoint($medium) {
    height: $standard-spacing;
  }
}

.vertical-space--2x {
  @include breakpoint($medium) {
    height: $standard-spacing * 2;
  }
}

.vertical-space--3x {
  @include breakpoint($medium) {
    height: $standard-spacing * 3;
  }
}

.vertical-space--4x {
  @include breakpoint($medium) {
    height: $standard-spacing * 4;
  }
}

.vertical-space--5x {
  @include breakpoint($medium) {
    height: $standard-spacing * 5;
  }
}

.vertical-space--6x {
  @include breakpoint($medium) {
    height: $standard-spacing * 6;
  }
}

.vertical-space--7x {
  @include breakpoint($medium) {
    height: $standard-spacing * 7;
  }
}

.vertical-space--8x {
  @include breakpoint($medium) {
    height: $standard-spacing * 8;
  }
}
