/**
 * @file
 * 00-atoms/space/_space.scss
 */
.vertical-space--1x {
  height: $standard-spacing;
}

.vertical-space--2x {
  height: $standard-spacing * 2;
}

.vertical-space--3x {
  height: $standard-spacing * 3;
}

.vertical-space--4x {
  height: $standard-spacing * 4;
}

.vertical-space--5x {
  height: $standard-spacing * 5;
}

.vertical-space--6x {
  height: $standard-spacing * 6;
}

.vertical-space--7x {
  height: $standard-spacing * 7;
}

.vertical-space--8x {
  height: $standard-spacing * 8;
}
