/**
 * @file
 * 01-molecules/navigation/menu-flyout/_menu-flyout.scss
 */

.flyout {
  width: 100%;

  &.dark-blue {
    background-color: $dark-blue;
  }

  &.light-blue {
    background-color: $light-blue;
  }

  &.gray {
    background-color: $light-gray;
  }

  .wrap {
    @include breakpoint($medium) {
      padding-top: ($toggle-size/2) + ($standard-spacing);
    }
    @include breakpoint($large) {
      padding-top: ($toggle-size--larger/2) + ($standard-spacing);
    }
    position: relative;
    width: 100%;
    max-width: $max-content-width;
    height: 100%;
    margin: auto;
    padding: $standard-spacing;
  }

  .menu {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    max-height: 30vh;
    margin: auto;
    font-size: $font-size--smaller;

    li {
      width: 33%;
    }
  }
}

/* Standard Drupal menu output flyout styles */
.ultimenusub {
  @include breakpoint($medium) {
    height: inherit;
    padding-top: (($toggle-size--larger / 2) + $standard-spacing);
    padding-left: calc(((100vw - #{$max-content-width}) / 2) + #{$double-spacing});
    padding-right: calc(((100vw - #{$max-content-width}) / 2) + #{$double-spacing});
    padding-bottom: $double-spacing;
  }
  height: 100vh;
  padding: $standard-spacing;
  background: $blue;
}
