<p>Simple block quotes:</p>

<blockquote>Mr. Crusher, ready a <a href="#">collision course</a> with the Borg ship. Now, how the hell do we defeat an enemy that knows us better than we know ourselves? <a class="cta" href="#">Call to Action</a></blockquote>

<p>With class .dark-blue-bg:</p>

<blockquote class="dark-blue-bg">Mr. Crusher, ready a <a href="#">collision</a> course with the Borg ship. Now, how the hell do we defeat an enemy that knows us better than we know ourselves? <a class="cta" href="#">Call to Action</a></blockquote>

<p>With .pullquote class:</p>

<blockquote class="pullquote">Mr. Crusher, ready a collision course with the Borg ship. Now, how the hell do we defeat an enemy that knows us better than we know ourselves? <a class="cta" href="#">Call to Action</a></blockquote>

<blockquote class="pullquote dark-blue-bg">Mr. Crusher, ready a collision course with the Borg ship. Now, how the hell do we defeat an enemy that knows us better than we know ourselves? <a class="cta" href="#">Call to Action</a></blockquote>
