{#
/**
 * @file
 * Majors landing page template.
 */
#}
{{ attach_library('ashlar/majors-landing') }}
<div class="layout-container">
  {% include '@organisms/page/page.html.twig' %}
</div>{# /.layout-container #}
