{% extends "region.html.twig" %}

{% block template %}
<main class="page-content" id="main-content" tabindex="-1">{# link is in html.html.twig #}
  <div class="region-wrapper">
    {% block page_content %}
      <div{{ attributes }}>
          {{ content }}
      </div>
    {% endblock %}
  </div>
</main>
{% endblock %}
