/*------------------------------------------------------------------------------
Molecule: Announcement
--------------------------------------------------------------------------------
1. Dark mode
------------------------------------------------------------------------------*/
@import "../../00-utilities/breakpoints.scss";
@import "../../01-atoms/background-color/background-color-mixins.scss";
.wwu-announcement {
  @include blue-bg;

  display: grid;
  grid-template-areas: "icon" "text";
  grid-template-rows: auto auto;
  place-items: center;
  margin: auto;
  margin-bottom: var(--space--md);
  text-align: center;
  border: var(--border-width--md) solid transparent;
  box-shadow: var(--shadow--hard);
  @media (min-width: $small) {
    grid-template-areas: "icon text";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
  .material-icons {
    @include light-green-bg;

    position: relative;
    display: grid;
    grid-area: icon;
    align-content: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin: var(--space--sm);
    color: var(--blue);
    border: var(--border-width--md) solid transparent;
    border-radius: 50%;
    font-size: var(--icon-size--lg);
  }
  .body {
    display: grid;
    grid-area: text;
    justify-items: center;
    width: 100%;
    height: 100%;
    padding: var(--space--md);
  }
  &.layout-builder-block {
    padding: 0;
  }
}
/*------------------------------------------------------------------------------
1. Dark Mode
------------------------------------------------------------------------------*/
[data-theme="dark"] {
  .wwu-announcement {
    @include dark-blue-bg;
    .material-icons {
      color: var(--dark-blue);
    }
  }
}
