@use "../../00-utilities/utilities" as *;
/*------------------------------------------------------------------------------
Molecule: Announcement
--------------------------------------------------------------------------------
1. Dark mode
------------------------------------------------------------------------------*/
.wwu-announcement {
  display: grid;
  grid-template-areas: "icon text";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  margin: auto;
  border: var(--border-width--md) solid transparent;
  .title {
    margin-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .material-icons {
    @include dark-blue-bg;

    display: grid;
    grid-area: icon;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--light-green);
    border-right: var(--border-width--md) solid transparent;
    @media (min-width: $medium) {
      font-size: var(--icon-size--lg);
    }
  }
  .body {
    @include light-green-bg;

    display: grid;
    grid-area: text;
    justify-items: center;
    width: 100%;
    height: 100%;
    padding: var(--space--md);
  }
  &.layout-builder-block {
    padding: 0;
  }
}
/*------------------------------------------------------------------------------
1. Dark Mode
------------------------------------------------------------------------------*/
[data-theme="dark"] {
  .wwu-announcement {
    background-color: var(--green);
    .body {
      @include green-bg;
    }
  }
}
