<div{{ attributes }}>
  {% block content %}
    <span class="material-icons" aria-hidden="true">{{ content.field_icon }}</span>

    <div class="body">
      {% include "@atoms/text/label/label.twig" %}
      {{ content.body }}
    </div>
  {% endblock %}
</div>
