/*------------------------------------------------------------------------------
Organism: Email signature
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
.email_signature_table {
  width: initial;

  tr {
    background: transparent;
  }

  td {
    border: none;
  }

  p {
    font-size: inherit;
  }
}
