/**
* @file
* 00-molecules/navigation/wwu-menu/_wwu-menu.scss
*/
.quick-links {
  @include breakpoint($medium) {
    margin: 0;
    justify-content: end;
  }
  font-family: $condensed;
  position: relative;
  display: flex;
  justify-content: end;
  margin-top: $half-spacing;
  margin-bottom: $standard-spacing;

  .icon-with-text {
    background: transparent;
    color: $white;
    box-shadow: none;
    padding: 0;
    border-radius: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: $lightest-green;
      color: $darkest-blue;
    }
  }
}
