/**
* @file
* 00-molecules/navigation/wwu-menu/_wwu-menu.scss
*/

@mixin position-right {
  position: absolute;
  top: 0;
  right: 0;
}

.western-menu {
  @include breakpoint($medium) {
    margin: 0;
  }
  display: flex;
  align-self: start;
  justify-content: flex-end;
  max-width: 100vw;
  margin-top: $double-spacing;
  margin-bottom: $standard-spacing;
  font-family: $condensed;

  grid-area: wwu-menu;

  .icon-with-text {
    @include breakpoint($medium) {
      display: flex;
      align-items: center;
      width: initial;
      height: initial;
      padding: $half-spacing $standard-spacing $half-spacing $half-spacing;

      .material-icons {
        position: relative;
        top: 0.125rem;
        margin-right: $border-width;
        font-size: $icon-size--medium;
      }
    }
    padding: 0;
    color: $white;
    border-radius: 0;
    background: transparent;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
      color: $darkest-blue;
      background-color: $lightest-green;
    }

    &:focus {
      outline-color: $darkest-blue;
      outline-offset: -$border-width;
    }

    &.my-western-link {
      @include breakpoint($medium) {
        width: initial;
      }
      width: $toggle-size + $standard-spacing;
    }
  }

  .wwu-menu {
    display: flex;
  }
}

.opendyslexic {
  .western-menu {
    @include breakpoint($medium) {
      @include position-right();

      .icon-with-text {
        font-size: $dyslexic-icon-smaller;
      }
    }
    font-family: $opendyslexic;
  }
}

.atkinson {
  .western-menu {
    @include breakpoint($medium) {
      @include position-right();

      font-size: 1rem;
    }
    font-size: $dyslexic-icon-smaller;
    font-family: $atkinson;
  }
}