/**
 * @file
 * 00-atoms/forms/_forms.scss
 */

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}
legend {
  margin-bottom: $half-spacing;
  padding: 0;
  font-weight: 600;
}
input,
label,
select {
  display: block;
}
input {
  @include breakpoint($medium) {
    border-width: $border-width--thicker;
  }
  box-sizing: border-box;
  max-width: 100%;
  margin-bottom: $standard-spacing;
  padding: $half-spacing;
  transition: border-color $medium-transition-speed $standard-ease;
  border: solid $border-width $dark-blue;
  border-radius: 0;
  background-color: $white;
  box-shadow: none;
  font-size: $font-size--smaller;

  &:focus {
    outline: none;
    box-shadow: $focus-shadow;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: $white;
    &:hover {
      border: $gray;
      border-width: 1px;
    }
  }
}

input[type="submit"] {
  width: inherit;

  &:focus {
    box-shadow: none;
  }
}

select {
  font-size: $font-size--smaller;
}
