/**
 * @file
 * 00-atoms/forms/_forms.scss
 */
$shila-form-element-background-color: white;
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}
legend {
  margin-bottom: $shila-small-spacing / 2;
  padding: 0;
  font-weight: 600;
}
input,
label,
select {
  display: block;
  font-size: 1rem;
}
#{$shila-all-text-inputs},
select[multiple=multiple] {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: $standard-spacing;
  padding: $standard-spacing;
  transition: border-color $medium-transition-speed $standard-ease;
  border: solid $border-width $dark-blue;
  border-radius: 0;
  background-color: $white;
  box-shadow: none;
  font-size: 1rem;
  &:hover {
    border-color: mix(white, $dark-blue, 20%);
  }
  &:focus {
    outline: none;
    box-shadow: $shila-form-box-shadow-focus;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: $white;
    &:hover {
      border: $gray;
      border-width: 1px;
    }
  }
}
