/**
* @file
* 01-atoms/01-text/links/_links.scss
*/
a {
  transition: $link-transition-speed $link-transition-ease;
  transition-property: background, color, border;
  text-decoration: underline;
  color: $link-color;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: $link-color--hover;
    border-bottom-color: transparent;
    background-color: $light-gray;
  }

  &:focus {
    @include breakpoint($medium) {
      outline: $focus-outline--thicker;
      outline-offset: $border-width--thicker;
    }
    outline: $focus-outline;
    outline-offset: $border-width;
  }

// additional styles for [target="blank"] material icons
//
  &[target="_blank"], &[target="blank"] {
    .material-icons {
      font-size: inherit;
      position: relative;
      top: $standard-spacing / 3;
      left: 2px;
    }
  }

// File extensions added after relevant links

// video
  &[href$='.mp4'], &[href$='.mov'], &[href$='.flv'],
  &[href$='.mpg'], &[href$='.mpeg'] {
    &:after {
      content: ' (video)';
    }
  }

  //audio
  &[href$='.mp3'] {
    &:after {
     content: ' (audio)';
    }
  }

  // Illustrator
  &[href$='.ai'] {
    &:after {
      content: ' (Illustrator)';
    }
  }

  // web
  &[href$='.dwt'], &[href$='.css'],   &[href$='.xml'] {
    &:after {
      content: ' (web file)';
    }
  }

  // Photoshop
  &[href$='.psd'] {
    &:after {
      content: ' (Photoshop)';
    }
  }

  // PostScript
  &[href$='.eps'] {
    &:after {
      content: ' (PostScript)';
    }
  }

  // InDesign
  &[href$='.id'] {
    &:after {
      content: ' (InDesign)';
    }
  }

  // WMV
  &[href$='.wmv'] {
    &:after {
      content: ' (WMV)';
    }
  }

  // Flash
  &[href$='.swf'] {
    &:after {
      content: ' (Flash)';
    }
  }

  // Word
  &[href$='.doc'], &[href$='.docx'],  &[href$='.dot'], &[href$='.docm'],
  &[href$='.dotx'],  &[href$='.dotm'], &[href$='.odt'] {
    &:after {
      content: ' (Word)';
    }
  }

  // PowerPoint
  &[href$='.ppt'], &[href$='.pptx'],  &[href$='.pptm'], &[href$='.potx'],
  &[href$='.potm'], &[href$='.ppam'],   &[href$='.ppsx'], &[href$='.sldx'],
  &[href$='.sldm'], &[href$='.odp'] {
    &:after {
      content: ' (PowerPoint)';
    }
  }

  // Excel
  &[href$='.xls'], &[href$='.xlsx'],  &[href$='.xlsb'], &[href$='.xltm'],
  &[href$='.xlam'], &[href$='.xltx'], &[href$='.ods'] {
    &:after {
      content: ' (Excel)';
    }
  }

  // PDF
  &[href$='.pdf'] {
    &:after {
      content: ' (PDF)';
    }
  }

}
