/*------------------------------------------------------------------------------
Atom: Icons - Social Media Icons
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
:root {
  --icon-background-color: var(--blue);
  --icon-background-color--active: var(--dark-blue);
  --icon-color: var(--white);
  --icon-color--active: var(--white);
}
.social-icon {
  display: block;
  width: var(--toggle-size--sm);
  height: var(--toggle-size--sm);
  transition: var(--ease-standard) var(--transition-speed--fast)
  background-color;
  color: var(--white);
  border: var(--border-width--sm) solid transparent;
  background: var(--icon-background-color);
  svg {
    fill: var(--icon-color);

    width: 100%;
    height: 100%;
    transition: var(--ease-standard) var(--transition-speed--fast) fill;
    @media print {
      fill: var(--black);
    }
    @media (forced-colors: active) {
      fill: LinkText;
    }
  }
  &:active,
  &:focus,
  &:hover {
    background: var(--icon-background-color--active);
    svg {
      fill: var(--icon-color--active);
    }
    @media (forced-colors: active) {
      background-color: LinkText;
      svg {
        fill: Canvas;
      }
    }
  }
  &:focus {
    outline-width: var(--border-width--md);
    outline-style: dotted;
  }
  &.medium {
    width: var(--toggle-size--md);
    height: var(--toggle-size--md);
  }
  &.large {
    width: var(--toggle-size--lg);
    height: var(--toggle-size--lg);
  }
}
.social-media-links {
  display: flex;
  flex-flow: row wrap;
  max-width: 25rem;
  padding: 0;
  list-style: none;
  @media (min-width: $medium) {
    max-width: none;
  }
  .social-icon {
    margin: var(--space--md) var(--space--md) 0 0;
  }
}
