/**
 * @file
 * atoms/forms/textarea/_textarea.scss
 */
textarea {
  @include breakpoint($medium) {
    border-width: $border-width--thicker;
  }
  margin-bottom: $standard-spacing;
  padding: $half-spacing;
  resize: vertical;
  border: solid $dark-blue $border-width;
  font-size: $font-size--smaller;

  -moz-appearance: none;
  appearance: none;
  -webkit-appearnce: none;

  &:disabled {
    color: $gray;
    border-color: $gray;
    background-color: $light-gray;
  }
  &:focus {
    outline: none;
    box-shadow: $focus-shadow;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: $white;
    &:hover {
      border: $gray;
      border-width: 1px;
    }
  }
}
