/**
 * @file
 * atoms/forms/textarea/_textarea.scss
 */
textarea {
  width: 100%;
  margin-bottom: $standard-spacing;
  padding: $standard-spacing;
  resize: vertical;
  border: solid $dark-blue $border-width;
  font-size: $font-size--smaller;

  -moz-appearance: none;
  appearance: none;
  -webkit-appearnce: none;

  &:disabled {
    color: $gray;
    border-color: $gray;
    background-color: $light-gray;
  }
}
