/**
* @file
* 01-atoms/01-text/_asides.scss
*/

aside,
.block--beyond-basics-block,
.paragraph--type--majors-aside {
  margin: $standard-spacing 0;

  &.darkest-blue-bg,
  &.dark-blue-bg,
  &.blue-bg,
  &.light-gray-bg,
  &.lightest-gray-bg,
  &.light-blue-bg,
  &.lightest-blue-bg,
  &.black-bg,
  &.gray-bg,
  &.dark-green-bg,
  &.green-bg,
  &.light-green-bg,
  &.dark-blue-gradient-bg,
  &.blue-gradient-bg {
    padding: $double-spacing;

    &.headings--underlined {
      .block__title {
        padding-bottom: $standard-spacing * 1.5;
      }
    }

    .block__title {
      margin-top: 0;
      padding-bottom: 0;
    }
  }

  &.no-margin {
    margin: 0;
  }
}
