/*------------------------------------------------------------------------------
Templates: Layouts - Retired Layouts - Three col 25/50/25
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

.layout--threecol-25-50-25 {
  display: flex;
  flex-wrap: wrap;
}

.layout--threecol-25-50-25 > .layout__region,
.layout--threecol-25-50-25 > .layout__region--second {
  flex: 0 1 100%;
}

.layout--threecol-25-50-25 > .layout__region--first {
  @media (min-width: $medium) {
    flex: 0 1 25%;
    max-width: 25%;
    padding-right: var(--space--sm);
  }

  font-size: var(--font-size--sm);
}

.layout--threecol-25-50-25 > .layout__region--second {
  @media (min-width: $medium) {
    flex: 0 1 50%;
    max-width: 50%;
    padding: 0 var(--space--sm);
  }
}

.layout--threecol-25-50-25 > .layout__region--third {
  @media (min-width: $medium) {
    flex: 0 1 25%;
    max-width: 25%;
    padding-left: var(--space--sm);
  }

  font-size: var(--font-size--sm);
}
