<div {{ attributes }}>
  {% if content.field_image %}
    <div class="image">
      {{ content.field_image }}
    </div>
  {% endif %}

  <div class="content">
    <div class="title">
      {% include "@atoms/text/label/label-customized.twig" %}
    </div>

    <div class="body">
      {% if content %}
        {% block content %}
          {{ content.body }}
        {% endblock %}
      {% endif %}
    </div>
  </div>
</div>
