/**
* @file
* 01-molecules/testimonials/testimonial--small-with-photo/_testimonial--small-with-photo.scss
*/
$image-size: 180px;
$image-size--medium: 220px;
$image-size--large: 300px;

.block--testimonial,
.paragraph--type--majors-profile {
  @include breakpoint ($small) {
    display: grid;
    text-align: left;

    grid-column-gap: $triple-spacing;
    grid-template-areas:
    "image body"
    "image credit";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
  margin: $double-spacing 0;
  text-align: center;
  background: initial;

  .image,
  .field__item:nth-of-type(1) {
    @include breakpoint($medium) {
      -ms-grid-columns: $image-size--medium;
      -ms-grid-rows: $image-size--medium;
      grid-template-columns: $image-size--medium;
      grid-template-rows: $image-size--medium;
    }
    @include breakpoint($large) {
      -ms-grid-columns: $image-size--large;
      -ms-grid-rows: $image-size--large;
      grid-template-columns: $image-size--large;
      grid-template-rows: $image-size--large;
    }

    grid-area: image;
    -ms-grid-columns: $image-size;
    -ms-grid-rows: $image-size;
    grid-template-columns: $image-size;
    grid-template-rows: $image-size;

    &:after {
      @include breakpoint($medium) {
        width: $image-size--medium;
        height: $image-size--medium;
      }
      @include breakpoint($large) {
        width: $image-size--large;
        height: $image-size--large;
      }
      width: $image-size;
      height: $image-size;
    }

    img {
      @include breakpoint($medium) {
        width: $image-size--medium;
        height: $image-size--medium;
      }
      @include breakpoint($large) {
        width: $image-size--large;
        height: $image-size--large;
      }
      width: $image-size;
      height: $image-size;
    }
  }

  .body,
  .field__item:nth-of-type(2) {
    align-self: center;
    margin: $standard-spacing 0;

    grid-area: body;
  }

  .credit {
    grid-area: credit;

    .name {
      display: block;
      font-weight: bold;
    }

    .description {
      font-style: italic;
    }
  }

  .field__item:nth-of-type(3) {
    font-weight: bold;

    grid-area: credit;
  }
  .field__item:nth-of-type(4) {
    transform: translatey(1.5em);
    font-style: italic;

    grid-area: credit;
  }
}
