/*------------------------------------------------------------------------------
Molecule: Menu block
--------------------------------------------------------------------------------
Block--page-menu
------------------------------------------------------------------------------*/
.page-menu {
  padding: var(--space--md);

  .block__title {
    margin-top: 0;
  }
}